.accordion_item {
  position: relative;
  background: white;
  color: color(text);
  transition: .15s;

  &::before {
    content: '';
    position: absolute;
    width: 1rem;
    top: 1rem;
    bottom: 1rem;
    left: -.5rem;
    background: color(red);
    transition: .15s;
  }

  &:hover,
  &.-active {
    margin-right: -2rem;

    &::before {
      top: 0;
      bottom: 0;
      background: color(text);
    }
  }

  &.-active .button.accordion_indicator .icon {
    transform: rotate(45deg);
  }

  + .accordion_item {
    margin-top: 1rem;
  }
}

.accordion_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 12rem;
  padding: 3rem 12rem 3rem 4rem;

  &:hover {
    color: color(text, light);
  }
}

.button.accordion_indicator {
  position: absolute;
  right: 3rem;
  top: 50%;
  margin-top: -2.4rem;
  padding: 1.1rem;

  .icon {
    margin: 0 !important;
    left: 0 !important;
    transform: none;
    transition: transform .15s;
  }
}

.accordion_pane {
  max-width: 60rem;
  padding: 0 4rem 4rem;

  .richText + * {
    margin-top: 3rem;
  }

  .ctaLink:hover {
    color: color(text, light);
  }
}
