.alert {
  box-shadow: 0 2rem 4rem rgba(black, .15);
}

.alert_icon {
  position: relative;

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.alert_content {
  padding: 3rem;
  font-size: 1.6rem;

  h2 {
    margin-bottom: .5rem;
  }
}

@media (query(xs-max)) {
  .alert {
    border: solid color(text);
    border-width: .5rem 0;
    text-align: center;
  }

  .alert_icon {
    width: 6rem;
    height: 6rem;
    margin: -2.75rem auto 0;
  }
}

@media (query(sm-min)) {
  .alert {
    display: flex;
    align-items: center;
    min-height: 12rem;
    border-right: solid .5rem color(text);
  }

  .alert_icon {
    flex-shrink: 0;
    align-self: stretch;
    width: 12.5rem;
    border-right: solid .5rem color(text);

    .icon {
      width: 48px;
      height: 48px;
    }
  }

  .alert_content {
    padding: 1.5rem 3rem;
  }
}
