.barGraph {
  user-select: none;

  .ct-chart-bar {
    overflow: visible;
  }

  .ct-series .ct-bar {
    stroke-width: 25;
  }

  .ct-labels {
    font-size: 1.2rem;
    letter-spacing: .05em;
    text-transform: uppercase;
  }

  .ct-label.ct-vertical {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    padding-right: 1rem;
  }

  .ct-label.ct-horizontal {
    display: inline-block;
    width: auto !important;
    color: color(text, light);
    transform: translateX(-50%);
  }
}
