.block_layer-overlay {
  background: rgba(color(text), .8);
}

.block_layer-overlayRadial {
  background: radial-gradient(rgba(color(text), .4), rgba(color(text), .6));
}

.block_layer-overlayAngled {
  background: linear-gradient(to bottom left, rgba(color(text), .1), rgba(color(text), .8));
}

.block_layer-bgImg.rellax {
  top: -10%;
  bottom: -10%;
}

.block_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
