.buttonGroup {
  .iconInput {
    margin: $blocs-buttonGroup-spacing $blocs-buttonGroup-spacing 0 $blocs-buttonGroup-spacing;
    display: inline-block;

    .input-select + .icon {
      top: 0;
      right: 0;
    }
  }

  .input-select {
    padding: 0 7.9rem 0 2.9rem;
    height: calc(24px + 2px + 2.2rem);
  }
}
