#{join($blocs-button-selectors, (), comma)} {
  padding: 1.1rem 2.9rem;
  border-radius: 0;
  background: white;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 24px;
  font-family: fontFamily(primary);
  text-transform: uppercase;
  letter-spacing: .05em;
  color: color(text);
  border: solid 1px color(border);
  transition: .15s;

  &:hover {
    box-shadow: 0 1rem 2rem rgba(black, .15);
    border-color: white;

    .icon-arrow {
      &:first-child { transform: translateX(-5px); }
      &:last-child { transform: translateX(5px); }
    }
  }

  &:disabled {
    background-color: color(border);
    border-color: color(border);
    color: color(text, light);
  }

  .icon {
    &:first-child { margin-right: 1rem; right: .5rem; }
    &:last-child { margin-left: 1rem; left: .5rem; }
  }

  .icon-arrow {
    top: -1px;
    transition: transform .15s;
  }
}

.button-square {
  padding: 1.1rem;

  .icon {
    margin: 0 !important;
    left: 0 !important;
    right: 0 !important;
  }
}

.button-outline {
  background: rgba(black, .15);
  color: inherit;
  border-color: white;

  &:hover {
    background: white;
    color: color(text);
  }
}

.button-to-red:hover {
  background: color(red);
  border-color: color(red);
  color: white;
  box-shadow: none;
}

.button-red {
  background: color(red);
  color: white;
  border-color: color(red);

  &:hover {
    border-color: color(red);
  }
}

.button-white {
  border-color: white;
}

.button-unstyled {
  transition: .15s;
}
