.calloutStep_number {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  margin-bottom: 4rem;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 8rem;
  box-shadow: 0 1.5rem 3rem rgba(black, .15);
  user-select: none;
}
