.calloutFeature {
  overflow: hidden;
}

.calloutFeature_content {
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (query(md-min)) {
  .calloutFeature_img {
    height: auto;
  }

  .calloutFeature_content {
    max-width: 78rem;
    padding-right: 8rem;
    padding-left: 6rem;
  }
}
