.calloutCard_card {
  padding: 4rem;
  background: white;
  box-shadow: 0 1.5rem 3rem rgba(black, .15);
}

@media (query(sm-min)) {
  .calloutCard_card {
    padding: 8rem 4rem;
  }
}

@media (query(sm-max)) {
  .calloutCard .block_layer-bgImg {
    height: 75%;
  }
}

@media (query(md-min)) {
  .calloutCard .block_layer-bgImg {
    width: 50%;
  }

  .calloutCard-left .block_layer-bgImg {
    left: 50%;
  }

  .calloutCard-right .calloutCard_card {
    margin-left: 45%;
  }

  .calloutCard_card {
    width: 55%;
    padding: 7.5% 5%;
  }
}
