.card {
  transition: .15s;

  &:not(:hover) {
    .card_bannerContent {
      opacity: 0;
    }

    .card_content {
      padding-right: 2rem;
      padding-left: 2rem;
      margin-right: 1rem;
      margin-left: 1rem;

      > p {
        color: color(text, light);
      }
    }

    .card_hoverCta {
      transform: translateY(-48px) scale(.9);
      opacity: 0;
    }

    .card_metaToShare > .socialIcons-share {
      display: none;
    }
  }

  &:hover {
    box-shadow: 0 1.5rem 3rem rgba(black, .15), 0 5px color(red);
    transform: translateY(-5px);

    .card_banner,
    .card_content {
      box-shadow: none;
    }

    .card_banner .label {
      background: color(text);
      color: white;
    }

    .card_bannerContent {
      padding-bottom: 16%;
    }

    .card_contentLabel .label  {
      background: color(red);
    }

    .card_metaToShare > p {
      display: none;
    }
  }

  .label {
    transition: .15s;
  }
}

.card_banner {
  box-shadow: 0 2px 3px rgba(black, .1);

  .label {
    position: absolute;
    top: 1rem;
    right: 1rem;
    box-shadow: 0 2px 3px rgba(black, .1);
  }

  .block_layer-overlayRadial {
    background: radial-gradient(rgba(black, 0), rgba(black, .1));
  }
}

.card_bannerContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8% 8% 12%;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  background: rgba(color(text), .8);
  transition: .15s;

  > * + * {
    margin-top: 2rem;
  }

  p {
    line-height: 1.75;
  }
}

.card_content {
  position: relative;
  padding: 3rem;
  margin-top: -2rem;
  background: white;
  text-align: center;
  box-shadow: 0 2px 3px rgba(black, .1);
  transition: .15s;
  z-index: 1;

  > .h6 {
    font-size: 2.4rem;

    a:hover {
      color: color(text, light);
    }
  }

  > p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

.card_contentLabel {
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
}

.card_hoverCta {
  position: absolute;
  width: 100%;
  top: 100%;
}

.card_metaToShare {
  position: relative;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: -2rem;
  line-height: calc(16px + 2rem);

  &::before {
    content: '';
    position: absolute;
    width: 8rem;
    height: 1px;
    top: 0;
    left: 50%;
    margin-left: -4rem;
    background: color(border);
  }

  > p {
    color: color(text, light);
    font-weight: 500;
  }
}
