.chartKey {
  font-size: 0;
  line-height: 2rem;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: 500;
}

.chartKey-inline {
  text-align: center;

  .chartKey_item {
    display: inline-block;

    + .chartKey_item {
      margin-left: 2rem;
    }
  }
}

.chartKey_item {
  display: block;
  font-size: 1.2rem;
}

.chartKey_dot {
  display: inline-block;
  vertical-align: top;
  width: 1rem;
  height: 1rem;
  margin: .5rem .5rem .5rem 0;
  background: currentColor;
  border-radius: 50%;
}
