.connect {
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;
}

.connect_card {
  box-shadow: 0 1.5rem 3rem rgba(black, .15);
}

.connect_primary,
.connect_secondary {
  padding: 4rem;
}

.connect_primary {
  background: white;

  p {
    margin-top: 3rem;
  }

  .socialIcons {
    margin: 2.5rem 0;

    a:not(:hover) {
      box-shadow: inset 0 0 0 1px color(border);
      color: color(text);
    }
  }
}

.connect_secondary {
  background: color(text);
  color: white;

  p {
    margin-top: 2rem;
  }

  p + h2 {
    margin-top: 4rem;
  }
}

@media (query(sm-max)) {
  .connect .block_layer-bgImg {
    bottom: 30%;
  }
}

@media (query(md-min)) {
  .connect .block_layer-bgImg {
    right: 30%;
  }

  .connect_card {
    display: flex;
    width: 70%;
    margin-left: 30%;
  }

  .connect_primary,
  .connect_secondary {
    padding: 8rem 4rem;
  }

  .connect_primary {
    width: 65%;
  }

  .connect_secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;

    > * {
      width: 100%;
    }
  }
}
