.counter span {
  display: block;
}

.counter_val {
  font-size: 7.2rem;
}

.counter_sep {
  width: 8rem;
  height: 5px;
  margin: 1.5rem auto;
  background: currentColor;
  color: color(red);
}

.counter_label {
  font-style: italic;
  font-size: 16px;
}
