.ctaCard {
  .block_layer-overlayRadial {
    background: radial-gradient(rgba(black, 0), rgba(black, .1));
  }
}

.ctaCard_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12%;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;

  p,
  .button {
    margin-top: 3rem;
  }
}
