.ctaLink {
  display: inline-block;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: .05em;

  &:hover {
    .icon-arrow {
      &:first-child { transform: translateX(-5px); }
      &:last-child { transform: translateX(5px); }
    }
  }

  .icon {
    top: -1px;

    &:first-child { margin-right: 1.5rem; }
    &:last-child { margin-left: 1.5rem; }
  }

  .icon-arrow {
    transition: transform .15s;
  }
}
