.events_header {
    padding: 4rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: color(text);
    color: white;
    text-align: center;
    h2 {
        min-width: 24rem;
    }
    .button-unstyled {
        line-height: 24px;
        padding: 1rem;
        transition: .15s;
        &:hover {
            color: color(text, light);
            &:first-child {
                transform: translateX(-5px);
            }
            &:last-child {
                transform: translateX(5px);
            }
        }
    }
}

.events_item {
    background: white;
    color: color(text);
    transition: .15s;
    position: relative;
    &:not(:hover) .events_actions-hasLabel .button,
    &:hover .events_actions-hasLabel .label {
        display: none;
    }
    &:not(:hover) {
        .events_thumb {
            opacity: 0;
        }
        .events_details p {
            color: color(text, light);
        }
    }
    &:hover {
        z-index: 1;
        box-shadow: 0 1.5rem 2rem rgba(black, .15);
    }
    &.block {
        overflow: visible;
    }
    .button .icon {
        margin: 0 !important;
        left: 0 !important;
        transform: none;
        transition: transform .15s;
    }
    +.events_item:not(.events_item-group) {
        margin-top: 4rem;
    }
    +.events_item-group {
        margin-top: 1rem;
    }
}

.events_item-group {
    &::before {
        content: '';
        position: absolute;
        width: 1rem;
        top: 1rem;
        bottom: 1rem;
        left: -.5rem;
        background: color(red);
        transition: .15s;
    }
    &:hover {
        transform: none !important;
        margin-right: -2rem;
        &::before {
            top: 0;
            bottom: 0;
            background: color(text);
        }
    }
}

.events_date {
    display: block;
    position: relative;
    width: 8rem;
    height: 8rem;
    background: color(red);
    color: white;
    text-align: center;
    line-height: 2.5rem;
    transition: .15s;
    span {
        display: block;
    }
}

.events_day {
    padding-top: 1.5rem;
    text-align: center;
}

.events_thumb {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: .15s;
}

.events_details {
    p:last-child {
        margin-top: .5rem;
        font-size: 1.6rem;
        transition: .15s;
    }
    a:hover {
        color: color(red);
    }
}

.events_actions {
    min-height: calc(2px + 24px + 2.2rem); // button border + line-height + padding
    line-height: 2rem;
    .label {
        margin-top: 1.4rem;
    }
}

.events_location {
    padding: 1.1rem;
}

@media (query(xs-max)) {
    .events_item {
        padding: 2rem;
        text-align: center;
    }
    .events_date {
        margin: -4rem auto 0;
    }
    .events_details {
        margin: 2rem 0;
    }
}

@media (query(sm-min)) and (query(sm-max)) {
    .events {
        margin-left: 5rem;
    }
}

@media (query(sm-min)) {
    .events_header {
        padding-top: 8rem;
    }
    .events_item {
        display: flex;
        align-items: center;
        min-height: 12rem;
        padding-right: 3rem;
        &:hover {
            transform: translateX(2rem);
            .events_date {
                background: color(text);
                transform: scale(1.2) translateX(-2rem);
            }
        }
        +.events_item:not(.events_item-group) {
            margin-top: 1rem;
        }
    }
    .events_item.-past {
        display: none;
        opacity: .5;
        filter: grayscale(100);
    }
    .events_date {
        width: 10rem;
        height: 10rem;
        margin-left: -5rem;
        flex-shrink: 0;
    }
    .events_day {
        padding-top: 2.5rem;
    }
    .events_details {
        flex-grow: 1;
        padding: 1.5rem 3rem;
    }
    .events_actions {
        flex-shrink: 0;
    }
}

.slide-fade-enter-active {
    transition: all .4s ease-out;
}

.slide-fade-leave-active {
    transition: opacity .2s ease;
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

{
    transform: translateX(12px);
    opacity: 0;
}

.squese-fade-enter-active {
    transition: all .5s ease-out;
}

.squese-fade-leave-active {
    transition: all .5s ease-out;
}

.squese-fade-enter {
    transform: translateY(10px);
    opacity: 0;
}

.squese-fade-leave-to {
    transform: translateY(-10px);
    opacity: 0;
}