.floatLabel {
  position: relative;
  font-size: 1.6rem;

  label {
    position: absolute;
    top: -1px;
    padding-right: 1rem;
    line-height: normal;
    pointer-events: none;
    background: white;
    transition: .15s;
  }

  input:focus ~ label,
  input.-filled ~ label {
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: color(text, light);
    transform: translateY(2.4rem);
  }
}

.bg-offwhite .floatLabel label {
  background: color(offwhite);
}
