.footer {
  padding-top: 12rem;
  background: color(text);
  color: white;
  text-align: center;

  .subtext {
    color: color(text, light);

    strong {
      text-transform: uppercase;
      color: white;
    }
  }
}

.footer_nav {
  display: block;
  //display: none;
  padding-top: 40px;
  .col {
    margin-bottom: 16px;
  }
}

.footer_nav a,
.footer_copyright a {
  font-weight: 500;

  &:hover {
    border-bottom: solid 1px;
  }
}

.footer_nav ul {
  font-size: 1.2rem;
  line-height: 2;
  text-transform: uppercase;

  li {
    margin-bottom:7.7px; 
  }
}

.footer_copyright {
  padding: 8rem 0 4rem;
  text-align: center;
}

@media (query(md-min)) {
  .footer_nav {
    display: block;
    padding-top: 0px;

    .col {
      margin-bottom: 0px;
    }
  }
}

@media (query(sm-max)) {
  .footer .subtext {
    margin: 8rem 0;
  }
}
