.form {
    position: relative;
    >*+* {
        margin-top: 4rem;
    }
}

.form-submitting,
.form-sending {
    input,
    select,
    textarea,
    button {
        pointer-events: none;
        opacity: .5;
    }
    .form_spinner {
        display: block;
    }
}

.form_error {
    display: none;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: color(red);
}

.form_message {
    padding: 1rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 2px;
    display: none;
    &.-success {
        background: rgba(#becf45, .25);
        color: mix(#becf45, black);
    }
    &.-error {
        background: rgba(color(red), .25);
        color: mix(color(red), black);
    }
}

.form_spinner {
    display: none;
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 1.2rem;
}

.floatLabel.-error + .form_error,
.input-textarea.-error + .form_error,
.icon-input.-error + .form_error {
    display: block;
}

button[type=submit] > .-send {
  display: block;
}

button[type=submit] {
  & > .-sending,
  & > .-sent,
  & > .-error {
    display: none;
  }
}

.form-sending {
  button[type=submit] {
    & > .-send,
    & > .-sent,
    & > .-error {
      display: none;
    }

    & > .-sending {
      display: block;
    }
  }
}

.form-sent {
  button[type=submit] {
    & > .-send,
    & > .-sending,
    & > .-error {
      display: none;
    }

    & > .-sent {
      display: block;
    }
  }
  .form_message {
    &.-success {
      display: block;
    }
  }
}

.form-error {
  button[type=submit] {
    & > .-send,
    & > .-sending,
    & > .-sent {
      display: none;
    }

    & > .-error {
      display: block;
    }
  }
}

.form-senderror {
  .form_message {
    &.-error {
      display: block;
    }
  }
}

