$gallery-1-width: 40vw;

.gallery {
  position: relative;
  height: $gallery-1-width;
}

.gallery_row {
  display: flex;
  height: calc(50% - 1rem);
}

.gallery_img {
  position: absolute;
}

.gallery_img-1 {
  width: $gallery-1-width;
  height: $gallery-1-width;
}

.gallery_img-2,
.gallery_img-5 {
  width: calc(#{($gallery-1-width / 2)} - .5rem);
  height: calc(#{($gallery-1-width / 2)} - .5rem);
}

.gallery_img-3,
.gallery_img-4 {
  width: calc(100% - #{$gallery-1-width} - #{($gallery-1-width / 2)} - 1.5rem);
  height: calc(#{($gallery-1-width / 2)} - .5rem);
}

.gallery_img-2,
.gallery_img-4 {
  left: calc(#{$gallery-1-width} + 1rem);
}

.gallery_img-3,
.gallery_img-5 {
  right: 0;
}

.gallery_img-4,
.gallery_img-5 {
  bottom: 0;
}
