.groupFinder {
  .iconInput {
    max-width: 36rem;
    margin: 4rem auto 6rem;
  }
}

.groupFinder_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
  border: solid color(border);
  border-width: 1px 0;
}

.groupFinder_loading {
  width: 40px;
  height: 40px;
  padding: 8px;
  margin: -20px auto;
  color: color(text, light);
  background: white;
}
