.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 2rem;
    z-index: zIndex(header);
    transition: .15s;
    background: white;
    &:not(.headroom) {
        opacity: 0;
    }
    &.headroom--not-top {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background: color(text);
        color: white;
        .logo {
            //transform: scale(.5);
        }
        .header_menu>li,
        .header_icons>li {
            >a,
            >.button-unstyled {
                &::before {
                    background: color(text, light);
                }
                &:hover {
                    color: white;
                }
            }
        }
        .header_menu>li.-hasSubmenu::before,
        .header_notificationsBox::before {
            border-bottom-color: color(text, light);
        }
        .header_submenu {
            border-top-color: color(text, light);
        }
        .header_notificationsTitle {
            background: color(text, light);
        }
    }
    &.headroom--unpinned {
        transform: translateY(-100%);
        .header_notificationsBox {
            display: none;
        }
    }
    .logo {
        transform-origin: left center;
        #logo-text,
        #logo-dot,
        span {
            opacity: 0;
            transition: .15s;
        }
    }
}

.header_nav {
    font-weight: 500;
    letter-spacing: .05em;
    text-align: center;
    text-transform: uppercase;
}

.header_menu,
.header_icons {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0;
    >li {
        font-size: 1.4rem;
        display: inline-block;
        >a,
        >.button.button-red {
            padding-left: 10px;
            padding-right: 10px;
            line-height: 0;
            >.icon {
                margin: 0px;
                right: 0px;
            }

            @media (query(lg-min)) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        >.button-unstyled {
            position: relative;
            display: block;
            padding: 1rem;
            &::before {
                content: '';
                position: absolute;
                top: 0px;
                left: 0;
                width: 100%;
                height: 1px;
                background: color(border);
                transition: .15s;
            }
            &:not(:hover)::before {
                transform: scaleX(.25);
                opacity: 0;
                visibility: hidden;
            }
            &:hover {
                color: color(red);
            }
        }
        +li {
            margin-left: .5rem;
        }
    }
}

.header_menu > li > a:before {
    top: -7px;
}

.header_icons {
    .button.button-red { 
        &::before {
            display: none !important;
        }
    }
}

.header_menu>li.-hasSubmenu {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -.5rem;
        border: solid .5rem;
        border-color: transparent transparent color(text);
        transition: .15s;
    }
    &:not(:hover) {
        &::before,
        .header_submenu {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.header_submenu {
    position: absolute;
    width: 24rem;
    padding: 1.5rem 1rem 2rem;
    font-size: 1.2rem;
    text-align: left;
    background: white;
    color: color(text);
    border-top: solid .5rem color(text);
    box-shadow: 0 1.5rem 2rem rgba(black, .15);
    z-index: zIndex(header) + 1;
    transition: .15s;
    a {
        display: block;
        padding: .75rem 1rem;
        &:hover {
            box-shadow: 0 .75rem 2rem rgba(color(text), .15);
            color: color(red);
        }
    }
}

.header_toggle {
    position: relative;
    display: none;
    padding: 1rem;
    font-size: 1.6rem;
    line-height: 24px;
    text-transform: inherit;
    .icon {
        margin-right: 1rem;
    }
}

.header_notifications {
    position: relative;
    .header_notificationsIcon {
        cursor: pointer;
    }
}

.header_notificationsCount {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    background: color(red);
    width: 2rem;
    height: 2rem;
    border: solid 2px white;
    box-shadow: 0 2px 4px rgba(black, .15);
    border-radius: 50%;
    font-weight: 500;
    line-height: 1.6rem;
    text-align: center;
    color: white;
}

.header_notificationsCount[data-count='0'] {
    display: none;
}

.header_notificationsBox {
    position: absolute;
    margin-top: 1rem;
    right: -4.4rem;
    width: calc(100vw - 4rem);
    max-width: 36rem;
    z-index: 1;
    color: color(text);
    background: white;
    box-shadow: 0 1.5rem 2rem rgba(black, .15);
    text-align: left;
    &::before {
        content: '';
        position: absolute;
        top: -1rem;
        right: 6rem;
        border: solid .5rem;
        border-color: transparent transparent color(text);
    }
    p {
        font-weight: 500;
        font-size: 1.2rem;
        color: color(text, light);
    }
    >p {
        padding: 1rem;
    }
}

.header_notification {
    &.-read .header_notificationDot {
        border: solid 2px color(border);
        background: none;
    }
    a {
        display: flex;
        align-items: center;
        padding: 1rem;
        &:hover {
            background: color(offwhite);
            p {
                color: color(text);
            }
        }
        img {
            flex-shrink: 0;
            width: 60px;
            height: 60px;
        }
        div {
            flex-grow: 1;
            padding: 0 1.5rem;
        }
    }
    +.header_notification {
        border-top: solid 1px color(border);
    }
}

.header_notificationsTitle {
    padding: 1rem;
    background: color(text);
    color: white;
}

.header_notificationDot {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1rem;
    border-radius: 50%;
    background: color(red);
    flex-shrink: 0;
}

@media (query(sm-min)) {
    .header {
        padding: 3rem 4rem 3rem !important;
        .logo:hover {
            #logo-text,
            #logo-dot,
            span {
                opacity: 1;
            }
        }
    }
}

@media (query(sm-max)) {
//@media (max-width: 1480px){
    .header_menu {
        display: none;
    }
    .header_toggle {
        display: inline-block;
    }
}

// Browser Is Touch
// .istouch {
//     .header_menu {
//         display: none;
//     }
//     .header_toggle {
//         display: inline-block;
//     }
// }

.header_menu {
    .search-icon { 
        background-color: transparent !important;
        color: #000000;
        svg: {
            fill: currentColor !important;
        }
    }
}

.header.headroom--not-top {
    .header_menu {
        .search-icon { 
            color: #ffffff;
        }
    }
}