.hero-series_meta {
    font-size: 1.6rem;
    opacity: .5;
}

.hero-media_media {
    position: relative;
}

.hero-media_color {
    position: absolute;
    top: -100rem;
    bottom: -100rem;
    left: 11rem;
    right: -9rem;
    background: color(red);
    opacity: .9;
}

@media (query(sm-max)) {
    .hero-media_color,
    .hero-media_media {
        display: none;
    }
}