.hoverCard {
  @include hoverBar();

  &:not(:hover) {
    .block_layer-overlay {
      opacity: 0;
    }

    .ctaLink {
      margin-bottom: -4.4rem;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-2rem);
    }
  }

  &:hover .block_layer-overlayAngled {
    opacity: 0;
  }

  .block_layer-overlay,
  .block_layer-overlayAngled {
    transition: .15s;
  }
}

.hoverCard-hideTillHover:not(:hover) {
  .block_layer-overlayAngled,
  .block_layer-overlay,
  .hoverCard_content {
    opacity: 0;
  }
}

.hoverCard_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8% 20% 8% 8%;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.75;

  p {
    margin-top: 2rem;
  }

  .ctaLink {
    margin-top: 2rem;
    transition: .3s;

    &:hover {
      color: rgba(white, .75);
    }
  }
}
