.input-text,
.input-textarea {
  font-weight: 500;
  font-size: 1.6rem;

  &::placeholder {
    color: inherit;
    font-weight: 300;
  }

  &.-error + label {
    color: color(red);
  }
}

.input-text {
  padding-bottom: 1rem;
  border-bottom: solid 5px color(border);
  background: transparent;
  transition: .15s;

  &:focus {
    border-bottom-color: color(red);
  }
}

.input-textarea {
  background-image: linear-gradient(to right, transparent 3px, white 3px), linear-gradient(white 31px, color(text) 31px);
  background-size: 4px 100%, 100% 32px;
  line-height: 32px;
  resize: vertical;
}

.bg-offwhite .input-textarea {
  background-image: linear-gradient(to right, transparent 3px, color(offwhite) 3px), linear-gradient(color(offwhite) 31px, color(text) 31px);
}

.input-select {
  height: 60px;
  padding-right: 60px;
  padding-left: 15px;
  border: solid 1px color(border);
  background: white;
  box-shadow: 0 1px 3px rgba(black, .15);
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.input-select-outline {
  border: solid 1px currentColor;
  background: rgba(black, .15);
  color: inherit;
  box-shadow: none;
  transition: .15s;

  &:hover {
    background: white;
    color: color(text);
    border-color: white;
    box-shadow: 0 1rem 2rem rgba(black, .15);

    + .icon {
      color: color(text);
    }
  }

  + .icon {
    transition: .15s;
  }
}

.iconInput .input-select + .icon {
  top: 6px;
  right: 6px;
  left: auto;
}
