.item {
  font-size: 16px;
  line-height: 1.75;

  h2 a:hover,
  .ctaLink:hover {
    color: color(text, light);
  }

  p,
  .ctaLink {
    margin-top: 2rem;
  }
}

@media (query(sm-min)) {
  .item p {
    margin-right: 2rem;
  }
}
