.label {
  padding: 0 .5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-indent: .05em;
  color: white;
}

.label-big {
  padding: 0 1rem;
  line-height: 3rem;
  font-size: 1.2rem;
}

.label-white {
  color: color(text);
  background: white;
}

.label-text {
  background: color(text);
}
