.container-wide {
  max-width: 1400px;
}

.row-padded {
  margin-right: -$blocs-layout-gutter * 2;
  margin-left: -$blocs-layout-gutter * 2;

  .col {
    padding-right: $blocs-layout-gutter * 2;
    padding-left: $blocs-layout-gutter * 2;
  }
}
