.linemark {
  position: absolute;
  left: 50%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    background: currentColor;
  }

  &::before {
    width: 1px;
    height: 6rem;
  }

  &::after {
    height: 1px;
    width: 6rem;
    margin-left: -3rem;
  }
}

.linemark-top {
  top: 0;

  &::before {
    top: 0;
  }

  &::after {
    height: 1px;
    top: 6rem;
  }
}

.linemark-bottom {
  bottom: 0;

  &::before {
    bottom: 0;
  }

  &::after {
    bottom: 6rem;
  }
}

@media (query(sm-min)) {
  .linemark::before {
    height: 10rem;
  }

  .linemark-top::after {
    top: 10rem;
  }

  .linemark-bottom::after {
    bottom: 10rem;
  }
}
