.linedLinks a:not(.button) {
  font-weight: 500;
  border-bottom: solid 2px color(border);

  &:hover {
    border-color: color(text, light);
  }
}

.linedLinks-dark a:not(.button) {
  border-bottom-color: rgba(white, .5);

  &:hover {
    border-bottom-color: white;
  }
}
