.locationsDropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 36rem;
  max-width: 90vw;
  padding: 2rem;
  margin-top: 1rem;
  background: white;
  border-top: solid .5rem color(text);
  box-shadow: 0 1.5rem 2rem rgba(black, .15);
  z-index: zIndex(locationsDropdown);
  transform: translateX(-50%);

  &::before {
    content: '';
    position: absolute;
    top: -1.5rem;
    left: 50%;
    margin-left: -.5rem;
    border: solid .5rem;
    border-color: transparent transparent color(text);
    transition: .15s;
  }
}
