.locationsButtons {
  input[type=checkbox] {
    display: none;

    &:checked ~ .button {
      background: color(text);
      border-color: color(text);
      color: white;
      box-shadow: none;
    }
  }

  li:not(:last-child) {
    margin-bottom: 1rem;
  }
}
