.locations_item {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-top: solid 1px color(border);
    color: color(text, light);
    cursor: pointer;
    transition: .15s;
    &:hover {
        background: color(offwhite);
        color: color(text);
    }
    h2 {
        color: color(text);
    }
    p {
        font-weight: 500;
        font-size: 1.5rem;
    }
}

.locations_itemThumb {
    width: 10rem;
    height: 10rem;
    margin-right: 2rem;
    margin-left: -1rem;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.locations_map {
    width: 62.5%;
}

.locations_popupWrapper {
    padding-top: 2rem;
}

.locations_popup {
    position: relative;
    background: white;
    box-shadow: 0 1.5rem 3rem rgba(black, .15);
    border-bottom: solid 5px color(red);
    &::before {
        content: '';
        position: absolute;
        bottom: -1.5rem;
        left: 50%;
        margin-left: -.5rem;
        border: solid .5rem;
        border-color: color(red) transparent transparent;
    }
    img {
        max-width: 100% !important;
    }
}

.locations_popupContent {
    padding: 2rem;
    text-align: center;
    p {
        margin: 1.5rem 0;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.5;
        font-family: fontFamily(primary);
    }
}

.locations_buttons {
    font-size: 0;
    .button {
        width: calc(50% - .5rem);
        padding: 1.1rem;
        &:first-child {
            margin-right: 1rem;
        }
    }
}

@media (query(xs-max)) {
    .locations_map {
        display: none;
    }
}

@media (query(sm-min)) {
    .locations {
        display: flex;
    }
    .locations_list {
        width: 37.5%;
    }
    .locations_item.-selected {
        position: relative;
        background: color(text);
        border-top-color: color(text);
        box-shadow: 0 1px color(text);
        color: white;
        h2 {
            color: inherit;
        }
    }
    .locations_itemThumb {
        margin-left: -7rem;
    }
}