.logo {
  position: relative;
  display: block;
  width: 223px;
  height: 48px;
  text-align: left;

  svg {
    width: 223px;
    height: 48px;
  }

  span {
    position: absolute;
    bottom: -6px;
    left: 59px;
    font-size: 14px;
    text-transform: lowercase;

    &::before {
      content: '/';
    }
  }
}
