.mediaCard {
  @include hoverBar();
  color: white;
  background: color(text);
  box-shadow: 0 2px 3px rgba(black, .1);
  transition: .15s;

  &:not(:hover) .block_layer-overlayRadial {
    opacity: .5;
  }

  &:hover {
    box-shadow: 0 1.5rem 3rem rgba(black, .15);
    transform: translateY(-5px);

    .mediaCard_content {
      transform: translateY(-10px);
    }

    .mediaCard_thumb {
      transform: translateY(10px);
    }
  }

  .block_layer-overlayRadial {
    transition: .15s;
  }
}

.mediaCard_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  transition: .15s;

  p {
    margin-bottom: .5rem;
  }
}

.mediaCard_thumb {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 8rem;
  height: 8rem;
  transition: .15s;
}

@media (query(sm-min)) {
  .mediaCard_content {
    padding: 4rem;
  }
}
