.midline {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background: color(border);
  }

  > * {
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    background: white;
  }
}
