.modal .searchBox {
  margin: 0 -2rem;
}

.modal-locations .modal_window {
  max-width: 96rem;
}

.modal_bg {
  background: color(text);
}

.modal_window {
  background: white;
  max-width: 78rem;
}

.modal_close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  padding: 1rem;
  background: color(red);
  color: white;
  line-height: 24px;
  box-shadow: 0 1.5rem 2rem rgba(black, .15);

  &:hover {
    transform: scale(1.2);
  }
}

.modal_label {
  position: absolute;
  left: -1rem;
  top: -1rem;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 1rem 2rem;
  background: color(red);
  color: white;
  height: 64px;
  line-height: 24px;
  font-weight: bold;
  box-shadow: 0 1.5rem 2rem rgba(black, .15);

  &:hover {
    transform: scale(1.2);
  }
}

.modal_section {
  padding: 4rem;
}

.modal_menu {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .05em;

  ul {
    margin: 0 2rem;
    text-transform: none;
    font-size: 1.6rem;
    color: color(text, light);
    letter-spacing: 0;

    a {
      padding: 2rem;
    }

    li {
      border-top: solid 1px color(border);
    }
  }

  li {
    position: relative;
  }

  > li {
    > a {
      padding: 2rem;
    }

    + li {
      border-top: solid 1px color(border);
    }
  }

  a {
    display: block;
  }

  a[data-collapse] {
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: .15s;

    &.-active {
      transform: rotate(90deg);
    }
  }
}

.modal_person .person {
  color: white;
}

.modal_slider {
  position: relative;
}

.modal_sliderArrow {
  position: absolute;
  top: 50%;
  margin-top: calc(-1.5rem - 12px);
  padding: 1.5rem;
  line-height: 24px;
  background: white;
  box-shadow: 0 1.5rem 3rem rgba(black, .15);
  z-index: 1;
  transition: .15s;
}

.modal_sliderArrow-prev {
  left: 0;

  &:hover {
    transform: translateX(-5px);
  }
}

.modal_sliderArrow-next {
  right: 0;

  &:hover {
    transform: translateX(5px);
  }
}

.modal_sliderSlides {
  padding: 6rem 0;
  background: radial-gradient(color(offwhite), mix(color(border), color(offwhite)));
  border-top: solid 1px color(border);
  overflow: hidden;

  .flickity-viewport,
  .flickity-slider {
    height: 36rem;
  }

  .flickity-viewport {
    overflow: visible;
  }

  .flickity-slider {
    > * {
      width: 36rem;

      + * {
        margin-left: 3rem;
      }
    }
  }

  .card,
  .thumbCard {
    box-shadow: 0 1.5rem 3rem rgba(black, .15);
  }

  .card_content {
    margin: 0 !important;
    padding: 3rem 2rem !important;
    box-shadow: none;

    > .h6 {
      @include truncateText();
    }

    .socialIcons {
      position: relative;
      top: 2rem;

      &::before {
        content: '';
        position: absolute;
        top: -1rem;
        left: 50%;
        width: 6rem;
        height: 1px;
        margin-left: -3rem;
        background: color(border);
      }
    }
  }
}

.modal_sliderTitle {
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 18rem !important;
  background: white;
  pointer-events: none;
  user-select: none;

  h2 {
    width: 100%;
    padding: 2rem 0;
    margin: 4rem;
    border: solid color(red);
    border-width: 5px 0;
  }
}

@media (query(sm-min)) {
  .modal {
    .searchBox {
      margin: 0 -6rem;
    }
  }

  .modal_close {
    padding: 2rem;
  }

  .modal_section {
    padding: 8rem 10rem;

    > .locationsButtons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        width: calc(50% - .5rem);
      }
    }
  }

  .modal_menu {
    ul {
      margin: 0 6rem;
    }

    > li > a {
      padding: 2rem 6rem;
    }

    a[data-collapse] {
      right: 6rem;
    }
  }
}

@media (query(sm-max)) {
  .modal_sliderTitle {
    display: none;
  }
}

@media (query(md-min)) {
  .modal_sliderArrow-prev {
    left: calc(-1.5rem - 12px);
  }

  .modal_sliderArrow-next {
    right: calc(-1.5rem - 12px);
  }
}

@media (query(md-max)) {
  .modal_person {
    display: none;
  }
}

@media (query(lg-min)) {
  .modal_person {
    float: left;
    position: sticky;
    top: 0;
    width: 24rem;
    margin-left: -20rem;
  }
}


// Modal Message Override to fit buttons. 
[id*='modal-message-'] {
  .modal_section {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .buttonGroup {
    .iconInput  {
      max-width: 211px;
    }
  }
}