.person {
  @include hoverBar();
  display: flex;
  background: color(offwhite);

  &:not(a)::before {
    width: 100%;
  }

  .person_fade,
  .person_content {
    transition: .15s;
  }
}

a.person {
  &:hover {
    .person_fade {
      height: 50%;
    }

    .person_content {
      transform: translateY(-1rem);
    }
  }
}

.person-photo {
  color: white;
}

.person-plain {
  color: color(text);

  p {
    color: color(text, light);
  }
}

.person_content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  p {
    margin-top: .5rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.25;
  }
}

.person_social {
  text-align: center;
  line-height: 20px;

  li {
    display: inline-block;

    + li {
      margin-left: .5rem;
    }
  }

  a {
    display: block;
    padding: .5rem;

    &:hover {
      transform: scale(1.25);
    }
  }
}

.person_fade {
  top: auto;
  height: 25%;
  background: linear-gradient(rgba(color(text), 0), rgba(color(text), .8));
}
