.progressPie {
  position: relative;
  margin: auto;
  box-shadow: inset 0 0 0 5px;
  border-radius: 50%;
  text-align: center;
  user-select: none;
  pointer-events: none;

  svg {
    fill: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  path {
    stroke-linecap: round;
  }
}

.progressPie_val {
  letter-spacing: 0;
}

.progressPie_label {
  font-weight: 500;
}
