.quote {
  overflow: hidden;

  blockquote {
    position: relative;
  }
}

.quote-dark .quote_icon  { color: #2f363b; }
.quote-light .quote_icon { color: #f4f5f5; }

.quote_icon {
  position: absolute;
  width: 12.5vw;
  height: 12.5vw;
  top: -5vw;
  left: -1.25vw;
}
