.richText {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1;
    font-family: fontFamily(secondary);
    text-transform: uppercase;
    letter-spacing: .05em;
  }

  h1 { font-size: 10rem; }
  h2 { font-size: 8rem; }
  h3 { font-size: 6rem; }
  h4 { font-size: 4rem; }
  h5 { font-size: 3rem; }
  h6 { font-size: 2rem; }

  .subtext {
    color: color(text, light);
  }

  a:not(.button) {
    font-weight: 500;
    border-bottom: solid 2px color(border);

    &:hover {
      border-color: color(text, light);
    }
  }
}
