.searchBox {
  input {
    padding-right: 100px;
    padding-left: 60px;
    height: 48px;
    background: transparent;

    &:not(:valid) ~ .button {
      pointer-events: none;
      opacity: .25;
      background: transparent;
      border-color: transparent;
    }
  }

  .button {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -2.4rem;
    padding: 1.1rem;
  }
}
