$search-dots-offset: 150;
$search-dots-duration: 1.5s;
@keyframes searchDotsRotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes searchDotsDash {
    0% {
        stroke-dashoffset: $search-dots-offset;
    }
    50% {
        stroke-dashoffset: $search-dots-offset / 4;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: $search-dots-offset;
        transform: rotate(450deg);
    }
}

.searchDots {
    text-align: center;
}

.searchDots_dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchDots_dot {
    width: 40px;
    height: 40px;
    animation: searchDotsRotator $search-dots-duration linear infinite;
    stroke: color(text);
    stroke-linecap: round;
    background: color(border);
    fill: none;
    border-radius: 50%;
    transition: .5s;
    &.-loading circle {
        opacity: 1;
    }
    &.-loaded {
        background: color(text);
    }
    circle {
        opacity: 0;
        stroke-width: 4px;
        transition: .25;
    }
    +.searchDots_dot {
        margin-left: 10px;
    }
}

.searchDots_path {
    stroke-dasharray: $search-dots-offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: searchDotsDash $search-dots-duration ease-in-out infinite;
}

.searchDots_status {
    margin-top: 3rem;
    font-size: 1.6rem;
}