.socialIcons a {
    display: block;
    padding: 1.2rem;
}

.socialIcons:not(.socialIcons-share) {
    color: white;
    li {
        margin: 0px;
        box-shadow: none;
    }
    .tell {
        display: none;
    }
    a {
        display: block;
        padding: 1rem;
        border-radius: 999999px;
        svg {
            width: 30px;
            height: 30px;
        }
        &:hover {
            //box-shadow: 0 1.5rem 2rem rgba(black, .15);
        }
    }
    &:not(.socialIcons-hoverBgBrand) a:hover {
        background: transparent;
    }
}

.socialIcons-share {
    line-height: 16px;
    a:hover {
        transform: scale(1.25);
    }
}

@media (query(sm-min)) {
    .socialIcons .tell {
        display: inline-block;
    }
}

.socialIcons-hoverColorBrand { 
    a:hover {
        color: rgba(255, 255, 255, .5) !important;
    }
}