.stepDots {
  position: relative;
  max-width: 30rem;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2rem;

  &::before,
  &_precentage {
    position: absolute;
    top: 12px;
    left: 1%;
    height: 1px;
  }

  &::before {
    content: '';
    width: 98%;
    background: color(border);
  }

  &_precentage {
    background: color(text);
  }

  ol {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 23px;
    border: solid 1px color(border);
    border-radius: 50%;
    background: white;

    &.-current {
      background: color(text);
      border: solid 2px white;
      box-shadow: 0 2px 3px rgba(black, .1);
      line-height: 21px;
      color: white;
    }
  }
}

.stepDots_percentage {
  width: 50%;
}
