.subfooter {
  padding: 4rem 0;
  background: color(red);
  color: white;
  text-align: center;

  p {
    font-size: 1.5rem;
  }
}

@media (query(sm-max)) {
  .subfooter {
    .logo {
      margin: auto;
    }

    .socialIcons {
      margin: 3.5rem;
    }
  }
}

@media (query(md-min)) {
  .subfooter p {
    text-align: right;
  }
}
