.switches {
  line-height: 20px;
  font-size: 1.6rem;
  text-align: left;
  user-select: none;

  li {
    position: relative;
    padding-left: 20px;

    &:before {
      content: '';
      position: absolute;
      top: 13px;
      left: 3px;
      width: 14px;
      height: 14px;
      border: solid 2px white;
      border-radius: 50%;
      background: currentColor;
    }

    input {
      display: none;

      &:not(:checked) ~ label {
        &:before {
          background: color(border);
        }

        &:after {
          background: white;
          transform: translate3d(-20px, 0, 0);
        }
      }

      &:checked ~ label {
        font-weight: 500;
      }
    }

    label {
      position: relative;
      display: block;
      padding: 10px 60px 10px 10px;
      cursor: pointer;
      transform: scale(1);

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 100px;
        transition: .15s;
        transform: translate3d(0, 0, 0);
      }

      &:before {
        width: 40px;
        height: 20px;
        background: currentColor;
      }

      &:after {
        width: 12px;
        height: 12px;
        margin: 4px;
        background: white;
      }

      > span {
        color: color(text);
      }
    }
  }
}

@media (query(sm-min)) {
  .switches {
    column-count: 2;
    column-gap: 4rem;
    column-rule: solid 1px color(border);
  }
}
