.tabs_tabs {
  font-size: 0;
}

.tabs_tabs-dark {
  overflow: hidden;

  .tabs_tab {
    margin: 0 !important;
    background: none;

    &::before {
      content: none;
    }

    &:not(.-active) {
      box-shadow: inset 0 0 0 1px white;
      background: transparent;
    }

    &.-active {
      background: white;
      color: color(text);
    }

    &:first-child::after,
    &:last-child::after {
      content: '';
      position: absolute;
      width: 100vw;
      height: 1px;
      top: 50%;
      background: white;
    }

    &:first-child::after {
      right: 100%;
    }

    &:last-child::after {
      left: 100%;
    }
  }
}

.tabs_tab {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  background: color(border);
  transition: .15s;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    margin-left: -.5rem;
    border: solid .5rem;
    border-color: color(border) transparent transparent;
    transition: inherit;
  }

  &:not(.-active)::before {
    transform: translateY(-.5rem);
  }

  &:hover,
  &.-active {
    background: color(text);
    color: white;

    &::before {
      border-top-color: color(text);
    }
  }

  + .tabs_tab {
    margin-left: 1px;
  }
}

@media (query(sm-min)) {
  .tabs_tabs-equal .tabs_tab {
    min-width: 16rem;
  }
}
