.teamHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem;
  background: color(text);
  color: white;

  p {
    margin-top: 2rem;
  }
}

@media (query(md-min)) {
  .teamHeader {
    padding: 4rem;
  }
}

@media (query(lg-min)) {
  .teamHeader p {
    margin-top: 4rem;
  }
}
