.textSlider_img {
  &:not(.-selected) {
    display: none;
  }

  img {
    width: 100%;
  }
}

.textSlider_nav {
  margin-bottom: 4rem;
  font-size: 0;
  line-height: 3rem;
  font-family: fontFamily(secondary);
  text-transform: uppercase;
  letter-spacing: .025em;
  color: color(text, light);

  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 2rem;
    font-size: 2.4rem;

    &.-selected {
      font-size: 3.2rem;
      color: white;

      a {
        box-shadow: inset 0 -5px color(red);
      }
    }
  }

  a {
    display: block;
    padding: .5rem 0;
  }
}

.textSlider_slide {
  width: 100%;
  transition: .15s;

  &:not(.is-selected) {
    opacity: 0;
    transform: scale(.9);
  }
}
