.thumbCard {
  position: relative;
  background: color(text);
  box-shadow: 0 2px 3px rgba(black, .1);
  color: white;
  transition: .15s;
  text-align: center;
  overflow: visible;

  &:not(:hover) {
    .block_layer-overlayRadial {
      opacity: 0;
    }

    .socialIcons-share {
      transform: translateY(2rem);
      opacity: 0;
    }
  }

  &:hover {
    box-shadow: 0 1.5rem 3rem rgba(black, .15);
    transform: translateY(-5px);

    .label {
      transform: translateY(-10px);
    }
  }

  > * {
    transition: .15s;
  }

  .label {
    margin-top: -1rem;
    box-shadow: 0 1.5rem 2rem rgba(black, .15);
  }

  .socialIcons-share {
    position: absolute;
    width: 100%;
    bottom: 2rem;
  }
}
