.timelineAlt_controls {
  position: relative;
  padding: 0 6rem;
}

.timelineAlt_arrow {
  position: absolute;
  top: 17px;
  padding: 10px;
  line-height: 24px;
}

.timelineAlt_arrow-prev {
  left: 0;
}

.timelineAlt_arrow-next {
  right: 0;
}

.timelineAlt_dates {
  position: relative;
  font-size: 1.2rem;
  text-align: center;
  color: color(text, light);
  user-select: none;

  &::before {
    content: '';
    position: absolute;
    top: 37px;
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, color(red), color(red) 50%, color(border) 50%, color(border));
  }

  li {
    width: 100%;
    &.-past .timelineAlt_dot {
      background: white;
      border-color: color(red);
    }

    &.is-selected {
      color: color(text);

      .timelineAlt_dot {
        background: color(text);
        border-color: white;
        box-shadow: 0 2px 4px rgba(black, .15);
      }
    }
  }

  span {
    display: block;
  }
}

.timelineAlt_date {
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.timelineAlt_dot {
  width: 20px;
  height: 20px;
  margin: 10px auto;
  border: solid 4px color(border);
  border-radius: 50%;
  background: white;
  transition: .15s;
}

.timelineAlt_slide {
  width: 100%;
  transition: .15s;

  &:not(.is-selected) {
    opacity: 0;
    transform: scale(.9);
  }
}

@media (query(sm-min)) {
  .timelineAlt_dates li {
    width: 33.333%;
  }
}
