.timelineSlider_year {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-weight: bold;
  font-size: 12vw;
  line-height: 1;
  color: #2f363b;
  user-select: none;
}

@media (query(lg-min)) {
  .timelineSlider .calloutFeature_content.section-12 {
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
}
