.titleCard {
    text-align: center;
    transition: .15s;
    .icon {
        margin-bottom: 3rem;
    }
    p {
        margin-top: 3rem;
        font-size: 1.5rem;
        line-height: 1.75;
    }
    >* {
        width: 100%;
    }
}

a.titleCard:hover {
    box-shadow: 0 1.5rem 3rem rgba(black, .15);
    background: white url('/assets/dist/img/topo-dark.svg') center / 100vw !important;
    color: color(text) !important;
    transform: translateY(-5px);
}

.titleCard:not(.ratio),
.titleCard_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.titleCard:not(:hover) .titleCard_expand {
    display: none;
}

.titleCard_expand {
    top: 2rem;
}