.storiesSlider .textSlider_nav {
  margin-top: -2rem;

  &::before {
    content: attr(data-stories-label);
    display: inline-block;
    margin: 2rem 2rem 0 0;
    font-size: 3rem;
    line-height: 8rem;
    font-family: fontFamily(secondary);
    text-transform: uppercase;
    letter-spacing: .05em;
    color: color(text, light);
  }

  li {
    width: 8rem;
    height: 8rem;
    margin-top: 2rem;

    &.-selected a {
      box-shadow: 0 0 0 5px color(red);
    }

    &:not(.-selected) a {
      opacity: .8;
    }
  }

  a {
    padding: 0;
    border-radius: 50%;
  }

  img {
    border-radius: 50%;
  }
}
