<template>
    <li>
        <input type="checkbox" :id="inputId" name="locations" :value="inputValue" :checked="checked" @change="check">
        <label class="button display-block" :for="labelForAttr">{{campus.name}}</label>
    </li>
</template>
<script>
    export default {
        props: [ 'campus' ],
        data(){
            return {
                checked: this.$store.state.checkedCampuses == this.slug ? true : false
            }
        },
        computed: {
            // checked () {
            //     if(this.$store.state.checkedCampuses.includes(this.campus.slug)) {
            //         return true;
            //     }
            //     return false;
            // },
            inputId () {
                return `campus-${this.campus.slug}`;
            },
            inputValue () {
                return this.campus.slug;
            },
            labelForAttr () {
                return `campus-${this.campus.slug}`;
            }
        },
        methods: {
            check(event) {

                this.$store.commit('setCheckedCampuses', event.target.value);

                Event.$emit('CampusSelect');

                let params = {
                    'groups' :this.$store.state.checkedGroups,
                    'campuses' :this.$store.state.checkedCampuses
                };
                if(this.$store.state.view === 'list') {
                    this.$store.dispatch('loadMonthEvents', this.$store.state.checkedGroups, this.$store.state.checkedCampuses);
                    this.$store.dispatch('loadFeaturedEvents', params);
                }
            }
        },
        created() {
            const $this = this;
            if($this.$store.state.checkedCampuses === $this.campus.slug) {
                $this.checked = true;
            } else {
                $this.checked = false;
            }

            Event.$on('CampusSelect', () => {
                if($this.$store.state.checkedCampuses === $this.campus.slug) {
                    $this.checked = true;
                } else {
                    $this.checked = false;
                }
            });
        }
    }
</script>
