<template>
    <li :style="listStyleObject">
        <input type="checkbox" :id="inputId" name="groups" :value="inputValue" :checked="checked" @change="check" >
        <label :for="labelForAttr"><span>{{group.name}}</span></label>
    </li>
</template>
<script>
export default {
    props: [ 'group' ],
    computed: {
        checked () {
            if(this.$store.state.checkedGroups.includes(parseInt(this.group.id))) {
                return true;
            }
            return false;
        },
        inputId () {
            return `calendar-${this.group.id}`;
        },
        inputValue () {
            return this.group.id;
        },
        listStyleObject () {
            return `color:${this.group.color}`;
        },
        labelForAttr () {
            return `calendar-${this.group.id}`;
        }
    },
    methods: {
        check(event) {
            let checked = this.$store.state.checkedGroups;

            if( event.target.checked && !this.$store.state.checkedGroups.includes(parseInt(event.target.value))) {
                checked.push(parseInt(event.target.value));
            } else if( !event.target.checked && this.$store.state.checkedGroups.includes(parseInt(event.target.value))) {
                const idx = checked.indexOf(parseInt(event.target.value));
                if(idx != -1) {
                    checked.splice(idx,1);
                }
            }

            this.$store.commit('setCheckedGroups', checked);
        }
    }
}
</script>