<template>
    <div class="events_header push-b-1">
        <button class="button-unstyled" @click="dec">
            <svg class="icon icon-24 "><use xlink:href="#icon-24-arrow-left"></use></svg><span class="srt">Previous</span>
        </button>
        <h2 class="h3">{{ formatedDate }}</h2>
        <button class="button-unstyled" @click="inc">
            <svg class="icon icon-24 "><use xlink:href="#icon-24-arrow-right"></use></svg><span class="srt">Next</span>
        </button>
    </div>
</template>
<script>
    export default {
        methods: {
            dec() {
                if( this.month === 1 ) {
                    this.$store.commit('setCurrentMonth', 12);
                    this.$store.commit('setCurrentYear', this.year - 1)
                } else {
                    this.$store.commit('setCurrentMonth', this.month - 1);
                }

                this.$store.dispatch('loadMonthEvents', this.$store.state.checkedGroups);
                this.$store.dispatch('loadFeaturedEvents', this.$store.state.checkedGroups);
                
            },
            inc() { 
                if( this.month === 12 ) {
                    this.$store.commit('setCurrentMonth', 1);
                    this.$store.commit('setCurrentYear', parseInt(this.year) + 1)
                } else {
                    this.$store.commit('setCurrentMonth', parseInt(this.month) + 1);
                }
                
                this.$store.dispatch('loadMonthEvents', this.$store.state.checkedGroups);
                this.$store.dispatch('loadFeaturedEvents', this.$store.state.checkedGroups);
            }
        },
        computed: {
            formatedDate() {
                return this.$moment(`${this.year}-${this.month}-1`,'YYYY-M-D').format('MMMM YYYY');
            },
            month() {
                return this.$store.state.currentMonth;
            },
            year() {
                return this.$store.state.currentYear;
            }
        }
    }
</script>