<template>
    <div class="col col-12 col-sm-6 col-md-4">
        <div class="card">
            <a :href="link" class="card_banner block">
                <div class="ratio ratio-1x1"></div>
                <div v-if="event.eventImage !== ''" class="block_layer block_layer-bgImg" :style="bgStyleObject"></div>
                <div class="block_layer titleCard_content bg-topo-dark" v-else>
                    <svg class="icon icon-48 color-red" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-48-menlo"></use></svg>
                </div>
                <span class="label label-tr label-white">{{campus}}</span>
            </a>

            <div class="card_content">
                <div class="card_contentLabel">
                    <span class="label label-text">{{campus}}</span>
                </div>

                <h2 class="h6"><a :href="link">{{ event.title }}</a></h2>
                <p>
                    <span v-if="event.allDay === 1">All Day {{ startDate }}</span>
                    <span v-else>{{ startDate }}</span>
                </p>
            </div>
        </div>
    </div>
</template>
<script>
    import moment from "moment";
    export default {
        props:[ 'event' ],
        computed: {
            link(){
                return `#/modal/event/${this.event.eid}/${this.event.locale}`;
            },
            startDate () {
                return this.$moment.tz(this.event.startDate, this.$moment.ISO_8601,"America/Los_Angeles").format('ddd, MMM Do');
            },
            startTime () {
                const startDate = this.$moment.tz(this.event.startDate, this.$moment.ISO_8601,"America/Los_Angeles");
                return startDate.format('hh:mm a');
            },
            endTime () {
                const endDate = this.$moment.tz(this.event.endDate, this.$moment.ISO_8601,"America/Los_Angeles");
                return endDate.format('hh:mm a');
            },
            until () {
                const dur = moment.duration( moment(this.event.startDate).diff(moment()) );
                return `${dur.days()} DAYS`;
            },
            locationUrl () {
                return this.event.location.mapUrl;
            },
            labelStyleObject () {
                return {
                    'background': this.event.color
                }
            },
            bgStyleObject () {
                return {
                    'background': `url(${this.event.eventImage})`
                }
            },
            specificLocation () {
                if(this.event.specificLocation !== "" && this.event.specificLocation !== null) {
                    return '(' + this.event.specificLocation + ')';
                }
                return '';
            },
            campus() {
                const _this = this;
                let campus = this.$store.state.campuses.filter(campus => {
                    if (campus.slug === _this.event.locale) {
                        return campus;
                    }
                });
                return campus.name;
            }
        }
    }
</script>