<template>
    <div>
        <div :class="classObject" @click="closeModalFromBg">
            <div class="modal_window">
                <button class="modal_close button-unstyled" @click="closeModal" ><svg class='icon icon-24'><use xlink:href='#icon-24-close'></use></svg><span class='srt'>Close Modal</span></button>

                <div class="modal_section text-center">
                    <div class="container container-6 pad-0">
                        <h2 class="h3">Choose Calendars</h2>
                        <p class="push-t-2">Choose calendars you’re interested in below. We’ll save your choices and only show events you care about!</p>
                    </div>
                </div>

                <div class="modal_section pad-x-4 bg-offwhite">
                    <ul class="switches">
                        <calendar-group v-for="group in groups" :group="group" :key="group.id"></calendar-group>
                    </ul>
                </div>

                <div class="modal_section text-center">
                    <h2 class="midline smalltext color-text-light push-b-4"><span>SHOW <strong>EVENTS</strong> AT</span></h2>
                    <ul class="locationsButtons">
                        <calendar-campus v-for="campus in campuses" v-if="campus.slug === currentCampus"  :campus="campus" :key="campus.id"></calendar-campus>
                        <calendar-campus :campus="allCampuses" :key="allCampuses.id"></calendar-campus>
                    </ul>
                    <button class="button button-red push-t-4" @click="closeModal">Ok, done</button>
                </div>
            </div>
        </div>
        <div class="modal_bg" v-if="isactive" @click="closeModal"></div>
    </div>
</template>

<script>
import CalendarGroup from './CalendarGroup.vue';
import CalendarCampus from './CalendarCampus.vue';
// compare array
if(Array.prototype.equals)
    console.warn("Overriding existing Array.prototype.equals. Possible causes: New API defines the method, there's a framework conflict or you've got double inclusions in your code.");
// attach the .equals method to Array's prototype to call it on any array
Array.prototype.equals = function (array) {
    // if the other array is a falsy value, return
    if (!array)
        return false;

    // compare lengths - can save a lot of time 
    if (this.length != array.length)
        return false;

    for (var i = 0, l=this.length; i < l; i++) {
        // Check if we have nested arrays
        if (this[i] instanceof Array && array[i] instanceof Array) {
            // recurse into the nested arrays
            if (!this[i].equals(array[i]))
                return false;       
        }           
        else if (this[i] != array[i]) { 
            // Warning - two different object instances will never be equal: {x:20} != {x:20}
            return false;   
        }           
    }       
    return true;
}
// Hide method from for-in loops
Object.defineProperty(Array.prototype, "equals", {enumerable: false});

export default {
    data() {
        return {
            isactive: false,
            groupsSnapshot: null
        }
    },
    computed: {
        groups() {
            return this.$store.state.groups;
        },
        campuses() {
            return this.$store.state.campuses;
        },
        allCampuses() {
            return {
                name: 'All Campuses',
                id: 'null',
                slug: 'null'
            };
        },
        currentCampus() {
            return this.$store.state.currentCampus;
        },
        classObject () {
            if(this.isactive) {
                return 'modal -active';
            }
            return 'modal';
        }
    },
    watch: {
        isactive: function (val) {
            // creating a copy of the checked groups to compare on select modal close
            // will compare to the current checked groups list in the store
            if(val) {
                this.groupsSnapshot = null;
                let snap = [];
                for (var i = 0; i < this.$store.state.checkedGroups.length; i++) {
                     snap.push(this.$store.state.checkedGroups[i]);
                }
                this.groupsSnapshot = snap;
            }
        }
    },
    methods: {
        closeModal(event) {
            this.isactive = false;
            this.updateEvents();
        },
        closeModalFromBg(event) {
            const cl = event.target.classList;
            if(cl.contains('modal')){
                this.isactive = false;
                this.updateEvents();
            }
        },
        updateEvents () {
            // Load events from toggled groups if they have changed
            if (!this.groupsSnapshot.equals(this.$store.state.checkedGroups)) {
                // If a group(s) was deselected just remove them from the list instead of re-loading
                if( this.groupsSnapshot.length > this.$store.state.checkedGroups.length ) {
                    // get group ids that have been deselected
                    let deselectedGroupsList = this.groupsSnapshot.filter((item) => {
                        return !this.$store.state.checkedGroups.includes(item);
                    });
                    
                    // Remove deselected group events
                    let updatedEventList = this.$store.state.events.filter((event) => {
                        return !deselectedGroupsList.includes(parseInt(event.groupId));
                    });
                    // Null out event list so new results don't get concatonated in.
                    this.$store.commit('setEvents', null);
                    this.$store.commit('setEvents', updatedEventList);

                    // Remove deselected group featured events
                    let updatedFeaturedEventList = this.$store.state.featuredEvents.filter((event) => {
                        return !deselectedGroupsList.includes(parseInt(event.groupId));
                    });
                    // Null out featured list so new results don't get concatonated in.
                    this.$store.commit('setFeaturedEvents', null);
                    this.$store.commit('setFeaturedEvents', updatedFeaturedEventList);

                } else {
                    this.loadEvents();
                }
            }
        },
        loadEvents() {
            let params = {
                'groups' :this.$store.state.checkedGroups,
                'campuses' :this.$store.state.checkedCampuses
            };
            this.$store.dispatch('loadMonthEvents', params);
            this.$store.dispatch('loadFeaturedEvents', params);
        }
    },
    components: {
        CalendarGroup,
        CalendarCampus
    },
    created() {
        const _this = this;
        Event.$on('OpenCalendarGroupModal', () => {
            _this.isactive = true;
        });
        document.onkeydown = function(evt) {
            evt = evt || window.event;
            if (evt.keyCode == 27) {
                _this.isactive = false;
            }
        };

        // Open modal on page load if default or none checked groups are selected
        if((this.$store.state.checkedGroups.length === 1 && this.$store.state.checkedGroups[0] === 1) || this.$store.state.checkedGroups.length === 0){
            this.isactive = true;
        }
    }
}
</script>