<template>
    <svg :class="'searchDots_dot ' + visstate" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg" v-if="view">
        <circle class="searchDots_path" cx="20" cy="20" r="18px"></circle>
    </svg>
</template>
<script>
    export default {
        props:['idx','campus'],
        data(){
            return {
                state: '-waiting',
                id: this.$parent.id
            }
        },
        computed: {
            classObj() {
                return `searchDots_dot ${this.state}`;
            },
            visstate() {
                return this.state;
            },
            view () {
                if(this.campus !== null || this.campus !== "null") {
                    return true;
                }
                return false;
            }
        },
        methods: {
            loading () {
                this.state = '-loading';
            },
            loaded () {
                this.state = '-loaded';
            }
        },
        created() {
            const _this = this;
            Event.$on('LoadReset', (data) => {
                if(data.id === _this.id) {
                    _this.state = '-loaded';
                    let timeout = setTimeout(() => { 
                        _this.state = "-waiting";
                        clearTimeout(timeout);
                    }, 1000);
                }
                
            });
            Event.$on('LoadIdx', (data) => {
                if(data.id === _this.id) {
                    if( data.idx === _this.idx ) {
                        _this.state = '-loading';
                    }

                    if( _this.idx < data.idx ) {
                        _this.state = '-loaded';
                    }
                }
            });
        }
    }
</script>

