<template>
<transition name="squese-fade">
    <div class="searchDots pad-2" v-show="loading">
        <div class="searchDots_dots">
            <div v-if="!singleLoad">
                <loader-circle v-for="(campus, index) in campuses" :campus="campus" :key="campus.id" :idx="index"></loader-circle>
            </div>
            <div v-if="singleLoad">
                <loader-circle :campus="null" :idx="0"></loader-circle>
            </div>
        </div>
        <div v-if="!singleLoad">
            <h3 class="searchDots_status" v-if="view==='search'">Searching <strong v-if="complete">complete</strong><strong v-text="currentName" v-else></strong> for &ldquo;{{this.query}}&rdquo;</h3>
            <h3 class="searchDots_status" v-if="view==='list'">Searching <strong v-if="complete">complete</strong><strong v-text="currentName" v-else></strong> for events</h3>
        </div>
        <div v-if="singleLoad">
            <h3 class="searchDots_status" v-if="view==='search'">Searching <strong v-if="complete">complete</strong><strong v-text="singleLoadCampusName" v-else></strong> for &ldquo;{{this.query}}&rdquo;</h3>
            <h3 class="searchDots_status" v-if="view==='list'">Searching <strong v-if="complete">complete</strong><strong v-text="singleLoadCampusName" v-else></strong> for events</h3>
        </div>
    </div>
</transition>
</template>
<script>
    import LoaderCircle from './LoaderCircle.vue';
    export default {
        props:['id','query'],
        data(){
            return {
                loadIndex: 0,
                loading : true,
                complete: false
            }
        },
        computed: {
            view() {
                return this.$store.state.view;
            },
            campuses () {
                return this.$store.state.campuses;
            },
            currentName () {
                if(this.loadIndex < this.campuses.length) {
                    name = this.campuses[this.loadIndex].name
                }
                return name;
            },
            singleLoadCampusName() {
                let name = '';
                let campus = this.$store.state.campuses.filter( campus => {
                    if ( campus.slug === this.$store.state.checkedCampuses ) {
                        return campus;
                    }
                });
                if(this.loadIndex <= this.campuses.length) {
                    if (campus.length > 0) {
                        name = campus[0].name;
                    }
                }
                return name;
            },
            singleLoad () {
                return this.$store.state.checkedCampuses === 'null' ? false : true;
            }
        },
        created() {
            const _this = this;
            Event.$on('LoadStart', (state) => {
                if(state.id === _this.id) {
                    _this.loading = true;
                    _this.complete = false;
                    Event.$emit('LoadIdx', { 'idx': _this.loadIndex, 'id': _this.id });
                }
            });
            Event.$on('LoadStateDone', (state) => {
                if(state.id === _this.id) {

                    if(!_this.singleLoad) {
                        _this.loadIndex = _this.loadIndex + 1;
                        Event.$emit('LoadIdx', { 'idx': _this.loadIndex, 'id': _this.id });

                        if(_this.loadIndex === _this.campuses.length) {
                            let timeout = setTimeout(() => { 
                                _this.complete = true;
                                _this.loadIndex = 0;
                                _this.loading = false;
                                Event.$emit('LoadReset', { 'id': _this.id });
                                clearTimeout(timeout);
                            }, 500);
                        }
                    } else {
                        let timeout = setTimeout(() => { 
                            _this.complete = true;
                            _this.loadIndex = 0;
                            _this.loading = false;
                            Event.$emit('LoadReset', { 'id': _this.id });
                            clearTimeout(timeout);
                        }, 500);
                        
                    }
                }
            });
        },
        components: {
            LoaderCircle
        }
    }
</script>