html {
  font-size: 50%;
}

body {
  font-weight: 300;
  font-size: 2rem;
  font-family: fontFamily(primary);
  color: color(text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1;
  font-family: fontFamily(secondary);
  text-transform: uppercase;
  letter-spacing: .05em;
}

.h1 {
  font-size: 10rem;
}

.h2 {
  font-size: 8rem;
}

.h3 {
  font-size: 6rem;
}

.h4 {
  font-size: 4rem;
}

.h5 {
  font-size: 3rem;
}

.h6 {
  font-size: 2rem;
}

a {
  transition: .15s;
}

b,
strong {
  font-weight: 700;
}

hr {
  color: color(border);
}

@media (query(sm-min)) {
  html {
    font-size: 56.25%;
  }
}

@media (query(md-min)) {
  html {
    font-size: 62.5%;
  }
}
