{% extends '_layouts/_site' %}
{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
{% block content %}
    <div class="landingModal section section-12">
    <div class="container container-8">
        
            {% set message = entry %}
            {% set hasVideo = message.messageVideo is not empty ? true : false %}
            {% set hasAudio = message.messageAudio|length ? true : false %}
            <div class="modal_section pad-b-4 text-center">
                <div class="tabs_tabs tabs_tabs-equal" data-tabs>
                    {% if message.messageVideo is not empty %}
                        <a href="#tab-{{message.id}}-video" class="tabs_tab {% if hasVideo %} -active {% endif %}" data-tab>Video</a>
                    {% endif %}
                    {% if message.messageAudio|length %}
                        <a href="#tab-{{message.id}}-audio" class="tabs_tab {% if not hasVideo and hasAudio %} -active {% endif %}" data-tab>Audio</a>
                    {% endif %}
                </div>
            </div>

            <div class="tabs_content pad-x-2" data-tabs-content>
                {% if message.messageVideo is not empty %}
                    <div id="tab-{{message.id}}-video" class="tabs_pane {% if hasVideo %} -active {% endif %}" data-tabs-pane>
                        {{ message.messageVideo.embed({ width: 727, height: 408}) }}
                    </div>
                {% endif %}
                {% if message.messageAudio|length %}
                    <div id="tab-{{message.id}}-audio" class="tabs_pane {% if not hasVideo and hasAudio %} -active {% endif %}" data-tabs-pane>
                        <div class="ap-container">
                            <ul class="AudioPlayer ap-unibody live" id="audioplayer-{{message.id}}">
                                <li>
                                    <div class='play-btn'>
                                        <div class="ap__play"><svg class="icn icon-controller-play"><use xlink:href="#icon-controller-play"></use></svg></div>
                                        <div class="ap__pause"><svg class="icn icon-controller-pause"><use xlink:href="#icon-controller-pause"></use></svg></div>
                                    </div>
                                </li>
                                <li>
                                    <div class='sep for-play'></div>
                                </li>
                                <li>
                                    <div class='time-current'> 00:00 </div>
                                    <div class='time-duration'> 00:00 </div>
                                </li>
                                <li class='container'>
                                    <div class='progress-bar-container'>
                                        <div class='progress-bar-wrapper'>
                                            <div class='seek-bar'></div>
                                            <div class='play-bar transition'></div>
                                            <div class='load-bar transition'></div>
                                        </div>
                                    </div>
                                </li>
                                <li class='ap__download'>
                                    <a href="{{ message.messageAudio[0].url }}" download><svg class="icn icon-download"><use xlink:href="#icon-24-download"></use></svg></a>
                                </li>
                            </ul>
                            <audio src="{{ message.messageAudio[0].url }}" controls="false"></audio>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="modal_section pad-t-4">
                <div class="row row-middle">
                    <div class="col col-12 col-sm-6">
                        <p class="smalltext color-text-light"> 
                            <span class="sep">{{ message.messageDate|date('M d, Y') }}</span> 
                            {% if message.messageSpeaker|length %}
                                <a href="#/modal/person/{{message.messageSpeaker[0].id}}">
                                    <strong>{{ message.messageSpeaker[0].title }}</strong>
                                </a>
                            {% endif %}
                        </p>
                    </div>

                    <div class="col col-12 col-sm-6 text-sm-right">
                        {% set pageUrl = siteUrl ~ "#/modal/message/" ~ id  %}
                        <ul class="socialIcons socialIcons-share">
                            <li><a href="mailto:?subject={{message.title}}-{{pageUrl|url_encode}}" class="-generic">{{ icons.socialicon('email', 24) }} {{ srt.srt('Email') }}</a></li>
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{pageUrl|url_encode}}&t={{message.title}}" target="_blank" class="-facebook">{{ icons.socialicon('facebook', 24) }} {{ srt.srt('Facebook') }}</a></li>
                            <li><a href="https://twitter.com/home?status={{pageUrl|url_encode}}{{' 💬  ' ~ message.title}}" target="_blank" class="-twitter">{{ icons.socialicon('twitter', 24) }} {{ srt.srt('Twitter') }}</a></li>
                        </ul>
                    </div>
                </div>

                <h1 class="h3 push-y-4">{{message.title}}</h1>

                <div class="richText">
                    <p>{{ message.messageSummary|default() }}</p>
                </div>

                <div class="push-t-4">
                    <div class="buttonGroup buttonGroup-left">
                        {% if message.messageStudyGuide|length %}
                            <a href="{{ message.messageStudyGuide[0].url }}" class="button button-red" download><span>Study Guide</span>{{ icons.icon('download') }}</a>
                        {% endif %}
                        {% if message.messageTranscript|length %}
                            <a href="{{ message.messageTranscript[0].url }}" class="button" download>Transcript</a>
                        {% endif %}
                        {% if message.messageMoreResources|length %}
                            <div class="iconInput">
                                <select class="input-select" id="moreResources" onchange="if (this.value) window.location.href=this.value">
                                    <option value="">Resources</option>
                                    {% for item in message.messageMoreResources %}
                                        <option value="{{ item.url }}">{{ item.label|default(item.title) }}</option>
                                    {% endfor %}
                                </select>
                                <svg class="icon icon-24 "><use xlink:href="#icon-24-download"></use></svg>          
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if message.bigIdeas is defined and message.bigIdeas |length %}
                {% include '/_partials/_bigIdeas' %}
            {% endif %}
    </div>
    </div>
{% endblock %}