.bg-topo {
    background-image: url('/assets/dist/img/topo.svg');
    background-size: cover;
    background-position: center;
}

.bg-topo-dark {
    background-image: url('/assets/dist/img/topo-dark.svg');
    background-size: cover;
    background-position: center;
}