{% macro card(title, description, link, image) %}
    {% import '_macros/_icons' as icons %}
    {% set transform = {
        mode: 'crop',
        width: 384,
        quality: 75,
        position: 'center-center'
    } %}
    <div class="card card-side">
        {% if image is defined and image|length %}
            <a href="{% if link is defined and link is not empty %}{{ link.url }}{% endif %}" class="card_media">
                <div class="block ratio ratio-16x9 ratio-md-1x1">
                    <div class="block_layer block_layer-bgImg" style="background-image: url({{ image[0].getUrl(transform) }})"></div>
                </div>
            </a>
        {% endif %}
        <div class="card_content richText">
            {% if title is defined and title is not empty %}
                <h3 class="h4">{{ title }}</h3>
            {% endif %}
            {% if description is defined and description is not empty %}
                <p>{{ description }}</p>
            {% endif %}
            {% if link is defined and link is not empty %}
                <p>
                    <a href="{{ link.url }}" {{ link.target ?  "target='_blank'"  }} class="ctaLink"><span>{{ link.text }}</span>{{ icons.icon('arrow-right') }}</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endmacro %}
