{% macro message(msg) %}
    <a href="#/modal/message/{{ msg.id }}/{{msg.locale}}" class="mediaCard block ratio ratio-16x9">
        
        {% if msg.messageVideo is not empty %}
            <div class="block_layer block_layer-bgImg" style="background-image: url({{ msg.messageVideo.getThumbnail(560) }})"></div>
        {% else %}
            {% if msg.messageImage|length %}
                {% set image = msg.messageImage.first() %}
                {% set msgImage = craft.imager.transformImage(image,
                    [
                        { width: 560, ratio: 16/9 },
                    ],
                    {
                        format: 'jpg',
                        allowUpscale: false,
                        mode: 'crop',
                        jpegQuality: 80,
                        position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                        interlace: true
                    }
                ) %}
                <div class="block_layer block_layer-bgImg" style="background-image: url({{ msgImage[0].url }})"></div>
            {% endif %}
        {% endif %}
        
        <div class="block_layer block_layer-overlayRadial"></div>

        <div class="mediaCard_content block_layer">
            {% if msg.series|length and msg.series[0].seriesImage|length %}
                {% set image = msg.series[0].seriesImage.first() %}
                {% set seriesImage = craft.imager.transformImage(image,
                    [
                        { width: 120, width:120 },
                    ],
                    {
                        format: 'jpg',
                        allowUpscale: false,
                        mode: 'crop',
                        jpegQuality: 80,
                        position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                        interlace: true
                    }
                ) %}
                <img src="{{ seriesImage[0].url }}" class="mediaCard_thumb" alt="{{ msg.series[0].title }}">
            {% endif %}
            
            <p class="smalltext">{{ msg.messageDate|date('M d, Y' )}} <span class="sep"></span> 
                {% if msg.messageSpeaker|length %}
                    {{ msg.messageSpeaker[0].title }}
                {% endif %}
            </p>
            <h2 class="h5">{{ msg.title }}</h2>
        </div>
    </a>
{% endmacro %}