{% macro card(event) %}
    {% import '_macros/_icons' as icons %}
    {% import '_macros/_srt' as srt %}
    <div class="events_item">
        <div class="events_date">
            {% if event.eventImage|length %}
                {% set image = event.eventImage.first() %}
                {% set eventImage = craft.imager.transformImage(image,
                    [
                        { width: 100, height: 100 },
                    ],
                    {
                        format: 'jpg',
                        allowUpscale: false,
                        mode: 'crop',
                        jpegQuality: 80,
                        position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                        interlace: true
                    }
                ) %}
                <div class="events_thumb" style="background-image: url({{ eventImage[0].url }})"></div>
            {% endif %}
            <span class="events_day h5">{{ event.startDate|date('d') }}</span>
            <span class="events_month smalltext">{{ event.startDate|date('M') }}</span>
        </div>

        <div class="events_details">
            <h2 class="h5"><a href="#/modal/event/{{ event.eid }}/{{event.locale}}">{{ event.title }}</a></h2>
            <p>
                {% if event.allDay == 1 %}
                     All Day
                {% else %}
                    {{ event.startDate|date('g:ia') }} - {{ event.endDate|date('g:ia') }}
                {% endif %}
            </p>
        </div>

        <div class="events_actions">
            {% if event.registration is not empty %}
                <a href="{{ event.registration.url|default('#') }}" target="_blank" class="events_register button button-to-red">Register</a>
            {% endif %}
            {% if event.location|length %} 
                <a href="{{ event.location[0].getMapUrl() }}" target="_blank" class="events_location button button-to-red">{{ srt.srt('Location') }} {{ icons.icon('location-pin') }}</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}
