{% macro card(title, description, link, image) %}
    {% import '_macros/_icons' as icons %}
    {% set transform = {
        mode: 'crop',
        width: 384,
        quality: 75,
        position: 'center-center'
    } %}
    <div class="card card-side">
        {% if image is defined and image[0] %}
            <a href="#/modal/serve/{{id}}/{{item.locale}}" class="card_media">
                <div class="block ratio ratio-16x9 ratio-md-1x1">
                    <div class="block_layer block_layer-bgImg" style="background-image: url({{ image[0].getUrl(transform) }})"></div>
                </div>
            </a>
        {% endif %}
        <div class="card_content">
            {% if title is defined and title is not empty %}
                <h3 class="h4 push-b-2">{{ title }}</h3>
            {% endif %}
            <ul class="iconItems">
                <li>{{ icons.icon('calendar') }}
                {% for item in serve.serveCommintment %}
                    {{ item.title }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                </li>
                <li>{{ icons.icon('pin') }} {{ location }}</li>
            </ul>
            {% if description is defined and description is not empty %}
                <div class="push-y-3">{{ description }}</div>
            {% endif %}
            {% if link is defined and link is not empty %}
                <p>
                    <a href="{{ link.url }}" {{ link.target ?  "target='_blank'"  }} class="ctaLink"><span>{{ link.text }}</span>{{ icons.icon('arrow-right') }}</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endmacro %}
