{% macro card(post) %}
    {% import '_macros/_icons' as icons %}
    {% set transform = {
        mode: 'crop',
        width: 400,
        height: 400,
        quality: 85,
        position: 'center-center'
    } %}
    <a href="{{ post.url }}" class="overlayCard ratio ratio-1x1 block">
        {% if post.postImage|length %}
            <div class="block_layer block_layer-bgImg" style="background-image: url({{ post.postImage[0].getUrl(transform) }})"></div>
            <div class="block_layer block_layer-overlay"></div>
            <div class="block_layer block_layer-overlayColor"></div>
        {% else %}
            <div class="mediaPlaceholder">{{ icons.icon('newspaper', 72) }}</div>
        {% endif %}

        {% if post.postTopic|length %}
            {% for topic in post.postTopic %}
                <span class="label">{{ topic.title }}</span>
            {% endfor %}
        {% endif %}

        <div class="overlayCard_content overlayCard_content-alwaysShow block_layer">
            <h3 class="h4">{{ post.title }}</h3>
            <p>{{ post.postSummary|default()|trimit(250) }}</p>
        </div>
    </a>
{% endmacro %}