{% macro feature(elm) %}
    {% import '_macros/_icons' as icons %}
    {# image, title, description, link = {} #}
    {% set transform = {
        mode: 'crop',
        width: 586,
        height: 330,
        quality: 85,
        position: 'center-center'
    } %}
    <div class="card">
        <a {% if elm.link is not empty %} href="{{ elm.link.url }}" target="{{elm.link.target}}" {% endif %} class="card_media ratio ratio-16x9 block">
            {% set image = elm.image|length ? elm.image[0] : false %}
            {% if image %}
                <div class="block_layer block_layer-bgImg" style="background-image: url({{image.getUrl(transform)}})"></div>
            {% endif %}
        </a>

        <div class="card_content richText">
            <h3 class="h4">{{ elm.title }}</h3>
            {{ elm.description|default('') }}
            {%- if elm.link is not empty -%}
                <p><a href="{{ elm.link.url }}" target="{{ elm.link.target }}" class="ctaLink"><span>{{ elm.link.text }}</span>{{ icons.icon('arrow-right') }} </a></p>
            {%- endif -%}
        </div>
    </div>
{% endmacro %}