{% macro item(event) %}
    <li class="eventList_event" style="color: {{ event.color }}">
        <a href="#modal/event/{{event.eid}}">
            <span class="label" style="background: {{ event.color }}">Adults</span>

            <div>
                <p>
                    {% if event.allDay == 1 %}
                        {{ event.startDate|date('M d Y') }}
                    {% else %}
                        {% if event.startDate|date("dmy") == event.endDate|date("dmy") %}
                            {{ event.startDate|date('D, M d, Y') }}
                        {% else %}
                            {{ event.startDate|date('D, M d, Y') }} - {{ event.endDate|date('D, M d, Y') }}
                        {% endif %}
                    {% endif %}
                </p>
                <h2 class="h4">{{ event.title }}</h2>
            </div>
        </a>
    </li>
{% endmacro %}