{% macro graph(id = "1", values = [], totalBars = 0, linecolor = "#d1d3d3") %}
    {% set chart_height = totalBars * 40 %}
    <div id='bar-graph-{{id}}' class='barGraph' data-bar-graph='{{ values|json_encode|raw }}'></div>
    <style>
        #bar-graph-{{id}} .ct-chart-bar { height: {{chart_height}}px !important; }
        {% for gset in values %}
            {% set idx = loop.index %}
            #bar-graph-{{id}} .ct-series:nth-child({{idx}}) { stroke: {{ gset.color }}; }
        {% endfor %}
        #bar-graph-{{id}} .ct-grids .ct-horizontal { stroke: {{ linecolor }}; }
    </style>
{% endmacro %}