{% macro card(post, series) %}
    {% import '_macros/_icons' as icons %}
    {% set transform = {
        mode: 'crop',
        width: 1200,
        height: 676,
        quality: 85,
        position: 'center-center'
    } %}
    <a href="#/modal/message/{{ post.id }}" class="overlayCard overlayCard-video ratio ratio-16x9 block">
        {% if post.messageVideo is not empty %}  
            <div class="block_layer block_layer-bgImg" style="background-image: url({{ post.messageVideo.getThumbnail(571) }})"></div>
            <div class="block_layer block_layer-overlay"></div>
            <div class="overlayCard_videoIcon">{{ icons.icon('control-play') }}</div>
        {% elseif post.series|length and post.series[0].seriesImage|length %}
            <div class="block_layer block_layer-bgImg" style="background-image: url({{ series.seriesImage[0].getUrl(transform)}})"></div>
            <div class="block_layer block_layer-overlay"></div>
            <div class="overlayCard_videoIcon">{{ icons.icon('control-play') }}</div>
        {% endif %}

        {% if post.messageDate|date('Ymd') == now|date_modify('last sunday')|date('Ymd') %}
            <span class="label">Latest</span>
        {% endif %}

        <div class="overlayCard_content overlayCard_content-alwaysShow block_layer">
            <h3 class="h4">{{ post.title }}</h3>
            {% if post.messageSpeaker|length %}
                <p>{{ post.messageSpeaker[0].title }}</p>
            {% endif %}
        </div>
    </a>
{% endmacro %}