{% macro series(series) %}
    {% import '_macros/_icons' as icons %}
    {% set hasImg = series.seriesImage[0] ? true : false %}
    {% set tf470 = {
        mode: 'crop',
        width: 470,
        height: 470,
        quality: 90,
        position: 'center-center'
    } %}
    {% if hasImg %}
        {% set img = series.seriesImage[0] %}
        {# {% set imgTf = craft.imager.transformImage(img,
            [
                { width: 470, width: 470},
            ],
            {
                format: 'jpg',
                allowUpscale: false,
                mode: 'crop',
                jpegQuality: 80,
                position: img.focusPctX ~ '% ' ~ img.focusPctY ~ '%',
                interlace: true
            }
        ) %} #}
    {% endif %}
    <div class="thumbCard block ratio ratio-1x1">
        {% if hasImg|length %}
            <div class="block_layer block_layer-bgImg" style="background-image: url({{ img.getUrl(tf470) }})"></div>
            <div class="block_layer block_layer-overlayRadial"></div>
        {% endif %}
        <a href="{{ series.url }}" class="block_layer"></a>

        {% if series.seriesCurrent == 1 %}
            <span class="label label-big label-white">Current Series</span>
        {% endif %}

        {% include '/_partials/_share' with {default: true, url: series.url, text: series.title } %}
        
    </div>
{% endmacro %}