{% macro contact(heading = 'Contact us', phone ='', pageurl = '', contacts = [], email = '') %}
    {% import '_macros/_icons' as icons %}
    {% set pageUri = craft.request.url|replace(siteUrl, '') %}
    {% set locale = craft.i18n.getCurrentLocale() %}

{% set currentCampus = craft.entries({
    section: 'campuses',
    slug: locale.id,
    locale: 'mlo',
    with: ['socialLinks', 'campusImage']
}).first() %}
    <div class="modal_section pad-b-4 text-center">
        <h1 class="h3">{{ heading }}</h1>
        <p class="push-t-2 linedLinks"><br class="display-none display-sm-block"> {% if phone is not empty %}
         Can’t wait? Call our office at <a href="tel:{{ phone }}">{{ phone }}</a>.{% endif %}</p>
    </div>

    <div class="modal_section bg-offwhite pad-t-2">
        <form class="form container container-5 pad-0 form-send" method="post" action="" accept-charset="UTF-8" novalidate>
            <p class="form_message -success">Your message was sucessfully sent. Yay!</p>
            <p class="form_message -error">There was error and your message did not send.</p>

            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="contactForm/sendMessage">
            <input type='hidden' name='subject' value="Contact Request" />
            <input type='hidden' name='message[handle]' value="contact-request" />
            <input type="text" id="descriptionMessage" name="descriptionMessage" value="" style="display:none;"  />
            
            <input type='hidden' name='message[url]' value='{{ pageurl|default(siteUrl ~ pageUri) }}'/>
            <input type='hidden' name='message[campus]' value='{{ currentCampus.title }}' />

            {% if contacts|length %}
                <div class="iconInput">
                    <select class="input-select" name="toEmail" required> 
                        <option>* Choose a Subject</option>
                        {% for item in contacts %}
                            <option value="{{ item.emailAddress|hash }}">{{ item.subject }}</option>
                        {% endfor %}
                    </select>
                    {{ icons.icon('navigation-drawer') }}
                </div>
                <p class="form_error">Please choose a subject.</p>
            {% elseif email is not empty %}
                <input type='hidden' name='toEmail' value="{{ email|hash}}" />
            {% endif %}

            <div class="floatLabel">
                <input type="text" class="input-text" name="fromName" required>
                <label>Full Name *</label>
            </div>
            <p class="form_error">Please add a full name.</p>

            <div class="floatLabel">
                <input type="email" class="input-text" name="fromEmail" required>
                <label>Email address</label>
            </div>
            <p class="form_error">Please enter a valid email address.</p>

            <div class="floatLabel">
                <input type="tel" class="input-text" name="message[phone]">
                <label>Phone Number</label>
            </div>
            <p class="form_error">This is not a valid format for a phone number.</p>

            <h2 class="h5">How can we help?</h2>
            {# {% set pageUrl = craft.request.url %} #}
            <textarea class="input-textarea" placeholder="Questions &amp; Comments &hellip;" rows="4" name="message[body]" required></textarea>
            <p class="form_error">Please post a message.</p>
            <div>
                <button type="submit" class="button">
                    <span class='-send'>
                        <span>Send</span> 
                        {{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}
                    </span>
                    <span class='-sending'><svg class='icon icon-24 animate-rotate360' v-show="showSpinner"><use xlink:href='#icon-24-synchronize'></use></svg></span>
                    <span class='-sent'><span>Success</span></span>
                    <span class='-error'><span>Send Again</span></span>
                </button>
            </div>
        </form>
    </div>
{% endmacro %}