{% macro icon(icon, size = 24, baseline = 24, classes = '') %}
    <svg class='icon icon-{{ size }} {{ classes }}'><use xlink:href='#icon-{{ baseline }}-{{ icon }}'></use></svg>
{% endmacro %}
{% macro socialicon(icon, size = 24, baseline = 24, classes = '') %}
    <svg class='icon icon-{{ size }} {{ classes }}'><use xlink:href='#icon-blocs-{{ baseline }}-{{ icon }}'></use></svg>
{% endmacro %}
