{% macro list(items) %}
    {% import '_macros/_icons' as icons %}
    {% import '_macros/_colors' as clr %}
        {% set color = clr.color() %}
    <ul class="eventList">
        <li class="eventList_day">
            <ul class="eventList_events">
                {% for serve in items %}
                    <li class="eventList_event" style="color: {{ color }}">
                        <a href="#/modal/serve/{{serve.id}}/{{serve.locale}}" >
                            {% if serve.serveImpact|length %}
                                <span class="label" style="background: {{ color }}">{{ serve.serveImpact[0].title }}</span>
                            {% endif %}

                            <div>
                                {% if serve.serveCommitment|length %}
                                    <p>{{ serve.serveCommitment[0].title }}</p>
                                {% endif %}
                                <h2 class="h4">{{ serve.title }}</h2>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endmacro %}