{% macro maxcol(length) %}{% spaceless %}
    {#
        if not mod 3 = 0 columns
            if not mod 4 = 0 columns
                if not mod 2 = 0 columns
                else two columns
            else four columns
        else three columns

        default three columns
     #}
    {%- set maxCol -%}
        {% if length % 3 != 0 %}
            {% if length % 4 != 0 %}
                {% if length % 2 != 0 %}
                    col-md-4
                {% else %}
                    col-md-6
                {% endif %}
            {% else %}
                col-md-6
            {% endif %}
        {% else %}
            col-md-4
        {% endif %}
    {%- endset -%}

    {{ maxCol }}
{% endspaceless %}{% endmacro %}
