{% macro bar(title ="") %}
    {% import '_macros/_icons' as icons %}
    {% import '_macros/_srt' as srt %}
    <div class="modal_bar">
        {% set pageUrl = craft.request.url %}
        {#{{ craft.request.getHostInfo() ~ craft.request.getRequestUri() }}#}
        <ul class="socialIcons socialIcons-24 socialIcons-simple">
            <li><a href="mailto:?subject={{title}}-{{pageUrl}}" class="-generic">{{ icons.socialicon('email', 24) }} {{ srt.srt('Email') }}</a></li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{pageUrl}}&t={{title}}" target="_blank" class="-facebook">{{ icons.socialicon('facebook', 24) }} {{ srt.srt('Facebook') }}</a></li>
            <li><a href="https://twitter.com/home?status={{pageUrl}}{{' 💬  ' ~ title}}" target="_blank" class="-twitter">{{ icons.socialicon('twitter', 24) }} {{ srt.srt('Twitter') }}</a></li>
        </ul>
        <button class="modal_close button-unstyled" data-modal-close>{{ icons.icon('close') }} {{ srt.srt('Close Modal') }}</button>
    </div>
{% endmacro %}