{% macro person(person) %}
    {% set hasImg = person.profileImage|length ? true : false %}
    <a href="#/modal/person/{{person.id}}/{{person.locale}}" class="person ratio ratio-2x3 block {{ hasImg ? 'person-photo' : 'person-plain' }}">
        
        {% if hasImg %}
            {# {% set image = person.profileImage.first() %}
            {% set transformedImages = craft.imager.transformImage(image,
                [
                    { width: 300, ratio: 2/3 },
                ],
                {
                    format: 'jpg',
                    allowUpscale: false,
                    mode: 'crop',
                    jpegQuality: 80,
                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                    interlace: true
                }
            ) %}transformedImages[0].url #}
            <div class="block_layer block_layer-bgImg" style="background-image: url({{ person.profileImage[0].getUrl('tf235x352') }})"></div>
            <div class="person_fade block_layer"></div>
        {% endif %}
        {% if not hasImg %}
            <svg class="icon icon-48 block_icon color-border"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-48-menlo"></use></svg>
        {% endif %}
        <div class="person_content block_layer">
            <h2 class="h6">{{ person.title }}</h2>
            <p>{{ person.professionalTitle|default() }}</p>
        </div>
    </a>
{% endmacro %}