{% macro pie( id = "1", label ='', value = 0, color = "#000000", size = 20, trackcolor = "#d1d3d3") %}
    {% set padding = (size - 10) / 2 %}
    <div id='progress-pie-{{id}}' class='progressPie' data-progress-pie='{{ value }}'>
        <div class='progressPie_val h2'><span data-countup='{{ value }}'>0</span>%</div>
        <div class='progressPie_label smalltext'>{{ label }}</div>
    </div>
    <style>
        #progress-pie-{{ id }} { width: {{ size }}rem; height: {{ size }}rem; color: {{trackcolor}}; }
        #progress-pie-{{ id }} .progressPie_val { padding-top: {{ padding }}rem; color:  {{ color }}; }
        #progress-pie-{{ id }} .progressPie_label { color:  {{ color }}; }
        #progress-pie-{{ id }} .ct-series-a { stroke:  {{ color }}; }
    </style>
{% endmacro %}

{% macro piesliced(id = "1", values = [], size = 20) %}
    <div id='sliced-pie-{{id}}' class='slicedPie' data-sliced-pie='{{values|json_encode}}'></div>
    <style>
        #sliced-pie-{{id}} { width: {{size}}rem; height: {{size}}rem; }
        {% for item in values %}
            {% set idx = loop.index %}
            #sliced-pie-{{id}} .ct-series:nth-child({{idx}}) { stroke: {{item.color}}; }
        {% endfor %}
    </style>
{% endmacro %}