{% macro link(link, class='', icon = 'arrow-right', size = 16) %}
    {% import '_macros/_icons' as icons %}
    <p><a target="{{ link.target }}" href="{{ link.url }}" class="ctaLink {% if class is defined %}{{class}}{% endif %}">{{ link.text }}{{ icons.icon( icon, size ) }}</a></p>
{% endmacro %}
