{% import '_macros/_icons' as icons %}
{% set tf640 = {
    mode: 'crop',
    width: 640,
    height: 640,
    quality: 85,
    position: 'center-center'
} %}
{% set tf768 = {
    mode: 'crop',
    width: 768,
    quality: 85,
    position: 'center-center'
} %}
    {% set message = craft.entries.section('messages').order('messageDate DESC').with(['messageImage','series']).first() %}
    <section class="hero hero-media section section-20 section-contained block bg-text color-white">
        {% set bgColorAccent = currentSeries.accentColor is not empty and currentSeries.showBackgroundImage == 0 ? 'background-color:' ~ currentSeries.accentColor ~ ';' : '' %}
        {% if currentSeries.showBackgroundImage == 1 %}
            {% if message.messageVideo is not empty %}
                <div class="block_layer block_layer-bgImg" style="background-image: url({{ message.messageVideo.getThumbnail(1920)|default() }})"></div>
            {% else %}
                <div class="block_layer block_layer-bgImg" style="background-image: url({{ message.messageImage[0].getUrl('tf1920x1080')|default() }})"></div>
            {% endif %}
        {% else %}
            <div class="block_layer block_layer-bgImg" style="{{ bgColorAccent }}"></div>
        {% endif %}
        <div class="block_layer block_layer-overlayRadial"></div>
        
        <div class="container push-lg-b-12">
            <div class="row row-middle row-between grid grid-4">
                <div class="col col-12 col-md-6">
                    {% if message.messageSpeaker|length %}
                        <div class="smalltext push-b-4">Latest message by <strong>{{ message.messageSpeaker[0].title }}</strong></div>
                    {% endif %}
                    <h1 class="h1">{{ message.title }}</h1>
                    <p class="push-t-4 linedLinks linedLinks-dark">{{ message.messageSummary|default() }}</p>

                    <div class="push-t-4">
                        <div class="buttonGroup buttonGroup-left">
                            <a href="#/modal/message/{{message.id}}/{{craft.locale}}" class="button button-white"><span>Watch</span>{{ icons.icon('control-play') }}</a>
                            {% if message.messageStudyGuide|length %}
                                <a href="{{ message.messageStudyGuide[0].url }}" target="_blank" download class="button button-outline">Study Guide</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if message.series|length %}                
                    <div class="hero-media_media col col-12 col-md-5">
                        {% if message.series[0].accentColor is not empty %}
                            <div class="hero-media_color" style="background-color:{{ message.series[0].accentColor }};"></div>
                        {% else %}
                            <div class="hero-media_color bg_text"></div>
                        {% endif %}
                        <div class="thumbCard block ratio ratio-1x1">
                            {% set sImage = message.series[0].seriesImage[0] ?? null %}
                            {% if sImage %}
                                {# {% set seriesImage = craft.imager.transformImage( sImage, { width: 640, height: 640 } ) %} #}
                                <div class="block_layer block_layer-bgImg" style="background-image: url({{ sImage.getUrl(tf640) }})"></div>
                            {% endif %}
                            <div class="block_layer block_layer-overlayRadial"></div>
                            <a href="{{ message.series[0].url }}" class="block_layer"></a>
                            {% if message.series[0].seriesCurrent  == 1%}
                                <span class="label label-big label-white">Our Current Series</span>
                            {% endif %}
                        
                         {% include '/_partials/_share' with { default: true, url:message.series[0].url, text: message.series[0].title } %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    {% include '_homepage/_features' %}
    {% include '_homepage/_connected' %}

{% if currentCampus|length %}
    {% set cimage = currentCampus.campusImage[0] %}
    {% if cimage %}
        {# {% set transformedImages = craft.imager.transformImage(cimage,
            [
                { width:768, ratio: 4/3 }
            ],
            {
                format: 'jpg',
                allowUpscale: false,
                mode: 'crop',
                position: cimage.focusPctX ~ '% ' ~ cimage.focusPctY ~ '%',
                jpegQuality: 80,
                interlace: true
            }
        ) %} #}
    {% endif %}
    <section class="connect section section-12 section-contained block bg-red bg-topo">
        {% if cimage %}
            <div class="block_layer block_layer-bgImg" style="background-image: url({{ cimage.getUrl(tf768) }})"></div>
        {% endif %}
        <div class="container container-wide">
            <div class="connect_card">
                <div class="connect_primary">
                    
                    <h1 class="h3">Connect With Us</h1>

                    {# {% if entry.connectSubHeading is not empty %}
                        <div class="linedLinks">{{ entry.connectSubHeading|default() }}</div>
                    {% endif %} #}
                    {% if currentCampus.socialLinks|length %}
                        <ul class="socialIcons socialIcons-24 socialIcons-hoverBgBrand">
                            {% include '/_partials/_social-items' with { links: currentCampus.socialLinks[0] } only %}
                        </ul>
                    {% endif %}
                    
                    <a href="#" class="button" data-modal="#modal-contact"><span>Email Us</span> {{ icons.icon('bubble-chat-typing') }}</a>
                    
                </div>

                <div class="connect_secondary linedLinks linedLinks-dark">
                    <h2 class="h5">Times</h2>
                    {% if currentCampus.worshipTimes is not empty %}
                        {{ currentCampus.worshipTimes|raw }}
                    {% endif %}
                    {% if currentCampus.location|length %}
                        {% set loc = currentCampus.location[0] %}       
                        <h2 class="h5">Location</h2>
                        <p>{{ loc.address}}<br>{{ loc.city }}, {{ loc.state }}<br>
                            <a href="{{ loc.getMapUrl() }}">{{ loc.title }}</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% set cta = currentCampus.footerCallToAction.first() %}
    {% if cta %}
        <section class="section section-20 section-contained pad-b-12 text-center">
            <div class="linemark linemark-top color-border"></div>

            <div class="container container-8">
                <h1 class="h2 push-b-4">{{ cta.heading }}</h1>
                <div class="subtext color-text-light linedLinks">{{ cta.description|default() }}</div>
                {% if cta.actionLink is not empty %}
                    <div class="push-t-4">
                        <div class="buttonGroup">
                            <a href="{{ cta.actionLink.url }}" {{ cta.actionLink.target ? ' target="_blank"' }}  class="button">{{ cta.actionLink.text }}</a>
                        </div>
                    </div>
                {% else %}
                    <div class="push-t-4">
                        <div class="buttonGroup">
                            <a href="#" class="button" data-modal="#modal-contact">Contact Us</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    {% endif %}