{% if currentCampus.connected|length %}
{% set tf560 = {
    mode: 'crop',
    width: 560,
    height: 560,
    quality: 90,
    position: 'center-center'
} %}
<section class="calloutFeature section section-contained bg-text bg-topo color-white">
    <div class="row">
        <div class="col col-12 col-md-5 display-md-flex">
            <div class="calloutFeature_img ratio ratio-16x9 block">
                {% for item in currentCampus.connected %}
                    {% if item.type == 'blockMain' %}
                        {% set image = item.mainImage.first() %}
                        {% if image %}
                            {# {% set mImg = craft.imager.transformImage(image,
                                [
                                    { width:560, height:560 },
                                ],
                                {
                                    format: 'jpg',
                                    allowUpscale: false,
                                    mode: 'crop',
                                    jpegQuality: 80,
                                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                                    interlace: true
                                }
                            ) %} #}
                            <div class="block_layer block_layer-bgImg" style="background-image: url({{ image.getUrl(tf560) }})"></div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="col col-12 col-md-7">
            <div class="calloutFeature_content section section-12">
                {% for item in currentCampus.connected %}
                    <div class="push-b-4">
                        {% if item.type == 'blockMain' %}
                            <h2 class="h3 push-b-4">{{ item.heading }}</h2>
                            <p class="linedLinks linedLinks-dark">{{ item.subHeading }}</p>
                        {% endif %}
                        {% if item.type == 'blockLink' %}
                            {% if item.actionLink is not empty %}
                                {% set link = item.actionLink %}
                                <p class="push-t-2"> <a href="{{link.url}}" {{ link.target ? ' target="_blank"' }} class="ctaLink"><span>{{ link.text }}</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a></p>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

