{% set tf360 = {
    mode: 'crop',
    width: 360,
    height: 360,
    quality: 85,
    position: 'center-center'
} %}
<section class="section section-12 section-contained bg-offwhite bg-topo-dark">
    <div class="container pull-md-t-32">
        <div class="row row-padded row-center grid grid-6">
            {% if craft.locale == 'mlo' %}
                {# {% if currentSeries %}
                    <div class="col col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <a href="{{ currentSeries.url }}" class="card_banner block">
                                <div class="ratio ratio-1x1"></div>
                                {% set hasImg = currentSeries.seriesImage|length ? true : false %}
                                {% if hasImg %}
                                    <div class="block_layer block_layer-bgImg" style="background-image: url({{ currentSeries.seriesImage[0].getUrl(tf360) }})"></div>
                                {% else %}
                                    <div class="block_layer titleCard_content bg-white bg-topo-dark">
                                        <svg class="icon icon-48 color-red" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-48-menlo"></use></svg>
                                    </div>
                                {% endif %}
                            </a>

                            <div class="card_content">
                                <div class="card_contentLabel">
                                    <span class="label label-text">Current Series</span>
                                </div>
                                <h2 class="h6"><a href="{{ currentSeries.url }}">{{ currentSeries.title }}</a></h2>
                                <p>{{ currentSeries.seriesDescription|trimit(120) }}</p>
                            </div>

                            <a href="{{ currentSeries.url }}" class="card_hoverCta button button-red"><span>Current Series</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a>
                        </div>
                    </div>
                {% endif %} #}
            {% endif %}
            {% include '/_partials/_features' with {features: currentCampus.featuredBlocks } %}
        </div>
        {% if craft.locale == 'mlo' and currentCampus.intro is not empty %}
            <div class="subtext linedLinks container container-8 pad-0 push-t-8 text-center">{{ currentCampus.intro }}</div>
        {% endif %}
    </div>
</section>