
{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}

    <section class="hero hero-media section section-20 section-contained block bg-text-dark color-white">
        {% set hasImg = currentCampus.pageBgImage|length ? true : false %}
        {% if hasImg %}
            {% set pimage = currentCampus.pageBgImage[0] %}
            {% set bgimage = craft.imager.transformImage(pimage, 
            [
                { width: 1600, ratio: 16/9 },
                { width: 450, ratio: 3/4 }
            ],{
                format: 'jpg',
                allowUpscale: false,
                mode: 'crop',
                jpegQuality: 80,
                position: pimage.focusPctX ~ '% ' ~ pimage.focusPctY ~ '%',
                interlace: true
            }) %}
            {% if craft.request.isMobileBrowser %}
                <div class="block_layer block_layer-bgImg" style="background-image: url({{ bgimage[0].url }})"></div>
            {% else %}
                <div class="block_layer block_layer-bgImg" style="background-image: url({{ bgimage[1].url }})"></div>
            {% endif %}
            <div class="block_layer block_layer-overlayRadial"></div>
        {% endif %}

        <div class="container push-lg-b-12">
            <div class="push-b-8" style="max-width: 222px">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 222.47 48"><path id="logo-text" d="M62.38,22.9,59,17.41H55.9v13h2.82V22l3.61,5.49h.08l3.65-5.54v8.47h2.82v-13h-3.1ZM76,25.12h6.12V22.59H76V20H82.9V17.41H73.12v13H83V27.84H76Zm19.65.28-6.08-8H86.89v13h2.82V22.14L96,30.38h2.43v-13H95.6Zm9.92-8H102.7v13H112v-2.6h-6.47Zm38,10.56A3.85,3.85,0,0,1,139.71,24s0-.1,0-.15h0a3.84,3.84,0,0,1,3.64-4h.13a4.79,4.79,0,0,1,3.34,1.42l1.82-2.1a6.69,6.69,0,0,0-5.11-2,6.59,6.59,0,0,0-6.76,6.42q0,.15,0,.3h0a6.59,6.59,0,0,0,6.5,6.67h.15a6.64,6.64,0,0,0,5.28-2.28l-1.82-1.84A4.71,4.71,0,0,1,143.48,28Zm16.88-5.38h-5.26V17.41h-2.82v13h2.82v-5.2h5.26v5.2h2.82v-13h-2.82Zm15.2,2.3c0,2.06-1.05,3.12-2.82,3.12s-2.82-1.09-2.82-3.2V17.41H167.1v7.42c0,3.82,2.13,5.76,5.65,5.76s5.65-1.88,5.65-5.85V17.41h-2.82Zm17.57-3.12h0c0-2.66-1.84-4.28-4.89-4.28h-5.93V30.38h2.82V26.23h2.24l2.82,4.15h3.33l-3.17-4.63a4,4,0,0,0,2.78-4Zm-2.89.15c0,1.09-.8,1.84-2.18,1.84h-2.89V20H188c1.39,0,2.24.63,2.24,1.88Zm29.39-4.47v5.14h-5.26V17.41h-2.82v13h2.82v-5.2h5.26v5.2h2.82v-13ZM202.76,28A3.85,3.85,0,0,1,199,24s0-.1,0-.15h0a3.84,3.84,0,0,1,3.64-4h.13a4.78,4.78,0,0,1,3.31,1.47l1.82-2.1a6.68,6.68,0,0,0-5.11-2A6.59,6.59,0,0,0,196,23.64q0,.15,0,.3h0a6.59,6.59,0,0,0,6.5,6.67h.15A6.59,6.59,0,0,0,208,28.29l-1.88-1.84A4.71,4.71,0,0,1,202.76,28ZM121,17.2a6.7,6.7,0,0,0-6.91,6.49q0,.11,0,.22h0a6.9,6.9,0,0,0,13.79,0h0a6.64,6.64,0,0,0-6.57-6.71Zm3.89,6.74a3.88,3.88,0,0,1-3.71,4H121a3.94,3.94,0,0,1-3.93-4s0-.08,0-.12h0a3.88,3.88,0,0,1,3.71-4H121a3.94,3.94,0,0,1,3.93,4S124.91,23.9,124.91,23.93Z"/><path id="logo-dot" d="M132.34,26.95a2,2,0,1,0,2,2,2,2,0,0,0-2-2Z" fill="#e84b37"/><path id="logo-mark" d="M36,36V13H30.25L24.5,22.58,18.75,13H13V36h5V21l6.5,10.21L31,21V36ZM48,16V0H0V48H48V32H43V43H5V5H43V16Z" fill="#e84b37"/></svg>
            </div>

            <h1 class="h1">{{ currentCampus.campusHeading|default('') }}</h1>
        </div>
    </section>

    {% include '_homepage/_features' %}

    {% if currentCampus.nextSteps %}
        {% set tf640 = {
            mode: 'crop',
            width: 640,
            height: 640,
            quality: 90,
            position: 'center-center'
        } %}
        <section>
            <div class="container container-full container-collapse">
                <div class="row row-center">
                {% for item in currentCampus.nextSteps %}
                    {% set hasImg = item.widgetImage|length ? true : false %}
                    <div class="col col-12 col-sm-6 col-md-4">
                        <div class="hoverCard hoverCard-hideTillHover ratio ratio-1x1 block bg-text color-white">
                            {% if hasImg %}
                                {% set pimage = item.widgetImage[0] %}
                                {# {% set bgimage = craft.imager.transformImage(pimage, 
                                [
                                    { width: 640, height: 640 }
                                ],{
                                    format: 'jpg',
                                    allowUpscale: false,
                                    mode: 'crop',
                                    jpegQuality: 80,
                                    position: pimage.focusPctX ~ '% ' ~ pimage.focusPctY ~ '%',
                                    interlace: true
                                }) %} #}
                                <div class="block_layer block_layer-bgImg" style="background-image: url({{ pimage.getUrl(tf640) }})"></div>
                            {% endif %}
                            <div class="block_layer block_layer-overlayAngled"></div>
                            <div class="block_layer block_layer-overlay"></div>

                            <div class="block_layer hoverCard_content">
                                <h2 class="h5">
                                    {% if item.widgetLink is not empty %}
                                        {% set link = item.widgetLink %}
                                        <a href="{{ link.url }}" {{ link.target ? ' target="_blank"' }}>{{ item.title }}</a>
                                    {% else %}
                                        {{ item.title }}
                                    {% endif %}
                                </h2>
                                <p>{{ item.widgetDescription|default() }}</p>
                                {% if item.widgetLink is not empty %}
                                    {% set link = item.widgetLink %}
                                    <p><a href ="{{ link.url }}" {{ link.target ? ' target="_blank"' }} class="ctaLink"><span>{{ link.text }}</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {% if currentCampus.footerCallToAction|length %}
        {% set cta = currentCampus.footerCallToAction.first() %}
        <section class="section section-20 section-contained pad-b-12 text-center">
            <div class="linemark linemark-top color-border"></div>

            <div class="container container-8">
                <h1 class="h2 push-b-4">{{ cta.heading }}</h1>
                <div class="subtext color-text-light linedLinks">{{ cta.description|default() }}</div>
                {% if cta.actionLink is not empty %}
                    <div class="push-t-4">
                        <div class="buttonGroup">
                            {% if cta.actionLink.url == "#modal-locations" %}
                                <a href="#"  class="button" data-modal="#modal-locations">{{ cta.actionLink.text }}</a>
                            {% else %}
                                <a href="{{ cta.actionLink.url }}" {{ cta.actionLink.target ? ' target="_blank"' }}  class="button">{{ cta.actionLink.text }}</a>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="push-t-4">
                        <div class="buttonGroup">
                            <a href="#" class="button" data-modal="#modal-contact">Contact Us</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    {% endif %}
    
