{% extends '/_modals/_modal' %}
{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}


{% block m_id %}modal-event-{{id}}{% endblock %}
{% block m_class %}modal-event{% endblock %}
{% set event = craft.venti.events().eid(id).first() %}

{% block m_body %}
    <div class="modal_section pad-b-0 text-center">
        <div class="tabs_tabs tabs_tabs-equal" data-tabs>
            <a href="#tab-{{id}}-details" class="tabs_tab -active" data-tab>Details</a>
            <a href="#tab-{{id}}-ask" class="tabs_tab" data-tab>Ask a Question</a>
        </div>
    </div>

    <div class="tabs_content" data-tabs-content>
        <div id="tab-{{id}}-details" class="tabs_pane -active" data-tabs-pane>
            <div class="modal_section">
                <div class="row row-middle push-b-4">
                    {% set cmp = {
                        'mlo': 'Menlo Church',
                        'mlo_park': 'Menlo Park',
                        'mlo_sj': 'San Jose',
                        'mlo_mv': 'Mountain View',
                        'mlo_st': 'Saratoga',
                        'mlo_sm': 'San Mateo',
                        'mlo_on': 'Menlo Online',
                    } %}
                                     
                    <div class="col col-12 col-sm-6">
                        <p class="smalltext color-text-light">{% if event.locale != "" %} {{ cmp[event.locale] }} <span class="sep"></span>{% endif %} <strong>{{ event.group.name }}</strong></p>
                    </div>
                    
                    <div class="col col-12 col-sm-6 text-sm-right">
                        {% include '/_partials/_share' with {text: event.title, default:true, url:event.url } %}
                    </div>
                </div>

                <h1 class="h3">{{ event.title }}</h1>
                {# <p class="push-t-1 color-text-light">Begins in 3 days 9 hrs 44 min</p> #}
            </div>
            {% set eventImageOrig = event.eventImage[0] ?? null %}
            {% if eventImageOrig %}
                {% set eventImage = craft.imager.transformImage( eventImageOrig, { width: 280, height: 280 } ) %}
                {% set bgImage = craft.imager.transformImage( eventImage, { effects: { blur: 9 } } ).url %}
            {% endif %}

            <div class="pad-4 block color-white">
                {% if eventImageOrig != null %}
                    <div class="block_layer block_layer-bgImg" style="background-image: url({{ bgImage }})"></div>
                {% endif %}
                <div class="block_layer block_layer-overlayRadial"></div>

                <div class="container container-full">
                    <div class="row row-center row-middle grid grid-4">
                        <div class="col col-8 col-md-5">
                            {% if eventImageOrig != null %}
                                <a href="{{ event.url }}"><img src="{{ eventImage.url }}" class="shadow" alt="{{ event.title }}"></a>
                            {% endif %}
                        </div>

                        <div class="col col-12 col-md-7">
                            <ul class="meta linedLinks linedLinks-dark">
                                <li><strong>When</strong>:
                                    {% if event.allDay %}
                                        All Day {{ event.startDate|date("D, M d Y") }}
                                    {% else %}
                                        {% if event.startDate|date('mdY') != event.endDate|date('mdy') %}
                                            {{ event.startDate|date("D, M d Y") }} - {{ event.endDate|date("D, M d Y") }}
                                        {% else %}
                                            {{ event.startDate|date("D, M d Y") }}
                                        {% endif %}
                                    {% endif %}
                                </li>
                                <li><strong>Time</strong>: {{ event.startDate|date("g:i a") }} – {{ event.endDate|date("g:i a") }}</li>
                                <li><strong>Where</strong>:
                                    {% if event.location|length %}
                                        <a href="{{ event.location[0].getMapUrl() }}" target="_blank" title="{{event.location[0].fullAddress()}}">
                                            {{ event.location[0].title }}
                                        </a>  
                                    {% endif %}
                                    {% if event.specificLocation is not empty %}
                                        ({{ event.specificLocation }})
                                    {% endif %}
                                </li>
                                {% if event.repeat == 1 %}
                                    <li><strong>Repeats</strong>: {{ event.summary }}</li>
                                {% endif %}
                                {% if event.eventCost|length %}
                                    <li><strong>Cost</strong>: 
                                        {% for item in event.eventCost %}
                                            {{ item.item }}{% if not loop.last %}; {% endif %}
                                        {% endfor %}
                                    </li>
                                {% endif %}
                                {% if event.childcare == 1 %}
                                    <li><strong>Childcare</strong>: Free childcare available</li>
                                {% endif %}
                                {% if event.registration is not empty and event.registration.type == "url" and event.registration.url != "" %}
                                    <li><a href="{{ event.registration.url }}">{{ event.registration.text|default('Register Today')}}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal_section">
                <div class="richText">
                    <p>{{ event.eventOverview }}</p>
                </div>

                <div class="push-t-4">
                    <div class="buttonGroup text-center">
                        {% if event.registration is not empty and event.registration.type == "url" and event.registration.url != "" %}
                            <a href="{{ event.registration.url }}" class="button button-red">Register Here</a>
                        {% endif %}
                        <a href="#tab-{{id}}-ask" class="button" data-tab>Ask a Question</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="tab-{{id}}-ask" class="tabs_pane" data-tabs-pane>
            <div class="modal_section pad-y-4 text-center">
                {% if event.eventContact|length %}
                    {% set contact = event.eventContact[0] %}
                    <p class="linedLinks">Contact {{ contact.title }} {% if contact.pPhoneNumber is not empty %}at <a href="tel:{{contact.pPhoneNumber}}">{{contact.pPhoneNumber}}</a>, or,  {% else %} by {% endif %} e-mail using the form below.</p>
                {% endif %}
            </div>

            <div class="modal_section bg-offwhite">
                <form class="form container container-5 pad-0" method="post" action="" accept-charset="UTF-8" novalidate>
                    {{ getCsrfInput() }}
                    <input type="hidden" name="action" value="contactForm/sendMessage">
                    <input type='hidden' name='subject' value="Event Question: {{ event.title }}" />
                    <input type="hidden" name="message[handle]" value="event-contact-request" />
                    <input type='hidden' name='message[event]' value="{{ event.title }}" />
                    <input type="text" id="descriptionMessage" name="descriptionMessage" value="" style="display:none;"  />
                    {% if event.eventContact|length %}
                        <input type='hidden' name='toEmail' value="{{ event.eventContact[0].pEmailAddress|hash }}" />
                    {% endif %}
                    <div class="floatLabel">
                        <input type="text" name="fromName" class="input-text" required>
                        <label>Full Name *</label>
                    </div>

                    <div class="floatLabel">
                        <input type="email" name="fromEmail" class="input-text" required>
                        <label>Email address</label>
                    </div>

                    <div class="floatLabel">
                        <input type="tel" name="message[phone]" class="input-text">
                        <label>Phone Number</label>
                    </div>

                    <h2 class="h5">How can we help?</h2>

                    <textarea class="input-textarea" name="message[body]" placeholder="I have a question about &ldquo;{{ event.title }}&rdquo; &hellip;" rows="4" required></textarea>

                    <button type="submit" class="button">
                        <span class='-send'>
                            <span>Send</span> 
                            {{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}
                        </span>
                        <span class='-sending'><svg class='icon icon-24 animate-rotate360' v-show="showSpinner"><use xlink:href='#icon-24-synchronize'></use></svg></span>
                        <span class='-sent'><span>Success</span></span>
                        <span class='-error'><span>Send Again</span></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}