{% extends '/_modals/_modal' %}
{% import '_macros/_icons' as icons %}
{% import '_macros/_form-contact' as form %}
{% set pageUri = craft.request.url|replace(siteUrl, '') %}

{% block m_id %}modal-contact{% endblock %}
{% block m_class %}modal-contact{% endblock %}

{% block m_body %}
    {{ form.contact(
        currentCampus.contactHeading,
        currentCampus.campusPhoneNumber,
        siteUrl ~ pageUri,
        currentCampus.campusContactSubjects,
        currentCampus.campusDefaultEmailAddress
    ) }}
{% endblock %}