{% extends '/_modals/_modal' %}

{% block m_id %}modal-series-promo{% endblock %}
{% block m_class %}modal-series-promo{% endblock %}

{% block m_body %}
    <div class="modal_section pad-b-4 text-center">
        {{ series.seriesPromo.embed({ width: 727, height: 408}) }}
    </div>
{% endblock %}