{% import '_macros/_icons' as icons %}
<div>
    <div id="modal-groups-search" :class="classObject" @click="closeModalFromBg">
        <div class="modal_window text-center">
            <button class="modal_close button-unstyled" @click="closeModal" ><svg class='icon icon-24'><use xlink:href='#icon-24-close'></use></svg><span class='srt'>Close Modal</span></button>

            <div class="modal_section pad-b-4">
                <h1 class="h3">Find Your Group</h1>
                <p class="push-t-2 linedLinks">Discover the perfect group for you using our <a href="#" @click.prevent="groupFinder">group finder tool</a> or, search by group or leader name below.</p>
                <a href="#" class="button button-red push-t-4" @click.prevent="groupFinder"><span>Group Finder</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a>
            </div>

            <div class="modal_section pad-y-4 bg-offwhite">
                <form class="searchBox iconInput iconInput-60" @submit.prevent="search" @keypress.enter.prevent="search" name="search">
                    <svg class="icon icon-24 "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-search"></use></svg>
                    <input type="search" name="q" placeholder="Search by keyword(s) …" v-model="query">
                    <button type="submit" class="button">Search</button>
                </form>
            </div>

            <div class="modal_section">
                <p class="linedLinks">Can’t find the group you’re looking for? <a href="#" data-modal="#modal-contact">Contact us</a>.</p>
            </div>
        </div>
    </div>
    <div class="modal_bg" v-if="isactive" @click="closeModal"></div>
</div>