{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
{% set campusTitles = {
    'mlo': 'Menlo Church',
    'mlo_park': 'Menlo Park',
    'mlo_sj': 'San Jose',
    'mlo_mv': 'Mountain View',
    'mlo_st': 'Saratoga',
    'mlo_sm': 'San Mateo',
    'mlo_sc': 'South City',
    'mlo_on': 'Menlo Online',
} %}

<div id="{% block m_id %}{% endblock %}" class="modal {% block m_class %}{% endblock %}" data-modal-window>
    <div class="modal_window">
        <button class="modal_close button-unstyled" data-modal-close>{{ icons.icon('close') }}{{ srt.srt('Close Modal') }}</button>

        {% block m_body %}{% endblock %}
    </div>
</div>