
{% import '_macros/_icons' as icons %}

{% set ids = craft.entries.sections('people').limit(null).ids() %}
{% set ministries = craft.entries.section('ministries').limit(null).relatedTo({sourceElement:ids}).locale(craft.locale).order("title ASC") %}
{% set departments = craft.entries.section('departments').limit(null).relatedTo({sourceElement:ids}).locale(craft.locale).order("title ASC") %}

{% set cmp = {
    'mlo': 'Menlo Church',
    'mlo_park': 'Menlo Park',
    'mlo_sj': 'San Jose',
    'mlo_mv': 'Mountain View',
    'mlo_st': 'Saratoga',
    'mlo_sm': 'San Mateo',
    'mlo_sc': 'South City',
    'mlo_on': 'Menlo Online',
} %}
<div class="modal_window text-center">
    <button class="modal_close button-unstyled" @click="closeModal" ><svg class='icon icon-24'><use xlink:href='#icon-24-close'></use></svg><span class='srt'>Close Modal</span></button>
    <div class="modal_section pad-b-4">
      <h1 class="h3">Find Someone</h1>
    </div>

    <div class="modal_section pad-y-4 bg-offwhite">
        <form class="searchBox iconInput iconInput-60" @submit.prevent="search" name="search">
            {{ icons.icon('search') }}
            <input type="search" name="q" placeholder="Search by keyword(s) …" required>
            <button type="submit" class="button">Search</button>
        </form>
    </div>

    <div class="modal_section">
        <h2 class="midline smalltext color-text-light push-b-4"><span>Or browse<strong> {{ cmp[craft.locale]}} by</strong></span></h2>

        <div class="row grid grid-2">
            <div class="col col-12 col-sm-6 col-md-6">
                <div class="iconInput">
                    <select class="input-select" @change="filter" name="ministry">
                        <option value="null">Ministry</option>
                        {% for item in ministries %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>

                    {{ icons.icon('view-module') }}
                </div>
            </div>

            <div class="col col-12 col-sm-6 col-md-6">
                <div class="iconInput">
                    <select class="input-select" @change="filter" name="department">
                        <option value="null">Department</option>
                        {% for item in departments %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>

                    {{ icons.icon('heart') }}
                </div>
            </div>
        </div>

        <p class="push-t-4 linedLinks">Can’t find who you’re looking for? <a href="#modal-contact">Contact us</a>.</p>
    </div>
</div>