{% extends '/_modals/_modal' %}
{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}

{% block m_id %}modal-serve-{{id}}{% endblock %}
{% block m_class %}modal-serve{% endblock %}
{% set campuses = {
    'mlo':'Menlo Church',
    'mlo_park': 'Menlo Park',
    'mlo_sm': 'San Mateo',
    'mlo_sj': 'San Jose',
    'mlo_st': 'Saratoga',
    'mlo_mv': 'Mountain View',
    'mlo_sc': 'South City',
    'mlo_on': 'Menlo Online',
} %}

{% block m_body %}
{% cache globally using key craft.request.path %}
    {% set serve = craft.entries.section('serve').id(id).first() %}
    <div class="modal_section pad-b-0 text-center">
        <div class="tabs_tabs tabs_tabs-equal" data-tabs>
            <a href="#tab-{{id}}-details" class="tabs_tab -active" data-tab>Details</a>
            <a href="#tab-{{id}}-ask" class="tabs_tab" data-tab>Ask a Question</a>
        </div>
    </div>

    <div class="tabs_content" data-tabs-content>
        <div id="tab-{{id}}-details" class="tabs_pane -active" data-tabs-pane>
            <div class="modal_section">
                <div class="row row-middle push-b-4">
                    <div class="col col-12 col-sm-8">
                        <p class="smalltext color-text-light">
                            <span>{{ campuses[serve.locale] }}</span>
                            {% if serve.serveTeams|length %}
                                <span class="sep"></span>
                                <strong>{{ serve.serveTeams[0].title }}</strong>
                            {% endif %}
                        </p>
                    </div>

                    <div class="col col-12 col-sm-4 text-sm-right">
                         {% include '/_partials/_share' with {text: serve.title, default:true, url:serve.url } %}
                    </div>
                </div>

                <h1 class="h3">{{ serve.title }}</h1>
                {# {% if serve.serveBegins is not empty %}<p class="color-text-light">Begins in  {{ serve.serveBegins|timeLeft }} </p>{% endif %} #}
            </div>

            <div class="pad-4 block color-white" style="height:360px;">
                {% set serveImageOrig = serve.serveImage[0] ?? null %}
                {% if serveImageOrig %}
                    {% set serveImage = craft.imager.transformImage( serveImageOrig, { width: 780, height: 360 } ) %}
                    {% set bgImage = craft.imager.transformImage( serveImage, { effects: { blur: 9 } } ).url %}
                {% endif %}
                {% if serveImageOrig != null %}
                    <div class="block_layer block_layer-bgImg" style="background-image: url({{ serveImage }})"></div>
                {% endif %}
                {# <div class="block_layer block_layer-overlayRadial"></div> #}
            </div>

            <div class="modal_section">
                <div class="container container-full">
                    <div class="row row-center row-middle grid">
                        <div class="col col-12 col-sm-12">
                            <ul class="meta linedLinks linedLinks-dark">
                                {% if serve.serveBegins is not empty %}
                                    <li><strong>When</strong>: {{ serve.serveBegins|date('M d, Y') }}</li>
                                {% endif %}
                                {% if serve.serveTimes is not empty %}
                                    <li><strong>Time</strong>: {{ serve.serveTimes }}</li>
                                {% endif %}
                                {% if serve.serveMeetingSchedule is not empty %}
                                    <li><strong>Repeats</strong>: {{ serve.serveMeetingSchedule }}</li>
                                {% endif %}
                                {% if serve.serveLocation|length %}
                                    <li><strong>Where</strong>:
                                        <a href="{{ serve.serveLocation[0].getMapUrl() }}" target="_blank">{{ serve.serveLocation[0].title }}</a>
                                        {% if serve.serveSpecificLocation is not empty %}
                                            ({{ serve.serveSpecificLocation}})
                                        {% endif %}
                                    </li>
                                {% endif %}
                                {% if serve.serveCost is not empty %}
                                    <li><strong>Cost</strong>: {{ serve.serveCost }}</li>
                                {% endif %}
                                {% if serve.serveChildcare is not empty %}
                                    <li><strong>Childcare</strong>: {{ serve.serveChildcare }}</li>
                                {% endif %}
                                {% if serve.serveWebsite is not empty %}
                                    {% set link = serve.serveWebsite %}
                                    <li><strong>Website</strong>: <a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
                                {% endif %}
                                {% if serve.serveRegistration is not empty %}
                                    {% set link = serve.serveRegistration %}
                                    <li><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="richText">
                    {{ serve.serveOverview|default('') }}
                </div>

                <div class="push-t-4">
                    <div class="buttonGroup text-center">
                        {% if serve.serveRegistration is not empty %}
                            {% set link = serve.serveRegistration %}
                            <a href="{{ link.url }}" class="button button-red" target="_blank">Sign Up</a>
                            {# <li><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li> #}
                        {% endif %}
                        <a href="#tab-{{id}}-ask" class="button" data-tab>Ask a Question</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="tab-{{id}}-ask" class="tabs_pane" data-tabs-pane>
            <div class="modal_section pad-y-4 text-center">
                {% if serve.serveContact|length %}
                    {% set contact = serve.serveContact[0] %}
                    <p class="linedLinks">Contact {{ contact.title }} {% if contact.pPhoneNumber is not empty %}at <a href="tel:{{contact.pPhoneNumber}}">{{contact.pPhoneNumber}}</a>, or,  {% else %} by {% endif %} e-mail using the form below.</p>
                {% endif %}
            </div>

            <div class="modal_section bg-offwhite">
                <form class="form container container-5 pad-0" method="post" action="" accept-charset="UTF-8">
                    {{ getCsrfInput() }}
                    <input type="hidden" name="action" value="contactForm/sendMessage">
                    <input type='hidden' name='subject' value="Serve Opportunity Question: {{ serve.title }}" />
                    <input type="hidden" name="message[handle]" value="serve-contact-request" />
                    <input type="hidden" name="message[serve]" value="{{ serve.title }}" />
                    <input type="text" id="descriptionMessage" name="descriptionMessage" value="" style="display:none;"  />
                    {% if serve.serveContact|length %}
                        <input type='hidden' name='toEmail' value="{{ serve.serveContact[0].pEmailAddress|hash }}" />
                    {% endif %}
                    <div class="floatLabel">
                        <input type="text" name="fromName" class="input-text" required>
                        <label>Full Name *</label>
                    </div>

                    <div class="floatLabel">
                        <input type="email" name="fromEmail" class="input-text" required>
                        <label>Email address</label>
                    </div>

                    <div class="floatLabel">
                        <input type="tel" name="message[phone]" class="input-text">
                        <label>Phone Number</label>
                    </div>

                    <h2 class="h5">How can we help?</h2>

                    <textarea class="input-textarea" name="message[body]" placeholder="I have a question about &ldquo;{{serve.title}}&rdquo; &hellip;" rows="4" required></textarea>

                    <button type="submit" class="button">
                        <span class='-send'>
                            <span>Send</span>
                            {{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}
                        </span>
                        <span class='-sending'><svg class='icon icon-24 animate-rotate360' v-show="showSpinner"><use xlink:href='#icon-24-synchronize'></use></svg></span>
                        <span class='-sent'><span>Success</span></span>
                        <span class='-error'><span>Send Again</span></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endcache %}
{% endblock %}
