{% extends '/_modals/_modal' %}
{% import '_macros/_icons' as icons %}
{% set pageUri = craft.request.url|replace(siteUrl, '') %}

{% block m_id %}modal-common-questions{% endblock %}
{% block m_class %}modal-common-questions{% endblock %}

{% block m_body %}
    <div class="modal_section pad-b-4">
        
        <h1 class="h3  text-center">{{ heading|default('') }}</h1>
        <p class="push-t-2 linedLinks  text-center">{{ subHeading|default('') }}</p>
            
        <div class="pad-t-4">
        <hr>
        {% for block in cc %}
            {% if block.type == "questions" %}
                <div class="pad-2">
                    <div>
                        <h2 class="h5 pad-b-1">{{ block.questionTitle|default() }}</h2>
                        <small>{{ block.question|default() }}</small>
                    </div>
                </div>
                {% if not loop.last %}<hr>{% endif %}
            {% endif %}
        {% endfor %}
        </div>
        <p class="text-center">
            <button class="button button-red" data-modal-close>OK,GOT IT</button>
        </p>
    </div>
{% endblock %}