<div>
    <div id="modal-groups-finder" :class="classObject" @click="closeModalFromBg">
        <div class="modal_window text-center">
            <button class="modal_close button-unstyled" @click="closeModal" ><svg class='icon icon-24'><use xlink:href='#icon-24-close'></use></svg><span class='srt'>Close Modal</span></button>
            <group-steps></group-steps>
        </div>
    </div>
    <div class="modal_bg" v-if="isactive" @click="closeModal"></div>
</div>