{% extends '/_modals/_modal' %}
{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}

{% block m_id %}modal-group-{{id}}{% endblock %}
{% block m_class %}modal-group{% endblock %}

{% block m_body %}
    {% set locale = craft.request.getParam('locale') %}
    {% cache globally using key craft.request.path %}
        {% set group = craft.entries.section('groups').id(id).first() %}
        {# {% set gCampus = craft.entries.section('campuses').locale('mlo').slug(locale).limit(1).first() %} #}
        {% include '/_groups/_details' with {group:group} %}
    {% endcache %}
{% endblock %}