
{% import '_macros/_icons' as icons %}

{% set ids = craft.entries.sections('messages').limit(null).ids() %}
{% set topics = craft.categories.group('messages').limit(null).relatedTo({sourceElement:ids}).order("title ASC") %}
{% set speakers = craft.entries.section('speakersAuthors').limit(null).relatedTo({sourceElement:ids}).order("title ASC") %}
{% set series = craft.entries.section('messageSeries').limit(null).relatedTo({sourceElement:ids}).order("title ASC") %}

<div class="modal_window text-center">
    <button class="modal_close button-unstyled" @click="closeModal" ><svg class='icon icon-24'><use xlink:href='#icon-24-close'></use></svg><span class='srt'>Close Modal</span></button>
    <div class="modal_section pad-b-4">
        <h1 class="h3">Find a Message</h1>
    </div>

    <div class="modal_section pad-y-4 bg-offwhite">
        <form class="searchBox iconInput iconInput-60" @submit.prevent="search" name="search">
            {{ icons.icon('search') }}
            <input type="search" name="q" placeholder="Search by keyword(s) …" required>
            <button type="submit" class="button">Search</button>
        </form>
    </div>

    <div class="modal_section pad-l-2 pad-r-2">
        <h2 class="midline smalltext color-text-light push-b-4"><span>Or <strong>filter by</strong></span></h2>

        <div class="row grid grid-2">
            <div class="col col-12 col-sm-6 col-md-3">
                <div class="iconInput">
                    <select class="input-select" @change="filter" name="series">
                        <option value="null">Series</option>
                        {% for item in series %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>

                    {{ icons.icon('view-module') }}
                </div>
            </div>

            <div class="col col-12 col-sm-6 col-md-3">
                <div class="iconInput">
                    <select class="input-select" @change="filter" name="topic">
                        <option value="null">Topic</option>
                        {% for item in topics %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>

                    {{ icons.icon('books') }}
                </div>
            </div>

            <div class="col col-12 col-sm-6 col-md-3">
                <div class="iconInput">
                    <select class="input-select" @change="filter" name="speaker">
                        <option value="null">Speaker</option>
                        {% for item in speakers %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>

                    {{ icons.icon('account-circle') }}
                </div>
            </div>

            <div class="col col-12 col-sm-6 col-md-3">
                <div class="iconInput">
                    <select class="input-select" @change="filter" name="year">
                        <option value="null">Year</option>
                        {% set minimumYear = 2010 %}
                        {% set currentYear = "now"|date("Y") %}   
                        {% for year in (currentYear)..minimumYear %}
                            <option value="{{year}}">{{year}}</option>
                        {% endfor %}
                    </select>

                    {{ icons.icon('calendar') }}
                </div>
            </div>
        </div>

        <p class="push-t-4 linedLinks">Can’t find who you’re looking for? <a href="#modal-contact">Contact us</a>.</p>
    </div>
</div>