{% extends '/_modals/_modal' %}
{% import '_macros/_icons' as icons %}

{% block m_id %}modal-search{% endblock %}
{% block m_class %}{% endblock %}

{% block m_body %}

        <div class="modal_section pad-b-4 text-center">
            <h1 class="h3">Find Something</h1>
        </div>

        <div class="modal_section pad-y-4 bg-offwhite">
            <form class="searchBox iconInput iconInput-60" method="POST" action="{{siteUrl}}search">
                {{ icons.icon('search') }}
                <input type="search" name="q" placeholder="Search by keyword(s) &hellip;" required>
                <button type="submit" class="button">Search</button>
            </form>
        </div>

        <div class="modal_section text-center">
            <h2 class="midline smalltext color-text-light push-b-4"><strong>Quicklinks</strong></h2>

            <div class="row grid grid-2">
                {% for item in currentCampus.campusQuicklinks %}
                    {% set link = item.actionLink %}
                    <div class="col col-12 col-sm-6"><a href="{{link.url}}" {{ link.target ? ' target="_blank"' }} class="button display-block">{{link.text}}</a></div>
                {% endfor %}
            </div>

            <p class="push-t-4 linedLinks">Can’t find what you’re looking for? <a href="#" data-modal="#modal-contact">Contact us</a>.</p>
        </div>

{% endblock %}