{% extends '/_modals/_modal' %}

{% block m_id %}modal-locations{% endblock %}
{% block m_class %}modal-locations{% endblock %}

{% block m_body %}
    <div class="modal_section pad-b-4 text-center linedLinks">
        <h1 class="h3">One Church, Many Locations</h1>
        <div class="push-t-2">
            {% if siteWideContent.locationsModalHeading is not empty %}
                {{ siteWideContent.locationsModalHeading }}
            {% else %}
                {# <p>
                    Any questions? Call our office at  <a href="tel:6503238600">650-323-8600</a>. 
                    <br>
                    Did you know we have an active Kids Ministry?<br>For details, choose a campus, then go to Connect > Kids.
                </p> #}
            {% endif %}
        </div>
        {# {% if currentCampus is defined and currentCampus.campusPhoneNumber is not empty %}
            <a href="tel:{{ currentCampus.campusPhoneNumber }}">{{ currentCampus.campusPhoneNumber }}</a>.
        {% endif %} #}
    </div>
    {% include '/_partials/_locations' %}
{% endblock %}
    
 