
{% import '_macros/_icons' as icons %}

{% set ids = craft.entries.sections('serve').limit(null).ids() %}
{% set teams = craft.entries.section('serveTeam').limit(null).relatedTo({sourceElement:ids}).order("title ASC") %}
{# {% set passions = craft.entries.section('servePassions').limit(null).relatedTo({sourceElement:ids}).order("title ASC") %} #}
{% set locations = craft.entries.section('serveAreas').limit(null).relatedTo({sourceElement:ids}).order("title ASC") %}

<div class="modal_window text-center">
    <button class="modal_close button-unstyled" @click="closeModal" ><svg class='icon icon-24'><use xlink:href='#icon-24-close'></use></svg><span class='srt'>Close Modal</span></button>
    <div class="modal_section pad-b-4">
        <h1 class="h3">Find Your Spot</h1>
    </div>

    <div class="modal_section pad-y-4 bg-offwhite">
        <form class="searchBox iconInput iconInput-60" @submit.prevent="search" name="search">
            {{ icons.icon('search') }}
            <input type="search" name="q" placeholder="Search by keyword(s) …" required>
            <button type="submit" class="button">Search</button>
        </form>
    </div>

    <div class="modal_section">
        <h2 class="midline smalltext color-text-light push-b-4"><span>Or <strong>filter by</strong></span></h2>

        <div class="row grid grid-2">
            <div class="col col-12 col-sm-6 col-md-6">
                <div class="iconInput">
                    <select class="input-select" @change="filter" name="teams">
                        <option value="null">Teams</option>
                        {% for item in teams %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>

                    {{ icons.icon('view-module') }}
                </div>
            </div>

            {# <div class="col col-12 col-sm-6 col-md-4">
                <div class="iconInput">
                    <select class="input-select" @change="filter" name="passion">
                        <option value="null">Passion</option>
                        {% for item in passions %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>

                    {{ icons.icon('heart') }}
                </div>
            </div> #}

            <div class="col col-12 col-sm-6 col-md-6">
                <div class="iconInput">
                    <select class="input-select" @change="filter" name="areas">
                        <option value="null">Area</option>
                        {% for item in locations %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>

                    {{ icons.icon('location-pin') }}
                </div>
            </div>
        </div>

        <p class="push-t-4 linedLinks">Can’t find who you’re looking for? <a href="#modal-contact">Contact us</a>.</p>
    </div>
</div>