{% extends '/_modals/_modal' %}
{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}

{% block m_id %}modal-person-{{id}}{% endblock %}
{% block m_class %}modal-person{% endblock %}

{#{% cache globally using key "message-" ~ id for 1 day %}#}

{% block m_body %}
    {% cache globally using key craft.request.path %}
    {% set person = craft.entries({
        section: 'people',
        id: id,
        with:['profileImage']
    }).first() %}
    <div class="modal_section pad-b-0 text-center">
        <div class="tabs_tabs tabs_tabs-equal" data-tabs>
            <a href="#tab-{{id}}-about" class="tabs_tab -active" data-tab>About</a>
            {% if person.pEmailAddress is not empty %}
                <a href="#tab-{{id}}-contact" class="tabs_tab" data-tab>Contact</a>
            {% endif %}
        </div>
    </div>

    <div class="tabs_content" data-tabs-content>
        <div class="modal_person">
            <div class="person ratio ratio-1x1 ratio-lg-2x3 block">
                {% set hasImg = person.profileImage|length ? true : false %}
                {% if hasImg %}
                    {% set pimage = person.profileImage[0] %}
                    {% set tf235x352 = {
                        mode: 'crop',
                        width: 235,
                        height: 352,
                        quality: 100,
                        position: 'center-center'
                    } %}
                    {# {% set profileImage = craft.imager.transformImage(pimage, 
                    [
                        { width: 235, height: 352 }
                    ],{
                        format: 'jpg',
                        allowUpscale: false,
                        mode: 'crop',
                        jpegQuality: 80,
                        position: pimage.focusPctX ~ '% ' ~ pimage.focusPctY ~ '%',
                        interlace: true
                    }) %} #}

                    <div class="block_layer block_layer-bgImg" style="background-image: url({{ pimage.getUrl(tf235x352) }})"></div>
                    <div class="person_fade block_layer"></div>  
                {% else %}
                    {{ icons.icon('menlo', 48, 48, 'block_icon color-border') }}
                {% endif %}

                <div class="person_content block_layer">
                    <ul class="person_social">
                        {% if person.pSocialLinks is not empty %}
                            {% include '_partials/_social-items' with {links: person.pSocialLinks, email: person.pEmailAddress } %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div id="tab-{{id}}-about" class="tabs_pane -active" data-tabs-pane>
            <div class="modal_section">
                <p class="smalltext color-text-light push-b-2">Meet Our Team</p>

                <div class="push-b-4">
                    <h1 class="h3">{{ person.title }}</h1>
                    <p class="push-t-1 color-text-light">{{ person.professionalTitle }}</p>
                </div>

                <div class="richText">
                    {{ person.bio }}
                </div>

                <div class="push-t-4">
                    <div class="buttonGroup buttonGroup-left">
                        <button class="button" data-modal-close>Ok, Got It</button>
                    </div>
                </div>
            </div>
        </div>
        {% if person.pEmailAddress is not empty %}
            <div id="tab-{{id}}-contact" class="tabs_pane" data-tabs-pane>
                <div class="modal_section pad-y-4 text-center">
                    <p class="linedLinks">{% if person.pPhoneNumber is not empty %}Contact {{person.title}} at <a href="tel:{{ person.pPhoneNumber}} ">{{ person.pPhoneNumber }}</a> or email using the form below.{% endif %}</p>
                </div>

                <div class="modal_section bg-offwhite">
                    <form class="form container container-5 pad-0" method="post" action="" accept-charset="UTF-8" novalidate>
                        <div class="floatLabel">
                            <input type="text" class="input-text" name="fromName" required>
                            <label>Full Name *</label>
                        </div>

                        <div class="floatLabel">
                            <input type="email" class="input-text" name="fromEmail" required>
                            <label>Email address</label>
                        </div>

                        <div class="floatLabel">
                            <input type="tel" class="input-text" name="message[phone]">
                            <label>Phone Number</label>
                        </div>

                        <h2 class="h5">How can we help?</h2>

                        <textarea class="input-textarea" placeholder="Questions &amp; Comments &hellip;" rows="4" name="message[body]" required></textarea>

                        <button type="submit" class="button">
                            <span class='-send'>
                                <span>Send</span> 
                                {{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}
                            </span>
                            <span class='-sending'><svg class='icon icon-24 animate-rotate360' v-show="showSpinner"><use xlink:href='#icon-24-synchronize'></use></svg></span>
                            <span class='-sent'><span>Success</span></span>
                            <span class='-error'><span>Send Again</span></span>
                        </button>
                        {{ getCsrfInput() }}
                        <input type="hidden" name="action" value="contactForm/sendMessage"/>
                        <input type='hidden' name='subject' value="Contact Question: {{ person.title }}" />
                        <input type='hidden' name='message[handle]' value="contact-person"/>
                        <input type="text" id="descriptionMessage" name="descriptionMessage" value="" style="display:none;"  />
                        <input type='hidden' name='toEmail' value="{{ person.pEmailAddress|hash }}" />
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
    {% endcache %}
{% endblock %}