{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
{% set item = craft.entries.section('notifications').id(id).first() %}
<div id="modal-notification-{{id}}" class="modal notification-viewed" data-modal-window data-notify-id="{{ id }}">
    <div class="modal_window">
        <button class="modal_close button-unstyled" data-modal-close>{{ icons.icon('close') }} {{ srt.srt('Close Modal') }}</button>

        <div class="modal_section">
            <p class="smalltext color-text-light">Added <strong>{{ item.postDate|timeagoinwords }} ago</strong></p>
            <h1 class="h3 push-">{{ item.title }}</h1>

            <div class="richText push-t-4">
                {# VIDEO #}
                <p>{{ item.notificationDescription|default('😀') }}</p>
            </div>

            <div class="push-t-4">
                <div class="buttonGroup buttonGroup-left">
                    <!-- putting this in .buttonGroup allows for proper styling if more than one button -->
                    <a href="{{siteUrl}}/find-a-group" class="button">Find a Group</a>
                    <a href="# notification-viewed" class="button button-red" data-modal-close data-notify-id="{{ id }}">Ok, Got It</a>
                </div>
            </div>
        </div>
    </div>
</div>