{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
{% set nav = craft.amNav.getNavRaw("main") %}
{% set fnav = craft.amNav.getNavRaw("footer") %}

{% macro addNodeToNavigation(node, index) %}
    {% import '_macros/_icons' as icons %}
    {% import '_macros/_srt' as srt %}
    {#{%- set nodeClasses = [] -%}
    {%- if node.hasChildren -%}
        {%- set nodeClasses = nodeClasses|merge(['has-submenu']) -%}
    {%- endif -%}
    {%- if node.active or node.hasActiveChild -%}
        {%- set nodeClasses = nodeClasses|merge(['active']) -%}
    {%- endif -%}
    {%- if node.level == 1 and index == 1 -%}
        {%- set nodeClasses = nodeClasses|merge(['first']) -%}
    {%- endif -%}
    {%- if node.listClass|length -%}
        {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
    {%- endif -%}#}

    <li>
        <a href="{{ node.url }}" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
        {% if node.hasChildren %}
            <a href="#modal-nav-submenu-{{index}}" data-collapse data-group="modal-nav-submenus">{{ icons.icon('navigation-show-more') }}{{ srt.srt('Expand Menu') }}</a>
            <ul id="modal-nav-submenu-{{index}}" class="collapse">
                {% for subnode in node.children %}
                    {{ _self.addNodeToNavigation(subnode, loop.index) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<div id="modal-nav" class="modal" data-modal-window>
    <div class="modal_window">
        <button class="modal_close button-unstyled" data-modal-close>{{ icons.icon('close') }}{{ srt.srt('Close Modal') }}</button>
        <div class="modal_section pad-y-4">
            {% include '/_partials/_logo' %}
        </div>

        <div class="modal_section pad-y-4 bg-offwhite">
            <form class="searchBox iconInput iconInput-60" method="POST" action="/search">
                {{ icons.icon('search') }}
                <input type="search" name="q" placeholder="Search by keyword(s) &hellip;" required>
                <button type="submit" class="button">Search</button>
            </form>
        </div>
        <ul class="modal_menu">
            
            <li><a href="#" data-modal="#modal-locations">Locations</a></li>
            {% for node in nav %}
                {{ _self.addNodeToNavigation(node, loop.index) }}
            {% endfor %}
            {% for node in fnav %}
                {{ _self.addNodeToNavigation(node, loop.index) }}
            {% endfor %}
            <li><a href="#" data-modal="#modal-contact">Contact</a></li>
            <li><a href="https://mppc.formstack.com/forms/menlo_prayer_requests" target="_blank">Prayer Requests</a></li>
        </ul>


        <div class="pad-4 bg-red color-white text-center">
            <div class="socialIcons socialIcons-24 socialIcons-hoverColorBrand">
                {% if siteWideContent.socialLinks|length %}
                    {% include '_partials/_social-items' with { links: currentCampus.socialLinks[0] } only %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
