<script type="text/x-template" id='event-search-template'>
    <div>
        <section class="section" v-show="searchview">
            <div class="container">
                <div class="section_header">
                    <div class="buttonGroup">
                        <a href="#" class="button button-red" @click="searchEvents">Search Again</a>
                        <a href="#" class="button" @click="backToList()">Back to events</a>
                    </div>
                </div>

                <h2 class="midline smalltext color-text-light push-b-4">
                    <span class="pad-l-0 bg-offwhite">
                        ${events.length} Results for &ldquo;<strong>${searchQuery}</strong>&rdquo; in ${campuses}
                    </span>
                </h2>
                <loader :id="'search'" :query="this.searchQuery"></loader>
                <div class="events">
                    <month-list-event v-for="event in listevents" :event="event" :key="event.eid"></month-list-event>
                </div>
            </div>
        </section>
        <event-search-modal></event-search-modal>
    </div>
</script>