{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
<script type="text/x-template" id='list-event-template'>
<transition name="slide-fade">
<div :id="id" :class="classLIObject">
    <a :href="link" class="block_layer"></a>

    <a :href="link" class="events_date" :style="styleLabelObject">
        <div class="events_thumb" v-if="event.eventImage !== ''" :style="bgStyleObject"></div>
        <span class="events_day h5">${ day }</span>
        <span class="events_month smalltext" v-if="!issearchview">${ month }</span>
        <span class="events_month smalltext" v-if="issearchview">${ month } ${year}</span>
    </a>

    <div class="events_details">
        <p class="smalltext color-text-light"><strong>${campus}</strong></p>
        <h2 class="h5">
            <a :href="link">${event.title}</a>
        </h2>
        <p>${ times }</p>
    </div>

    <div class="events_actions events_actions-hasLabel">
        <span class="label" :style="styleLabelObject">${event.group}</span>
        <a :href="event.register" class="events_register button button-to-red" v-if="event.register">Register</a>
        <a :href="event.location.mapUrl" class="events_location button button-to-red" v-if="event.location.mapUrl">{{ srt.srt('Location') }} {{ icons.icon('location-pin') }}</a>
    </div>
</div>
</transition>
</script>