<script type="text/x-template" id='search-modal-template'>
    <div>
        <div :class="classObject" @click="closeModalFromBg">
            <div class="modal_window text-center">
                <button class="modal_close button-unstyled" @click="closeModal" ><svg class='icon icon-24'><use xlink:href='#icon-24-close'></use></svg><span class='srt'>Close Modal</span></button>

                <div class="modal_section pad-b-4">
                    <h1 class="h3">Find an Event</h1>
                    <p class="push-t-2 linedLinks">You’re searching ${selectedCampus} <span v-if="selectedCampus !== 'All Campuses' ">campus</span>.</p>
                    <div class="linedLinks position-relative">
                        <a href="#modal-locations-dropdown" data-collapse><small>Change Campus</small></a>
                        <div id="modal-locations-dropdown" class="locationsDropdown collapse">
                            <ul class="locationsButtons">
                                <calendar-campus v-for="campus in campuses" v-if="campus.slug === currentCampus || campus.slug === 'null'"  :campus="campus" :key="campus.id"></calendar-campus>
                                <calendar-campus :campus="allCampuses" :key="allCampuses.id"></calendar-campus>
                            </ul>
                            <button class="locationsDropdown_close button button-red push-t-4 push-b-2">Ok, Done</button>
                        </div>
                    </div>
                </div>

                <div class="modal_section pad-y-4 bg-offwhite">
                    <form class="searchBox iconInput iconInput-60" @submit.prevent="search" name="search">
                        <svg class="icon icon-24 "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-search"></use></svg>
                        <input type="search" name="q" placeholder="Search by keyword(s) …" v-model="query">
                        <button type="submit" class="button">Search</button>
                    </form>
                </div>

                <div class="modal_section">
                    <p class="linedLinks">Can’t find who you’re looking for? <a href="#" data-modal="#modal-contact">Contact us</a>.</p>
                </div>
            </div>
        </div>
        <div class="modal_bg" v-if="isactive" @click="closeModal"></div>
    </div>
</script>