/**
 * Icon
 */

@mixin icons() {
    $sizes: 16, 24, 48, 72, 96, 100, 120, 198;

    @each $size in $sizes {
       .icon-#{$size} { width: #{$size}px; height: #{$size}px; }
    }
}

.icn {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

@include icons();
