{% import "_includes/forms" as forms %}

{% includeJsResource "emailtemplates/dist/emailtemplates.js" %}
{% includeCssResource "emailtemplates/dist/emailtemplates.css" %}

{% includeCssResource "lib/redactor/redactor.css" %}
{% includeJsResource "lib/redactor/redactor.js" %}

{# <input type="hidden" name="redirect" value="{{ craft.plugins.getPlugin('emailtemplates').getSettingsUrl }}" /> #}

<div id="emailtemplates">
    <div class="templates">
        {% if settings.templates|length %}
            {% for item in settings.templates %}
                {% set idx = loop.index0 %}
                <div data-template='{{ idx }}'>
                    <h2>{{ item.title }}:</h2>
                    <small class="handle"><strong>{{ item.handle }}</strong></small>
                    <div class="pane message" data-key="person_contact">
                        <div class="closer">
                            <svg height="16px" version="1.1" viewBox="0 0 16 16" width="16px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs></defs><g id="Page-1" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g id="close.3.3.1"><g id="Group"><g id="Filled_Icons_1_" fill="#CBCBCC"><g id="Filled_Icons"><path d="M15.81248,14.90752 L9.22496,8.32 L15.81184,1.73248 C16.06208,1.48288 16.06208,1.07776 15.81184,0.82752 C15.5616,0.57728 15.15712,0.57728 14.90688,0.82752 L8.32,7.41504 L1.73184,0.82688 C1.4816,0.57728 1.07712,0.57728 0.82688,0.82688 C0.57664,1.07712 0.57664,1.4816 0.82688,1.73184 L7.41504,8.32 L0.82688,14.90816 C0.57728,15.15776 0.57664,15.56352 0.82688,15.81312 C1.07712,16.06336 1.48224,16.06272 1.73184,15.81312 L8.32,9.22496 L14.90752,15.81184 C15.15712,16.06208 15.56224,16.06208 15.81248,15.81184 C16.06272,15.56224 16.06208,15.15712 15.81248,14.90752 L15.81248,14.90752 Z" id="Shape"></path></g></g><g id="Invisible_Shape" transform="translate(0.640000, 0.640000)"><rect height="15.36" id="Rectangle-path" width="15.36" x="0" y="0"></rect></g></g></g></g></svg>
                        </div>
                        {# <div class="subject">{{ item.subject }}</div> #}
                        <div class="body">
                            {{ item.template|raw }}
                        </div>
                    </div>
                    <input type="hidden" name="templates[{{idx}}][title]" value="{{ item.title }}" />
                    <input type="hidden" name="templates[{{idx}}][handle]" value="{{ item.handle }}" />
                    {# <input type="hidden" name="templates[{{idx}}][subject]" value="{{ item.subject }}" /> #}
                    <input type="hidden" name="templates[{{idx}}][template]" value="{{ item.template }}" />
                </div>
            {% endfor %}
        {% else %}
            <h2> There are currently no templates. Create one!</h2>
        {% endif %}
    </div>
</div>
<hr>
<h2>Add New Template</h2>
{% set idx = settings.templates|length ? settings.templates|length : '0' %}
{{ forms.textField({
    first:        true,
    label:        "Title"|t,
    instructions: ""|t,
    id:           'templates-title',
    name:         'templates['~ idx ~'][title]',
    autofocus:    true,
    errors:       settings.getErrors('title')
}) }}
{{ forms.textField({
    first:        false,
    label:        "Handle"|t,
    instructions: "Use this handle to reference this template in your forms."|t,
    id:           'templates-handle',
    name:         'templates['~ idx ~'][handle]',
    autofocus:    false,
    errors:       settings.getErrors('id')
}) }}
{# {{ forms.textField({
    first:        false,
    label:        "Subject"|t,
    instructions: "This subject will be appended to the email."|t,
    id:           'templates-subject',
    name:         'templates['~ idx ~'][subject]',
    autofocus:    false,
    errors:       settings.getErrors('subject')
}) }} #}
{{ forms.textareaField({
    label:        "Template"|t,
    instructions: "Email template using twig brackets"|t,
    id:           'templates-template',
    class:        'templates-template',
    name:         'templates['~ idx ~'][template]',
    col: 50,
    rows: 15,
    errors:        settings.getErrors('template')
}) }}

{% includejs "window.slugGenerator = new Craft.SlugGenerator('#settings-templates-title', '#settings-templates-handle');" %}

{% includejs %}

	(function() {
	    $('.templates-template').redactor({
			buttons: ['source','format','bold','italic','lists','link'],
			plugins: ['fullscreen','source'],
			toolbarFixedBox: true
	    });
	})();

{% endincludejs %}