{# ##### Cache exemption ##### #}
{% set cacheExempt = false %}
{# Exempt certain pages 
{% set cacheExemptSegments = [] %}
{% if craft.request.getSegment(1) in cacheExemptSegments %}
    {% set cacheExempt = true %}
{% endif %}#}
{% if craft.request.getParam('q') %}
  {% set cacheExempt = true %}
{% endif %}
{% if entry is defined and (entry.type.handle == "redirectPerCampus" or entry.type.handle == "redirect") %}
    {% set cacheExempt = true %}
{% endif %}
{# Also exempt pages with non-200 OK status codes #}
{% if craft.retour.getHttpStatus != 200 %}
    {% set cacheExempt = true %}
{% endif %}
{# Add any cache exemption conditions #}
{% cache globally using key craft.request.path unless cacheExempt %}
{% minify html %} 
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<title>Menlo Easter 2020</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="icon" href="/assets/easter/i/favicon.png" type="image/x-icon">
				<!-- Bootstrap 4.3.1 CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Fancybox 3 jQuery plugin CSS (Open images and video in popup) -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
		<!-- AOS 2.3.4 jQuery plugin CSS (Animations) -->
		<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
		<!-- FontAwesome CSS -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<!-- Startup 3 CSS (Styles for all blocks) -->
		<link href="/assets/easter/css/style.css" rel="stylesheet" />
		<!-- jQuery 3.3.1 -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<meta name="robots" content="noindex, nofollow">
			</head> 
	<body>
<!-- Navigation Mobile type 1 -->

<a href="#" class="open_menu bg-light radius_full"><i class="fas fa-bars lh-40"></i></a>
<div class="navigation_mobile bg-dark type1">
	<a href="#" class="close_menu color-white"><i class="fas fa-times"></i></a>
	<div class="px-40 pt-60 pb-60 inner">
		<div class="logo color-white mb-30">
			<a href="{{ siteUrl }}" target="_blank">
			<img src="/assets/easter/i/img_logo_white.png" srcset="/assets/easter/i/img_logo_white@2x.png 2x" alt=""Menlo Church />
			</a>
		</div>
							
						<div><a href="#locations" class="f-heading f-22 link color-white mb-20">online times</a></div>		
						<div><a href="#invite" class="f-heading f-22 link color-white mb-20">invite your friends</a></div>
						<div><a href="#offering" class="f-heading f-22 link color-white mb-20">covid-19 easter offering</a></div>
						<div><a href="{{ siteUrl }}home" target="_blank" class="f-heading f-22 link color-white mb-20">enter menlo.church</a></div>	
						
					<div class="socials mt-40">
						<a href="https://www.facebook.com/menlochurch" target="_blank" class="link color-white f-18 mr-20"><i class="fab fa-facebook"></i></a>
						<a href="https://instagram.com/menlo.church" target="_blank" class="link color-white f-18 mr-20"><i class="fab fa-instagram"></i></a>
					</div>
		
		<div class="mt-50 f-14 light color-white op-3 copy">&copy; 2020 MENLO.CHURCH</div>
	</div>
</div>
<!-- Header 1 -->

<header class="pt-195 pb-110 bg-light header_01">
<style>
	.header_01{background-image:url(/assets/easter/i/easter-headerv2.jpg);
	}
	@media(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){
		.call_to_action_22{background-image:url(/assets/easter/i/easter-headerv2.jpg);}
	}
</style>

<!-- Header Menu 1 -->

	<nav class="header_menu_1 pt-30 pb-30 mt-30">
		<div class="container px-xl-0">
			<div class="row justify-content-center align-items-center f-18 medium">
				<div class="col-lg-3 logo" data-aos-duration="700" data-aos="fade-up" data-aos-delay="1400"><a href="/" target="_blank"><img src="/assets/easter/i/img_logo_black.png" srcset="/assets/easter/i/img_logo_black@2x.png 2x" alt=""Menlo Church /></a>
				</div>
				<div class="col-lg-6 text-center">
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-end align-items-center" data-aos-duration="700" data-aos="fade-up" data-aos-delay="1400">

					<a href="{{ siteUrl }}home" target="_blank" class="btn" style="color: #3235c1;">enter menlo.church</a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container" id="hero">
		<div class="mb-3 logo d-block d-xl-none text-center logo_mobile"></div>
		<h1 class="big text-left mb-80" data-aos-duration="700" data-aos="fade-up" data-aos-delay="350" style="color: #2b366a;">Join us <br />for Easter at <br />Menlo Church<span style="color: #f22c31;">.</span></h1>
		<div class="container px-xl-0">
		<div class="row justify-content-center text-center">
			<div class="col-xl-9 col-lg-10 mb-30">
				<h3 class="text-center" data-aos-duration="700" data-aos="fade-up" data-aos-delay="350" style="color: #3235c1;">Everybody's Welcome!</h3>
			</div>
				<div class="col-md-7 col-sm-8" data-aos-duration="700" data-aos="fade-up" data-aos-delay="700">
							<div class="f-22 text-adaptive mb-60" style="color: #2b366a;">
							We can’t wait to celebrate together! Even though we'll all be at our homes, it's still going to be a great time of worship as a community! We have lots of fun and great music planned + we're going to kick-off a new sermon series! Invite your friends to join you online.<br />
							<br />
							<strong>Be sure to jump online 5 minutes before services start for a fun countdown with bonus content!</strong>
							</div>
							<div class="f-22 text-adaptive mb-60" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
								<img src="/assets/easter/i/3dots.png" srcset="/assets/easter/i/3dots@2x.png 2x" class="img-fluid radius10" alt="three dots" />
							</div>
				</div>
			</div>
		</div>
	</div>
		
	</div>
</header>
<!-- Showcase 5 -->

<section class="pt-105 pb-100" id="locations" style="background-color:#BDDDE8;">
	<style>
		.showcase_5{background: #BDDDE8 !important;
		}
		@media(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){
			.showcase_5{background: #BDDDE8 !important;}
		}
	</style>
	<div class="container px-xl-0">
		<div class="row justify-content-center text-center color-white">
			<div class="col-xl-9 col-lg-10">
				<h3 class="text-center mb-60" data-aos-duration="700" data-aos="fade-up" data-aos-delay="350" style="color: #3235c1;">Easter is Online</h3>
			</div>
			<div class="col-md-7 col-sm-8" data-aos-duration="700" data-aos="fade-up" data-aos-delay="700">
							<div class="f-22 text-adaptive mb-60" style="color: #2b366a;">
								<h4>Palm Sunday</h4>
								<div>April 5 at 8:30, 10, 11:30am, 1, 2:30, 4, 5:30, 7pm</div>
								<div class="text-adaptive mt-10">
									<a class="btn sm action-1" href="https://menlo.online.church/"  target="_blank">Online Church</a>
									<a class="btn sm action-1" href="https://www.youtube.com/channel/UCtsi33WCfZd0n9CmK_rUAfA?view_as=subscriber"  target="_blank">Service on Demand</a>
								</div>
							</div>
							<div class="f-22 text-adaptive mb-60" style="color: #2b366a;">
								<h4>Good Friday – Live</h4>
								<div>April 10 at 7pm</div>
								<div class="text-adaptive mt-10"><a class="btn sm action-1" href="https://menlo.online.church/"  target="_blank">Online Church</a>
								</div>
							</div>
							<div class="f-22 text-adaptive mb-60" style="color: #2b366a;">
								<h4>Easter Sunday</h4>
								<div>April 12 at 8:30, 10, 11:30am, 1, 2:30, 4, 5:30, 7pm</div>
								<div class="text-adaptive mt-10">
									<a class="btn sm action-1" href="https://menlo.online.church/"  target="_blank">Online Church</a>
									<a class="btn sm action-1" href="https://www.youtube.com/channel/UCtsi33WCfZd0n9CmK_rUAfA?view_as=subscriber"  target="_blank">Service on Demand</a>
								</div>
							</div>
							<div class="f-22 text-adaptive mb-60" style="color: #2b366a;">
								<h4>Menlo Kids Online</h4>
								<div>Check out our video experiences and Easter activity sheet</div>
								<div class="text-adaptive mt-10"><a class="btn sm action-1" href="http://menlo.church/kidsonline"  target="_blank">Kids Experience</a>
								</div>
							</div>
				</div>
		</div>
		
	</div>
</section>

<!-- Feature 21 -->
<style>
	.feature_21{background-image:url(/assets/easter/i/invitebg@2x.png);
	}
</style>
<section id="invite" class="pt-105 pb-30 color-white feature_21">
	<div class="container px-xl-0">
		<div class="row justify-content-center align-items-center">
			<div class="col-xl-8 col-lg-10 mb-60" data-aos-duration="700" data-aos="fade-up" data-aos-delay="0">
				<div class="f-22 text-center mb-30" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
								<img src="/assets/easter/i/3dots.png" srcset="/assets/easter/i/3dots@2x.png 2x" class="img-fluid radius10" alt="three dots" />
							</div>
				<h3 class="text-center">Invite your friends</h3>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="mb-30 col-xl-3 col-lg-4 col-sm-6 block">
				<div class="mb-10 f-14 semibold sp-20 title"><h4>Facebook / Instagram</h4></div>
				<div class="text-center mb-20">
					<a href="/assets/easter/i/Menlo_Easter_2020_Social.jpg">
					<img src="/assets/easter/i/Menlo_Easter_2020_Social.jpg" srcset="/assets/easter/i/Menlo_Easter_2020_Social.jpg 2x" class="img-fluid" alt="" />
					</a>
				</div>
				
				<div class="text-adaptive">
					<a href="/assets/easter/i/Menlo_Easter_2020_Social.jpg" class="download">Download JPG</a>
				</div>
			</div>
			<div class="mb-30 col-xl-3 col-lg-4 col-sm-6 block">
				<div class="mb-10 f-14 semibold sp-20 title"><h4>Facebook / Instagram</h4></div>
				<div class="text-center mb-20">
					<a href="/assets/easter/i/Menlo_Easter_2020_Social2.jpg">
					<img src="/assets/easter/i/Menlo_Easter_2020_Social2.jpg" srcset="/assets/easter/i/Menlo_Easter_2020_Social2.jpg 2x" class="img-fluid" alt="" />
					</a>
				</div>
				
				<div class="text-adaptive">
					<a href="/assets/easter/i/Menlo_Easter_2020_Social2.jpg" class="download">Download JPG</a>
				</div>
			</div>
			<div class="mb-30 col-xl-3 col-lg-4 col-sm-6 block">
				<div class="mb-10 f-14 semibold sp-20 title"><h4>Instagram Story</h4></div>
				<div class="text-center mb-20">
					<a href="/assets/easter/i/Menlo_Easter_IGstory.jpg">
					<img src="/assets/easter/i/Menlo_Easter_IGstory.jpg" srcset="/assets/easter/i/Menlo_Easter_IGstory.jpg 2x" class="img-fluid" alt="" />
					</a>
				</div>
				
				<div class="text-adaptive">
					<a href="/assets/easter/i/Menlo_Easter_IGstory.jpg" class="download">Download JPG</a>
				</div>
			</div>
			<div class="mb-30 col-xl-3 col-lg-4 col-sm-6 block">
				<div class="mb-10 f-14 semibold sp-20 title"><h4>Instagram Story</h4></div>
				<div class="text-center mb-20">
					<a href="/assets/easter/i/Menlo_Easter_IGstory2.jpg">
					<img src="/assets/easter/i/Menlo_Easter_IGstory2.jpg" srcset="/assets/easter/i/Menlo_Easter_IGstory2.jpg 2x" class="img-fluid" alt="" />
					</a>
				</div>
				
				<div class="text-adaptive">
					<a href="/assets/easter/i/Menlo_Easter_IGstory2.jpg" class="download">Download JPG</a>
				</div>
			</div>

		</div>
	</div>
</section>
<section class="pt-105 pb-100 bg-dark showcase_5" id="offering">
	<style>
		.showcase_5{background: #f9d8db !important;
		}
		@media(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){
			.showcase_5{background: #f9d8db !important;}
		}
	</style>
	<div class="container px-xl-0">
		<div class="row justify-content-center text-center color-white">
			<div class="col-xl-9 col-lg-10">
				<h3 class="text-center mb-30" data-aos-duration="700" data-aos="fade-up" data-aos-delay="350" style="color: #3235c1;">Easter Offering</h3>
			</div>
			<div class="col-md-7 col-sm-8" data-aos-duration="700" data-aos="fade-up" data-aos-delay="700">
							<div class="f-22 text-adaptive mb-60" style="color: #2b366a;">
								{# <h4>Sunday Services</h4> #}
								<div>As a church, our hearts are with the hardest hit areas of COVID-19. So this Easter we are creating a <strong>COVID-19 Relief Fund</strong> and partnering with efforts in the United States, China, the Mid-East, and Italy to provide, relief, care, and medical attention. Together, we can make a difference by standing with those around the world.</div>
								<div class="text-adaptive mt-10"><a class="btn sm action-1" href="http://menlo.church/give"  target="_blank">Give Online</a>
								</div>
							</div>
				</div>
		</div>
		
	</div>
</section>
<!-- Footer 8 -->

<footer class="pt-45 pb-45 bg-white text-center footer_8" style="background: #f9d8db !important;">
	<div class="container px-xl-0">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-3 text-xl-left">
				<a href="/" target="_blank" class="logo link color-white"><img src="/assets/easter/i/img_logo_black.png" srcset="/assets/easter/i/img_logo_black@2x.png 2x" alt=""Menlo Church /></a>
			</div>
			<div class="mt-10 mb-10 my-xl-0 col-xl-6 lh-40">
				<a href="{{ siteUrl }}home" target="_blank" class="btn" style="color: #2b366a;">enter menlo.church</a>
			</div>
			<div class="col-lg-3 text-xl-right socials">
				<a href="https://www.facebook.com/menlochurch" class="mx-15 w-40 btn  border-dark color-main px-0"><i class="fab fa-facebook-f"></i></a>
				<a href="https://www.instagram.com/menlo.church" class="mr-15 w-40 btn  border-dark color-main px-0"><i class="fab fa-instagram"></i></a>

			</div>
		</div>
	</div>
</footer>
<!-- forms alerts -->
<div class="alert alert-success alert-dismissible fixed-top alert-form-success" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Thanks for your message!
</div>
<div class="alert alert-warning alert-dismissible fixed-top alert-form-check-fields" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Please, fill in required fields.
</div>
<div class="alert alert-danger alert-dismissible fixed-top alert-form-error" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	An error occurred while sending data :(
</div>

<!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Google maps JS API -->
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"></script>-->
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
<!-- AOS 2.3.4 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
<script src="/assets/easter/js/jquery.maskedinput.min.js"></script>
<!-- Startup 3 JS (Custom js for all blocks) -->
<script src="/assets/easter/js/script.js"></script>

</body>
</html>
{% endminify %} 
{% endcache %}
