{% header "Content-Type: application/json; charset=utf-8" %}
{% header "Access-Control-Allow-Origin: *" %}
{% set groups = craft.venti.groups() %}
{
{%- spaceless -%}
    "groups": {{ groups | prune(['id', 'name', 'color']) | json_encode() | raw }}
{%- endspaceless -%}
}