{% spaceless %}
{% set section = slug %}
{% set query = craft.request.getSegment(4) %}
{% switch section %}
    {% case "pages" %}
        {% set results = craft.entries.section('pages').search(query).limit(50).order('score') %}
        {% for item in results %}
            <li class="pad-b-1">
                <a href='{{ item.url }}'>{{ item.title }}</a>
                {% if item.pageSubHeading is not empty %}
                    <p class="pull-t-0"> <small>{{ item.pageSubHeading }} </small></p>
                {% endif %}
            </li>
        {% endfor %}
    {% case "messages" %}
        {% set results = craft.entries.section('messages').search(query).limit(50).order('score') %}
        {% for item in results %}
            <li class="pad-b-1">
                {# #modal/message/{{ item.id }} #}
                <a href='{{item.url}}'>{{ item.title }}</a>
                <p class="pull-y-0 push-b-0"> <small>{{ item.messageDate|date('M d, Y') }}, {{ item.messageSpeaker|length ? item.messageSpeaker[0].title }} </small></p>
                {% if item.messageSummary is not empty %}
                    <p class="pull-t-0"> <small>{{ item.messageSummary|trimit(140) }} </small></p>
                {% endif %}
            </li>
        {% endfor %}
    {% case "groups" %}
        {% set results = craft.entries.section('groups').search(query).limit(50).order('score') %}
        {% for item in results %}
            {# #/modal/group/{{ item.id }} #}
            <li class="pad-b-1"><a href='{{ item.url }}'>{{ item.title }}</a>
                {% if item.groupOverview is not empty %}
                    <p class="pull-t-0"> <small>{{ item.groupOverview|trimit(140) }} </small></p>
                {% endif %}
            </li>
        {% endfor %}
    {% case "stories" %}
        {% set results = craft.entries.section('stories').search(query).limit(50).order('score') %}
        {% for item in results %}
            <li class="pad-b-1">
                <a href='{{ item.url }}'>{{ item.title }}</a>
                {% if item.postSummary is not empty %}
                    <p class="pull-t-0"> <small>{{ item.postSummary|trimit(140) }} </small></p>
                {% endif %}
            </li>
        {% endfor %}
    {% case "serve" %}
        {% set results = craft.entries.section('serve').search(query).limit(50).order('score') %}
        {% for item in results %}
            {# #/modal/serve/{{ item.id }} #}
            <li class="pad-b-1">
                <a href='{{ item.url }}'>{{ item.title }}
                    {% if item.serveTeams|length %}
                        , <small>
                            {% for team in item.serveTeams %}
                                {{team.title}}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </small>
                    {% endif %}
                </a>
                {% if item.serveOverview is not empty %}
                    <p class="pull-t-0"> <small>{{ item.serveOverview|trimit(140) }} </small></p>
                {% endif %}
            </li>
        {% endfor %}
    {% case "people" %}
        {% set people = craft.entries.section('people').search(query).limit(50).order('score') %}
        {% for item in people %}
            {# #/modal/people/{{ item.id }} #}
            <li class="pad-b-1"><a href='{{ item.url }}'>{{ item.title }}, <small>{{ item.professionalTitle }}</small></a>
                {% if item.bio is not empty %}
                    <p class="pull-t-0"> <small>{{ item.bio|trimit(140) }} </small></p>
                {% endif %}
            </li>
        {% endfor %}
    {% case "events" %}
        {% set results = craft.venti.events.search(query).startDate(">= " ~ now).limit(20).order('score') %}
        {% for item in results %}
            {# #/modal/event/{{item.eid}} #}
            <li class="pad-b-1"><a href='#/modal/event/{{item.eid}}/{{craft.locale}}'>{{ item.title }}</a>
                {% if item.eventOverview is not empty %}
                    <p class="pull-t-0">
                        <small>{{ item.startDate|date("M d, Y \@ g:ia") }}</small><br>
                        <small>{{ item.eventOverview|trimit(140) }} </small>
                    </p>
                {% endif %}
            </li>
        {% endfor %}
{% endswitch %}
{% endspaceless %}