{% extends "_layouts/_site" %} 
{% import '_macros/_icons' as icons %}

{% block content %}
    <div class="landingModal section pad-b-4">
        <div class="container container-8">
            
                {% set person = entry %}
                <div class="modal_section pad-b-0 text-center">
                    <div class="tabs_tabs tabs_tabs-equal" data-tabs>
                        <a href="#tab-{{id}}-about" class="tabs_tab -active" data-tab>About</a>
                        {% if person.pEmailAddress is not empty %}
                            <a href="#tab-{{id}}-contact" class="tabs_tab" data-tab>Contact</a>
                        {% endif %}
                    </div>
                </div>

                <div class="tabs_content" data-tabs-content>
                    <div class="modal_person">
                        <div class="person ratio ratio-1x1 ratio-lg-2x3 block">
                            {% set hasImg = person.profileImage|length ? true : false %}
                            {% if hasImg %}
                                {% set pimage = person.profileImage[0] %}
                                {% set profileImage = craft.imager.transformImage(pimage, 
                                [
                                    { width: 235, height: 352 }
                                ],{
                                    format: 'jpg',
                                    allowUpscale: false,
                                    mode: 'crop',
                                    jpegQuality: 80,
                                    position: pimage.focusPctX ~ '% ' ~ pimage.focusPctY ~ '%',
                                    interlace: true
                                }) %}

                                <div class="block_layer block_layer-bgImg" style="background-image: url({{ profileImage[0].url}})"></div>
                                <div class="person_fade block_layer"></div>  
                            {% else %}
                                {{ icons.icon('menlo', 48, 48, 'block_icon color-border') }}
                            {% endif %}

                            <div class="person_content block_layer">
                                <ul class="person_social">
                                    {% if person.pSocialLinks is not empty %}
                                        {% include '_partials/_social-items' with {links: person.pSocialLinks, email: person.pEmailAddress } %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="tab-{{id}}-about" class="tabs_pane -active" data-tabs-pane>
                        <div class="modal_section">
                            <p class="smalltext color-text-light push-b-2">Meet Our Team</p>

                            <div class="push-b-4">
                                <h1 class="h3">{{ person.title }}</h1>
                                <p class="push-t-1 color-text-light">{{ person.professionalTitle }}</p>
                            </div>

                            <div class="richText">
                                {{ person.bio }}
                            </div>

                        </div>
                    </div>
                    {% if person.pEmailAddress is not empty %}
                        <div id="tab-{{id}}-contact" class="tabs_pane" data-tabs-pane>
                            <div class="modal_section pad-y-4 text-center">
                                <p class="linedLinks">Please allow up to 3 days for a reply. <br class="display-none display-sm-block">{% if person.pPhoneNumber is not empty %}Can’t wait? Call our office at <a href="tel:{{ person.pPhoneNumber}} ">{{ person.pPhoneNumber }}</a>{% endif %}</p>
                            </div>

                            <div class="modal_section bg-offwhite">
                                <form class="form container container-5 pad-0" method="post" action="" accept-charset="UTF-8" novalidate>
                                    <div class="floatLabel">
                                        <input type="text" class="input-text" name="fromName" required>
                                        <label>Full Name *</label>
                                    </div>

                                    <div class="floatLabel">
                                        <input type="email" class="input-text" name="fromEmail" required>
                                        <label>Email address</label>
                                    </div>

                                    <div class="floatLabel">
                                        <input type="tel" class="input-text" name="message[Phone]">
                                        <label>Phone Number</label>
                                    </div>

                                    <h2 class="h5">How can we help?</h2>

                                    <textarea class="input-textarea" placeholder="Questions &amp; Comments &hellip;" rows="4" name="message[Body]" required></textarea>

                                    <button type="submit" class="button">
                                        <span class='-send'>
                                            <span>Send</span> 
                                            {{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}
                                        </span>
                                        <span class='-sending'><svg class='icon icon-24 animate-rotate360' v-show="showSpinner"><use xlink:href='#icon-24-synchronize'></use></svg></span>
                                        <span class='-sent'><span>Success</span></span>
                                        <span class='-error'><span>Send Again</span></span>
                                    </button>
                                    {{ getCsrfInput() }}
                                    <input type="hidden" name="action" value="contactForm/sendMessage"/>
                                    <input type='hidden' name='subject' value="Contact Question: {{ person.title }}" />
                                    <input type="text" id="descriptionMessage" name="descriptionMessage" value="" style="display:none;"  />
                                    <input type='hidden' name='toEmail' value="{{ person.pEmailAddress|hash }}" />
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            
        </div>
    </div>
{% endblock %}