{% extends '_layouts/_site' %}

{% block content %}
    {% import '_macros/_icons' as icons %}
    {% import '_macros/_card-message' as card %}
    {% import '_macros/_card-series' as card_s %}

    {% set tmpBgImage = entry.seriesImage[0] ?? null %}
    {% if tmpBgImage %}
        {% set trBgImage = craft.imager.transformImage( tmpBgImage, { width: 1080, height: 720 } ) %}
        {% set bgImage = craft.imager.transformImage( trBgImage, { effects: { blur: 9 } } ).url %}
    {% endif %}
    <section class="hero hero-media section section-20 section-contained block bg-text-dark color-white">
        {% set bgColorAccent = entry.accentColor is not empty and entry.showBackgroundImage == 0 ? 'background-color:' ~ entry.accentColor ~ ';' : '' %}
        {% if entry.showBackgroundImage == 1 %}
            {% if bgImage %}
                <div class="block_layer block_layer-bgImg" style="background-image: url({{ bgImage }})"></div>
            {% endif %}
        {% else %}
            <div class="block_layer block_layer-bgImg" style="{{ bgColorAccent }}"></div>
        {% endif %}
        <div class="block_layer block_layer-overlayRadial"></div>
        
        
        <div class="container">
            <div class="row row-middle row-between">
                <div class="col col-12 col-md-6">
                    <div class="row row-middle grid grid-2 push-b-4">
                        <div class="col col-12 col-sm-6">
                            <p class="smalltext">A series by <strong>{{ currentCampus.title }}</strong></p>
                        </div>

                        {# <div class="col col-12 col-sm-6 text-sm-right">
                            {% include '/_partials/_share' with { text: entry.title, default:true } %}
                        </div> #}
                    </div>

                    <h1 class="h1">{{ entry.title }}</h1>
                    <p class="push-t-4 linedLinks linedLinks-dark">{{ entry.seriesDescription }}</p>
                    {% set messagesInSeries = craft.entries.section('messages').relatedTo(entry).order("messageDate DESC") %}
                    {% if messagesInSeries|length > 0 %}
                        <p class="hero-series_meta push-t-4">{{ messagesInSeries[0].messageDate|date("M Y") }} – {{ messagesInSeries.last().messageDate|date("M Y") }} <span class="sep"></span> {{ messagesInSeries|length }} Messages</p>
                    {% endif %}

                    <div class="push-t-4">
                        <div class="buttonGroup buttonGroup-left">
                            {% if entry.seriesPromo is not empty %}
                                <a href="#" class="button button-white" data-modal="#modal-series-promo"><span>Watch Trailer</span>{{ icons.icon('control-play') }}</a>
                            {% endif %}
                            {% if entry.seriesResources|length %}
                                <div class="iconInput">
                                    <select class="input-select input-select-outline" data-download style="width:275px;">
                                        <option>Series Resources</option>
                                        {% for item in entry.seriesResources %}
                                            <option value="{{ item.id }}">{{item.title}}</option>
                                        {% endfor %}
                                    </select>
                                    {{ icons.icon('navigation-drawer') }}
                                </div>
                                <div style="display:none;">
                                    {% for item in entry.seriesResources %}
                                        <a href="{{ item.url }}" data-did="{{ item.id }}" download></a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if tmpBgImage %}
                    <div class="hero-media_media col col-12 col-md-5">
                        {% if entry.accentColor is not empty %}
                            <div class="hero-media_color" style="background-color:{{ entry.accentColor }};"></div>
                        {% else %}
                            <div class="hero-media_color bg_text"></div>
                        {% endif %}
                        {% set transformedImages = craft.imager.transformImage(tmpBgImage,
                            [
                                { width: 472, height: 472 },
                            ],
                            {
                                format: 'jpg',
                                allowUpscale: false,
                                mode: 'crop',
                                jpegQuality: 80,
                                position: tmpBgImage.focusPctX ~ '% ' ~ tmpBgImage.focusPctY ~ '%',
                                interlace: true
                            }
                        ) %}

                        <div class="thumbCard block ratio ratio-1x1">
                            <div class="block_layer block_layer-bgImg" style="background-image: url({{ transformedImages[0].url }})"></div>
                            <div class="block_layer block_layer-overlayRadial"></div>
                            <a href="{{ entry.url }}" class="block_layer"></a>
                            {% if entry.seriesCurrent == 1 %}
                                <span class="label label-big label-white">Our Current Series</span>
                            {% endif %}
                            {% include '/_partials/_share' with { text: entry.title, default:true } %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="section section-12 section-contained bg-offwhite">
        <div class="container">
            <div class="row row-padded row-center grid grid-4">
                {% set messages = craft.entries({
                    section: 'messages',
                    relatedTo: entry,
                    order: "messageDate DESC",
                    with: ['messageImage','messageTopic','messageSpeaker']
                }) %}
                {% for item in messages %}
                    <div class="col col-12 col-sm-6">
                        {{ card.message(item) }}
                    </div>
                {% endfor %}
            </div>

            {# <div class="section_footer">
                <a href="#" class="ctaLink color-text-light"><span>Show More Messages</span><?php echo menlo_icon('synchronize', 24, 24, 'animate-rotate360'); ?></a>
            </div> #}
        </div>
    </section>

    <section class="section section-20 section-contained bg-text bg-topo color-white">
        <div class="linemark linemark-top color-white"></div>
        <div class="container">
            <div class="section_header">
                <h1 class="h3">Recent Series</h1>
            </div>

            <div class="row row-padded row-center grid grid-4">
                {% set recent = craft.entries({
                    section: "messageSeries",
                    id: ['and','not '~ entry.id],
                    with:['seriesImage'],
                    limit: 2
                }) %}
                {% for item in recent %}
                    <div class="col col-10 col-sm-6 col-md-4">
                        {{ card_s.series(item) }}
                    </div>
                {% endfor %}
            </div>
            <div class="section_footer">
                <a href="{{siteUrl}}messages" class="button button-outline">Find a Message</a>
            </div>
        </div>
    </section>
    {% include '/_blocks/_blockpodcast' %}
    {% if entry.seriesPromo is not empty %}
        {% include '/_modals/_modal-series-promo' with { series: entry } only %}
    {% endif %}
{% endblock %}