{% import '_macros/_icons' as icons %}
<div class="col col-12 col-sm-6 col-md-4">
    <div class="card">
        {% set hasImg = item.serveImage|length > 0 ? true : false %}
        <a href="#/modal/serve/{{item.id}}/{{item.locale}}" class="card_banner block" >
            <div class="ratio ratio-1x1"></div>
            {% if hasImg %}
                {# {% set image = item.serveImage.first() %}
                {% set transformedImages = craft.imager.transformImage(image,
                    [
                        { width: 360, height:360 },
                    ],
                    {
                        format: 'jpg',
                        allowUpscale: false,
                        mode: 'crop',
                        jpegQuality: 80,
                        position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                        interlace: true
                    }
                ) %} transformedImages[0].url#}
                <div class="block_layer block_layer-bgImg" style="background-image: url({{item.serveImage[0].getUrl('tf360')}})"></div>
            {% else %}
                <div class="block_layer titleCard_content bg-topo-dark">
                    <svg class="icon icon-48 color-red" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-48-menlo"></use></svg>
                </div>
            {% endif %}

            <div class="card_bannerContent block_layer">
                <p>{{ item.serveOverview|trimit(240) }}</p>
                <p><span class="ctaLink"><span>Learn More</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</span></p>
            </div>
        </a>

        <div class="card_content">
            <div class="card_contentLabel">
                {% if item.serveTeams|length %}
                    <span class="label label-text">{{ item.serveTeams[0].title}}</span>
                {% endif %}
            </div>

            <h2 class="h6"><a href="#/modal/serve/{{item.id}}">{{ item.title }}</a></h2>
            <p>{{ item.serveMeetingSchedule|default('') }}</p>
        </div>
    </div>
</div>