{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
<script type="text/x-template" id='card-series'>
    <div class="thumbCard block ratio ratio-1x1">
        <div class="block_layer block_layer-bgImg" v-bind:style='{ backgroundImage: "url(" + post.imageUrl + ")", }'></div>
        <div class="block_layer block_layer-overlayRadial"></div>
        <a v-bind:href="post.url" class="block_layer"></a>
        <ul class="socialIcons socialIcons-share">
            <li><a :href="'mailto:?subject=' + post.title" class="-generic">{{ icons.socialicon('email', 24) }} {{ srt.srt('Email') }}</a></li>
            <li><a :href="'https://www.facebook.com/sharer/sharer.php?u=' + post.url + '&t=' + post.title" target="_blank" class="-facebook">{{ icons.socialicon('facebook', 24) }} {{ srt.srt('Facebook') }}</a></li>
            <li><a :href="`https://twitter.com/home?status=${post.url}${post.title}`" target="_blank" class="-twitter">{{ icons.socialicon('twitter', 24) }} {{ srt.srt('Twitter') }}</a></li>
        </ul>
    </div>
</script>