{% import '_macros/_icons' as icons %}
<script type="text/x-template" id='card-person'>
    <a v-bind:href="'#/modal/person/' + post.id + '/' + post.locale" :class="staffCardClassObj">
        
        <div class="block_layer block_layer-bgImg" :style='{ backgroundImage: "url(" + post.profileImageUrl + ")", }' v-if="hasImg"></div>
        <div class="person_fade block_layer" v-if="hasImg"></div>  

        <svg class="icon icon-48 block_icon color-border" v-if="!hasImg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-48-menlo"></use></svg>

        <div class="person_content block_layer">
            <h2 class="h6">${post.title}</h2>
            <p>${ post.professionalTitle }</p>
        </div>
    </a>
</script>