<script type="text/x-template" id='card-message'>
    <a v-bind:href="'#/modal/message/' + post.id + '/' + post.locale" class="mediaCard block ratio ratio-16x9">
        <div class="block_layer block_layer-bgImg" v-bind:style='{ backgroundImage: "url(" + post.messageImageUrl + ")", }'></div>
        <div class="block_layer block_layer-overlayRadial"></div>

        <div class="mediaCard_content block_layer">
            
            <img v-bind:src="post.series.image" class="mediaCard_thumb" :alt="post.series.title" v-if="post.series">

            <p class="smalltext">${ post.messageDate } <span class="sep"></span> ${ post.messageSpeaker.title }</p>
            <h2 class="h5">${ post.title }</h2>
        </div>
    </a>
</script>