<script type="text/x-template" id='card-serve'>
    <div class="card">
        <a :href="'#/modal/serve/' + post.id + '/' + post.locale" class="card_banner block" >
            <div class="ratio ratio-1x1"></div>
            <div class="block_layer block_layer-bgImg" :style='{ backgroundImage: "url(" + post.imageUrl + ")", }' v-if="post.imageUrl !== ''"></div>
            <div class="block_layer titleCard_content bg-topo-dark" v-else>
                <svg class="icon icon-48 color-red" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-48-menlo"></use></svg>
            </div>
            <span class="label label-tr label-white" v-if="deadline(post.serveDeadline)">Deadline Soon</span>
        </a>

        <div class="card_content">
            <div class="card_contentLabel">
                <span class="label label-text">${ post.teams[0] }</span>
            </div>

            <h2 class="h6"><a :href="'#/modal/serve/' + post.id + '/' + post.locale" >${ post.title }</a></h2>
            <p>${ post.meetingSchedule }</p>
        </div>
    </div>
</script>