{% import '_macros/_icons' as icons %}
{% set hasImg = item.profileImage|length ? true : false %}
<a href="#/modal/person/{{ item.id }}/{{ item.locale }}" class="person {% if hasImg %} person-photo {% else %} person-plain {% endif %} ratio ratio-2x3 block">
    {% if hasImg %}
        {# {% set image = item.profileImage.first() %}
        {% set transformedImages = craft.imager.transformImage(image,
            [
                { width: 235, height:352 },
            ],
            {
                format: 'jpg',
                allowUpscale: false,
                mode: 'crop',
                jpegQuality: 80,
                position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                interlace: true
            }
        ) %} transformedImages[0].url#}
        <div class="block_layer block_layer-bgImg" style="background-image: url({{item.profileImage[0].getUrl('tf235x352')}})"></div>
        <div class="person_fade block_layer"></div>  
    {% else %}
        {{ icons.icon('menlo', 48, 48, 'block_icon color-border') }}
    {% endif %}

    <div class="person_content block_layer">
        <h2 class="h6">{{ item.title }}</h2>
        <p>{{ item.professionalTitle|default('staff') }}</p>
    </div>
</a>