<div class="col col-12 col-sm-6 col-md-4" v-for="post in posts" v-cloak>
    <a v-bind:href="'#/modal/person/' + post.id + '/' + post.locale"  class="person" >
        <div class="person_photo">
            <div class="ratio ratio-1x1 block">
                <div class="block_layer block_layer-bgImg" v-if="post.profileImageUrl !== ''" v-bind:style='{ backgroundImage: "url(" + post.profileImageUrl + ")", }'></div>
                <div class="mediaPlaceholder" v-else>${post.initials}</div>
            
                <div class="block_layer block_layer-overlay"></div>
                
                <div class="person_iconsWrap block_layer">
                    <ul class="person_icons">
                        <li v-for="item in post.social"><a :href="item.serviceUrl" :class="item.service.value">
                            <svg class='icon icon-24'><use :xlink:href='"#icon-blocs-24-" + item.service.value'></use></svg>
                            <span class="srt">${ item.service.label }</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <h2 class="h6 person_name">${post.title}</h2>
        <p class="person_title">${post.professionalTitle}</p>
    </a>
</div>