{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
<script type="text/x-template" id='card-story'>
    <div class="card">
        <a :href="post.url" class="card_banner block">
            <div class="ratio ratio-16x9"></div>
            <div class="block_layer block_layer-bgImg" v-bind:style='{ backgroundImage: "url(" + post.postImageUrl + ")", }' v-if="post.imageUrl !== ''"></div>
            <div class="block_layer titleCard_content bg-topo-dark" v-else>
                <svg class="icon icon-48 color-red" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-48-menlo"></use></svg>
            </div>
        </a>

        <div class="card_content">
            <h2 class="h6"><a :href="post.url" >${post.title}</a></h2>
            <p>${ post.postSubHeading }</p>
            <ul class="socialIcons socialIcons-share">
                <li><a href="mailto:?subject=${post.title}" class="-generic">{{ icons.socialicon('email', 24) }} {{ srt.srt('Email') }}</a></li>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=${post.url}&t=${post.title}" target="_blank" class="-facebook">{{ icons.socialicon('facebook', 24) }} {{ srt.srt('Facebook') }}</a></li>
                <li><a href="https://twitter.com/home?status=${post.url}${post.title}" target="_blank" class="-twitter">{{ icons.socialicon('twitter', 24) }} {{ srt.srt('Twitter') }}</a></li>
            </ul>
        </div>
    </div>
</script>