    <div class="modal_section pad-b-0 text-center">
        <div class="tabs_tabs tabs_tabs-equal" data-tabs>
            <a href="#tab-{{id}}-details" class="tabs_tab -active" data-tab>Details</a>
            {% if group.getStarted is defined and group.getStarted == 1 %}
                <a href="#tab-{{id}}-start" class="tabs_tab" data-tab>Get Started</a>
            {% endif %}
            <a href="#tab-{{id}}-ask" class="tabs_tab" data-tab>Ask a Question</a>
        </div>
    </div>

    <div class="tabs_content" data-tabs-content>
        <div id="tab-{{id}}-details" class="tabs_pane -active" data-tabs-pane>
            <div class="modal_section">
                <div class="row row-middle push-b-4">
                    <div class="col col-12 col-sm-6">
                        {% if group.groupCategory|length %}
                            <p class="smalltext color-text-light">Connect <span class="sep"></span> <strong>{{ group.groupCategory[0].title }}</strong></p>
                        {% endif %}
                    </div>

                    <div class="col col-12 col-sm-6 text-sm-right">
                         {% include '/_partials/_share' with {text: group.title, default:true, url:group.url } %}
                    </div>
                </div>

                <h1 class="h3">{{ group.title }}</h1>
                <p class="subtext color-text-light push-y-2">{{ group.groupOverview|default() }}</p>
                <p class="color-text-light"><strong>{% if group.groupMeetingSchedule is not empty %} {{ group.groupMeetingSchedule }} {% endif %}</strong></p>
            </div>

            <div class="pad-4 block color-white">
                {% set groupImageOrig = group.groupImage[0] ?? null %}
                {% if groupImageOrig %}
                    {% set groupImage = craft.imager.transformImage( groupImageOrig, { width: 280, height: 280 } ) %}
                    {% set bgImage = craft.imager.transformImage( groupImage, { effects: { blur: 9 } } ).url %}
                {% endif %}
                {% if groupImageOrig != null %}
                    <div class="block_layer block_layer-bgImg" style="background-image: url({{ bgImage }})"></div>
                {% endif %}
                <div class="block_layer block_layer-overlayRadial"></div>

                <div class="container container-full">
                    <div class="row row-center row-middle grid grid-4">
                        <div class="col col-8 col-sm-5">
                            {% if groupImageOrig != null %}
                                <a href="{{ group.url }}"><img src="{{ groupImage.url }}" class="shadow" alt="{{ group.title }}"></a>
                            {% else %}
                                <div class="titleCard_content bg-topo bg-text shadow" style="width:280px; height:280px;">
                                    {{ icons.icon('menlo', 48, 48, 'color-red') }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="col col-12 col-sm-7">
                            <ul class="meta linedLinks linedLinks-dark">
                                {% if group.groupLeader|length %}
                                    <li><strong>Led By</strong>: <a href="#tab-{{id}}-ask" data-tab> {{ group.groupLeader[0].title }}</a></li>
                                {% endif %}
                                {% if group.groupBegins is not empty and group.groupHideBegins != 1 %}
                                    <li><strong>Begins</strong>: {{ group.groupBegins|date('M d, Y \@ g:ia') }}</li>
                                {% endif %}
                                {% if group.groupMeetingSchedule is not empty %}
                                    <li><strong>Meets</strong>: {{ group.groupMeetingSchedule }}</li>
                                {% endif %}
                                {% if group.groupLocation|length %}
                                    <li><strong>Where</strong>:
                                        <a href="{{ group.groupLocation[0].getMapUrl() }}" target="_blank">{{ group.groupLocation[0].title }}</a>
                                        {% if group.groupSpecificLocation is not empty %}
                                            ({{ group.groupSpecificLocation}})
                                        {% endif %}
                                    </li>
                                {% endif %}
                                {% if group.groupLastMeeting is not empty %}
                                    <li><strong>Last Meeting</strong>: {{ group.groupLastMeeting|date('M d, Y') }}</li>
                                {% endif %}
                                {% if group.groupCost is not empty %}
                                    <li><strong>Cost</strong>: {{ group.groupCost }}</li>
                                {% endif %}
                                {% if group.kidsWelcome is not empty %}
                                    <li><strong>Kids Welcome</strong>: {{ group.kidsWelcome }}</li>
                                {% endif %}
                                {% if group.getStarted is defined and group.getStarted == 1 %}
                                    <li><a href="#tab-{{id}}-start" data-tab>Interested? Get Started</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal_section">
                <div class="richText">
                    {{ group.groupDescription }}
                </div>

                <div class="push-t-4">
                    <div class="buttonGroup text-center">
                        <a href="#tab-{{id}}-start" class="button button-red" data-tab>Interested? Get Started</a>
                        <a href="#tab-{{id}}-ask" class="button" data-tab>Ask a Question</a>
                    </div>
                </div>
            </div>
        </div>
        {% if group.getStarted is defined and group.getStarted == 1 %}
            <div id="tab-{{id}}-start" class="tabs_pane" data-tabs-pane>
                <div class="modal_section pad-y-4 text-center">
                    <p class="linedLinks">Fill out the interest form below and we’ll contact you with next steps and answer your questions.</p>
                </div>

                <div class="modal_section bg-offwhite pad-t-2">
                    <form class="form container container-5 pad-0" method="post" action="" accept-charset="UTF-8">
                        {# {{ getCsrfInput() }} #}
                        <p class="form_message -success">Your message was sucessfully sent. Yay!</p>
                        <p class="form_message -error">There was error and your message did not send.</p>

                        <input type="hidden" name="action" value="contactForm/sendMessage">
                        <input type='hidden' name='message[handle]' value="group-interest-request" />
                        <input type='hidden' name='subject' value="Group Interest - {{ group.title }}" />
                        <input type='hidden' name='message[group]' value='{{ group.title }}' />
                        <input type='hidden' name='message[campus]' value='{{ campusTitles[group.locale] }}' />
                        <input type="text" id="descriptionMessage" name="descriptionMessage" value="" style="display:none;"  />
                        {% set emails = [] %}
                        {% if group.groupLeader|length %}
                            {% set emails = emails|merge([group.groupLeader[0].pEmailAddress]) %}
                        {% endif %}
                        {% if group.groupCoordinator|length %}
                            {% set emails = emails|merge([group.groupCoordinator[0].pEmailAddress]) %}
                        {% endif %}
                        {% if emails|length %}
                             {% set joinedEmail = emails|join(',') %}
                            <input type='hidden' name='toEmail' value="{{ joinedEmail|hash }}" />
                        {% endif %}
                        <div class="floatLabel">
                            <input type="text" class="input-text" name="fromName" required>
                            <label>Full Name *</label>
                        </div>

                        <div class="floatLabel">
                            <input type="email" class="input-text" name="fromEmail" required>
                            <label>Email address *</label>
                        </div>

                        <div class="floatLabel">
                            <input type="tel" class="input-text" name="message[phone]">
                            <label>Phone Number</label>
                        </div>

                        <div class="iconInput">
                            <select class="input-select" name="message[gender]" required>
                                <option>* Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>

                            {{ icons.icon('navigation-drawer') }}
                        </div>

                        <div class="iconInput push-t-1">
                            <select class="input-select" name="message[attend]">
                                <option>Do you attend Menlo Church?</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>

                            {{ icons.icon('navigation-drawer') }}
                        </div>

                        <button type="submit" class="button">
                            <span class='-send'>
                                <span>Send</span>
                                {{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}
                            </span>
                            <span class='-sending'><svg class='icon icon-24 animate-rotate360' v-show="showSpinner"><use xlink:href='#icon-24-synchronize'></use></svg></span>
                            <span class='-sent'><span>Success</span></span>
                            <span class='-error'><span>Send Again</span></span>
                        </button>
                    </form>
                </div>
            </div>
        {% endif %}

        <div id="tab-{{id}}-ask" class="tabs_pane" data-tabs-pane>
            <div class="modal_section pad-y-4 text-center">
                {% if group.groupLeader|length %}
                    {% set contact = group.groupLeader[0] %}
                    <p class="linedLinks">Contact {{ contact.title }} {% if contact.pPhoneNumber is not empty %}at <a href="tel:{{contact.pPhoneNumber}}">{{contact.pPhoneNumber}}</a>, or,  {% else %} by {% endif %} e-mail using the form below.</p>
                {% endif %}
            </div>

            <div class="modal_section bg-offwhite">
                <form class="form container container-5 pad-0" method="post" action="" accept-charset="UTF-8">
                    {# {{ getCsrfInput() }} #}
                    <p class="form_message -success">Your message was sucessfully sent. Yay!</p>
                        <p class="form_message -error">There was error and your message did not send.</p>
                    <input type="hidden" name="action" value="contactForm/sendMessage">
                    <input type='hidden' name='message[handle]' value="group-contact-request" />
                    <input type='hidden' name='subject' value="Group Question - {{ group.title }}" />
                    <input type='hidden' name='message[group]' value='{{ group.title }}' />
                    <input type='hidden' name='message[campus]' value='{{ campusTitles[group.locale] }}' />

                    <input type="text" id="descriptionMessage" name="descriptionMessage" value="" style="display:none;"  />
                    {% set emails = [] %}
                    {% if group.groupLeader|length %}
                        {% set emails = emails|merge([group.groupLeader[0].pEmailAddress]) %}
                    {% endif %}
                    {% if group.groupCoordinator|length %}
                        {% set emails = emails|merge([group.groupCoordinator[0].pEmailAddress]) %}
                    {% endif %}
                    {% if emails|length %}
                        {% set joinedEmails = emails|join(',') %}
                        <input type='hidden' name='toEmail' value="{{ joinedEmails|hash }}" />
                    {% endif %}
                    <div class="floatLabel">
                        <input type="text" name="fromName" class="input-text" required>
                        <label>Full Name *</label>
                    </div>

                    <div class="floatLabel">
                        <input type="email" name="fromEmail" class="input-text" required>
                        <label>Email address</label>
                    </div>

                    <div class="floatLabel">
                        <input type="tel" name="message[phone]" class="input-text">
                        <label>Phone Number</label>
                    </div>

                    <h2 class="h5">How can we help?</h2>

                    <textarea class="input-textarea" name="message[body]" placeholder="I have a question about &ldquo;{{ group.title }}&rdquo; &hellip;" rows="4" required></textarea>

                    <button type="submit" class="button">
                        <span class='-send'>
                            <span>Send</span>
                            {{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}
                        </span>
                        <span class='-sending'><svg class='icon icon-24 animate-rotate360' v-show="showSpinner"><use xlink:href='#icon-24-synchronize'></use></svg></span>
                        <span class='-sent'><span>Success</span></span>
                        <span class='-error'><span>Send Again</span></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
