{% extends "_layouts/_site" %} 
{% import '_macros/_icons' as icons %}
{% set campusTitles = {
    'mlo': 'Menlo Church',
    'mlo_park': 'Menlo Park',
    'mlo_sj': 'San Jose',
    'mlo_mv': 'Mountain View',
    'mlo_st': 'Saratoga',
    'mlo_sm': 'San Mateo',
    'mlo_sc': 'South City',
    'mlo_on': 'Menlo Online',
} %}
{% block content %}
    <div class="landingModal section pad-b-4">
        <div class="container container-8">
            
                {% include '/_groups/_details' with {group:entry, currentCampus:currentCampus, id:entry.id} %}
            
        </div>
    </div>
{% endblock %}