{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
<script type="text/x-template" id='group-step-template'>
    <div :class="classObject">
        <div class="richText">
            <div v-if="currentStep === 1">
                <p>What kind of group are you’re <em>interested</em> in?</p>
            </div>
            <div v-if="currentStep === 2">
                {# <p>What <em>kind</em> of community are you’re looking for?</p> #}
                <p>Ok, we’ve found <strong v-if="!groupsLoading">${totalGroups}</strong> 
                <span v-else><svg class="icon icon-24 animate-rotate360"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-synchronize"></use></svg></span>
                <strong>groups</strong> for ${selectedLabels.groupInterests !== '' ? selectedLabels.groupInterests : 'all interests'}. What <em>kind</em> of community are you looking for?</p>
            </div>
            <div v-if="currentStep === 3">
                <p>Almost done! We’ve narrowed it down to <strong v-if="!groupsLoading">${totalGroups}</strong>
                <span v-else><svg class="icon icon-24 animate-rotate360"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-synchronize"></use></svg></span> 
                <strong>groups</strong>. Finally, <em>where</em> are you’re looking for groups?</p>
            </div>
        </div>

        <div class="iconInput">
            <select class="input-select" :id="'step-' + this.stepid" @change="selectCategory" :data-category="category" v-model="selectedId">
                <option value="#" disabled>${this.heading}</option>
                <option value="" v-if="this.stepid === 1">All Types</option>
                <option value="" v-if="this.stepid === 2">All Communities</option>
                <option value="" v-if="this.stepid === 3">All Areas</option>
                <option v-for="option in options" :stepid="this.stepid" :value="option.id" :title='option.label' v-text="optionLabel(option.label)">
                </option>
            </select>
            <svg class="icon icon-24" v-if="currentStep === 1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-thumbs-up"></use></svg>
            <svg class="icon icon-24" v-if="currentStep === 2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-view-module"></use></svg>
            <svg class="icon icon-24" v-if="currentStep === 3"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-location-pin"></use></svg>
        </div>

        <div class="groupFinder_actions">
            <a href="#" class="ctaLink" @click.prevent="searchGroups" v-if="currentStep === 1">{{ icons.icon('arrow-left', 24, 24, 'icon-arrow') }}<span>Back to Search</span></a>
            <a href="#" class="ctaLink" @click.prevent="prev()" v-show="currentStep === 2">{{ icons.icon('arrow-left', 24, 24, 'icon-arrow') }}<span>Back to Interests</span></a>
            <a href="#" class="ctaLink" @click.prevent="prev()" v-show="currentStep === 3">{{ icons.icon('arrow-left', 24, 24, 'icon-arrow') }}<span>Back to Communities</span></a>
            <button type="submit" class="button button-red" @click="next()" v-show="currentStep < 3" :disabled="nextDisabled"><span>Next</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</button>
            <button type="submit" class="button button-red" @click="viewGroups()" v-show="currentStep === 3" :disabled="nextDisabled"><span>See Groups</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</button>
        </div>
    </div>
</script>