{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
<script type="text/x-template" id='group-step-template'>
    <div class="groupFinder_step" v-show="currentStep > 1">
        <div class="richText">
            <p>We’ve created our group finder as a simple way to explore the Menlo Church community.</p>
            <p><strong>What <em>kind</em> of group are you’re looking for?</strong></p>
        </div>

        <div class="iconInput">
            <select class="input-select">
            <option>Choose a Category</option>
            <option>Lorem</option>
            <option>Ipsum</option>
            <option>Dolor</option>
            </select>

            {{ icons.icon('view-module') }}
        </div>

        <div class="groupFinder_actions">
            <a href="#" class="ctaLink" data-modal="#modal-search-groups">{{ icons.icon('arrow-left', 24, 24, 'icon-arrow') }}<span>Back to Search</span></a>
            <button class="button button-red" @click="next()" :disabled="currentStep === 3" :disabled="initialSelect === 0"><span>Next</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</button>
        </div>
    </div>
</script>

    
    {# <div class="stepFilter">
        <button class="stepFilter_nav stepFilter_nav-prev button-unstyled" @click="prev()" v-show="currentStep > 1">{{ icons.icon('arrow-left') }} {{ srt.srt('Previous') }}</button>

        <form class="stepFilter_steps" v-on:submit.prevent>
            <serve-step v-for='step in steps' :group='step.group' :default='step.default' :pre='step.pre' :post='step.post' :stepid='step.stepid'></serve-step>
            <serve-action-step v-for='step in actionsteps' :stepid='step.setpid'></serve-action-step>
        </form>

        <button class="stepFilter_nav stepFilter_nav-next button-unstyled" @click="next()" v-show="currentStep < 4">{{ icons.icon('arrow-right') }} {{ srt.srt('Next') }}</button>
    </div> #}
