<template>
    <div class="modal_section">
        <h1 class="h3">{{stepHeading}}</h1>

        <div class="stepDots push-y-4">
            <div class="stepDots_precentage" :style="percentClassObject"></div>

            <ol>
                <li :class="currentStep === 1 ? stepActiveClass :''"><a href="#" @click.prevent>1</a></li>
                <li :class="currentStep === 2 ? stepActiveClass :''"><a href="#" @click.prevent>2</a></li>
                <li :class="currentStep === 3 ? stepActiveClass :''"><a href="#" @click.prevent>3</a></li>
            </ol>
        </div>

        <form class="groupFinder" v-on:submit.prevent @submit="updateSelects"> 
            <group-step v-for="step in steps" :group="step.group" :heading="step.heading" :stepid="step.stepid" :key="step.stepid"></group-step>
            <!-- add .display-none when you want to hide this ↓ -->
            <div class="groupFinder_loading" v-if="loading"><svg class="icon icon-24 animate-rotate360"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-synchronize"></use></svg></div>
        </form>

    </div>
</template>

<script>
    import GroupStep from './GroupStep';
    import UpdateSelectsMixin from '../../mixins/SelectedIdsLabelsMixin';
    export default {
        mixins:[UpdateSelectsMixin],
        data() {
            return {
                loading: false,
                steps: [{
                        stepid: 1,
                        heading: "Choose A Group Type",
                        group: 'groupInterests'
                    },
                    {
                        stepid: 2,
                        heading: "Choose A Community",
                        group: 'groupCategory'
                    },
                    {
                        stepid: 3,
                        heading: 'Choose An Area',
                        group: 'groupArea'
                    }
                ]
            }
        },
        computed: {
            currentStep() {
                return this.$store.state.step;
            },
            totalGroups() {
                return this.$store.state.filteredGroups.length;
            },
            stepHeading() {
                const step = this.steps.filter(step => step.stepid === this.currentStep);
                return step[0].heading;
            },
            stepActiveClass() {
                return "-current";
            },
            percentClassObject() {
                let width = "width: 0%";
                switch (this.currentStep) {
                    case 1:
                        width = 'width: 0%';
                        break;
                    case 2:
                        width = 'width: 50%';
                        break;
                    case 3:
                        width = 'width: 95%';
                        break;
                }

                return width;
            }
        },
        methods: {
            navigateToStep(step) {
                this.$store.commit('setStep', step);
            }
        },
        created() {
            const _this = this;
            Event.$on('GroupLoading', (state) => {
                _this.loading = state;
            });
            Event.$on('OpenGroupFinderModal', () => {
                _this.navigateToStep(1);
                _this.$store.commit('setSelectedIds', []);
                if(Object.keys(_this.$store.state.selectedLabels).length !== 1){
                    _this.$store.commit('setSelectedLabels', {});
                }
                _this.$store.commit('setFilteredGroups', []);
            });
        },
        components:{
            GroupStep
        }
    }
</script>
