<template>
    <div class="events_item events_item-group block">
        <a :href="link" class="block_layer" :data-ga="ga"></a>

        <div class="events_details">
            <p class="smalltext color-text-light">Near <strong v-html="groupArea"></strong></p>
            <h2 class="h5">
                <a :href="link" :data-ga="ga">{{ group.title }}</a>
            </h2>
            <p>{{ group.groupMeetingSchedule }}</p>
        </div>

        <div class="events_actions events_actions-hasLabel">
            <span class="label label-text">{{ group.groupCategory[0] }}</span>
            <a :href="group.location.mapUrl" class="events_location button button-to-red" target="_blank" v-if="group.location.mapUrl"><span class="srt">Location</span> <svg class="icon icon-24 "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-location-pin"></use></svg></a>
        </div>
    </div>
</template>
<script>
    export default {
        props:['group'],
        computed: {
            link() {
                return `#/modal/group/${this.group.id}/${this.group.locale}`;
            },
            groupArea() {
                let area = this.group.groupArea.toLowerCase().replace('near ','');
                return area;
            },
            ga(){
                return `{"hitType":"event","eventCategory":"group","eventAction":"modal","eventLabel":"${this.group.title}"}`;
            }
        }
    }
</script>
