<div class="modal_slider">
    <a href="#" class="modal_sliderArrow modal_sliderArrow-prev">{{ icons.icon('arrow-left') }} {{ srt.srt('Previous') }}</a>
    <a href="#" class="modal_sliderArrow modal_sliderArrow-next">{{ icons.icon('arrow-right') }} {{ srt.srt('Next') }}</a>

    <div class="modal_sliderSlides">
        <div class="modal_sliderTitle">
            <h2 class="h5">Big <br> Ideas <br> Worth <br> Sharing</h2>
        </div>

        {% for item in message.bigIdeas %}
            {% if item.type.handle == "video" %}
                <div class="card">
                    <a href="#" class="card_banner block">
                        <div class="ratio ratio-16x9"></div>
                        <div class="block_layer block_layer-bgImg" style="background-image: url({{item.bigIdeaVideo.getThumbnail(360)}})"></div>
                    </a>
                    <div class="card_content">
                        <h2 class="h6">{{item.title}}</h2>
                        <ul class="socialIcons socialIcons-share">
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{item.bigIdeaVideo.url}}&t={{item.bigIdeaVideo.title}}" target="_blank" class="-facebook">{{ icons.socialicon('facebook', 24) }} {{ srt.srt('Facebook') }}</a></li>
                            <li><a href="https://twitter.com/intent/tweet?via=MenloChurch&url={{item.bigIdeaVideo.url}}" target="_blank" class="-twitter">{{ icons.socialicon('twitter', 24) }} {{ srt.srt('Twitter') }}</a></li>
                        </ul>
                    </div>
                </div>
            {% elseif item.type.handle == "image" %}
                <div>
                    {% set image = item.bigIdeaImage[0] ?? false %}
                    {% if image %}
                        {% set biImage = craft.imager.transformImage( image, { width: 360, height: 360 } ) %}
                        <div class="thumbCard block ratio ratio-1x1">
                            <div class="block_layer block_layer-bgImg" style="background-image: url({{biImage.url}})"></div>
                            <div class="block_layer block_layer-overlayRadial"></div>
                            <a href="{{item.bigIdeaImage[0].url}}" class="block_layer" download></a>

                            <ul class="socialIcons socialIcons-share">
                                {% set img = item.bigIdeaImage[0].url|split('?mtime=') %}
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{img[0]}}&t={{item.title}}" target="_blank" class="-facebook">{{ icons.socialicon('facebook', 16) }} {{ srt.srt('Facebook') }}</a></li>
                                <li><a href="https://twitter.com/intent/tweet?via=MenloChurch&url={{img[0]}}" target="_blank" class="-twitter">{{ icons.socialicon('twitter', 16) }} {{ srt.srt('Twitter') }}</a></li>
                                <li><a href="{{img[0]}}" class="-generic" download>{{ icons.icon('download', 16) }} {{ srt.srt('Download') }}</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
