<nav class="breadcrumb smalltext push-b-4">
    <a href="{{ siteUrl }}" class="breadcrumb_crumb">{{ currentCampus.title }}</a>
    {% if entry is defined %}
        {% for crumb in entry.getAncestors() %}
                <span class="sep"></span>
                <a href="{{ crumb.url }}" class="breadcrumb_crumb">{{ crumb.title }}</a>
        {% endfor %}
    {% endif %}
    <span class="sep"></span>
    <a href="{{ craft.request.url() }}" class="breadcrumb_crumb"><strong>{{ entry.title|default('') }}</strong></a>
</nav>