<hr>
<section class="section section-12 section-contained">
    <div class="container">
        <div class="row row-middle row-center row-md-reverse grid grid-2 text-center">
            <div class="col col-12 col-md-12 richText">
                <h3>First, choose your location</h3>
                <p>Menlo Church is one church in many locations. Please choose your location</br> below so we can show you content you'll care about!</p>
                <a href="#" class="button push-t-3 button-red" data-modal="#modal-locations" data-route="inline">Choose your location</a>
            </div>
        </div>
    </div>
</section>