<div class="countdown" id="main-countdown">
    <div class="countdown_chip">
        <span class="countdown_number h1 days">00</span>
        <span class="countdown_label">Days</span>
    </div>

    <div class="countdown_chip">
        <span class="countdown_number h1 hours">00</span>
        <span class="countdown_label">Hrs</span>
    </div>

    <div class="countdown_chip">
        <span class="countdown_number h1 minutes">00</span>
        <span class="countdown_label">Min</span>
    </div>

    <div class="countdown_chip">
        <span class="countdown_number h1 seconds">00</span>
        <span class="countdown_label">Sec</span>
    </div>
</div>