{% import '_macros/_icons' as icons %}
{% set tf360 = {
    mode: 'crop',
    width: 360,
    height: 360,
    quality: 85,
    position: 'center-center'
} %}
{% for item in features %}
    {% if item.type == 'blockFeaturedGroup' %}
        {% set group = item.featuredGroup.first() %}
        <div class="col col-12 col-sm-6 col-md-4">
            <div class="card">
                <a href="#/modal/group/{{group.id}}/{{group.locale}}" class="card_banner block">
                    <div class="ratio ratio-1x1"></div>
                    {% set gimage = group.groupImage.first() %}
                    {% if gimage %}
                        {# {% set gTrImg = craft.imager.transformImage(gimage,
                            [
                                { width:360, height:360 },
                            ],
                            {
                                format: 'jpg',
                                allowUpscale: false,
                                mode: 'crop',
                                jpegQuality: 80,
                                position: gimage.focusPctX ~ '% ' ~ gimage.focusPctY ~ '%',
                                interlace: true
                            }
                        ) %} #}
                        <div class="block_layer block_layer-bgImg" style="background-image: url({{ gimage.getUrl(tf360) }})"></div>
                    {% endif %}
                </a>

                <div class="card_content">
                    <div class="card_contentLabel">
                        <span class="label label-text">Group</span>
                    </div>

                    <h2 class="h6"><a href="#/modal/group/{{group.id}}/{{group.locale}}">{{ group.title }}</a></h2>
                    <p>{{ group.groupMeetingSchedule|default() }}</p>
                </div>

                <a href="{{siteUrl}}connect/groups-classes" class="card_hoverCta button button-red"><span>All Groups</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a>
            </div>
        </div>
    {% endif %}

    {% if item.type == 'blockFeaturedServe' %}
        {% set serve = item.featuredServe.first() %}
        <div class="col col-12 col-sm-6 col-md-4">
            <div class="card">
                <a href="#/modal/serve/{{serve.id}}/{{serve.locale}}" class="card_banner block">
                    <div class="ratio ratio-1x1"></div>
                    {% set simage = serve.serveImage.first() %}
                    {% if simage %}
                        {# {% set sTrImg = craft.imager.transformImage(simage,
                            [
                                { width:360, height:360 },
                            ],
                            {
                                format: 'jpg',
                                allowUpscale: false,
                                mode: 'crop',
                                jpegQuality: 80,
                                position: simage.focusPctX ~ '% ' ~ simage.focusPctY ~ '%',
                                interlace: true
                            }
                        ) %} #}
                        <div class="block_layer block_layer-bgImg" style="background-image: url({{ simage.getUrl(tf360) }})"></div>
                    {% else %}
                        <div class="block_layer titleCard_content bg-text bg-topo">
                            <svg class="icon icon-48 color-red" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-48-menlo"></use></svg>
                        </div>
                    {% endif %}
                    {% set homestretch = serve.serveBegins|date_modify('-7 days') %}
                    {% if now < serve.serveBegins and now > homestretch %}
                        <span class="label label-tr label-white">Deadline Soon</span>
                    {% endif %}
                </a>

                <div class="card_content">
                    <div class="card_contentLabel">
                        <span class="label label-text">Serve</span>
                    </div>

                    <h2 class="h6"><a href="#/modal/serve/{{serve.id}}/{{serve.locale}}" d>{{ serve.title }}</a></h2>
                    <p>{{ serve.serveMeetingSchedule|default('') }}</p>
                </div>

                <a href="{{siteUrl}}connect/serve" class="card_hoverCta button button-red"><span>All Serving Opportunities</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a>
            </div>
        </div>
    {% endif %}

        {% if item.type == 'blockFeaturedEvent' %}
            {% if item.featuredEvent.first() %}
                {% set preevent = item.featuredEvent.first() %}
                {% set event = craft.venti.events().id(preevent.id).startDate(">= " ~ now).first() %}
                {% if event.title is defined %}
                    <div class="col col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <a href="#/modal/event/{{event.eid}}/{{event.locale}}" class="card_banner block">
                                <div class="ratio ratio-1x1"></div>
                                {% set eimage = event.eventImage.first() %}
                                {% if eimage %}
                                    {# {% set eTrImg = craft.imager.transformImage(eimage,
                                        [
                                            { width:360, height:360 },
                                        ],
                                        {
                                            format: 'jpg',
                                            allowUpscale: false,
                                            mode: 'crop',
                                            jpegQuality: 80,
                                            position: eimage.focusPctX ~ '% ' ~ eimage.focusPctY ~ '%',
                                            interlace: true
                                        }
                                    ) %} #}
                                    <div class="block_layer block_layer-bgImg" style="background-image: url({{ eimage.getUrl(tf360) }})"></div>
                                {% else %}
                                    <div class="block_layer titleCard_content bg-white bg-topo-dark">
                                        <svg class="icon icon-48 color-red" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-48-menlo"></use></svg>
                                    </div>
                                {% endif %}
                            </a>

                            <div class="card_content">
                                <div class="card_contentLabel">
                                    <span class="label label-text">Event</span>
                                </div>

                                <h2 class="h6"><a href="#/modal/event/{{event.eid}}/{{event.locale}}" >{{ event.title }}</a></h2>
                                <p>{{ event.startDate|date("M d, Y") }}</p>
                            </div>

                            <a href="{{ siteUrl}}events" class="card_hoverCta button button-red"><span>All Events</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if item.type == 'blockGeneralFeatured' %}
            {% set ntry = item.featured.first() %}
            <div class="col col-12 col-sm-6 col-md-4">
                <div class="card">

                    <a href="{% if ntry.widgetLink is not empty %}{{ ntry.widgetLink.url }}{% endif %}" class="card_banner block" >
                        <div class="ratio ratio-1x1"></div>
                        {% set wimage = ntry.widgetImage.first() %}
                        {% if wimage %}
                            {# {% set wTrImg = craft.imager.transformImage(wimage,
                                [
                                    { width:360, height:360 },
                                ],
                                {
                                    format: 'jpg',
                                    allowUpscale: false,
                                    mode: 'crop',
                                    jpegQuality: 80,
                                    position: wimage.focusPctX ~ '% ' ~ wimage.focusPctY ~ '%',
                                    interlace: true
                                }
                            ) %} #}
                            <div class="block_layer block_layer-bgImg" style="background-image: url({{ wimage.getUrl(tf360) }})"></div>
                        {% else %}
                            <div class="block_layer titleCard_content bg-topo-dark">
                                <svg class="icon icon-48 color-red" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-48-menlo"></use></svg>
                            </div>
                        {% endif %}
                    </a>

                    <div class="card_content">
                        <h2 class="h6"><a href="{% if ntry.widgetLink is not empty %}{{ ntry.widgetLink.url }}{% endif %}">{{ ntry.title }}</a></h2>
                            <p>{{ ntry.widgetDescription|trimit(120) }}</p>
                    </div>
                    {% if ntry.widgetLink is not empty %}
                        <a href="{{ ntry.widgetLink.url }}" class="card_hoverCta button button-red"><span>{{ ntry.widgetLink.text }}</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
{% endfor %}