{% set nav = craft.amNav.getNavRaw("footer") %}

{% macro addNodeToNavigation(node, index) %}
{# col-6 col-sm-4 col-md-2 #}
    <div class="col ">
        <h4 class="h5 text-left">
            <a href="{{ node.url }}" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
        </h4>
        
        {% if node.hasChildren %}
            <ul class="push-t-2 text-left">
                {% if node.name|lower == "about" %}
                    <li><a href="#" style="text-transform:none;" data-modal="#modal-locations" data-route="landing">Locations</a></li>
                {% endif %}

                {% for subnode in node.children %}
                    <li style=""><a href="{{subnode.url}}" style="text-transform:none;" {% if subnode.blank %} target="_blank"{% endif %}>{{ subnode.name }}</a></li>
                {% endfor %}

                {% if node.name|lower == "resources" %}
                    <li><a href="#" style="text-transform:none;" data-modal="#modal-contact">Contact Us</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

<footer class="footer block bg-topo pad-b-8">
    <div class="container container-wide">
        <div class="row row-between push-b-8">
            <div class="footer_nav col col-12 col-md-12 col-lg-12">
                <div class="row row-between">
                    {% for node in nav %}
                        {{ _self.addNodeToNavigation(node, loop.index) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row row-between" style="align-items:center;">
            <div class="col col-12 col-md-3">
                <div class="text-center">
                    <p class="text-center push-b-2">
                        <a href="{{ siteUrl }}">
                            <svg width="167px" height="123px" viewBox="0 0 167 123" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="logo-vert-white" fill-rule="nonzero">
                                        <g id="text" transform="translate(0.000000, 109.000000)">
                                            <path d="M6.48,5.73821467 L3.1,0.248214673 L0,0.248214673 L0,13.2482147 L2.82,13.2482147 L2.82,4.83821467 L6.43,10.3282147 L6.51,10.3282147 L10.16,4.78821467 L10.16,13.2582147 L12.98,13.2582147 L12.98,0.258214673 L9.88,0.258214673 L6.48,5.73821467 Z M20.1,7.95821467 L26.22,7.95821467 L26.22,5.42821467 L20.1,5.42821467 L20.1,2.83821467 L27,2.83821467 L27,0.248214673 L17.22,0.248214673 L17.22,13.2482147 L27.1,13.2482147 L27.1,10.6782147 L20.1,10.6782147 L20.1,7.95821467 Z M39.75,8.23821467 L33.67,0.238214673 L30.99,0.238214673 L30.99,13.2382147 L33.81,13.2382147 L33.81,4.97821467 L40.1,13.2182147 L42.53,13.2182147 L42.53,0.218214673 L39.7,0.218214673 L39.75,8.23821467 Z M49.67,0.238214673 L46.8,0.238214673 L46.8,13.2382147 L56.1,13.2382147 L56.1,10.6382147 L49.63,10.6382147 L49.67,0.238214673 Z M87.67,10.7982147 C86.6278352,10.8013472 85.6289213,10.3818484 84.9014793,9.63556066 C84.1740372,8.88927296 83.780219,7.87995857 83.81,6.83821467 C83.81,6.83821467 83.81,6.73821467 83.81,6.68821467 L83.81,6.68821467 C83.7193848,4.58166426 85.3442626,2.79608425 87.45,2.68821467 L87.58,2.68821467 C88.8364948,2.70511633 90.036028,3.21509752 90.92,4.10821467 L92.74,2.00821467 C91.4010297,0.64150324 89.5409603,-0.086508276 87.63,0.00821467254 C85.8820601,-0.0374583324 84.187624,0.613407592 82.9197488,1.81751399 C81.6518735,3.02162038 80.9145098,4.68024477 80.87,6.42821467 C80.87,6.52821467 80.87,6.62821467 80.87,6.72821467 L80.87,6.72821467 C80.825524,10.364024 83.734254,13.3488285 87.37,13.3982147 L87.52,13.3982147 C89.5349043,13.4794 91.4775218,12.6405425 92.8,11.1182147 L90.98,9.27821467 C90.1106146,10.2452769 88.8800911,10.8098701 87.58,10.8382147 L87.67,10.7982147 Z M104.55,5.41821467 L99.29,5.41821467 L99.29,0.248214673 L96.47,0.248214673 L96.47,13.2482147 L99.29,13.2482147 L99.29,8.04821467 L104.55,8.04821467 L104.55,13.2482147 L107.37,13.2482147 L107.37,0.248214673 L104.55,0.248214673 L104.55,5.41821467 Z M119.75,7.71821467 C119.75,9.77821467 118.7,10.8382147 116.93,10.8382147 C115.16,10.8382147 114.11,9.74821467 114.11,7.63821467 L114.11,0.248214673 L111.2,0.248214673 L111.2,7.66821467 C111.2,11.4882147 113.33,13.4282147 116.85,13.4282147 C120.37,13.4282147 122.5,11.5482147 122.5,7.57821467 L122.5,0.248214673 L119.68,0.248214673 L119.75,7.71821467 Z M137.32,4.59821467 L137.32,4.59821467 C137.32,1.93821467 135.48,0.318214673 132.43,0.318214673 L126.5,0.318214673 L126.5,13.2182147 L129.32,13.2182147 L129.32,9.06821467 L131.56,9.06821467 L134.38,13.2182147 L137.71,13.2182147 L134.54,8.58821467 C136.265294,8.03790615 137.405639,6.39712169 137.32,4.58821467 L137.32,4.59821467 Z M134.43,4.74821467 C134.43,5.83821467 133.63,6.58821467 132.25,6.58821467 L129.36,6.58821467 L129.36,2.83821467 L132.1,2.83821467 C133.49,2.83821467 134.34,3.46821467 134.34,4.71821467 L134.43,4.74821467 Z M163.82,0.278214673 L163.82,5.41821467 L158.56,5.41821467 L158.56,0.248214673 L155.74,0.248214673 L155.74,13.2482147 L158.56,13.2482147 L158.56,8.04821467 L163.82,8.04821467 L163.82,13.2482147 L166.64,13.2482147 L166.64,0.248214673 L163.82,0.278214673 Z M146.86,10.8382147 C145.828091,10.81488 144.848767,10.3781718 144.141822,9.62610219 C143.434876,8.87403252 143.059522,7.86959345 143.1,6.83821467 C143.1,6.83821467 143.1,6.73821467 143.1,6.68821467 L143.1,6.68821467 C143.009385,4.58166426 144.634263,2.79608425 146.74,2.68821467 L146.87,2.68821467 C148.12344,2.72507405 149.312199,3.25301213 150.18,4.15821467 L152,2.05821467 C150.661757,0.690404369 148.801172,-0.03780874 146.89,0.0582146725 C145.136944,0.00442353586 143.434764,0.651668817 142.160346,1.85664112 C140.885928,3.06161343 140.144419,4.72489617 140.1,6.47821467 C140.1,6.57821467 140.1,6.67821467 140.1,6.77821467 L140.1,6.77821467 C140.055524,10.414024 142.964254,13.3988285 146.6,13.4482147 L146.75,13.4482147 C148.797075,13.5489067 150.774466,12.6914212 152.1,11.1282147 L150.22,9.28821467 C149.358349,10.2416177 148.144553,10.8015536 146.86,10.8382147 L146.86,10.8382147 Z M65.1,0.0382146725 C63.3228094,-0.0183621449 61.5960148,0.633818127 60.2999432,1.85111258 C59.0038716,3.06840703 58.2448309,4.75096935 58.19,6.52821467 C58.19,6.60154801 58.19,6.67488134 58.19,6.74821467 L58.19,6.74821467 C58.3311575,10.4541033 61.376424,13.3855838 65.085,13.3855838 C68.793576,13.3855838 71.8388425,10.4541033 71.98,6.74821467 L71.98,6.74821467 C71.9986633,4.98714821 71.3169307,3.29080672 70.0847957,2.03241619 C68.8526607,0.774025651 67.1710685,0.0566822829 65.41,0.0382146725 L65.1,0.0382146725 Z M68.99,6.77821467 C69.0577324,8.90267303 67.4035437,10.6861649 65.28,10.7782147 L65.1,10.7782147 C64.0463027,10.7756625 63.037532,10.3511531 62.299059,9.59952668 C61.5605861,8.84790027 61.1539507,7.83179285 61.17,6.77821467 C61.17,6.77821467 61.17,6.69821467 61.17,6.65821467 L61.17,6.65821467 C61.1022676,4.53375631 62.7564563,2.75026445 64.88,2.65821467 L65.1,2.65821467 C66.1536973,2.66076681 67.162468,3.08527626 67.900941,3.83690267 C68.6394139,4.58852908 69.0460493,5.6046365 69.03,6.65821467 C69.03,6.65821467 69.01,6.73821467 69.01,6.76821467 L68.99,6.77821467 Z" id="logo-text" fill="#FFFFFF"></path>
                                            <path d="M76.44,9.78821467 C75.3354305,9.78821467 74.44,10.6836452 74.44,11.7882147 C74.44,12.8927842 75.3354305,13.7882147 76.44,13.7882147 C77.5445695,13.7882147 78.44,12.8927842 78.44,11.7882147 C78.44,10.6836452 77.5445695,9.78821467 76.44,9.78821467 Z" id="logo-dot" fill="#E84B37"></path>
                                        </g>
                                        <path d="M106,60 L106,22 L96.5,22 L87,37.8278261 L77.5,22 L68,22 L68,60 L76.2608696,60 L76.2608696,35.2173913 L87,52.086087 L97.7391304,35.2173913 L97.7391304,60 L106,60 Z M126,28 L126,7.10542736e-15 L42,7.10542736e-15 L42,84 L126,84 L126,56 L117.25,56 L117.25,75.25 L50.75,75.25 L50.75,8.75 L117.25,8.75 L117.25,28 L126,28 Z" id="logo-mark" fill="#E84B37"></path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
            </div>

            <div class="col col-12 col-md-3">
                <p class="smalltext text-center push-b-2">
                    {% if currentCampus.location|length %}
                        {% set loc = currentCampus.location[0] %}
                        {{ loc.address }} <br> {{ loc.city }}, {{ loc.state }} {{ loc.zipCode }}
                    {% endif %}
                    {% if currentCampus.campusPhoneNumber is not empty %}
                        <br>{{ currentCampus.campusPhoneNumber }}
                    {% endif %}
                </p>
                
                <p class="smalltext push-b-2"><a href="/privacy-policy">Privacy Policy</a></p>
                <p class="smalltext">&copy; {{ now|date('Y') }} Menlo.Church</p>
            </div>

            <div class="col col-12 col-md-3">
                <div class="socialIcons socialIcons-24 socialIcons-hoverColorBrand push-b-2">
                    {% if currentCampus.socialLinks|length %}
                        {% include '_partials/_social-items' with { links:currentCampus.socialLinks[0], defaultEmail:true, website:currentCampus.campusWebsite } only %}
                    {% endif %}
                </div>
                <p class="smalltext">Site by <a href="//tippingmedia.com">Tipping Media</a></p>
                
            </div>
        </div>

        {# <p class="footer_copyright smalltext">
            &copy; {{ now|date('Y') }} Menlo.Church
            <span class="sep"></span>
            <a href="/privacy-policy">Privacy Policy</a>
            <span class="sep"></span>
            Site by <a href="//tippingmedia.com">Tipping Media</a>
        </p> #}
    </div>
</footer>