{% if entry.footerCallToAction is defined and entry.footerCallToAction|length %}
    {% set cta = entry.footerCallToAction.first() %}
    <section class="section section-20 section-contained pad-b-12 text-center">
        <div class="linemark linemark-top color-border"></div>

        <div class="container container-8">
            <h1 class="h2 push-b-4">{{ cta.heading }}</h1>
            <div class="subtext color-text-light linedLinks">{{ cta.description|default() }}</div>
            {% if cta.actionLink is not empty %}
                <div class="push-t-4">
                    <div class="buttonGroup">
                        <a href="{{ cta.actionLink.url }}" {{ cta.actionLink.target ? ' target="_blank"' }}  class="button">{{ cta.actionLink.text }}</a>
                    </div>
                </div>
            {% else %}
                <div class="push-t-4">
                    <div class="buttonGroup">
                        <a href="#" class="button" data-modal="#modal-contact">Contact Us</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endif %}