<div class="locations">
    <ul class="locations_list"></ul>
    <div class="locations_map" id="map-canvas"></div>

    <script type="text/template" id="template-locations-item">
        <div class="locations_item" data-location-id="<%= slug %>">
            <div class="locations_itemThumb" style="background-image: url('<%= photo %>')"></div>

            <div>
                <h2 class="h5"><%= name %></h2>
                <p><%= times %></p>
            </div>
        </div>
    </script>

    <script type="text/template" id="template-locations-popup">
        <div class="locations_popup">
            <img src="<%= photo %>" alt="">

            <div class="locations_popupContent">
                <h2 class="h5"><%= name %></h2>
                <p class="linedLinks"><%= addr %><br><a href="tel:<%= phone %>"><%= phone %></a></p>

                <div class="locations_buttons">
                    {# <button class="button button-red -location" data-location-id="<%= slug %>">Choose</button> #}
                    <a href="<%= mapUrl %>" class="button" target="_blank">Directions</a>
                </div>
            </div>
        </div>
    </script>
</div>