<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51"><path d="M0,51H51V34.1H46.14v12H4.82V4.82H46.14v12H51V0H0ZM36.5,36.5v-22H31.28l-5.79,9.32-5.8-9.32H14.46v22h4.76V22.21l6.14,9.32h.13l6.2-9.42V36.5Z"/></svg>