{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
<div class="monthNav">
    <button class="button-unstyled">{{ icons.icon('arrow-left') }} {{ srt.srt('Previous Month') }}</button>
    <h3 class="h2">January 2016</h3>
    <button class="button-unstyled">{{ icons.icon('arrow-right') }} {{ srt.srt('Next Month') }}</button>
</div>
