{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
<header class="header">
    <div class="container container-full">
        <div class="row row-middle">
            <div class="col col-4 col-md-2 col-lg-1">
                {% include '/_partials/_logo' %}
            </div>

            <nav class="header_nav col col-4 col-md-7 col-lg-9">
                <ul class="header_menu">
                    {# <li><a href="#" data-modal="#modal-locations" data-route="landing">Locations</a></li> #}
                    {# <li><a href="https://menlo.church/online"  target="_blank">Online Church</a></li> #}
                    {{ craft.amNav.getNav( 'main' , {
                        excludeUl: true,
                        classActive: '-current',
                        classChildren: '-hasSubmenu',
                        classLevel2: 'header_submenu'
                    }) }}
                    {# <li><a href="#" data-modal="#modal-contact">Contact</a></li> #}
                    <li class="display-none display-md-inline-block">
                        <button class="search-icon" data-modal="#modal-search" style="display:flex;align-items:center;min-width:25px;cursor:pointer;padding:0px 5px;">
                            {{ icons.icon('search', 20) }} {{ srt.srt( 'Search' ) }}
                        </button>
                    </li>
                </ul>

                <button class="header_toggle button-unstyled" data-modal="#modal-nav">{{ icons.icon('navigation-show-more') }} Menu</button>
            </nav>

            <div class="col col-4 col-md-3 col-lg-2 text-right">
                {% include '_partials/_nav-icons' %}
            </div>
        </div>
    </div>
</header>