{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}

<ul class="header_icons">
    <li class="display-none display-md-inline-block">
        <a href="https://give.menlo.church" class="button button-red" target="_blank" style="display:flex;align-items:center; line-height:1.3;">Give</a>
    </li>
    {# <li class="display-none display-md-inline-block">
        <button class="button button-red" data-modal="#modal-search" style="display:flex;align-items:center;">
            <span style="margin-right:10px;">Search</span>{{ icons.icon('search', 20) }}
        </button>
    </li> #}
    <li class="header_notifications -hasUnread" style="display:none;visibility:hidden;">
        <a class="header_notificationsIcon" data-notify-selector="#notifications">{{ icons.icon('alarm', 20) }}{{ srt.srt( 'Notifications' ) }} <span class="header_notificationsCount"></span></a>
        <div id="notifications" class="header_notificationsBox collapse">
            <h2 class="header_notificationsTitle smalltext">Notifications</h2>
            <ul>
                {% set notifications = craft.entries({
                    section:'notifications',
                    with:['notificationImage']
                }) %}
                {% if notifications|length > 0 %}
                    {% for item in notifications %}
                        <li class="header_notification -unread" data-notify-id="{{ item.id }}" data-notify-expire="{{ item.expiryDate|date('U')}}">
                            <a href="#/modal/alert/{{ item.id }}/{{craft.locale}}">
                                {% if item.notificationImage|length %}
                                    {% set image = item.notificationImage[0] %}
                                    {% set transformedImages = craft.imager.transformImage(image,
                                        [
                                            { width: 120, height: 120 },
                                        ],
                                        {
                                            format: 'jpg',
                                            allowUpscale: false,
                                            mode: 'crop',
                                            jpegQuality: 75,
                                            interlace: true
                                        }
                                    ) %}
                                    <img src="{{ transformedImages[0].url }}"
                                        sizes="100vw"
                                        alt="{{ item.title }}">
                                {% endif %}
                                <div>
                                    <h3 class="h6">{{ item.title }}</h3>
                                    <p>{{ item.postDate|timeAgoInWords()|default('')|replace( 'about', '' ) }} Ago</p>
                                </div>
                                <span class="header_notificationDot"></span>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            {% if notifications|length == 0 %}
                <p>You&rsquo;re all caught up!</p>
            {% endif %}
        </div>
    </li>
    {# <li><button class="button-unstyled" data-modal="#modal-contact">{{ icons.icon( 'bubble-chat-typing', 20 ) }}{{ srt.srt( 'Contact Us' ) }}</button></li> #}
</ul>
