{% if blocks is defined
	and blocks|length %}

	<div class="matrix" id="content">
        
		{% for block in blocks.with([
			'tabTabItems:blockTabs',
			'columnContent:blockColumn',
			'teamMembers:blockTeam',
			'steps:blockNextSteps',
			'accordionItems:blockAccordion',
			'timelineEntries:blockTimeline',
			'galleryImages:blockImageGallery',
			'statisticsImage:blockStatistics',
			'stats:blockStatistics',
			'stories:blockStories',
			'timelineMilestoneData:blockTimelineMilestone',
			'progressCircleData:blockProgressCircles',
			'pieGraphData:blockPieGraphs',
			'barGraphData:blockBarGraph',
			'groupsType:blockGroups'
		]) %}
			{% include '_blocks/_' ~ block.type|lower with { block: block, parentIdx: loop.index0 } only %}
		{% endfor %}

	</div>

{% endif %}
