{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
<script type="text/x-template" id='serve-steps-template'>
    <div class="stepFilter">
        <button class="stepFilter_nav stepFilter_nav-prev button-unstyled" @click="prev()" v-show="currentStep > 1">{{ icons.icon('arrow-left') }} {{ srt.srt('Previous') }}</button>

        <form class="stepFilter_steps">
            <serve-step v-for='step in steps' :group='step.group' :default='step.default' :pre='step.pre' :post='step.post' :stepid='step.stepid'></serve-step>
            <serve-action-step v-for='step in actionsteps' :stepid='step.setpid'></serve-action-step>
        </form>

        <button class="stepFilter_nav stepFilter_nav-next button-unstyled" @click="next()" v-show="currentStep < 4">{{ icons.icon('arrow-right') }} {{ srt.srt('Next') }}</button>
    </div>
</script>
