{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
{#{% set pc = podcast is defined ? podcast : true %}
{% set rs = rss is defined ? rss : true %}#}
{% set pageUrl = craft.request.url %}
{% set text = text is defined and text is not empty ? text : "" %}

<span class="socialIcons socialIcons-share">
    <a href="mailto:" class="-generic">{{ icons.socialicon('email', 24) }} {{ srt.srt('Email') }}</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{pageUrl}}&t={{text}}" target="_blank" class="-facebook">{{ icons.socialicon('facebook', 24) }} {{ srt.srt('Facebook') }}</a>
    <a href="https://twitter.com/home?status={{pageUrl}}{{'  ' ~ text}}" target="_blank" class="-twitter">{{ icons.socialicon('twitter', 24) }} {{ srt.srt('Twitter') }}</a>
</span>