{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
{#{% set pc = podcast is defined ? podcast : true %}
{% set rs = rss is defined ? rss : true %}#}
{% set pageUrl = url is defined and url is not empty ? url : craft.request.url %}
{% set text = text is defined and text is not empty ? text : "" %}
{% set classes = (default is defined and default) ? "socialIcons-share" : "socialIcons-24 socialIcons-hoverBgBrand socialIcons-outlined" %}

<ul class="socialIcons {{ classes }}">
    <li><a href="mailto:?subject=Menlo.church:{{text}}&body={{pageUrl}}" class="-generic">{{ icons.socialicon('email', 24) }} {{ srt.srt('Email') }}</a></li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{pageUrl}}&t={{text}}" target="_blank" class="-facebook">{{ icons.socialicon('facebook', 24) }} {{ srt.srt('Facebook') }}</a></li>
    <li><a href="https://twitter.com/home?status={{pageUrl}}{{' ' ~ text}}" target="_blank" class="-twitter">{{ icons.socialicon('twitter', 24) }} {{ srt.srt('Twitter') }}</a></li>
    {#<li><a href="#" class="-generic">{{ icons.icon('navigation-show-more') }} {{ srt.srt('More') }}</a></li>#}
</ul>