{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}

{% if links is defined %}
    {% for item in links.widgetSocialLinks %}
        {% if item.type == "blockSocialLinks" %}
            <li><a href="{{ item.serviceUrl }}" class="-{{ item.service.value }}" target="_blank">{{ icons.socialicon(item.service.value, 24) }}{{ srt.srt( item.service.label ) }}</a></li>
        {% endif %}
        {% if item.type == "blockContactLinks" %}

            {% switch item.contactOption.value %}
                {% case "emailAddress" %}
                    {# <li><a href="mailto:{{item.contactValue|default('info@menlo.church')}}" class="-generic">{{ icons.socialicon('email', 24) }} {{ srt.srt( 'Email' ) }}</a></li> #}
                {% case "phoneNumber" %}
                    <li class="tell"><a href="tell:{{item.contactValue|default()}}" class="-generic">{{ icons.socialicon('phone', 24) }} {{ srt.srt( 'phone' ) }}</a></li>
            {% endswitch %}

        {% endif %}
    {% endfor %}
{% endif %}

{# {% if defaultEmail is defined and defaultEmail %}
    <li><a href="#" class="-generic" data-modal="#modal-contact">{{ icons.socialicon('email', 24) }} {{ srt.srt( 'Email' ) }}</a></li>
{% else %}
    {% if email is defined
    and email is not empty %}
        <li><a href="mailto:{{email}}" class="-generic">{{ icons.socialicon('email', 24) }} {{ srt.srt( 'Email' ) }}</a></li>
    {% endif %}
{% endif %} #}

{% if phone is defined
    and phone is not empty %}
    <li class="tell"><a href="tel:{{phone}}" class="-generic">{{ icons.socialicon('phone', 24) }} {{ srt.srt( 'phone' ) }}</a></li>
{% endif %}

{% if website is defined
    and website is not empty %}
    <li><a href="{{website.url}}" class="-generic" target="_blank">{{ icons.socialicon('link', 24) }} {{ srt.srt( website.text ) }}</a></li>
{% endif %}

{# <li><a href="#" class="-generic">{{ icons.icon('email', 24, 16) }}{{ srt.srt( 'Email' ) }}</a></li>
<li><a href="#" class="-facebook">{{ icons.icon('facebook', 24, 16) }}{{ srt.srt( 'Facebook' ) }}</a></li>
<li><a href="#" class="-twitter">{{ icons.icon('twitter', 24, 16) }}{{ srt.srt( 'Twitter' ) }}</a></li>
<li><a href="#" class="-instagram">{{ icons.icon('instagram', 24, 16) }}{{ srt.srt( 'Instagram' ) }}</a></li>
<li><a href="#" class="-pinterest">{{ icons.icon('pinterest', 24, 16) }}{{ srt.srt( 'Pinterest' ) }}</a></li>
<li><a href="#" class="-youtube">{{ icons.icon('youtube', 24, 16) }}{{ srt.srt( 'YouTube' ) }}</a></li>
<li><a href="#" class="-snapchat">{{ icons.icon('snapchat', 24, 16) }}{{ srt.srt( 'SnapChat' ) }}</a></li>
<li><a href="#" class="-vimeo">{{ icons.icon('vimeo', 24, 16) }}{{ srt.srt( 'Vimeo' ) }}</a></li> #}
