{% if entry is defined %}
    {% set nav = craft.amNav.getNavRaw("main") %}
    {% set idx = '' %}
    {% for node in nav %}
        {% if entry.parent is defined and entry.parent != null %}
            {% if entry.parent.title|lower == node.name|lower %}
                {% set idx = node.id %}
            {% endif %}
        {% else %}
            {% if entry.title|lower == node.name|lower %}
                {% set idx = node.id %}
            {% endif %}
        {% endif %}
    {% endfor %}
    <nav class="subnav">
        <ul>
            <li><a href="{{ siteUrl }}easter-and-holy-week">Easter</a></li>
            {{ craft.amNav.getNav( 'main' , {
                excludeUl: true,
                classActive: '-active',
                startFromId: idx
            }) }}
        </ul>
    </nav>
{% endif %}