<div class="subfooter">
    <div class="container container-wide">
        <div class="row row-middle">
            <div class="col col-12 col-md-4">
                {% include '_partials/_logo' %}
            </div>

            <div class="col col-12 col-md-4">
                <div class="socialIcons socialIcons-24 socialIcons-hoverColorBrand">
                    {% if currentCampus.socialLinks|length %}
                        {% include '_partials/_social-items' with { links:currentCampus.socialLinks[0], defaultEmail:true, website:currentCampus.campusWebsite } only %}
                    {% endif %}
                </div>
            </div>

            <div class="col col-12 col-md-4"> 
                <p>
                    <span>Menlo Church {{ currentCampus.title != 'Menlo Church' ? "- " ~ currentCampus.title : ""  }}</span><br>
                    {% if currentCampus.location|length %}
                        {% set loc = currentCampus.location[0] %}
                        {% if currentCampus.secondaryLocation|length %}
                            <strong>Worship</strong>
                        {% endif %}
                        {{ loc.address }} {{ loc.city }}, {{ loc.state }} {{ loc.zipCode }}
                    {% endif %}
                    {% if currentCampus.secondaryLocation|length %}
                        {% set sloc = currentCampus.secondaryLocation[0] %}
                        <br><strong>Office</strong> {{ sloc.address }} {{ sloc.city }}, {{ sloc.state }} {{ sloc.zipCode }}
                    {% endif %}
                    {% if currentCampus.campusPhoneNumber is not empty %}
                        <br>{{ currentCampus.campusPhoneNumber }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>