/**
 * Menlo
 */

// Import Blocs variables so they're available to edit/override]
$blocs-layout-container: 1200px !default;
@import '../blocs/scss/core/functions';
@import '../blocs/scss/core/variables';
@import '../blocs/scss/core/mixins';
// BEGIN Blocs configuration --------------------------------------------------
$blocs-button-selectors: ('.button');
$blocs-colors: map-merge($blocs-colors, ( text: ( light: #8f9295, regular: #1e252b, ), border: (regular: #d1d3d3), red: (regular: #e84b37), slate: (regular: #006580), offwhite: (regular: #f5f6f6), yellow: (regular: #e4e833), ));
$blocs-brands: map-merge($blocs-brands, (generic: (regular: #1e252b)));
$blocs-font-families: map-merge($blocs-font-families, ( primary: unquote('"Gotham SSm A", "Gotham SSm B", sans-serif'), secondary: unquote('"Knockout 48 A", "Knockout 48 B", sans-serif'), ));
$blocs-grid-spacings: join($blocs-grid-spacings, (6, 8, 24));
$blocs-icon-sizes: (16, 20, 24, 48);
$blocs-iconInput-height: 4.8rem;
$blocs-ratio-ratios: ( 1x1: 100%, 2x3: 150%, 16x9: 56.25%, );
$blocs-section-spacings: 2,
4,
12,
20;
$blocs-sep-character: '/';
$blocs-spacer-spacings: $blocs-section-spacings;
$blocs-spacings: join($blocs-spacings, (32));
$blocs-z-indexes: ( header: 50, locationsDropdown: 10, modal: 100, );
// END Blocs configuration --------------------------------------------------
// Import Blocs
@import '../blocs/scss/blocs';
// Import base styles
//=include core/*.scss
// Import base styles
//=include base/*.scss
// Include node_modules CSS
//=include ../../node_modules/flickity/dist/flickity.min.css
// Import component styles
//=include components/*.scss
// Import utility styles
//=include utilities/*.scss
// Import vendor styles
//=include vendors/*.scss
// Import Menlo Styles
//-- base
@import 'base/typography';
@import 'base/animations';
@import 'base/media';
//-- core
@import 'core/forms';
@import 'core/mixins';
//-- utilities
@import 'utilities/bg';
//-- components
@import 'components/accordion';
@import 'components/alert';
@import 'components/animate';
@import 'components/barGraph';
@import 'components/bigtable';
@import 'components/bigtext';
@import 'components/block';
@import 'components/button';
@import 'components/buttonGroup';
@import 'components/calloutCard';
@import 'components/calloutFeature';
@import 'components/calloutOverlay';
@import 'components/calloutStep';
@import 'components/card';
@import 'components/chartKey';
@import 'components/circle';
@import 'components/connect';
@import 'components/counter';
@import 'components/ctaCard';
@import 'components/ctaLink';
@import 'components/events';
@import 'components/floatLabel';
@import 'components/footer';
@import 'components/form';
@import 'components/gallery';
@import 'components/groupFinder';
@import 'components/header';
@import 'components/hero';
@import 'components/hoverCard';
@import 'components/image';
@import 'components/input';
@import 'components/item';
@import 'components/label';
@import 'components/layout';
@import 'components/linedLinks';
@import 'components/linemark';
@import 'components/locations';
@import 'components/locationsButtons';
@import 'components/locationsDropdown';
@import 'components/logo';
@import 'components/matrix';
@import 'components/mediaCard';
@import 'components/meta';
@import 'components/midline';
@import 'components/modal';
@import 'components/person';
@import 'components/progressPie';
@import 'components/quote';
@import 'components/richText';
@import 'components/searchBox';
@import 'components/searchDots';
@import 'components/secondarytext';
@import 'components/section';
@import 'components/shadow';
@import 'components/share';
@import 'components/site';
@import 'components/slicedPie';
@import 'components/smalltext';
@import 'components/socialIcons';
@import 'components/stepDots';
@import 'components/subfooter';
@import 'components/subText';
@import 'components/switches';
@import 'components/tabs';
@import 'components/team';
@import 'components/teamHeader';
@import 'components/textSlider';
@import 'components/thumbCard';
@import 'components/timelineAlt';
@import 'components/timelineSlider';
@import 'components/titleCard';
@import 'components/_wrap';
@import 'components/sliderStories';
//-- vendors
@import 'vendors/audio_player';
@import 'vendors/theme_2_audio_player';