@mixin hoverBar() {
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 6rem;
        height: 5px;
        background: color(red);
        transition: .3s;
        z-index: 1;
    }
    &:hover::before {
        width: 100%;
    }
}