{% extends '_layouts/_site' %}
{% set title = "404" %}

{% set slugs = {
	'mlo': 'Menlo Church',
	'mlo_park': 'Menlo Park',
	'mlo_sj': 'San Jose',
	'mlo_mv': 'Mountain View',
	'mlo_st': 'Saratoga',
	'mlo_sm': 'San Mateo',
	'mlo_sc': 'South City',
	'mlo_on': 'Menlo Online',
} %}

{% set locale = craft.i18n.getCurrentLocale() %}
{% set campus = craft.entries({
  section: 'campuses',
  localeSlug: locale.id,
  locale: 'mlo'
}).first() %}
{% set title = "Page Not Found (404) - "~ campus.title %}

{% set loc = craft.i18n.getSiteLocales() %}
{% set currentLoc = craft.locale %}

{% set out = '' %}
{% set segments = craft.request.segments %}
{% set uri = segments|join('/') %}
{% for item in segments %}
    {% if item in loc %}
            {% set uri = segments|slice(1,segments|length)|join('/') %}
    {% endif %}
{% endfor %}

{% set cs = {
	'mlo': 'Menlo Church',
	'mlo_park': 'Menlo Park',
	'mlo_sj': 'San Jose',
	'mlo_mv': 'Mountain View',
	'mlo_st': 'Saratoga',
	'mlo_sm': 'San Mateo',
	'mlo_sc': 'South City',
	'mlo_on': 'Menlo Online',
} %}

{% block content %}
	<section class="hero section section-20 section-contained block bg-text-dark color-white">
		<div class="linemark linemark-bottom color-white"></div>
		<div class="container">
			<div class="row">
				<div class="col col-12 col-sm-10 col-md-8">
					{% for item in loc %}
						{% set mess = craft.entries.uri(uri).locale(item) %}
						{% if mess|length %}
							{% if loop.first %}
								<h1>{{ 'Content Not Available'|t }}</h1>
								<h2>{{ 'Try a different campus below'|t }}</h2>
							{% endif %}
						{% else %}
							{% if loop.first %}
								<h1>{{ 'Page Not Found'|t }}</h1>
								<h2>(404)</h2>
							{% endif %}
						{% endif %}
					{% endfor %}
					<a href="#" class="button push-t-2" data-modal="#modal-contact"><span>Get Help</span></a>
				</div>
			</div>
		</div>
	</section>
	<div class="matrix">
			<div class="section pad-8">
				<div class="container container--6 rich-text">
					{% for item in loc %}
						{% set mess = craft.entries.uri(uri).locale(item) %}
						{% if mess|length %}
							{% if loop.first %}
								<p>Sorry this isn't available for the {{ cs[craft.locale|trim|lower] }} campus, but, you can still find it by choosing a different campus below.</p>
								<p>
							{% endif %}
							{% if item != "cor" %}
								{% set heading = cs[item|trim|lower] %}
								<strong>{{ heading }}</strong></br>
								{% set eurl = "/" ~ item ~ "/" ~ uri %}
								{% set slug = slugs[item|trim|lower] %}
								<a href='{{ eurl|replace(item,slug) }}' style='cursor:pointer !important;'>http://menlo.church{{ eurl|replace(item,slug) }}</a></br></br>
							{% endif %}
							{% if loop.last %}
								</p>
							{% endif %}
						{% else %}
							{% if loop.first %}
								<p>We could not find the exact page you are looking for — but don’t give up yet! It might be that the page isn't available for the Menlo campus you have selected, or the specific address you entered has changed.</p>

								<p>Let’s see if we can find it using the search tool. If not, please <a href='#' title='Contact Us' data-modal="#modal-contact">contact us</a> for help.</p>

							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
	</div>
{% endblock %}
