{% set campuses = craft.entries({
    section: 'campuses',
    locale: 'mlo',
    with: ['socialLinks','campusImage']
}).find() %}

{% set locale = craft.i18n.getCurrentLocale() %}

{% set currentCampus = craft.entries({
    section: 'campuses',
    slug: locale.id,
    locale: 'mlo',
    with: ['socialLinks', 'campusImage','pageBgImage']
}).first() %}

{% set campusUrl = {
    'mlo': '/',
    'mlo_park': '/menlopark',
    'mlo_sj'  : '/sanjose',
    'mlo_sm'  : '/sanmateo',
    'mlo_st'  : '/saratoga',
    'mlo_mv'  : '/mountainview',
    'mlo_sc'  : '/southcity',
    'mlo_on'  : '/online',
} %}

{# ##### Cache exemption ##### #}
{% set cacheExempt = false %}
{# Exempt certain pages 
{% set cacheExemptSegments = [] %}
{% if craft.request.getSegment(1) in cacheExemptSegments %}
    {% set cacheExempt = true %}
{% endif %}#}
{% if craft.request.getParam('q') %}
	{% set cacheExempt = true %}
{% endif %}
{% if entry is defined and (entry.type.handle == "redirectPerCampus" or entry.type.handle == "redirect") %}
	{% set cacheExempt = true %}
{% endif %}
{# Also exempt pages with non-200 OK status codes #}
{% if craft.retour.getHttpStatus != 200 %}
	{% set cacheExempt = true %}
{% endif %}
{# Add any cache exemption conditions #}
{% cache globally using key craft.request.path unless cacheExempt %}
{% minify html %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
			<link rel="stylesheet" href="https://cloud.typography.com/7297196/6032572/css/fonts.css"/>

			{% include '_partials/_critical/_index' %}

			{% if not craft.config.devMode %}
				{% set expiry = now|date_modify('+1 hour') %}
				{% header "Cache-Control: max-age=" ~ (expiry.timestamp - now.timestamp) %}
				{% header "Pragma: cache" %}
				{% header "Expires: " ~ expiry|date('D, d M Y H:i:s', 'GMT') ~ " GMT" %}
			{% endif %}

			{% hook 'seomaticRender' %}

			<link rel="apple-touch-icon" sizes="180x180" href="/assets/dist/img/favicons/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/assets/dist/img/favicons/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/assets/dist/img/favicons/favicon-16x16.png">
			<link rel="manifest" href="/assets/dist/img/favicons/manifest.json">
			<link rel="mask-icon" href="/assets/dist/img/favicons/safari-pinned-tab.svg" color="#e6483b">
			<link rel="shortcut icon" href="/assets/dist/img/favicons/favicon.ico">
			<meta name="msapplication-config" content="/assets/dist/img/favicons/browserconfig.xml">
			<meta name="theme-color" content="#ffffff">

			<link rel="stylesheet" type="text/css" href="/assets/dist/css/menlo.min.css?v=3.8" media="screen">

		{% endblock %}
	</head>

	{% set note = (notify is defined and notify.autoLoadNotification|length) ? notify.autoLoadNotification.first() : "" %}
	<body class="site" data-base-url="{{siteUrl}}" data-notification="{{ note.id|default("null") }}" data-onautoload="{{ notify.alwaysOnAutoload }}" data-campus='{{ craft.locale }}'>

		<div class="wrap"> {% block body %}{% endblock %}
			</div>

			{% block modals %}
				{% include '_modals/_modal-search' %}
				{% include '_modals/_modal-locations' %}
				{% include '_modals/_modal-nav' %}
				{% include '_modals/_modal-contact' %}
			{% endblock %}

			<script type="text/javascript">
				window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
window.currentLocale = "{{ craft.locale|e('js') }}";
window.locationRoute = "landing"; // landing|inline
window.campusBaseUrls = {
"mlo": "/",
"mlo_park": "menlopark",
"mlo_sm": "sanmateo",
"mlo_mv": "mountainview",
"mlo_sj": "sanjose",
"mlo_st": "saratoga",
"mlo_sc": "southcity",
'mlo_on': 'online'
};
window.groupLocaleAreas = {
"mlo": {
id: 989,
slug: 'near-menlo-park'
},
"mlo_park": {
id: 989,
slug: 'near-menlo-park'
},
"mlo_sm": {
id: 990,
slug: 'near-san-mateo'
},
"mlo_mv": {
id: 991,
slug: 'near-mountain-view'
},
"mlo_sj": {
id: 993,
slug: 'near-san-jose'
},
"mlo_st": {
id: 992,
slug: 'near-saratoga'
},
"mlo_sc": {
id: 2348,
slug: 'near-south-city'
}
}
			</script>

			{# <noscript id="deferred-styles">
			            <link rel="stylesheet" type="text/css" href="/assets/dist/css/menlo.min.css?v=3.6" media="screen">
			        </noscript>
			        <script>
			            var loadDeferredStyles = function() {
			                var addStylesNode = document.getElementById("deferred-styles");
			                var replacement = document.createElement("div");
			                replacement.innerHTML = addStylesNode.textContent;
			                document.body.appendChild(replacement)
			                addStylesNode.parentElement.removeChild(addStylesNode);
			            };
			            var raf = requestAnimationFrame || mozRequestAnimationFrame ||
			                webkitRequestAnimationFrame || msRequestAnimationFrame;
			            if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
			            else window.addEventListener('load', loadDeferredStyles);
			        </script> #}
			{# 3.4.1 previous #}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=CustomEvent,fetch,Promise&flags=gated"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS0dSJVa-cw6nZKgwU33RI0NccD9oMCDI"></script>
			<script src="/assets/dist/js/vendor/infobox_packed.js"></script>
			<script src="/assets/dist/js/menlo.js?v=28"></script>

			{% if entry is defined and entry.type.handle in ['landingEvents','landingMessages','landingServe','landingGroups','landingStaff','landingMissions'] %}
				<script src="/assets/dist/js/components/web.bundle.js?v=8.3"></script>
			{% endif %}


			{% include '/_partials/_icons' %}
			{% include '/_partials/_audioicons' %}
			{% include '/_partials/_social-icons' %}

			{{ siteWideContent.scripts|raw }}

			{# {% if not craft.config.devMode and siteWideContent.scripts is not empty %}
			            {{ siteWideContent.scripts|raw }}
			        {% endif %} #}

			{% if not craft.config.devMode %}
				<script>
					(function (i, s, o, g, r, a, m) {
i['GoogleAnalyticsObject'] = r;
i[r] = i[r] || function () {
(i[r].q = i[r].q || []).push(arguments)
},
i[r].l = 1 * new Date();
a = s.createElement(o),
m = s.getElementsByTagName(o)[0];
a.async = 1;
a.src = g;
m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', '{{ analytics.googleAnalyticsId|default("") }}', 'auto');
ga('send', 'pageview');
				</script>
			{% endif %}

		</body>
	</html>
	{% endminify %}
	{% endcache %}
