{% set currentSeries = craft.entries({
    section: 'messageSeries',
    seriesCurrent: 1,
    limit: 1,
    with: ['seriesImage']
}).first() %}

{% extends '_layouts/_base' %}

{% block body %}
    {% include '_partials/_nav' %}

    {% block content %}{% endblock %}
    {# {% include '_partials/_sub-footer' %} #}
    {% include '_partials/_footer' %}
{% endblock %}
    