{# Full Image #}
{% for wdg in block.columnContent.entries %}
    {% set image = wdg.widgetImage.first() %}
    {# {% set transformedImages = craft.imager.transformImage(image,
        [
            { width: 1600, ratio: 16/9 },
            { width: 1000, ratio: 16/9 },
            { width: 768, ratio: 2/1, jpegQuality: 75 },
        ],
        {
            format: 'jpg',
            allowUpscale: false,
            mode: 'crop',
            jpegQuality: 80,
            position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
            interlace: true
        }
    ) %} #}
    {% set tf1600x900 = {
        mode: 'crop',
        width: 1600,
        height: 900,
        quality: 98,
        position: 'center-center'
    } %}
    {% if image %}
        <section class="image section section-contained">
            <img src="{{ image.getUrl(tf1600x900) }}"
                sizes="100vw"
                srcset="{{ craft.imager.srcset(transformedImages) }}"
                alt="{{ image.title }}">
            {% if image.cite is not empty %}
                <div class="caption">{{ image.cite }}</div>
            {% endif %}
        </section>
    {% endif %}
{% endfor %}
