{# Callout Center #}
{# bg-text: grey, bg-red: red, bg-topo: blue  #}

{% set accents = {
    'grey': 'bg-text',
    'red' : 'bg-red',
    'blue': 'bg-slate',
    'white': ''
} %}


{% for wdg in block.columnContent.entries %}
    {% set hasImg = wdg.widgetImage|length ? true : false %}
    {% set accent = (block.columnBackgroundColor is not empty and not hasImg) ? block.columnBackgroundColor.value : false %}
    {% set style = (block.columnBackgroundColor is not empty and block.columnBackgroundColor.value != 'white' and not hasImg) ? 'bg-text-dark color-white' : hasImg ? ' block color-white' : '' %}

    <section class="section section-20 section-contained text-center {% if accent %}{{accents[accent]}} bg-topo{% endif %} {{ style }}">
        {% if hasImg %}
            {% set image = wdg.widgetImage.first() %}
            {# {% set transformedImages = craft.imager.transformImage(image,
                [
                    { width: 1200, ratio: 2/1 },
                ],
                {
                    format: 'jpg',
                    allowUpscale: false,
                    mode: 'crop',
                    jpegQuality: 80,
                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                    interlace: true
                }
            ) %} #}
            {% set tf1200x674 = {
                mode: 'crop',
                width: 1200,
                height: 674,
                quality: 98,
                position: 'center-center'
            } %}
            <div class="block_layer block_layer-bgImg rellax" style="background-image: url({{ image.getUrl(tf1200x674) }}); "></div>
            <div class="block_layer block_layer-overlayRadial"></div>
        {% endif %}
        <div class="linemark linemark-top color-border"></div>
        <div class="container container-8">
            <h1 class="h2 push-b-4 text-center">{{ wdg.title }}</h2>
            <div class="subtext linedLinks linedLinks-dark">{{ wdg.widgetDescription|default('') }}</div>

            <div class="section_footer">
                <div class="buttonGroup">
                    {% if wdg.widgetLink %} 
                        <a href="{{ wdg.widgetLink.url }}" {{ wdg.widgetLink.target ? ' target="_blank"' }} class="button {% if accent !='white' %}button-outline{% endif %}">
                            <span>{{ wdg.widgetLink.text }}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endfor %}
