{% if block is defined and 
    block.featuredItems is defined and 
    block.featuredItems.entries|length %}
    {% import '_macros/_icons' as icons %}
    {% import '_macros/_card-feature' as m_fe %}
    
    <div class="section section-contained section-12 bg-offwhite-radial">
        <div class="linemark linemark-top color-border"></div>
        {% if block.featuredHeading is not empty or block.featuredSubHeading is not empty %}
            <div class="section_header container container-7">
                <hr class="push-b-6 color-border-dark">
                <h2 class="h1">{{ block.featuredHeading|default() }}</h2>
                <p class="push-t-4">{{ block.featuredSubHeading|default() }}</p>
            </div>
        {% endif %}
        
        <div class="container">
            <div class="row row-center grid grid-2">
                {% for card in block.featuredItems.entries %}
                    <div class="col col-12 col-sm-9 col-md-6">
                        {% set data = {} %}
                        {% switch card.section.handle %}
                            {% case "widgets" %}
                                {% set data = {
                                    image: card.widgetImage|length ? card.widgetImage : false,
                                    title: card.title,
                                    description: card.widgetDescription|default(),
                                    link : card.widgetLink is not empty ? {
                                        url: card.widgetLink.url,
                                        text: card.widgetLink.text,
                                        target: card.widgetLink.target ? "_blank",
                                    }
                                } %}
                            {% case "blog" %}
                                {% set data = {
                                    image:  card.postImage|length ? card.postImage : false,
                                    title: card.title,
                                    description: card.postSummary,
                                    link : {
                                        url: card.url,
                                        text: "Read post",
                                        target: "",
                                    }
                                } %}
                            {% case "messageSeries" %}
                                {% set data = {
                                    image: card.seriesImage|length ? card.seriesImage : false,
                                    title: card.title,
                                    description: card.seriesDescription|default(),
                                    link : {
                                        url: card.url,
                                        text: "View",
                                        target: "",
                                    }
                                } %}
                            {% case "messages" %}
                                {% set data = {
                                    image: card.messageImage|length ? card.messageImage : false,
                                    title: card.title,
                                    description: card.messageSummary|default(),
                                    link : {
                                        url: card.url,
                                        text: "View",
                                        target: "",
                                    }
                                } %}
                            {% case "serve" %}
                                {% set data = {
                                    image: card.serveImage|length ? card.serveImage : false,
                                    title: card.title,
                                    description: card.serveOverview|default(),
                                    link : {
                                        url: card.url,
                                        text: "View",
                                        target: "",
                                    }
                                } %}
                        {% endswitch %}
                        
                        {{ m_fe.feature(data)}}
                    </div>
                {% endfor %}
            </div>
            {% if block.featuredActionLink is defined and block.featuredActionLink is not empty %}
                <div class="container push-t-6 text-center">
                    <a href="{{ step.featuredActionLink.url }}" class="button" {{ step.featuredActionLink.target ? ' target="_blank"' }}><span>{{ step.eventsActionLink.text }}</span></a>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}