{% macro m_hd( heading = "", subHeading = "") %}
    {% if heading is not empty or subHeading is not empty %}
            <div class="section_header container container-7">
                <hr class="push-b-6 color-border-dark">
                <h2 class="h1">{{ heading|default('') }}</h2>
                <p class="push-t-4">{{ subHeading|default('') }} </p>
            </div>
        {% endif %}
{% endmacro %}

{% macro m_cd(elm = { image: false, title: "", description: "", link: {},  transform: "", length: 0 }) %}
    {# {% import '_macros/_maxcolumns' as col %} #}
    {# {% import '_macros/_widgets' as widgets %} #}
    {% import '_macros/_icons' as icons %}
    {% set hasImg = elm.image|length ? true : false %}

    <div class="col col-12 col-sm-6 col-md-4">
        <div class="hoverCard ratio ratio-1x1 block bg-text color-white">
            {% if hasImg %}
                {% set image = elm.image.first() %}
                {# {% set transformedImages = craft.imager.transformImage(image,
                    [
                        { width: 420, ratio: 3/4 },
                    ],
                    {
                        format: 'jpg',
                        allowUpscale: false,
                        mode: 'crop',
                        jpegQuality: 80,
                        position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                        interlace: true
                    }
                ) %} #}
                {% set tf420x560 = {
                mode: 'crop',
                width: 420,
                height: 560,
                quality: 98,
                position: 'center-center'
            } %}
                <div class="block_layer block_layer-bgImg" style="background-image: url({{ image.getUrl(tf420x560) }}); "></div>
            {% endif %}
            <div class="block_layer block_layer-overlayAngled"></div>
            <div class="block_layer block_layer-overlay"></div>

            <div class="block_layer hoverCard_content">
                <h2 class="h5"><a {% if elm.link is not empty %} href="{{ elm.link.url }}" {{  elm.link.target ? ' target="_blank"' }}{% endif %}>{{ elm.title }}</a></h2>
                <p>{{ elm.description|default('') }}</p>
                {%- if elm.link is not empty -%}
                    <a href="{{ elm.link.url }}" {{  elm.link.target ? ' target="_blank"' }} class="ctaLink"><span>{{  elm.link.text }}</span> {{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a>
                {%- endif -%}
            </div>
        </div>
    </div>
{% endmacro %}

{% from _self import m_cd %}
{% from _self import m_hd %}

<section>
    {% if block.type == "blockColumn" and block.columnContent.entries|length %}
        {# {{ m_hd(block.sectionHeading, block.sectionSubHeading) }} #}
        <div class="container container-full container-collapse">
            <div class="row row-center">
                {% set length = block.columnContent.entries|length %}
                {% for wdg in block.columnContent.entries %}
                    {% set data = {
                        image: wdg.widgetImage|length ? wdg.widgetImage : false,
                        title: wdg.title,
                        description: wdg.widgetDescription,
                        link: wdg.widgetLink ?? wdg.widgetLink,
                        length: length
                    } %}
                    {{ m_cd(data) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</section>
