<section>
    <div class="container container-full container-collapse">
        <div class="row row-center">
            {% set accents = {
                'grey': 'bg-text',
                'red' : 'bg-red',
                'blue': 'bg-slate',
                'white': ''
            } %}

            {% for wdg in block.columnContent.entries %}
                {% set accent = wdg.backgroundColor is not empty ? wdg.backgroundColor.value : false %}
                <div class="col col-12 col-sm-6 col-md-4">
                    <div class="ctaCard ratio ratio-1x1 block bg-topo {% if accent and accent != 'white'%} {{ accents[accent] }} color-white {% endif %}">
                        <div class="block_layer block_layer-overlayRadial"></div>
                        <div class="block_layer ctaCard_content">
                            <div class="ctaCard_inner">
                                <h2 class="h5"><a {% if wdg.widgetLink is not empty %}href="{{ wdg.widgetLink.url }}" {{ wdg.widgetLink.target ? ' target="_blank"' }}{% endif %}>{{ wdg.title }}</a></h2>
                                <p class="linedLinks {% if accent == 'white'%}linedLinks-dark{% endif %}">{{ wdg.widgetDescription|default('')|trimit(140) }}</p>
                                {% if wdg.widgetLink is not empty %} 
                                    <a href="{{ wdg.widgetLink.url }}" {{ wdg.widgetLink.target ? ' target="_blank"' }} class="button {% if accent and accent != 'white' %}button-outline{% endif %}">
                                        <span>{{ wdg.widgetLink.text }}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>