{% import '_macros/_maxcolumns' as col %}
{% import '_macros/_widgets' as widgets %}
{% import '_macros/_icons' as icons %}

<section class="section section-20 section-contained">
	{% if block.sectionHeading is not empty or block.sectionSubHeading is not empty %}
		<div class="linemark linemark-top color-border"></div>
		<div class="container container-8 section_header">
			{% if block.sectionHeading is not empty %}
				<h1 class="h2">{{ block.sectionHeading|default('') }}</h1>
			{% endif %}
			{% if block.sectionSubHeading is not empty %}
				<p class="subtext push-t-4 color-text-light linedLinks">{{ block.sectionSubHeading|default('') }}
				</p>
			{% endif %}
		</div>
	{% endif %}
	<div class="container push-t-8">
		<div class="row grid grid-8">
			{% set length = block.columnContent.entries|length %}
			{% for wdg in block.columnContent.entries %}
				<div class="col col-12 col-sm-6 {{ col.maxcol(length)|trim }}">
					<div class="item">
						{% if wdg.type|lower == 'widgetimageaction' %}
							<div class="push-b-4">
								<a href="{{ wdg.widgetLink is not empty ? wdg.widgetLink.url : '#' }}" {{ wdg.widgetLink is not empty and wdg.widgetLink.target ? ' target="_blank"' }} class="ratio ratio-16x9 block">
									{% set image = wdg.widgetImage.first() %}
									{# {% set transformedImages = craft.imager.transformImage(image,
									                                        [
									                                            { width: 600, ratio: 16/9 },
									                                            { width: 400, ratio: 16/9 },
									                                        ],
									                                        {
									                                            format: 'jpg',
									                                            allowUpscale: false,
									                                            mode: 'crop',
									                                            jpegQuality: 80,
									                                            interlace: true
									                                        }
									                                    ) %} #}
									{% set tf600x338 = {
                                        mode: 'crop',
                                        width: 600,
                                        height: 338,
                                        quality: 98,
                                        position: 'center-center'
                                    } %}
									{% if image %}
										<img class="block_layer block_layer-bgImg" src="{{ image.getUrl(tf600x338) }}" sizes="100vw" alt="{{ image.title }}"/>
									{% endif %}
								</a>
							</div>
						{% elseif wdg.type|lower =='widgetvideoaction' %}
							<div class="push-b-4 fitvids">
								{% if wdg.widgetVideoEmbed is not empty %}
									{{ wdg.widgetVideoEmbed|raw }}
								{% else %}
									{{ wdg.video.embed({ width:570, height: 320 }) }}
								{% endif %}
							</div>
						{% endif %}


						<h2 class="h4">
							{%- if wdg.widgetLink is not empty -%}
								<a href="{{ wdg.widgetLink.url }}" {{ wdg.widgetLink.target ? ' target="_blank"' }}>{{ wdg.title }}</a>
							{%- else -%}
								{{ wdg.title }}
							{%- endif -%}
						</h2>
						<p class="linedLinks">
							{{ wdg.widgetDescription }}
						</p>
						{%- if wdg.widgetLink is not empty -%}
							<a href="{{ wdg.widgetLink.url }}" {{ wdg.widgetLink.target ? ' target="_blank"' }} class="ctaLink">
								<span>{{  wdg.widgetLink.text }}</span>
								{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a>
						{%- endif -%}

					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
