{% for wdg in block.columnContent.entries %}
    <div class="section section-boxed block align-center fill-fog">
        <div class="linemark linemark-top color-border"></div>
        <div class="container container-8">
            <div class="section_header">
                <h1 class="color-gray">{{ wdg.title }}</h1>
                <h2>{{ wdg.widgetDescription|default() }}</h2>
            </div>

            <div class="grid grid-condensed pull-t-0">
                <span class="mejs-offscreen">Audio Player</span>
                {% include '/_blocks/_blockmediaaction' with { block: wdg, type: block.type } only %}
            </div>

            <div class="section_footer">
                {% if wdg.widgetLink is not empty %}
                    <a href="{{ block.widgetLink.url }}" {{ block.widgetLink.target is defined and block.widgetLink.target ?  "target='_blank'"  }} class="btn"><span>Learn More</span></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
