{% for widget in block.columnContent.entries %}
    <div class="section align-center">
        <div class="linemark linemark-top color-border"></div>
        <div class="section_header container container-8">
            <h1 class="color-gray">{{ widget.title }}</h1>
            <h2>{{ widget.widgetDescription|default() }}</h2>
        </div>

        <div class="container container-10 fitvids">
            <div class="mediaWrap">
                <div class="fluid-width-video-wrapper" style="padding-top: 56.2%;">
                    {% if widget.widgetVideoEmbed is not empty %}
                        {{ widget.widgetVideoEmbed|raw }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="section_footer container container-8">
            {% if widget.widgetLink is not empty %}
                <a href="{{ widget.widgetLink.url }}" {{ widget.widgetLink.target is defined and widget.widgetLink.target ?  "target='_blank'"  }} class="btn"><span>Learn More</span></a>
            {% endif %}
        </div>
    </div>
{% endfor %}
