{% if block is defined %}
    {% macro m_cd(elm = { image: false, title: "", description: "", link: {}, action:{}, right: false }) %}
        {% import '_macros/_widgets' as widgets %}
        {% set transform = {
            mode: 'crop',
            width: 1600,
            height: 680,
            quality: 75,
            position: 'center-center'
        } %}
        <div class="section calloutMedia">
            <div class="container container-full">
                <div class="row row-middle row-collapse {% if elm.right is defined %}row-reverse{% endif %}">
                    <div class="calloutMedia_media block col col-12 col-sm-6 col-md-8">
                        <div class="block_layer block_layer-bgImg" style="background-image: url({{ elm.image[0].getUrl(transform)|default() }})"></div>
                    </div>

                    <div class="col col-12 col-sm-6 col-md-4">
                        <div class="card_content">
                            <h2 class="h4">{{ elm.title }}</h2>
                            <div class="push-y-3">{{ elm.description }}</div>
                            {% if elm.action|length > 0 %}
                                {{ elm.action ? widgets.link( elm.action, 'ctaLink-dark') : '' }}
                            {% else %}
                                {{ elm.link ? widgets.link( elm.link, 'ctaLink-dark' ) : '' }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endmacro %}

    {% from _self import m_cd %}

    {# Callout Media Left #}
    {% if block.type == "blockColumns" and block.columnContent.entries|length %}
        {% for wdg in block.columnContent.entries %}
            {% set data = {
                image: wdg.widgetImage|length ? wdg.widgetImage : false,
                title: wdg.title,
                description: wdg.widgetDescription,
                link: wdg.widgetLink ?? wdg.widgetLink,
                action: {},
                right: right ?? right
            } %}
            {{ m_cd(data) }}
        {% endfor %}
    {% endif %}

    {% if block.type == "blockFeatured" and block.featuredItems.entries|length %}
        {% for card in block.featuredItems.entries %}
            {% set data = {} %}
            {% switch card.section.handle %}
                {% case "widgets" %}
                    {% set data = {
                        image: card.widgetImage|length ? card.widgetImage : false,
                        title: card.title,
                        description: card.widgetDescription|default(),
                        link : card.widgetLink is not empty ? {
                            url: card.widgetLink.url,
                            text: card.widgetLink.text,
                            target: card.widgetLink.target ? "_blank",
                        },
                        action: block.featuredActionLink is not empty ? {
                            url: block.featuredActionLink.url,
                            text: block.featuredActionLink.text,
                            target: block.featuredActionLink.target
                        }
                    } %}
                {% case "blog" %}
                    {% set data = {
                        image:  card.postImage|length ? card.postImage : false,
                        title: card.title,
                        description: card.postSummary,
                        link : {
                            url: card.url,
                            text: "Read post",
                            target: "",
                        },
                        action: block.featuredActionLink is not empty ? {
                            url: block.featuredActionLink.url,
                            text: block.featuredActionLink.text,
                            target: block.featuredActionLink.target
                        }
                    } %}
                {% case "messageSeries" %}
                    {% set data = {
                        image: card.seriesImage|length ? card.seriesImage : false,
                        title: card.title,
                        description: card.seriesDescription|default(),
                        link : {
                            url: card.url,
                            text: "View",
                            target: "",
                        },
                        action: block.featuredActionLink is not empty ? {
                            url: block.featuredActionLink.url,
                            text: block.featuredActionLink.text,
                            target: block.featuredActionLink.target
                        }
                    } %}
                {% case "messages" %}
                    {% set data = {
                        image: card.messageImage|length ? card.messageImage : false,
                        title: card.title,
                        description: card.messageSummary|default(),
                        link : {
                            url: card.url,
                            text: "View",
                            target: "",
                        },
                        action: block.featuredActionLink is not empty ? {
                            url: block.featuredActionLink.url,
                            text: block.featuredActionLink.text,
                            target: block.featuredActionLink.target
                        }
                    } %}
                {% case "serve" %}
                    {% set data = {
                        image: card.serveImage|length ? card.serveImage : false,
                        title: card.title,
                        description: card.serveOverview|default(),
                        link : {
                            url: card.url,
                            text: "View",
                            target: "",
                        },
                        action: block.featuredActionLink is not empty ? {
                            url: block.featuredActionLink.url,
                            text: block.featuredActionLink.text,
                            target: block.featuredActionLink.target
                        }
                    } %}
            {% endswitch %}
            {% if right is defined %}
                {% set data = data|merge({ right: right ? right }) %}
            {% endif %}
            {{ m_cd(data) }}
        {% endfor %}

    {% endif %}
{% endif %}
