{% import '_macros/_icons' as icons %}
{% set transform = {
    mode: 'crop',
    width: 1600,
    height: 680,
    quality: 75,
    position: 'center-center'
} %}
{% for wdg in block.columnContent.entries %}
    {% set image = wdg.widgetImage|length ? wdg.widgetImage[0] : false %}
    <div class="section calloutMedia">
        <div class="container container-full container-collapse">
            <div class="row row-middle {% if right is defined %}row-reverse{% endif %}">
            <div class="calloutMedia_media block col col-12 col-sm-6 col-md-8">
                {% if image %}
                    <div class="block_layer block_layer-bgImg" style="background-image: url({{ image.getUrl(transform)}})"></div>
                {% endif %}
            </div>

            <div class="col col-12 col-sm-6 col-md-4">
                <div class="card_content arrow arrow-l">
                <h2 class="h4">{{ wdg.title }}</h2>
                <p class="push-y-3">{{ wdg.widgetDescription }}</p>
                {% if wdg.widgetLink is not empty %}
                    <p><a href="{{ wdg.widgetLink.url }}" {{ wdg.widgetLink.target ? ' target="_blank"' }}class="ctaLink"><span>{{ wdg.widgetLink.text }}</span>{{ icons.icon('arrow-right') }}</a></p>
                {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
{% endfor %}
