{# Callout Image Right Content Left #}
{% set dir = (direction is defined and direction == "right") ? 'right' : 'left' %}
{% for wdg in block.columnContent.entries %}
    <section class="calloutOverlay calloutOverlay-{{dir}} section section-12 section-contained block bg-text color-white">
        {% set hasImg = wdg.widgetImage|length ? true : false %}
        {% if hasImg %}
            {% set image = wdg.widgetImage.first() %}
            {# {% set transformedImages = craft.imager.transformImage(image,
                [
                    { width: 1200, ratio: 16/9 },
                ],
                {
                    format: 'jpg',
                    allowUpscale: false,
                    mode: 'crop',
                    jpegQuality: 80,
                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                    interlace: true
                }
            ) %} #}
            {% set tf1200x674 = {
                mode: 'crop',
                width: 1200,
                height: 674,
                quality: 98,
                position: 'center-center'
            } %}
            <div class="block_layer block_layer-bgImg" style="background-image: url({{ image.getUrl(tf1200x674) }}); "></div>
            <div class="block_layer block_layer-overlayRadial"></div>
        {% endif %}

        <div class="container">
            <div class="calloutOverlay_content">
                <h1 class="h3">{{ wdg.title }}</h1>
                <div class="push-t-4 linedLinks linedLinks-dark">
                    {{ wdg.widgetDescription }}
                </div>
                {% if wdg.widgetLink is not empty %}   
                    <div class="push-t-4">
                        <div class="buttonGroup buttonGroup-left">
                            <a href="{{ wdg.widgetLink.url }}" {{ wdg.widgetLink.target ? ' target="_blank"' }} class="button button-outline">
                                <span>{{ wdg.widgetLink.text }}</span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endfor %}
