{% macro m_cd(elm = { image: false, video: false, title: "", description: "", link: {}, accent: 'white', right: false }) %}

    {% set hasImg = elm.image|length ? true : false %}
    {% set dir = elm.right is defined and elm.right ? 'calloutCard-right' : 'calloutCard-left' %}
    {% set accents = {
        'grey': 'bg-text',
        'red' : 'bg-red',
        'blue': 'bg-slate',
        'white': ''
    } %}
    <section class="calloutCard section section-12 section-contained block bg-topo {{ dir }} {{ accents[elm.accent] }}">
        {% if hasImg %}
            {% set image = elm.image.first() %}
            {# {% set transformedImages = craft.imager.transformImage(image,
                [
                    { width: 900, ratio: 3/4 },
                ],
                {
                    format: 'jpg',
                    allowUpscale: false,
                    mode: 'crop',
                    jpegQuality: 80,
                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                    interlace: true
                }
            ) %} #}
            {% set tf900x506 = {
                mode: 'crop',
                width: 900,
                height: 506.25,
                quality: 98,
                position: 'center-center'
            } %}
            <div class="block_layer block_layer-bgImg" style="background-image: url({{ image.getUrl(tf900x506) }}); "></div>
        {% endif %}
        
        <div class="container container-wide">
            <div class="calloutCard_card">
                <h1 class="h3">{{ elm.title }}</h1>
                {% if elm.video %}
                    <div class='push-t-4'>
                        {{ elm.video|raw}}
                    </div>
                {% endif %}
                <div class="push-t-4 linedLinks">
                    {{ elm.description }}
                </div>
                {% if elm.link is not empty %}
                    <div class="push-t-4">
                        <div class="buttonGroup buttonGroup-left">
                            <a href="{{ elm.link.url }}" {{ elm.link.target ? ' target="_blank"' }}class="button"><span>{{ elm.link.text }}</span></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endmacro %}

{% from _self import m_cd %}

{# Callout Card Left #}
{% if block.type == "blockColumn" and block.columnContent.entries|length %}
    {% for wdg in block.columnContent.entries %}
        {% set data = {
            image: wdg.widgetImage|length ? wdg.widgetImage : false,
            video: wdg.type == 'videoWidget' ? wdg.widgetVideoEmbed : '',
            title: wdg.title,
            description: wdg.widgetDescription,
            link: wdg.widgetLink ?? wdg.widgetLink,
            accent: block.columnBackgroundColor is not empty ? block.columnBackgroundColor.value : false,
            right: right is defined ? right : false,
        } %}
        {{ m_cd(data) }}
    {% endfor %}
{% endif %}

{% if block.type == "blockFeatured" and block.featuredItems.entries|length %}
    {% for card in block.featuredItems.entries %}
        {% set data = {} %}
        {% switch card.section.handle %}
            {% case "widgets" %}
                {% set data = {
                    image: card.widgetImage|length ? card.widgetImage : false,
                    title: card.title,
                    description: card.widgetDescription|default(),
                    link : card.widgetLink is not empty ? {
                        url: card.widgetLink.url,
                        text: card.widgetLink.text,
                        target: card.widgetLink.target ? "_blank",
                    }
                } %}
            {% case "blog" %}
                {% set data = {
                    image:  card.postImage|length ? card.postImage : false,
                    title: card.title,
                    description: card.postSummary,
                    link : {
                        url: card.url,
                        text: "Read post",
                        target: "",
                    }
                } %}
            {% case "messageSeries" %}
                {% set data = {
                    image: card.seriesImage|length ? card.seriesImage : false,
                    title: card.title,
                    description: card.seriesDescription|default(),
                    link : {
                        url: card.url,
                        text: "View",
                        target: "",
                    }
                } %}
            {% case "messages" %}
                {% set data = {
                    image: card.messageImage|length ? card.messageImage : false,
                    title: card.title,
                    description: card.messageSummary|default(),
                    link : {
                        url: card.url,
                        text: "View",
                        target: "",
                    }
                } %}
            {% case "serve" %}
                {% set data = {
                    image: card.serveImage|length ? card.serveImage : false,
                    title: card.title,
                    description: card.serveOverview|default(),
                    link : {
                        url: card.url,
                        text: "View",
                        target: "",
                    }
                } %}
        {% endswitch %}
        {% set data = data|merge({ right: right is defined ? right : false, colorToggle: 0 }) %}
        {{ m_cd(data) }}
    {% endfor %}
{% endif %}
