<section class="section section-20 section-contained text-center">
    <div class="linemark linemark-top color-border"></div>

    <div class="container container-10">
        <h1 class="h2 push-b-6">{{ block.videoEmbedHeading }}</h1>
        {{ block.videoEmbed|raw }}
        {% if block.videoEmbedActionLink is not empty %}
            {% set link = block.videoEmbedActionLink %}
            <div class="push-t-6">
                <div class="buttonGroup">
                    <a href="{{link.url}}" class="button" {{ link.target ? ' target="_blank"' }}>{{ link.text }}</a>
                </div>
            </div>
        {% endif %}
    </div>
</section>