{% import '/_macros/_pie-graph' as piegraph %}
{% import '_macros/_icons' as icons %}
{% if block.largeSection == 1 %}
    {% set chart = block.progressCircleData[0] %}
    {% set accent = chart.backgroundColor is not empty ? chart.backgroundColor.value : false %}
    {% set accents = {
        'grey': 'bg-text',
        'red' : 'bg-red',
        'blue': 'bg-slate',
        'white': ''
    } %}
    {% set hasImg = chart.widgetImage|length ? true : false %}
    <section class="section section-12 section-contained block {{ accent ? accents[accent] ~ ' bg-topo' :'' }} {% if (accent and accent != 'white') or hasImg %}color-white{% endif %} overflow-hidden">
        
        {% if hasImg %}
            {% set image = chart.widgetImage.first() %}
            {% set transformedImages = craft.imager.transformImage(image,
                [
                    { width: 1600, ratio: 16/9 },
                ],
                {
                    format: 'jpg',
                    allowUpscale: false,
                    mode: 'crop',
                    jpegQuality: 80,
                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                    interlace: true
                }
            ) %}
            <div class="block_layer block_layer-bgImg rellax" style="background-image: url({{ transformedImages[0].url }})"></div>
            <div class="block_layer block_layer-overlayRadial"></div>
        {% endif %}
        
        <div class="container">
            <div class="row row-middle row-between row-reverse grid grid-4">
                <div class="col col-12 col-sm-4">
                    {% set d = chart.widgetChartData[0] %}
                    {{ piegraph.pie(parentIdx, d.label, d.value, d.color, 35) }}
                </div>

                <div class="col col-12 col-sm-7">
                    <h1 class="h3">{{ chart.title }}</h1>
                    {% if chart.widgetSubHeading is not empty %}
                        <p class="secondarytext push-t-2"><strong>{{ chart.widgetSubHeading }}</strong></p>
                    {% endif %}
                    <p class="push-t-4">{{ chart.widgetDescription|default() }}</p>
                    {% if chart.widgetLink is not empty %}
                        <p class="push-t-4">
                            <a href="{{ chart.widgetLink.url }}" class="ctaLink" {{ chart.widgetLink.target ? ' target="_blank"' }}><span>{{ chart.widgetLink.text }}</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% else %}
    <section class="section section-20 section-contained text-center">
        <div class="container container-7">
            {% for chart in block.progressCircleData %}
                <div class="row row-center grid grid-4">
                    {% set col = 3 %}
                    {% switch chart.widgetChartData|length %}
                        {% case 2 %}
                            {% set col = 6 %}
                        {% case 3 %}
                            {% set col = 4 %}
                        {% case 4 %}
                            {% set col = 3 %}
                    {% endswitch %}
                    
                    {% for d in chart.widgetChartData %}
                        <div class="col col-12 col-sm-6 col-md-{{col}}">
                            {{ piegraph.pie(parentIdx * loop.index, d.label, d.value, d.color) }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section> 
{% endif %}

