{% if block is defined %}
    <section class="gallery">
        {% if block.galleryImages|length %}
            {% for image in block.galleryImages %}
                {# {% set tfImage = craft.imager.transformImage(image,
                    [
                        { width: 600, ratio: 16/9 },
                    ],
                    {
                        format: 'jpg',
                        allowUpscale: false,
                        mode: 'crop',
                        jpegQuality: 80,
                        position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                        interlace: true
                    }
                ) %} #}
                {% set tf600x337 = {
                    mode: 'crop',
                    width: 600,
                    height: 337,
                    quality: 98,
                    position: 'center-center'
                } %}
                <div class="gallery_img gallery_img-{{loop.index}} block">
                    <div class="block_layer block_layer-bgImg" style="background-image: url({{ image.getUrl(tf600x337) }})"></div>
                </div>
            {% endfor %}
        {% endif %}
    </section>
{% endif %}