<section class="section section-20 section-contained pad-b-12 text-center">
    <div class="linemark linemark-top color-border"></div>

    <div class="container container-8">
        <h1 class="h2 push-b-4">{{ block.blockHeadingHeading }}</h1>
        <p class="subtext color-text-light linedLinks">
            {{ block.blockHeadingSubText|default() }}
        </p>
        <div class="push-t-4">
            <div class="buttonGroup">
                {% if block.blockHeadingActionLink %} 
                    <a href="{{ block.blockHeadingActionLink.url }}" {{ block.blockHeadingActionLink.target ? ' target="_blank"' }} class="button">
                        <span>{{ block.blockHeadingActionLink.text }}</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>