{% if block.accordionItems is defined
    and block.accordionItems|length %}
    {% import '_macros/_icons' as icons %}
   
    <section class="section section-20 section-contained bg-offwhite">
        <div class="linemark linemark-top color-border"></div>
        <div class="container container-8">
            <div class="section_header">
                {% if block.accordionHeading is defined and block.accordionHeading is not empty %}
                    <h1 class="h2">{{ block.accordionHeading }}</h1>
                {% endif %}
                {% if block.accordionSubHeading is not empty %}
                    <p class="subtext push-t-4 color-text-light linedLinks">{{ block.accordionSubHeading }}</p>
                {% endif %}
            </div>
        
            <div class="accordion">
                {% for pane in block.accordionItems %}
                    {% set idx = loop.index0 %}
                    <div class="accordion_item">
                        <a href="#accordion-{{parentIdx}}-{{idx}}" class="accordion_header {% if idx == 0 %}-active{% endif %}" data-collapse data-group="accordion-{{idx}}">
                            <h2 class="h5">{{ pane.title }}</h2>
                            <button class="accordion_indicator button button-to-red">{{ icons.icon('add') }}</button>
                        </a>
                        <div id="accordion-{{parentIdx}}-{{idx}}" class="accordion_pane collapse {% if idx == 0 %}-active{% endif %}">
                            <div class="richText">
                                {{ pane.widgetDescription }}
                            </div>

                            {%- if pane.widgetLink is not empty -%}
                                <a href="{{ pane.widgetLink.url }}" {{  pane.widgetLink.target ? ' target="_blank"' }} class="ctaLink"><span>{{  pane.widgetLink.text }}</span> {{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a>
                            {%- endif -%}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if block.accordionActionLink is not empty %}
                <div class="section_footer">
                    <div class="button-group">
                        <a href="{{ block.accordionActionLink.url }}"  {{  block.accordionActionLink.target ? ' target="_blank"' }}class="button">{{ block.accordionActionLink.text }}</a>
                    </div>
                </div> 
            {% endif %}
        </div>
    </section>
{% endif %}
