<section class="section section-20 section-contained text-center">
    <div class="linemark linemark-top color-border"></div>

    <div class="container push-b-4">
        <h1 class="h2">{{ block.tableHeading|default() }}</h1>
    </div>

    <div class="container container-7">
        <table class="bigtable">
            {% for item in block.table %}
                {% if item.header == 1 %}
                    <thead class="h5">
                        <tr>
                            <th colspan="2">{{ item.label }}</th>
                        </tr>
                    </thead>
                {% endif %}
            {% endfor %}

            <tbody>
                {% for item in block.table %}
                    {% if item.header == 0 %}
                        <tr >
                            <th>
                                {% if item.highlight == 1 %}
                                    <strong class="text-uppercase">{{ item.label }}</strong>
                                {% else %}
                                    {{ item.label }}
                                {% endif %}
                            </th>
                            <td class="text-right">{{ item.value }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
