{% if block.eventsGroups %}
    {% import '_macros/_icons' as icons %}
    {% import '_macros/_card-event' as m_ce %}
    {% set groups = [] %}
    {% for group in block.eventsGroups %}
        {% set groups = groups|merge([group.id]) %}
    {% endfor %}
    {% set hasImg = block.eventsBackgroundImage|length ? true : false %}

    <section class="section section-20 section-contained block bg-text color-white">

        {% if hasImg %}
            {% set image = block.eventsBackgroundImage.first() %}
            {# {% set transformedImages = craft.imager.transformImage(image,
                [
                    { width: 1200, ratio: 16/9 },
                ],
                {
                    format: 'jpg',
                    allowUpscale: false,
                    mode: 'crop',
                    jpegQuality: 80,
                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                    interlace: true
                }
            ) %} #}
            {% set tf1200x674 = {
                mode: 'crop',
                width: 1200,
                height: 674,
                quality: 98,
                position: 'center-center'
            } %}
            <div class="block_layer block_layer-bgImg" style="background-image: url({{ image.getUrl(tf1200x674) }});"></div>
            <div class="block_layer block_layer-overlay"></div>
        {% endif %}
        <div class="linemark linemark-top color-border"></div>
        <div class="container container-8">
            <div class="section_header">
                <h1 class="h2">{{ block.eventsHeading|default('Upcoming Events')}}</h1>
            </div>

            <div class="tabs_tabs tabs_tabs-equal tabs_tabs-dark text-center push-b-6" data-tabs>
                <a href="#tab-featured" class="tabs_tab -active" data-tab>Featured</a>
                <a href="#tab-14" class="tabs_tab" data-tab>Next 30 Days</a>
            </div>

            <div class="tabs_content" data-tabs-content>
                <div id="tab-featured" class="tabs_pane -active" data-tabs-pane>
                    <div class="events">
                        {% set events = craft.venti.events().groupId(groups).featuredEvent(1).startDate(">= " ~ now).limit(6) %}
                        {% for event in events %}
                            {{ m_ce.card(event) }}
                        {% endfor %}
                    </div>
                </div>

                <div id="tab-14" class="tabs_pane" data-tabs-pane>
                    <div class="events">
                        {% set thirtyDays = now|date_modify('+30 days') %}
                        {% set events = craft.venti.events().groupId(groups).between(now,thirtyDays) %}
                        {% for event in events %}
                            {{ m_ce.card(event) }}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="section_footer">
                <div class="button-group">
                    {% if block.eventsActionLink is not empty %} 
                        <a href="{{ block.eventsActionLink.url }}" {{ block.eventsActionLink.target ? ' target="_blank"' }} class="button button-outline">
                            <span>{{ block.eventsActionLink.text }}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
