{% import '_macros/_icons' as icons %}
<section class="calloutFeature textSlider storiesSlider section section-contained bg-text bg-topo color-white">
    <div class="row">
            <div class="col col-12 col-md-5 display-md-flex">
                <div class="calloutFeature_img ratio ratio-16x9 block">
                    {% for post in block.stories %} 
                        {% if post.postImage|length %}
                            {% set image = post.postImage.first() %}
                            {# {% set transformedImages = craft.imager.transformImage(image,
                                [
                                    { width: 560, height: 630 },
                                ],
                                {
                                    format: 'jpg',
                                    allowUpscale: false,
                                    mode: 'crop',
                                    jpegQuality: 80,
                                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                                    interlace: true
                                }
                            ) %} #}
                            {% set tf560x630 = {
                                mode: 'crop',
                                width: 560,
                                height: 630,
                                quality: 98,
                                position: 'center-center'
                            } %}
                            <div class="textSlider_img block_layer block_layer-bgImg {{ loop.first ? '-selected' }}" style="background-image: url({{ image.getUrl(tf560x630) }})"></div>
                        {% else %}
                            <div class="textSlider_img block_layer block_layer-bgImg {{ loop.first ? '-selected' }}" style="background-color:rgba(0,0,0,.1)"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        <div class="col col-12 col-md-7">
            <div class="calloutFeature_content section section-12">
                <ol class="textSlider_nav" data-stories-label="">
                    {% for post in block.stories %} 
                        {% if post.postAuthor|length and post.postAuthor[0].profileImage|length %}
                            {% set image = post.postAuthor[0].profileImage.first() %}
                            {# {% set transformedImages = craft.imager.transformImage(image,
                                [
                                    { width: 80, height: 80 },
                                ],
                                {
                                    format: 'jpg',
                                    allowUpscale: false,
                                    mode: 'crop',
                                    jpegQuality: 80,
                                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                                    interlace: true
                                }
                            ) %} #}
                            {% set tf80 = {
                                mode: 'crop',
                                width: 80,
                                height: 80,
                                quality: 98,
                                position: 'center-center'
                            } %}
                            <li class="{{ loop.first ? '-selected' }}"><a href="{{ post.url }}"><img src="{{ image.getUrl(tf80) }}" alt=""></a></li>
                        {% else %}
                            
                            <li class="{{ loop.first ? '-selected' }}"><a href="{{ post.url }}" style="background-color:rgba(0,0,0,.5); width:80px; height:80px;"></a></li>
                        {% endif %}
                    {% endfor %}
                </ol>

                <div class="textSlider_slides">
                    {% for post in block.stories %}          
                        <div class="textSlider_slide">
                            <h2 class="h3 push-b-4"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                            <p class="linedLinks linedLinks-dark">{{ post.postSummary|trimit('140') }}</p>
                            <p class="push-t-2"><a href="{{post.url}}" class="ctaLink"><span>Read More</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>