{% import '_macros/_icons' as icons %}
<section class="section section-20">
    <div class="container container-10">
        <div class="row row-padded row-center row-sm-between row-middle grid grid-4">
            <div class="col col-8 col-sm-5">
                <a href="#"><img src="/assets/dist/img/logo-square.png" class="shadow" alt=""></a>
            </div>

            <div class="col col-12 col-sm-7 pad-md-l-4">
                <h1 class="h3">Menlo Sermon Podcast</h1>
                <p class="linedLinks push-y-4"></p>

                <div class="iconInput" style="max-width: 36rem">
                    <select class="input-select" data-select-anchor>
                        <option>Choose Your Podcast</option>
                        {% for item in podcast.podcastUrls %}
                            <option value="{{item.label|kebab}}">{{item.label}}</option>
                        {% endfor %}
                    </select>
                    {{ icons.icon('navigation-drawer') }}
                </div>
                <div class="display-none">
                    {% for item in podcast.podcastUrls %}
                        <a href="{{ item.url }}" data-did="{{ item.label|kebab }}"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>