{% import '_macros/_icons' as icons %}
{% if block.alert %}
    <div class="section section-12">
        <div class="container container-8">
            <div class="alert">
                <div class="alert_icon bg-red color-white">{{ icons.icon('bubble-chat') }}</div>

                <div class="alert_content">
                    {% if block.alertHeading is not empty %}
                        <h2 class="h5">{{ block.alertHeading }}&hellip;</h2>
                    {% endif %}
                    <div class="linedLinks">
                        {{ block.alert|default() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
