{% if block.richText is defined
	and block.richText %}
	<section class="section section-20 section-contained bg-offwhite">
		<div class="linemark linemark-top color-border"></div>
  		<div class="container container-7">
    		<div class="richText">
    			{{ block.richText }}
			</div>
        </div>
    </section>
{% endif %}
