{% if block is defined
    and block.columnContent is defined
    and block.columnContent|length %}

    {#
        Default Layout Handles & Descriptions from Layouts input
        layout1: Image Left Content Right
        layout2: Image Right Content Left
        layout3: Multi Column Image Top Content Bottom
        layout4: Multi Column Image as Background Heading Overlay
        layout5: Image Full Width Content Overlay on Left
        layout6: Image Full Width Content Overlay on Right
        layout7: Image Full
        layout8: Full Width Video Layout
        layout9: Audio Player
        layout10: Full Width
        layout11: Four Column
        layout12: Three Column
        layout13: Two Column
        layout14: Three Column Main Left
        layout15: Three Column Main Middle
        layout16: Three Column Main Right
        layout17: Two Column Main Left
        layout18: Two Column Main right
        layout19: Two Column Two Row Main Left
        layout20: Two Column Two Row Main Right
        layout21: Image Full Copy Center No Copy Background
        layout22: Image Full Copy Right No Copy Background
        layout23: Image Full Copy Left No Copy Background
        layout24: Image Card Copy Bottom
        layout25: Media Left Text Right
        layout26: Media Right Text Left
    #}

    {% include '/_blocks/_columnlayouts/_layout' ~ block.columnContent.id with { block : block } only %}

{% endif %}
