{% set accent = block.statisticsBackgroundColor is not empty ? block.statisticsBackgroundColor.value : false %}
{% set accents = {
    'grey': 'bg-text',
    'red' : 'bg-red',
    'blue': 'bg-slate',
    'white': ''
} %}
{% set hasImg = block.statisticsImage|length ? true : false %}
<section class="section section-20 section-contained block bg-topo {{ accent ? accents[accent] :'' }} {% if (accent and accent != 'white') or hasImg %}color-white{% endif %} text-center">
    
    {% if hasImg %}
        {% set image = block.statisticsImage.first() %}
        {# {% set transformedImages = craft.imager.transformImage(image,
            [
                { width: 1600, ratio: 16/9 },
            ],
            {
                format: 'jpg',
                allowUpscale: false,
                mode: 'crop',
                jpegQuality: 80,
                position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                interlace: true
            }
        ) %} #}
        {% set tf1600x900 = {
            mode: 'crop',
            width: 1600,
            height: 900,
            quality: 98,
            position: 'center-center'
        } %}
        <div class="block_layer block_layer-bgImg rellax" style="background-image: url({{ image.getUrl(tf1600x900) }})"></div>
        <div class="block_layer block_layer-overlayRadial"></div>
    {% endif %}

    <div class="container">
        <h1 class="h1 push-b-4">{{ block.statisticsHeading }}</h2>

        <div class="row row-middle row-center grid grid-4">
        {% for stat in block.stats %}
            <div class="col col-12 col-sm-6 col-md-3">
                <div class="counter">
                    <span class="counter_val h2" data-countup="{{ stat.value }}">0</span>
                    <span class="counter_sep"></span>
                    <span class="counter_label">{{ stat.label }}</span>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>