{% set transform = {
    mode: 'crop',
    width: 1600,
    height: 350,
    quality: 75,
    position: 'center-center'
} %}
{# Social Links #}
{% if block is defined
    and block.socialLinks is defined
    and block.socialLinks|length %}
    {% set hasImg = block.socialLinksImageBackground|length ? true : false %}
    {% set accent = (block.socialLinksColorToggle is defined and block.socialLinksColorToggle == 1) or hasImg ? true : false %}
    <div class="social section section-12 section-contained  {% if hasImg %}block{% endif %} {% if accent %} bg-accent-angled color-white {% else %} bg-offwhite-radial {% endif %}">
        {% if hasImg %}
            <div class="block_layer block_layer-bgImg" style="background-image: url({{ block.socialLinksImageBackground[0].getUrl(transform)}})"></div>
            <div class="block_layer block_layer-overlay"></div>
            <div class="block_layer block_layer-overlayColor"></div>
        {% endif %}
        <div class="container text-center">
            {% if block.socialLinksHeading is not empty %}
                <h2 class="h1">{{ block.socialLinksHeading }} </h2>
            {% endif %}

            <ul class="socialIcons socialIcons-24 {% if accent %} socialIcons-hoverColorBrand socialIcons-trans {% else %} socialIcons-bgBrand {% endif %}">
                {% if block.socialLinks|length %}
                    {% include '_partials/_social-items' with { links:block.socialLinks[0] } only %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
