{% if block and block.mediaVideo|length %}
    {% import '_macros/_icons' as icons %}
    {% import '_macros/_srt' as srt %}
    {% set dark = block.galleryColorToggle == 1 : true : false %}
    <div class="videoGallery {% if dark %} color-white {% endif %}">
        <div class="section section-12 section-contained pad-b-0 {% if dark %} bg-text{% else %} bg-offwhite-radial {% endif %}">
            <div class="section_header container container-7">
                <hr class="push-b-6 color-border-dark">
                    <h2 class="h1">{{ block.galleryHeading|default('Video Gallery') }}</h2>
                    <p class="push-t-4">{{ block.gallerySubHeading }}</p>
                </div>

                <div class="container container-10">
                <div class="videoGallery_fakeMargin {% if dark %} bg-text-dark{% else %} bg-white {% endif %}"></div>
                <div class="videoGallery_video bigShadow"></div>
            </div>
        </div>

        <div class="videoGallery_thumbs {% if dark %} bg-text-dark {% endif %}">
            <button class="chevron chevron-left button-unstyled">
                {{ icons.icon('chevron-left') }} {{ srt.srt('Previous') }}
            </button>

            <button class="chevron chevron-right button-unstyled">
                {{ icons.icon('chevron-right') }} {{ srt.srt('Next') }}
            </button>
            {% for item in block.mediaVideo %}
                <div class="videoGallery_thumb videoEmbed" data-embed="{{ item.widgetVideo.getEmbed({width:960,height:540,autoplay:true}) }}" data-poster="{{ item.widgetVideo.getThumb({width:960,height:540}) }}">
                    <div class="overlayCard overlayCard-video ratio ratio-16x9 block">
                        <div class="block_layer block_layer-bgImg"></div>
                        <div class="block_layer block_layer-overlay"></div>
                        <div class="overlayCard_videoIcon">{{ icons.icon('control-play') }}</div>
                        {% if loop.first %}
                            <span class="label">Now Playing</span>
                        {% endif %}

                        <div class="overlayCard_content overlayCard_content-alwaysShow block_layer">
                            <h3 class="h4">{{ item.title }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
