{% if block is defined 
 and block.type == "blockTeam"
 and block.teamMembers|length %}
 {% import '_macros/_person' as pn %}

<section class="team section section-12 section-contained">
    <svg class="icon icon-48 team_logomark"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-48-menlo"></use></svg>

    <div class="container container-wide">
        <div class="row row-between grid grid-4">
            <div class="col col-12 col-md-4">
                <h1 class="h3">{{ block.teamHeading|default('') }}</h1>
                <p class="push-y-4 linedLinks">{{ block.teamSubHeading|default('') }}</p>
                <div class="buttonGroup buttonGroup-left">
                    {% if block.teamCallToAction is not empty %}
                        <a href="{{ block.teamCallToAction.url }}" class="button" {{ block.teamCallToAction.target ? ' target="_blank"' }}><span>{{ block.teamCallToAction.text }}</span></a>
                    {% endif %}
                </div>
            </div>

            <div class="col col-12 col-md-7">
                <div class="row grid grid-2">
                    {% for person in block.teamMembers %}
                        <div class="col col-6 col-sm-4">
                            {{ pn.person(person) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}