{% if block.quote|length %}
    {% import '_macros/_icons' as icons %}
    {% set quote = block.quote.first() %}
    {% set accent = quote.backgroundColor is not empty ? quote.backgroundColor.value : false %}
    {% set accents = {
        'grey': 'bg-text',
        'red' : 'bg-red',
        'blue': 'bg-slate',
        'white': ''
    } %}
    <section class="quote quote-light section section-12 section-contained {{ accent ? accents[accent] :'' }} bg-topo-dark {% if accent and accent != 'white' %}color-white{% endif %}">
        <div class="container">
            <div class="row row-middle row-center row-between-sm row-reverse grid grid-4">
                {% set hasImg = quote.widgetImage|length ? true : false %}
                {% if hasImg %}
                    {% set image = quote.widgetImage.first() %}
                    {# {% set transformedImages = craft.imager.transformImage(image,
                        [
                            { width: 374, height: 374 },
                        ],
                        {
                            format: 'jpg',
                            allowUpscale: false,
                            mode: 'crop',
                            jpegQuality: 80,
                            position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                            interlace: true
                        }
                    ) %} #}
                    {% set tf374 = {
                        mode: 'crop',
                        width: 374,
                        height: 374,
                        quality: 98,
                        position: 'center-center'
                    } %}
                    <div class="col col-8 col-sm-4">
                        <img src="{{ image.getUrl(tf374) }}" class="shadow circle" alt="{{ quote.title }}">
                    </div>
                {% endif %}

                <div class="col col-12 col-sm-7 position-relative">
                    {{ icons.icon('quote', 48, 24, 'quote_icon') }}
                    <blockquote class="subtext">{{ quote.widgetDescription|default() }}</blockquote>
                    {% if quote.cite is not empty %}
                        <p class="secondarytext color-text-light push-t-4"><strong>– {{ quote.cite }}</strong></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}