{% if block.tabsTabItems is defined
    and block.tabsTabItems[0] %}
    {% import '_macros/_card-side' as m_cs %}
    {% set accent = block.tabsColorToggle is defined and block.tabsColorToggle == 1 ? true : false %}
    <div class="section section-12 section-contained  {% if accent %}bg-accent-angled color-white{% else %}bg-offwhite-radial{% endif %}">
    	{% if block.tabsHeading or block.tabsSubHeading %}
    		<div class="container container-7 text-center">
                <hr class="push-b-6 {% if accent %}color-border-dark{% endif %}">
    			{% if block.tabsHeading %}
    			    <h2 class="h1">{{ block.tabsHeading }}</h2>
    			{% endif %}
    			{% if block.tabsSubHeading %}
    				<div class="push-y-4">{{ block.tabsSubHeading }}</div>
    			{% endif %}
    		</div>
    	{% endif %}

    	{% if block.tabsTabItems|length %}
    		<div class="container container-10">
                <div class="text-center">
        			<div class="tabs_tabs {% if accent %}tabs_tabs-dark{% endif %}" data-tabs>
    					{% for tab in block.tabsTabItems %}
                            {% set idx = loop.index0 %}
                            <a class='tabs_tab {% if loop.first %}-active{% endif %}' href="#tab-{{ parentIdx }}-{{idx}}" data-tab>{{ tab.title }}</a>
    					{% endfor %}
        			</div>
                </div>
                <div class="row row-center">
                        <div class="tabs_content col col-12 col-sm-9 col-md-12 " data-tabs-content>
                        {% for tab in block.tabsTabItems %}
                            {% set idx = loop.index0 %}
                            <div id="tab-{{ parentIdx }}-{{idx}}" class='tabs_pane {% if loop.first %}-active{% endif %}' data-tabs-pane>

                                {{ m_cs.card(
                                    tab.widgetTabLabel,
                                    tab.widgetTabContent,
                                    tab.widgetLink,
                                    tab.widgetImage
                                )}}

                            </div>
                        {% endfor %}
                    </div>
                </div>
    		</div>
    	{% endif %}
    </div>
{% endif %}
