{% import '/_macros/_pie-graph' as piegraph %}
{% import '_macros/_icons' as icons %}
{% if block.largeSectionPieGraph == 1 %}
    {% set chart = block.pieGraphData[0] %}
    <section class="section section-12 section-contained bg-topo-dark">
        <div class="container">
            <div class="row row-middle row-between grid grid-4">
                <div class="col col-12 col-sm-7">
                    <h1 class="h3">{{ chart.title }}</h1>
                    {% if chart.widgetSubHeading is not empty %}
                        <p class="secondarytext color-text-light push-t-2"><strong>{{ chart.widgetSubHeading }}</strong></p>
                    {% endif %}
                    <p class="push-t-4">{{ chart.widgetDescription|default() }}</p>
                    {% if chart.widgetLink is not empty %}
                        <p class="push-t-4">
                            <a href="{{ chart.widgetLink.url }}" class="ctaLink" {{ chart.widgetLink.target ? ' target="_blank"' }}><span>{{ chart.widgetLink.text }}</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a>
                        </p>
                    {% endif %}
                </div>
                {% set values = [] %}
                {% for val in chart.widgetChartData %}
                    {% set values = values|merge([{'label':val.label, 'color':val.color , 'value':val.value}]) %}
                {% endfor %}
                <div class="col col-12 col-sm-4">
                    {{ piegraph.piesliced(parentIdx, values, 32) }}
                </div>
            </div>

            <div class="push-t-4">
                <div class="chartKey chartKey-inline">
                    {% for item in chart.widgetChartData %}
                        <span class="chartKey_item">
                            <span class="chartKey_dot" style="color: {{item.color}};"></span>
                            <span class="chartKey_label">{{item.label}}</span>
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% else %}
    <section class="section section-12 section-contained">
        <div class="container">
            <div class="row row-middle row-around grid grid-4">
            {% for nchart in block.pieGraphData %}
                <div class="col col-12 col-sm-6 col-md-4">
                    <div class="row row-reverse row-middle grid grid-2">
                        <div class="col col-12 col-sm-8">
                            {% set nvalues = [] %}
                            {% for val in nchart.widgetChartData %}
                                {% set nvalues = nvalues|merge([{'label':val.label, 'color':val.color , 'value':val.value}]) %}
                            {% endfor %}
                            {{ piegraph.piesliced(parentIdx * loop.index, nvalues) }}
                        </div>

                        <div class="col col-12 col-sm-4 text-center text-sm-left">
                            <div class="chartKey">
                                {% for item in nchart.widgetChartData %}
                                    <span class="chartKey_item">
                                        <span class="chartKey_dot" style="color: {{item.color}};"></span>
                                        <span class="chartKey_label">{{item.label}}</span>
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endif %}