{% import '_macros/_icons' as icons %}
<section class="calloutFeature textSlider timelineSlider section section-contained bg-text bg-topo color-white">
    <div class="timelineSlider_year">{{ block.timelineDates[0].year }}</div>

    <div class="row row-middle">
        <div class="col col-12 col-md-5">
            <div class="calloutFeature_img">
                {% for item in block.timelineEntries %}
                    {% if item.widgetImage|length %}
                        {% set image = item.widgetImage.first() %}
                        {% set transformedImages = craft.imager.transformImage(image,
                            [
                                { width: 600 },
                            ],
                            {
                                format: 'jpg',
                                allowUpscale: false,
                                mode: 'crop',
                                jpegQuality: 80,
                                position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                                interlace: true
                            }
                        ) %}
                        <div class="textSlider_img {% if loop.first %}-selected{% endif %}">
                            <img src="{{ transformedImages[0].url }}" alt="" />
                        </div>
                    {% else %}
                        <div class="textSlider_img {% if loop.first %}-selected{% endif %}"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="col col-12 col-md-7">
            <div class="calloutFeature_content section section-12">
                <div class="textSlider">
                    <ol class="textSlider_nav">
                        {% for year in block.timelineDates %}
                            <li {% if loop.first %}class="-selected" {% endif %}>
                                <a href="#">{{ year.year }}</a>
                            </li>
                        {% endfor %}
                    </ol>

                    <div class="textSlider_slides">
                        {% for item in block.timelineEntries %}
                            <div class="textSlider_slide">
                                {% if item.widgetLink is not empty %}
                                    <h2 class="h3">
                                        <a href="{{ item.widgetLink.url }}">{{ item.title }}</a>
                                    </h2>
                                {% else %}
                                    <h2 class="h3">{{ item.title }}</h2>
                                {% endif %}
                                <p class="linedLinks linedLinks-dark push-t-2">{{ item.widgetDescription }}</p>
                                {% if item.widgetLink is not empty %}
                                    <a href="{{ item.widgetLink.url }}" {{  item.widgetLink.target ? ' target="_blank"' }} class="ctaLink">
                                        <span>{{  item.widgetLink.text }}</span>
                                        {{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
