{% if block is defined %}
{% import '_macros/_icons' as icons %}
{% set image = block.connectSectionImage.first() %}
{% if image %}
    {% set transformedImages = craft.imager.transformImage(image,
        [
            { width:768, ratio: 4/3 },
        ],
        {
            format: 'jpg',
            allowUpscale: false,
            mode: 'crop',
            jpegQuality: 80,
            position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
            interlace: true
        }
    ) %}
{% endif %}
<section class="connect section section-12 section-contained block bg-red bg-topo">
    {% if image %}
        <div class="block_layer block_layer-bgImg" style="background-image: url({{ transformedImages[0].url }})"></div>
    {% endif %}
    <div class="container container-wide">
        <div class="connect_card">
            <div class="connect_primary">
                {% if block.connectHeading is not empty %}
                    <h1 class="h3">{{ block.connectHeading }}</h1>
                {% endif %}
                {% if block.connectSubHeading is not empty %}
                    <div class="linedLinks">{{ block.connectSubHeading|default() }}</div>
                {% endif %}
                {% if block.connectSocialLinks|length %}
                    <ul class="socialIcons socialIcons-24 socialIcons-hoverBgBrand">
                        {% include '/_partials/_social-items' with { links: block.connectSocialLinks[0] } only %}
                    </ul>
                {% endif %}
                {% if block.connectEmailAddress is not empty %}
                    <a href="mailto:{{block.connectEmailAddress}}" class="button"><span>Email Us</span> {{ icons.icon('bubble-chat-typing') }}</a>
                {% endif %}
            </div>

            <div class="connect_secondary linedLinks linedLinks-dark">
                <h2 class="h5">Times</h2>
                {{ block.connectTimes|default() }}
                {% if block.connectLocation|length %}
                    {% set loc = block.connectLocation[0] %}       
                    <h2 class="h5">Location</h2>
                    <p>{{ loc.address}}<br>{{ loc.city }}, {{ loc.state }}<br>
                        {% if loc.title is not empty %}
                            <a href="{{ loc.getMapUrl() }}">{{ loc.title }}</a>
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}
