{% if block.serveOpportunities %}
 {# {% import '_macros/_icons' as icons %}
 {% import '_macros/_card-serve' as m_card %}
    <div class="section section-12 section-contained bg-offwhite-radial">
        <div class="section_header container container-7">
            {{ icons.icon('calendar', 72, 24, 'push-b-4 color-border-dark') }}
            <h2 class="h1">{{ block.serveHeading }}</h2>
            <p class="push-y-4">{{ block.serveSubHeading }}</p>
        </div>

        <div class="container container-10">
            <div class="accordion ">
            {% set items = block.serveOpportunities %}
            {% for pane in items %}
                {% set idx = loop.index0 %}
                <a href="#accordion-{{parentIdx}}-{{idx}}" class="accordion_header collapse_toggle {% if idx == 0 %}-active{% endif %}" data-collapse data-group="accordion-{{idx}}">{{ pane.title }} {{ icons.icon('plus') }}</a>
                <div id="accordion-{{parentIdx}}-{{idx}}" class="accordion_pane collapse {% if idx == 0 %}-active{% endif %}">
                    {{ m_card.card(
                        pane.title,
                        pane.serveOverview,
                        pane.id,
                        pane.serveImage ?? null
                    )}}
                </div>
            {% endfor %}
        </div>
        </div>
        {% if block.serveActionLink is not empty %}
            <div class="container push-t-6 text-center">
                <a href="{{ block.serveActionLink.url }}" class="button" {{ block.serveActionLink.target ? ' target="_blank"' }}><span>{{ block.serveActionLink.text }}</span></a>
            </div>
        {% endif %}
    </div> #}

    {% set transform = {
        mode: 'crop',
        width: 360,
        height: 360,
        quality: 100,
        position: 'center-center'
    } %}
    <section class="section section-12 section-contained bg-offwhite-radial" v-show="listview">
        <div class="container container-7 section_header">
            <h1 class="h2">{{ block.serveHeading }}</h1>
            <p class="push-y-4">{{ block.serveSubHeading }}</p>
        </div>
        <div class="container container-12">
            <div class="row row-padded row-center grid grid-4">
                {% for item in block.serveOpportunities %}
                    <div class="col col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <a href="#/modal/serve/{{ item.id }}/{{ craft.locale }}" class="card_banner block">
                                <div class="ratio ratio-1x1"></div> 
                                <div class="block_layer block_layer-bgImg" style="background-image: url({{ item.serveImage[0].getUrl(transform)|default() }});"></div>
                            </a> 
                            <div class="card_content">
                                <div class="card_contentLabel">
                                    <span class="label label-text">{{ item.groupLabel|default('Opportunity') }}</span>
                                </div> 
                                <h3 class="h6" style="font-weight:bold;">
                                    <a href="#/modal/serve/{{ item.id }}/{{ craft.locale }}">{{ item.title }}</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
