{% import '_macros/_widgets' as widgets %}

{% if block is defined %}
    <div class="section section-12 text-center">
        <div class="container container-10">
            <hr class="push-b-6 color-border-dark">
        {#<h4>{{ block.title }}</h4>#}
        <div class="h1 helpText">{{ block.actionText|default() }}</div>
        {#{{ block.widgetLink ? widgets.link( block.widgetLink ) : '' }}#}
        </div>
    </div>
{% endif %}
