{% if block.groupsType|length %}
    {% import '_macros/_icons' as icons %}
    <section class="section section-20 section-contained">
        <div class="linemark linemark-top color-border"></div>
        <div class="container container-8 section_header">
            <h1 class="h2">{{ block.groupsHeading }}</h1>
            <p class="subtext push-t-4 color-text-light linedLinks">{{ block.groupsSubHeading }}</p>
        </div>
        {% set category = block.groupsType[0] %}
        <div class="container push-t-8">
            <div class="row row-padded row-center grid grid-4">
                {% for group in craft.entries.section('groups').relatedTo(category).order('title ASC') %}
                    <div class="col col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <a href="#/modal/group/{{group.id}}/{{craft.locale}}" class="card_banner block">
                                <div class="ratio ratio-1x1"></div>
                                {% set hasImg = group.groupImage|length ? true : false %}
                                {% if hasImg %}
                                    {% set image = group.groupImage.first() %}
                                    {# {% set transformedImages = craft.imager.transformImage(image,
                                        [
                                            { width: 360, height: 360 },
                                        ],
                                        {
                                            format: 'jpg',
                                            allowUpscale: false,
                                            mode: 'crop',
                                            jpegQuality: 80,
                                            position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                                            interlace: true
                                        }
                                    ) %} #}
                                    {% set tf360 = {
                                        mode: 'crop',
                                        width: 360,
                                        height: 360,
                                        quality: 98,
                                        position: 'center-center'
                                    } %}
                                    <div class="block_layer block_layer-bgImg" style="background-image: url({{ image.getUrl(tf360) }}); "></div>
                                {% else %}
                                    <div class="block_layer titleCard_content bg-topo-dark">
                                        <svg class="icon icon-48 color-red" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-48-menlo"></use></svg>
                                    </div>
                                {% endif %}
                            </a>

                            <div class="card_content">
                                <div class="card_contentLabel">
                                    <span class="label label-text">
                                        {{ category.title }}
                                    </span>
                                </div>

                                <h2 class="h6">
                                    <a href="#/modal/group/{{group.id}}/{{craft.locale}}">{{ group.title }}</a>
                                </h2>
                                <p>{{ group.groupMeetingSchedule|default('') }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}