{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
<section class="timelineAlt section section-20 section-contained bg-offwhite">
    <div class="linemark linemark-top color-border"></div>

    <div class="container">
        <h1 class="h2 push-b-6 text-center">{{ block.timelineMilestoneHeading }}</h1>

        <div class="timelineAlt_controls">
            <button class="timelineAlt_arrow timelineAlt_arrow-prev button-unstyled">{{ icons.icon('arrow-left') }} {{ srt.srt('Previous') }}</button>
            <button class="timelineAlt_arrow timelineAlt_arrow-next button-unstyled">{{ icons.icon('arrow-right') }} {{ srt.srt('Next') }}</button>

            <ol class="timelineAlt_dates">
                {% for item in block.timelineMilestoneData[0].widgetTimeline %}
                <li>
                    <span class="timelineAlt_date">{{ item.milestoneDate }}</span>
                    <span class="timelineAlt_dot"></span>
                    <span class="timelineAlt_dateLabel">{{ item.milestoneLabel }}</span>
                </li>
                {% endfor %}
            </ol>

        </div>
    </div>

    <div class="container container-6 push-t-6">
        <div class="timelineAlt_slides">
        {% for item in block.timelineMilestoneData[0].widgetTimeline %}
            <div class="timelineAlt_slide">
                <h2 class="h4 push-b-2"><a href="#">{{ item.milestoneDate }} {{ item.milestoneHeading }}</a></h2>
                <p class="linedLinks linedLinks-dark secondarytext">{{ item.milestoneDescription|default() }}</p>
                {% if item.milestoneActionLink is not empty %}
                    <p class="push-t-2">
                        <a href="{{ item.milestoneActionLink.url }}" class="ctaLink" {{ item.milestoneActionLink.target ? ' target="_blank"' }}><span>{{ item.milestoneActionLink.text }}</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a>
                    </p>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</section>
