{% if block.subText %}
    {% set accents = {
    'grey': 'bg-text',
    'red' : 'bg-red',
    'blue': 'bg-slate',
    'white': ''
} %}
    {% set accent = (block.subTextBackgroundColor is not empty) ? block.subTextBackgroundColor.value : false %}
    {% set style = (block.subTextBackgroundColor is not empty and block.subTextBackgroundColor.value != 'white') ? 'bg-text-dark color-white' :  ' block color-white' %}
    <section class="bigtext section section-20 section-contained block {% if accent %}{{accents[accent]}} bg-topo{% endif %} {{ style }}">
        <div class="linemark linemark-top color-border"></div>
        <div class="container container-8">
            {% if block.subTextHeading is not empty %}
                <h1 class="h2 section_header">{{ block.subTextHeading }}</h1>
            {% endif %}
            <div class="subtext linedLinks {% if accent != 'white' %} linedLinks-dark {% else %} color-red {% endif %}">
                {{ block.subText|default() }}
            </div>

            <div class="section_footer">
                <div class="buttonGroup">
                    {% if block.subTextActionLink %} 
                        <a href="{{ block.subTextActionLink.url }}" {{ block.subTextActionLink.target ? ' target="_blank"' }} class="button {% if accent !='white' %}button-outline{% endif %}">
                            <span>{{ block.subTextActionLink.text }}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}