{% import '/_macros/_card-bargraph' as bargraph %}
{% set values = [] %}
{% set totalBars = 0 %}
{% set bard = block.barGraphData.first() %}
{% set accent = bard.backgroundColor is not empty ? bard.backgroundColor.value : false %}
{% set accents = {
    'grey': 'bg-text',
    'red' : 'bg-red',
    'blue': 'bg-slate',
    'white': ''
} %}
<section class="section section-12 section-contained {{ accent ? accents[accent] :'' }} {% if accent and accent != 'white' %}color-white{% endif %}">
    <div class="container">
            {% for data in bard.widgetBarGraphData %}
                {% set setvals = [] %}
                {% for val in data.groupValues %}
                    {% set setvals = setvals|merge([{ "label": val.label, "value": val.value }]) %}
                    {% set totalBars = totalBars + 1 %}
                {% endfor %}

                {% set graphset = {
                    'label': data.groupLabel,
                    'color': data.groupColor,
                    'values' : setvals
                } %}
                {% set values = values|merge([graphset]) %}
            {% endfor %}

            {{ bargraph.graph(parentIdx, values, totalBars)}}
        <div class="push-t-4">
            <div class="chartKey chartKey-inline">
                {% for val in bard.widgetBarGraphData %}
                    <span class="chartKey_item">
                        <span class="chartKey_dot" style="color: {{ val.groupColor }};"></span>
                        <span class="chartKey_label">{{ val.groupLabel }}</span>
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
</section>