{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
{% set accents = {
    'grey': 'bg-text',
    'red' : 'bg-red',
    'blue': 'bg-slate',
    'white': ''
} %}
{% if block.steps|length %}
    {% for step in block.steps %}
        {% set idx = loop.index %}
        {% set accent = step.backgroundColor is not empty ? step.backgroundColor.value : false %}
        <section class="calloutFeature section section-contained {{ accent ? accents[accent] :'' }} bg-topo {% if accent and accent != 'white' %}color-white{% endif %}">
            <div class="row {% if loop.index is odd %}row-md-reverse{% endif %} row-middle">
                {% set hasImg = step.widgetImage|length ? true : false %}
                {% if hasImg %}
                    {% set image = step.widgetImage.first() %}
                    {# {% set transformedImages = craft.imager.transformImage(image,
                        [
                            { width: 600 },
                        ],
                        {
                            format: 'jpg',
                            allowUpscale: false,
                            mode: 'crop',
                            jpegQuality: 80,
                            position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                            interlace: true
                        }
                    ) %} #}
                    {% set tf600 = {
                        mode: 'crop',
                        width: 600,
                        height: 600,
                        quality: 98,
                        position: 'center-center'
                    } %}
                    <div class="col col-12 col-md-5">
                        <div class="calloutFeature_img">
                            <img src="{{ image.getUrl(tf600) }}" alt="" />
                        </div>
                    </div>
                {% endif %}
                <div class="col col-12 col-md-7">
                    <div class="calloutFeature_content section section-12 push-x-auto text-center">
                        {% set numberClass = "bg-text color-white" %}
                        {% switch accent %}
                            {% case "grey" %}
                                {% set numberClass = "bg-red color-white" %}
                            {% case "red" %}
                                {% set numberClass = "bg-white color-text" %}
                            {% case "blue" %}
                                {% set numberClass = "bg-white color-text" %}
                        {% endswitch %}

                        {# <span class="calloutStep_number {{ numberClass }}">#{{ idx }}</span> #}
                        <h1 class="h3 push-b-4">{{ step.title }}</h2>
                        <p class="linedLinks linedLinks-dark">{{ step.widgetDescription }}</p>

                        {% if step.widgetLink is not empty %}
                            <div class="push-t-4">
                                <div class="buttonGroup">
                                    <a href="{{ step.widgetLink.url }}" class="button {% if accent and accent !='white' %}button-outline{%endif%}" {{ step.widgetLink.target ? ' target="_blank"' }}><span>{{ step.widgetLink.text }}</span>{{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
{% endif %}
