{% import '_macros/_icons' as icons %}
{% import '_macros/_srt' as srt %}
<section class="hero section section-20 section-contained block bg-text-dark color-white">
    {% if block.pageBgImagePerCampus|length %}
        {# {% set pageImage = craft.imager.transformImage(block.pageBgImagePerCampus[0], 
        [
            {  width: 1600, ratio: 16/9 }
        ],{
            format: 'jpg',
            allowUpscale: false,
            mode: 'crop',
            jpegQuality: 80,
            interlace: true
        }) %} #}
        {% set tf1600x900 = {
            mode: 'crop',
            width: 1600,
            height: 900,
            quality: 90,
            position: 'center-center'
        } %}
        <div class="block_layer block_layer-bgImg rellax" style="background-image: url({{ block.pageBgImagePerCampus[0].getUrl(tf1600x900) }})"></div>
        <div class="block_layer block_layer-overlayRadial"></div>
    {% endif %}
    <div class="linemark linemark-bottom color-white"></div>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8">
                {% include '/_partials/_breadcrumbs' %}
                <h1 class="h1">{{ entry.pageHeadingPerCampus|default(entry.title) }}</h1>
                
                {% if entry.pageSubHeadingPerCampus is not empty %}
                    <p class="push-t-4 linedLinks linedLinks-dark">{{ entry.pageSubHeadingPerCampus }}</p>
                {% endif %}

                 {% if block.headerCallToActionButtonPerCampus is not empty %}
                    {% set link = block.headerCallToActionButtonPerCampus %}
                    <div class="push-t-4">
                        <div class="buttonGroup buttonGroup-left">
                            <a href="{{ link.url }}" {{ link.target ? ' target="_blank"' }} class="button button-outline push-t-4">
                                <span>{{ link.text }}</span>
                                {{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>    
    </div>
</section>