{% extends '_layouts/_site' %}
{% import '_macros/_icons' as icons %}
{% block content %}
    {% set query = craft.request.getParam('q') %}
    <hr>
    <section class="section section-20 pad-b-6 text-center">
        <div class="linemark linemark-top color-border"></div>

        <div class="container container-8">
            <h1 class="h2">Here’s What We Found</h1>
            <p class="subtext color-text-light linedLinks push-t-4">Browse search results for &ldquo;<strong>{{ query }}</strong>&rdquo; by category below.</p>
            {# <a href="#" class="button button-red push-t-4" data-modal="#modal-search"><span>Search Again</span>{{ icons.icon('search') }}</a> #}
        </div>
    </section>
    
    {#{% set pages = craft.entries.section('pages').search(query).limit(20).order('score') %}
    {% set messages = craft.entries.section('messages').search(query).limit(20).order('score') %}
    {% set events = craft.venti.events.search(query).limit(20).order('score') %}
    {% set serve = craft.entries.section('serve').search(query).limit(20).order('score') %}
    {% set group = craft.entries.section('groups').search(query).limit(20).order('score') %}
    {% set staff = craft.entries.section('people').search(query).limit(20).order('score') %}
    {% set stories = craft.entries.section('stories').search(query).limit(20).order('score') %}
     {% set firstTab = [] %}
    {% if pages|length %} 
        {% set firstTab = firstTab|merge(['pages']) %}
    {% endif %}
    {% if messages|length %}
        {% set firstTab = firstTab|merge(['messages']) %}
    {% endif %}
    {% if events|length %}
        {% set firstTab = firstTab|merge(['events']) %}
    {% endif %}
    {% if serve|length %}
        {% set firstTab = firstTab|merge(['serve']) %}
    {% endif %}
    {% if stories|length %}
        {% set firstTab = firstTab|merge(['stories']) %}
    {% endif %}
    {% if staff|length %}
        {% set firstTab = firstTab|merge(['staff']) %}
    {% endif %} #}
    {% set results = craft.entries.section('pages,messages,serve,groups,people,stories').search(query).limit(50).order('score') %}
    {% set events = craft.venti.events.search(query).startDate(">= " ~ now).limit(20).order('score') %}
    <section class="section section-12 section-contained bg-offwhite">
        <div class="container">
            <div class="pad-b-6">
                <div class="tabs_tabs tabs_tabs-equal" data-tabs data-tab-search-query="{{query}}">
                        <a href="#tab-allresults" data-tab  class="tabs_tab -active" style="min-width:14rem;">All Results</a>

                        <a href="#tab-pages" data-tab data-tab-search="pages" class="tabs_tab" style="min-width:14rem;">Pages </a>
                    
                        <a href="#tab-messages" data-tab data-tab-search="messages" class="tabs_tab" style="min-width:14rem;">Messages </a>
                    
                        <a href="#tab-events" data-tab data-tab-search="events" class="tabs_tab" style="min-width:14rem;">Events </a>
                    
                        <a href="#tab-serve" data-tab data-tab-search="serve" class="tabs_tab " style="min-width:14rem;">Serve </a>
                    
                        <a href="#tab-group" data-tab  data-tab-search="groups" class="tabs_tab" style="min-width:14rem;">Groups </a>
                    
                        <a href="#tab-staff" data-tab data-tab-search="people" class="tabs_tab" style="min-width:14rem;">Staff </a>
                    
                        <a href="#tab-stories" data-tab data-tab-search="stories" class="tabs_tab" style="min-width:14rem;">Stories </a>
                    
                </div>
            </div>
            
            <div class="tabs_content pad-x-4" data-tabs-content>
                <div id="tab-allresults" class="tabs_pane -active" data-tabs-pane>
                    <div class="richText">
                        <h4>All Results</h4>
                        <ul class="pad-l-0">
                        {% for item in results %}
                                <li class="pad-b-1">
                                    <a href='{{ item.url }}'>{{ item.title }}
                                        {% switch item.section.handle %}
                                            {% case "people" %}
                                                {% if item.professionalTitle is not empty %}
                                                    , <small>{{ item.professionalTitle }}</small>
                                                {% endif %}
                                            {% case "serve" %}
                                                 {% if item.serveTeams|length %}
                                                   , <small> 
                                                        {% for team in item.serveTeams %}
                                                            {{team.title}}{% if not loop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </small>
                                                 {% endif %}
                                        {% endswitch %}
                                    </a>
                                    
                                        {% switch item.section.handle %}
                                            {% case "pages" %}
                                                <p class="pull-t-0 push-b-0"> <small>{{ item.pageSubHeading is not empty ? item.pageSubHeading : item.pageSubHeadingPerCampus is not empty ? item.pageSubHeadingPerCampus : '' }}</small></p>
                                                <p class="pull-t-0"><strong style="font-size:1rem">PAGE </strong></p>
                                            {% case "messages" %}
                                                <p class="pull-y-0 push-b-0"> <small>{{ item.messageDate|date('M d, Y') }}, {{ item.messageSpeaker|length ? item.messageSpeaker[0].title }} </small></p>
                                                <p class="pull-t-0 push-b-0"> <small>{{ item.messageSummary|trimit(140) }} </small></p>
                                                <p class="pull-t-0"><strong style="font-size:1rem">MESSAGE </strong></p>
                                            {% case "groups" %}
                                                <p class="pull-t-0 push-b-0"> <small>{{ item.groupOverview|trimit(140) }} </small></p>
                                                <p class="pull-t-0"><strong style="font-size:1rem">GROUP </strong></p>
                                            {% case "serve" %}
                                                <p class="pull-t-0 push-b-0"> <small>{{ item.serveOverview|trimit(140) }} </small></p>
                                                <p class="pull-t-0"><strong style="font-size:1rem">SERVE </strong></p>
                                            {% case "stories" %}
                                                <p class="pull-t-0 push-b-0"> <small>{{ item.postSummary|trimit(140) }} </small></p>
                                                <p class="pull-t-0"><strong style="font-size:1rem">STORIES </strong></p>
                                            {% case "people" %}
                                                {% if item.bio is not empty %}
                                                    <p class="pull-t-0 push-b-0"><small>{{ item.bio|trimit(140) }} </small></p>
                                                {% endif %}
                                                <p class="pull-t-0"><strong style="font-size:1rem">STAFF // VOLUNTEER </strong></p>
                                        {% endswitch %}
                                    
                                </li>
                            {% endfor %}
                            {% for item in events %}
                                <li class="pad-b-1">
                                    <a href='{{ item.url }}'>{{ item.title }}</a>
                                    <p class="pull-t-0 push-b-0">
                                        <small>{{ item.startDate|date("M d, Y \@ g:ia") }}</small><br>
                                        <small>{{ item.eventOverview|trimit(140) }} </small>
                                    </p>
                                    <p class="pull-t-0"><strong style="font-size:1rem">EVENT </strong></p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="tab-pages" class="tabs_pane" data-tabs-pane>
                    <div class="richText">
                        <h4>Pages</h4>
                        <svg class="icon icon-24 animate-rotate360" style="display: none;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-synchronize"></use></svg>
                        <ul class="pad-l-0">
                        
                        </ul>
                    </div>
                </div>
                <div id="tab-messages" class="tabs_pane " data-tabs-pane>
                    <div class="richText">
                        <h4>Messages</h4>
                        <svg class="icon icon-24 animate-rotate360" style="display: none;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-synchronize"></use></svg>
                        <ul class="pad-l-0">
                        
                        </ul>
                    </div>
                </div>
                <div id="tab-events" class="tabs_pane " data-tabs-pane>
                    <div class="richText">
                        <h4>Events</h4>
                        <svg class="icon icon-24 animate-rotate360" style="display: none;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-synchronize"></use></svg>
                        <ul class="pad-l-0">
                            
                        </ul>
                    </div>
                </div>
                <div id="tab-serve" class="tabs_pane " data-tabs-pane>
                    <div class="richText">
                        <h4>Serve</h4>
                        <svg class="icon icon-24 animate-rotate360" style="display: none;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-synchronize"></use></svg>
                        <ul class="pad-l-0">
                            
                        </ul>
                    </div>
                </div>
                <div id="tab-group" class="tabs_pane " data-tabs-pane>
                    <div class="richText">
                        <h4>Groups</h4>
                        <svg class="icon icon-24 animate-rotate360" style="display: none;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-synchronize"></use></svg>
                        <ul class="pad-l-0">
                            
                        </ul>
                    </div>
                </div>
                <div id="tab-staff" class="tabs_pane " data-tabs-pane>
                    <div class="richText">
                        <h4>Staff/Volunteers</h4>
                        <svg class="icon icon-24 animate-rotate360" style="display: none;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-synchronize"></use></svg>
                        <ul class="pad-l-0">
                            
                        </ul>
                    </div>
                </div>
                <div id="tab-stories" class="tabs_pane " data-tabs-pane>
                    <div class="richText">
                        <h4>Stories</h4>
                        <svg class="icon icon-24 animate-rotate360" style="display: none;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-synchronize"></use></svg>
                        <ul class="pad-l-0">
                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-20 pad-b-6 pad-t-4 text-center">
        <div class="container container-8">
            <a href="#" class="button button-red push-t-4" data-modal="#modal-search"><span>Search Again</span>{{ icons.icon('search') }}</a>
        </div>
    </section>
{% endblock %}