{# ##### Cache exemption ##### #}
{% set cacheExempt = false %}
{# Exempt certain pages 
{% set cacheExemptSegments = [] %}
{% if craft.request.getSegment(1) in cacheExemptSegments %}
    {% set cacheExempt = true %}
{% endif %}#}
{% if craft.request.getParam('q') %}
  {% set cacheExempt = true %}
{% endif %}
{# Also exempt pages with non-200 OK status codes #}
{% if craft.retour.getHttpStatus != 200 %}
    {% set cacheExempt = true %}
{% endif %}
{# Add any cache exemption conditions #}
{% cache globally using key craft.request.path unless cacheExempt %}
{% minify html %} 
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<title>Menlo Christmas 2019</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="icon" href="{{ url("https://menlo.church/assets/christmas/i/favicon.png") }}" type="image/x-icon">
		<!-- Google Fonts -->
				<!--<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600,500,700,800,900|Montserrat:100,200,300,400,500,600,700,800,900&amp;subset=latin" rel="stylesheet">-->
				<!-- Bootstrap 4.3.1 CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Slick 1.8.1 jQuery plugin CSS (Sliders) -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<!-- Fancybox 3 jQuery plugin CSS (Open images and video in popup) -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
		<!-- AOS 2.3.4 jQuery plugin CSS (Animations) -->
		<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
		<!-- FontAwesome CSS -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<!-- Adobe Fonts CSS -->
		<link rel="stylesheet" href="https://use.typekit.net/kzj8lad.css">
		<!-- Startup 3 CSS (Styles for all blocks) -->
		<link href="{{ url("https://menlo.church/assets/christmas/css/style.css") }}" rel="stylesheet" />
		<!-- jQuery 3.3.1 -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<meta name="robots" content="noindex, nofollow">
        <meta name="referrer" content="no-referrer-when-downgrade" />
        <meta name="keywords" content="Menlo, Church, California Church" />
        <meta name="description" content="Everyone’s Welcome. Nobody’s Perfect. Anything’s Possible." />
        <meta name="generator" content="SEOmatic" />
        <link rel="canonical" href="https://menlo.church" />
        <link rel="alternate" href="https://menlo.church/" hreflang="x-default" />
        <meta name="geo.placename" content="Menlo.Church" />
        <meta name="dcterms.Identifier" content="https://menlo.church" />
        <meta name="dcterms.Format" content="text/html" />
        <meta name="dcterms.Relation" content="Menlo.Church" />
        <meta name="dcterms.Language" content="ml" />
        <meta name="dcterms.Publisher" content="Menlo.Church" />
        <meta name="dcterms.Type" content="text/html" />
        <meta name="dcterms.Coverage" content="https://menlo.church/" />
        <meta name="dcterms.Rights" content="Copyright &copy;2019 Menlo.Church." />
        <meta name="dcterms.Title" content="" />
        <meta name="dcterms.Creator" content="Tipping Media LLC" />
        <meta name="dcterms.Subject" content="Menlo, Church, California Church" />
        <meta name="dcterms.Contributor" content="Menlo.Church" />
        <meta name="dcterms.Date" content="2019-10-07" />
        <meta name="dcterms.Description" content="Everyone’s Welcome. Nobody’s Perfect. Anything’s Possible." />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="mlo" />
        <meta property="og:url" content="https://menlo.church" />
        <meta property="og:title" content=" | Menlo.Church" />
        <meta property="og:description" content="Everyone’s Welcome. Nobody’s Perfect. Anything’s Possible." />
        <meta property="og:image" content="https://s3.amazonaws.com/media.menlo.church/logo-square.png?mtime=20171025154648" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="640" />
        <meta property="og:image:height" content="640" />
        <meta property="og:site_name" content="Menlo.Church" />
        <meta property="og:see_also" content="https://twitter.com/@menlochurch" />
        <meta property="og:see_also" content="https://www.facebook.com/menlochurch" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@menlochurch" />
        <meta name="twitter:title" content=" | Menlo.Church" />
        <meta name="twitter:description" content="Everyone’s Welcome. Nobody’s Perfect. Anything’s Possible." />
        <meta name="twitter:image" content="https://s3.amazonaws.com/media.menlo.church/logo-square.png?mtime=20171025154648" />
        <link type="text/plain" rel="author" href="/humans.txt" /> 
        <script type="application/ld+json">{"@context":"http://schema.org","@type":"Corporation","name":"Menlo.Church","url":"http://menlo.church","sameAs":["https://twitter.com/@menlochurch","https://www.facebook.com/menlochurch"],"location":{"@type":"Place","name":"Menlo.Church","url":"http://menlo.church","sameAs":["https://twitter.com/@menlochurch","https://www.facebook.com/menlochurch"]}}</script> <script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","name":"Menlo.Church","description":"Everyone’s Welcome. Nobody’s Perfect. Anything’s Possible.","url":"https://menlo.church","image":"https://s3.amazonaws.com/media.menlo.church/logo-square.png?mtime=20171025154648","sameAs":["https://twitter.com/@menlochurch","https://www.facebook.com/menlochurch"],"copyrightHolder":{"@type":"Corporation","name":"Menlo.Church","url":"http://menlo.church","sameAs":["https://twitter.com/@menlochurch","https://www.facebook.com/menlochurch"],"location":{"@type":"Place","name":"Menlo.Church","url":"http://menlo.church","sameAs":["https://twitter.com/@menlochurch","https://www.facebook.com/menlochurch"]}},"author":{"@type":"Corporation","name":"Menlo.Church","url":"http://menlo.church","sameAs":["https://twitter.com/@menlochurch","https://www.facebook.com/menlochurch"],"location":{"@type":"Place","name":"Menlo.Church","url":"http://menlo.church","sameAs":["https://twitter.com/@menlochurch","https://www.facebook.com/menlochurch"]}},"creator":{"@type":"Organization","name":"Tipping Media LLC","description":"Tipping Media is a digital marketing &amp; design firm with more than a decade of experience creating remarkable brands, products, and web experiences.","url":"https://tippingmedia.com","location":{"@type":"Place","name":"Tipping Media LLC","description":"Tipping Media is a digital marketing &amp; design firm with more than a decade of experience creating remarkable brands, products, and web experiences.","url":"https://tippingmedia.com"}}}</script> <script type="application/ld+json">{"@context":"http://schema.org","@type":"Place","name":"Menlo.Church","url":"http://menlo.church","sameAs":["https://twitter.com/@menlochurch","https://www.facebook.com/menlochurch"]}</script> <script type="application/ld+json">{"@context":"http://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":"1","item":{"@id":"https://menlo.church","name":"Home"}}]}</script>
	</head> 
    <body>
        <!-- Navigation Mobile type 1 -->

        <a href="#" class="open_menu bg-light radius_full"><i class="fas fa-bars lh-40"></i></a>
        <div class="navigation_mobile bg-dark type1">
            <a href="{{ siteUrl }}home" class="close_menu color-white"><i class="fas fa-times"></i></a>
            <div class="px-40 pt-60 pb-60 inner">
                <div class="logo color-white mb-30"><a href="{{ siteUrl }}home" target="_blank"><img src="{{ url("https://menlo.church/assets/christmas/i/img_logo_white.png") }}" srcset="{{ url("https://menlo.church/assets/christmas/i/img_logo_white@2x.png") }} 2x" alt=""Menlo Church /></a></div>
                        <div><a href="{{ siteUrl }}home" class="f-heading f-22 link color-white mb-20">Home</a></div>	
                                <div><a href="#hero" class="f-heading f-22 link color-white mb-20">Preview</a></div>	
                                <div><a href="#locations" class="f-heading f-22 link color-white mb-20">Time + Locations</a></div>	
                                <div><a href="#expect" class="f-heading f-22 link color-white mb-20">What to Expect</a></div>	
                                <div><a href="#playlist" class="f-heading f-22 link color-white mb-20">Playlist</a></div>	
                                <div><a href="#invite" class="f-heading f-22 link color-white mb-20">Invite</a></div>
                                
                <div class="socials mt-40">
                    <a href="https://www.facebook.com/menlochurch" target="_blank" class="link color-white f-18 mr-20"><i class="fab fa-facebook"></i></a>
                    <a href="https://instagram.com/menlo.church" target="_blank" class="link color-white f-18 mr-20"><i class="fab fa-instagram"></i></a>
                </div>
                
                <div class="mt-50 f-14 light color-white op-3 copy">&copy; 2019 MENLO.CHURCH</div>
            </div>
        </div>
        <!-- Header 1 -->

        <header class="pt-195 pb-110 bg-light header_01">
        <style>
            .header_01{background-image:url({{ url("https://menlo.church/assets/christmas/i/img_background-white-noise.png") }});
            }
            @media(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){
                .call_to_action_22{background-image:url({{ url("https://menlo.church/assets/christmas/i/img_background-white-noise-pattern.png") }});}
            }
        </style>

        <!-- Header Menu 1 -->

            <nav class="header_menu_1 pt-30 pb-30 mt-30">
                <div class="container px-xl-0">
                    <div class="row justify-content-center align-items-center f-18 medium">
                        <div class="col-lg-3 logo" data-aos-duration="700" data-aos="fade-up" data-aos-delay="1400"><a href="{{ siteUrl }}home" target="_blank"><img src="{{ url("https://menlo.church/assets/christmas/i/img_logo_black.png") }}" srcset="{{ url("https://menlo.church/assets/christmas/i/img_logo_black@2x.png") }} 2x" alt=""Menlo Church /></a>
                        </div>
                        <div class="col-lg-6 text-center" data-aos-duration="700" data-aos="fade-up" data-aos-delay="1050">
                            <a href="#locations" class="link color-heading mx-15">Times + Locations</a>
                            <a href="#expect" class="link color-heading mx-15">What to Expect</a>
                            <a href="#playlist" class="link color-heading mx-15">Playlist</a>
                            <a href="#invite" class="link color-heading mx-15">Invite</a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-end align-items-center" data-aos-duration="700" data-aos="fade-up" data-aos-delay="1400">

                            <a href="{{ siteUrl }}home" target="_blank" class="btn sm action-1">Enter menlo.church</a>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="container" id="hero">
                <div class="mb-3 logo d-block d-xl-none text-center logo_mobile"></div>
                <div class="row justify-content-center">
                    <div class="col-xl-11 text-center" data-aos-duration="700" data-aos="fade-up" data-aos-delay="0">
                        <img src="{{ url("https://menlo.church/assets/christmas/i/menlo_webanimation_770x770.gif") }}" class="mt-10 mb-60 mb-md-0 img-fluid bg" style="margin-bottom: 60px; margin-top: -60px;" alt="Menlo Christmas Animation" />
                    </div>
                </div>
                <h3 class="big text-center" data-aos-duration="700" data-aos="fade-up" data-aos-delay="350">Experience the greatest story ever told <br />about joy, peace, and hope.</h3>
        
            </div>
        </header>

        <section class="pt-105 pb-100 bg-dark color-white content_27">
            <div class="container px-xl-0">
                <div class="row justify-content-center text-center color-white">
                    <div class="col-xl-9 col-lg-10">
                        <h2 class="alfresco" data-aos-duration="700" data-aos="fade-up" data-aos-delay="0">Get a glimpse of Christmas</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-11">
                        <div class="row justify-content-center">

                            <div class="mt-45 mb-60 col-lg-9 relative poster" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                                <img src="{{ url("https://menlo.church/assets/christmas/i/content_27_video_poster.jpg") }}" srcset="{{ url("https://menlo.church/assets/christmas/i/content_27_video_poster@2x.jpg") }} 2x" class="img-fluid radius10" alt="" />
                                <a href="https://youtu.be/m2PT3_Omwog" class="play action-1" data-fancybox="content_27_fancybox"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Showcase 5 -->

        <section class="pt-105 pb-100 bg-dark showcase_5" id="locations">
            <style>
                .showcase_5{background-image:url({{ url("https://menlo.church/assets/christmas/i/img_background-green.jpg") }});}
                @media(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){
                    .showcase_5{background-image:url({{ url("https://menlo.church/assets/christmas/i/img_background-green@2x.jpg") }});}
                }
            </style>
            <div class="container px-xl-0">
                <div class="row justify-content-center text-center color-white">
                    <div class="col-xl-9 col-lg-10">
                        <h2 class="alfresco" data-aos-duration="700" data-aos="fade-up" data-aos-delay="0">Times + Locations</h2>
                    </div>
                </div>
                <div class="row justify-content-center text-center text-md-left">
                    <div class="mt-30 col-xl-4 col-md-6 col-sm-8" data-aos-duration="700" data-aos="fade-up" data-aos-delay="0">
                        <div class="px-30 pt-20 pb-30 bg-white radius10 inner">
                            <div class="mb-10 mt-20 f-48 title text-center alfresco">Menlo Park</div>
                            <div class="color-heading text-adaptive text-center">
                                <strong>Monday, December 23</strong><br />
                                5:00* and 6:30pm<br />
                                <br />
                                <strong>Tuesday, December 24</strong><br />
                                2:00*, 3:30*, 5:00*, 6:30, 8:00, 9:30 pm
                            </div>
                            <div class="text-center"><a href="http://maps.google.com/?q=950%20Santa%20Cruz%20Avenue%20Menlo%20Park%20CA%2094025" class="mt-20 btn sm border-gray color-main" target="_blank">Get Directions</a>&nbsp;<a href="https://www.eventbrite.com/e/christmas-eve-at-menlo-church-menlo-park-tickets-79754735561" class="mt-20 btn sm border-gray color-main" target="_blank">Tickets</a></div>
                        </div>
                    </div>
                    <div class="mt-30 col-xl-4 col-md-6 col-sm-8" data-aos-duration="700" data-aos="fade-up" data-aos-delay="0">
                        <div class="px-30 pt-20 pb-30 bg-white radius10 inner">
                            <div class="mb-10 mt-20 f-48 title text-center alfresco">San Mateo</div>
                            <div class="color-heading text-adaptive text-center">
                                <strong>Tuesday, December 24</strong><br />
                                2:00*, 3:30*, 5:00*, 6:30, 8:00pm
                            </div>
                            <div class="text-center"><a href="http://maps.google.com/?q=4150%20Piccadilly%20Lane%20San%20Mateo%20CA%2094403" class="mt-20 btn sm border-gray color-main" target="_blank">Get Directions</a></div>
                        </div>
                    </div>
                    <div class="mt-30 col-xl-4 col-md-6 col-sm-8" data-aos-duration="700" data-aos="fade-up" data-aos-delay="0">
                        <div class="px-30 pt-20 pb-30 bg-white radius10 inner">
                            <div class="mb-10 mt-20 f-48 title text-center alfresco">South City</div>
                            <div class="color-heading text-adaptive text-center">
                                <strong>Sunday, December 22</strong><br />
                                10:00* and 11:30am*
                            </div>
                            <div class="text-center"><a href="http://maps.google.com/?q=255%20South%20Airport%20Blvd.%20South%20San%20Francisco%20CA%2094080" class="mt-20 btn sm border-gray color-main" target="_blank">Get Directions</a></div>
                        </div>
                    </div>
                    <div class="mt-30 col-xl-4 col-md-6 col-sm-8" data-aos-duration="700" data-aos="fade-up" data-aos-delay="0">
                        <div class="px-30 pt-20 pb-30 bg-white radius10 inner">
                            <div class="mb-10 mt-20 f-48 title text-center alfresco">Mountain View</div>
                            <div class="color-heading text-adaptive text-center">
                                <strong>Tuesday, December 24</strong><br />
                                2:00, 3:30* and 5:00pm*
                            </div>
                            <div class="text-center"><a href="http://maps.google.com/?q=1667%20Miramonte%20Avenue%20Mountain%20View%20CA%2094040" class="mt-20 btn sm border-gray color-main" target="_blank">Get Directions</a></div>
                        </div>
                    </div>
                    <div class="mt-30 col-xl-4 col-md-6 col-sm-8" data-aos-duration="700" data-aos="fade-up" data-aos-delay="0">
                        <div class="px-30 pt-20 pb-30 bg-white radius10 inner">
                            <div class="mb-10 mt-20 f-48 title text-center alfresco">Saratoga</div>
                            <div class="color-heading text-adaptive text-center">
                                <strong>Tuesday, December 24</strong><br />
                                3:30*, 5:00* and 6:30pm*
                            </div>
                            <div class="text-center"><a href="http://maps.google.com/?q=20455%20Herriman%20Avenue%20Saratoga%20CA%2095070" class="mt-20 btn sm border-gray color-main" target="_blank">Get Directions</a></div>
                        </div>
                    </div>
                    <div class="mt-30 col-xl-4 col-md-6 col-sm-8" data-aos-duration="700" data-aos="fade-up" data-aos-delay="0">
                        <div class="px-30 pt-20 pb-30 bg-white radius10 inner">
                            <div class="mb-10 mt-20 f-48 title text-center alfresco">San Jose</div>
                            <div class="color-heading text-adaptive text-center">
                                <strong>Tuesday, December 24</strong><br />
                                3:30* and 5:00pm*
                            </div>
                            <div class="text-center"><a href="http://maps.google.com/?q=5655%20Gallup%20Drive%20San%20Jose%20CA%2095118" class="mt-20 btn sm border-gray color-main" target="_blank">Get Directions</a></div>
                        </div>
                    </div>
                    <div class="mt-60 mb-40 f-16 text-center color-white">
                        <i>* <a href="https://menlo.church/connect/kids" style="color: white; text-decoration: underline;" target="_blank">Menlo Kids</a> available for preschool and under. Older kids are encouraged to experience the Christmas service with their families.</i>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- What to Expect -->
        <section id="expect" class="pt-100 pb-100 bg-light content_11">
            <div class="container px-xl-0">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-9 col-lg-10 mb-60">
                        <h2 class="alfresco" data-aos-duration="700" data-aos="fade-up" data-aos-delay="0">What to Expect</h2>
                    </div>
                </div>
                <div class="row" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                    <div class="col-lg-1"></div>
                    <div class="mb-20 col-lg-9 f-22 text-adaptive">
                        The Service			</div>
                </div>
                <div class="row" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-8 color-heading op-7 text-adaptive mb-40">
                        We will have a lively, hopeful experience, lasting about an hour. Each campus has a worship band and campus pastor who will lead us through our celebration with a mix of modern songs and traditional Christmas carols. We’ll also hear an inspiring Christmas message.</div>
                </div>
                <div class="row" data-aos-duration="600" data-aos="fade-down" data-aos-delay="50">
                    <div class="col-lg-1"></div>
                    <div class="mb-20 col-lg-9 f-22 text-adaptive">
                        When to Arrive + What to Wear</div>
                </div>
                <div class="row" data-aos-duration="600" data-aos="fade-down" data-aos-delay="50">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-8 color-heading op-7 text-adaptive mb-40">
                        Arriving early will help if there is a shortage of parking or space in service. And please come as you are and feel most comfortable—whether in your special Christmas outfit or in everyday jeans!</div>
                </div>
                
                <div class="row" data-aos-duration="600" data-aos="fade-down" data-aos-delay="100">
                    <div class="col-lg-1"></div>
                    <div class="mb-20 col-lg-9 f-22 text-adaptive">
                        Kids
                        </div>
                </div>
                <div class="row" data-aos-duration="600" data-aos="fade-down" data-aos-delay="150">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-8 color-heading op-7 text-adaptive mb-40">
                        Menlo Kids programming will be available for preschool-aged kids and younger. (Please see times above for which services will offer Menlo Kids programming.) Older kids are encouraged to experience the Christmas service with their families. <a href="https://menlo.church/connect/kids" target="_blank">Learn more about Menlo Kids</a>.</div>
                </div>
                
            </div>
        </section>
        <!-- Showcase 8 -->

        <section class="bg-dark showcase_8">
            <div class="container-fluid px-0">
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="{{ url("https://menlo.church/assets/christmas/i/1photooption.jpg") }}" srcset="{{ url("https://menlo.church/assets/christmas/i/1photooption@2x.jpg") }} 2x" class="w-full" alt="" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0" />
                    </div>
                    <div class="col-4">
                        <img src="{{ url("https://menlo.church/assets/christmas/i/2photooption.jpg") }}" srcset="{{ url("https://menlo.church/assets/christmas/i/2photooption@2x.jpg") }} 2x" class="w-full" alt="" data-aos-duration="600" data-aos="fade-down" data-aos-delay="150" />
                    </div>
                    <div class="col-4">
                        <img src="{{ url("https://menlo.church/assets/christmas/i/3photooption.jpg") }}" srcset="{{ url("https://menlo.church/assets/christmas/i/3photooption@2x.jpg") }} 2x" class="w-full" alt="" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300" />
                    </div>
                </div>
            </div>
        </section>

        <section class="pt-100 pb-100 bg-light content_11">
            <div class="container px-xl-0">
                <div class="row" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                    <div class="col-lg-1"></div>
                    <div class="mb-20 col-lg-9 f-22 text-adaptive">
                        Activities</div>
                </div>
                <div class="row" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-8 color-heading op-7 text-adaptive mb-40">
                        Plan to arrive early (or stick around after the service) to enjoy hot cocoa, cookies, good company, Christmas cheer and to take photos at the photo booth.</div>
                </div>
                <div class="row" data-aos-duration="600" data-aos="fade-down" data-aos-delay="50">
                    <div class="col-lg-1"></div>
                    <div class="mb-20 col-lg-9 f-22 text-adaptive">
                        More Questions?</div>
                </div>
                <div class="row" data-aos-duration="600" data-aos="fade-down" data-aos-delay="50">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-8 color-heading op-7 text-adaptive mb-40">
                        If you have any questions while you're on campus, we invite you to stop by Info Central where friendly staff and volunteers are available to say hi and answer questions you might have. Volunteers will also be at all of the entrances, ready to give you directions and answer questions.</div>
                </div>
                
            </div>
        </section>

        <!-- Call to Action 22 -->

        <section id="playlist" class="pt-100 pb-100 bg-dark color-white text-center color-filter-dark-3 call_to_action_22">
            <style>
                .call_to_action_22{background-image:url({{ url("https://menlo.church/assets/christmas/i/img_worship_bg.jpg") }});}
                @media(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){
                    .call_to_action_22{background-image:url({{ url("https://menlo.church/assets/christmas/i/img_worship_bg@2x.jpg") }});}
                }
            </style>
            
            <div class="container px-xl-0">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <div class="radius20 pt-55 pb-50 px-20 inner">
                            <div class="row justify-content-center">
                                <div class="col-xl-10 col-md-8">
                                    <h2 class="small" data-aos-duration="700" data-aos="fade-up" data-aos-delay="0">Hear a Few Songs <br />from Our Playlist</h2>
                                    <div data-aos-duration="700" data-aos="fade-up" data-aos-delay="350">
                                        <a href="https://open.spotify.com/playlist/56Hf0nGBvc0Xu88S4E6gvA?si=I5s57TIhT9aWOC-o2IYYgQ" target="_blank" class="mt-35 mb-40 play relative white"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-8" data-aos-duration="700" data-aos="fade-up" data-aos-delay="700">
                                    <div class="f-22 text-adaptive">Enjoy our hand-picked selection of Christmas music on Spotify!</div>
                                    <div style="font-size:12px;line-height:1.6;padding-top:10px;">Please note, you will be leaving the Menlo Church site to listen. If you do not have a Spotify account, you will be asked to set one up.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Feature 21 -->

        <section id="invite" class="pt-105 pb-30 bg-dark color-white color-filter-dark-4 feature_21">
            <style>
                .feature_21{background-image:url({{ url("https://menlo.church/assets/christmas/i/feature_21_bg.jpg") }});}
                @media(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){
                    .feature_21{background-image:url({{ url("https://menlo.church/assets/christmas/i/feature_21_bg@2x.jpg") }});}
                }
            </style>
            <div class="container px-xl-0">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-8 col-lg-10 mb-60 aos-init aos-animate" data-aos-duration="700" data-aos="fade-up" data-aos-delay="0">
                        <h2 class="text-center alfresco">Invite your friends</h2>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="mb-75 col-xl-3 col-lg-4 col-sm-6 block">
                        <div class="mb-30 f-14 semibold text-uppercase sp-20 title text-center">Facebook / Instagram</div>
                        <div class="text-center mb-30">
                            <a href="{{ url("https://menlo.church/assets/christmas/i/social-invite-1-large.jpg") }}" target="_blank" download>
                            <img src="{{ url("https://menlo.church/assets/christmas/i/facebook-thumb.jpg") }}" srcset="{{ url("https://menlo.church/assets/christmas/i/facebook-thumb@2x.jpg") }} 2x" class="img-fluid radius10" alt="" />
                            </a>
                        </div>
                        
                        <div class="op-7 text-center">
                            <a class="btn lg border-transparent-white" href="{{ url("https://menlo.church/assets/christmas/i/social-invite-1-large.jpg") }}">Download</a>
                        </div>
                    </div>
                    <div class="col-1 d-none d-xl-block"></div>
                    <div class="mb-75 col-xl-3 col-lg-4 col-sm-6 block">
                        <div class="mb-30 f-14 semibold text-uppercase sp-20 title text-center">Facebook / Instagram</div>
                        <div class="text-center mb-30">
                            <a href="{{ url("https://menlo.church/assets/christmas/i/social-invite-2-large.jpg") }}" target="_blank" download>
                            <img src="{{ url("https://menlo.church/assets/christmas/i/instagram-thumb.jpg") }}" srcset="{{ url("https://menlo.church/assets/christmas/i/instagram-thumb@2x.jpg") }} 2x" class="img-fluid radius10" alt="" />
                            </a>
                        </div>
                        
                        <div class="op-7 text-center">
                            <a class="btn lg border-transparent-white" href="{{ url("https://menlo.church/assets/christmas/i/social-invite-2-large.jpg") }}" download target="_blank">Download</a>			
                        </div>
                    </div>
                    <div class="col-1 d-none d-xl-block"></div>
                    <div class="mb-75 col-xl-3 col-lg-4 col-sm-6 block">
                        <div class="mb-30 f-14 semibold text-uppercase sp-20 title text-center">Instagram Story</div>
                        <div class="text-center mb-30">
                            <a href="{{ url("https://menlo.church/assets/christmas/i/instagram-story-2-large.jpg") }}" target="_blank" download>
                            <img src="{{ url("https://menlo.church/assets/christmas/i/instagram-story-2-thumb.jpg") }}" srcset="{{ url("https://menlo.church/assets/christmas/i/instagram-story-2-thumb@2x.jpg") }} 2x" class="img-fluid radius10" alt="" />
                            </a>
                        </div>
                        
                        <div class="op-7 text-center">
                            <a class="btn lg border-transparent-white" href="{{ url("https://menlo.church/assets/christmas/i/instagram-story-2-large.jpg") }}" target="_blank" download>Download</a>			
                        </div>
                    <div class="col-1 d-none d-xl-block"></div>
                    </div>
                    <div class="mb-75 col-xl-3 col-lg-4 col-sm-6 block">
                        <div class="mb-30 f-14 semibold text-uppercase sp-20 title text-center">Instagram Story</div>
                        <div class="text-center mb-30">
                            <a href="{{ url("https://menlo.church/assets/christmas/i/instagram-story-1-large.jpg") }}" target="_blank" download>
                            <img src="{{ url("https://menlo.church/assets/christmas/i/instagram-story-1-thumb.jpg") }}" srcset="{{ url("https://menlo.church/assets/christmas/i/instagram-story-1-thumb@2x.jpg") }} 2x" class="img-fluid radius10" alt="" />
                            </a>
                        </div>
                        
                        <div class="op-7 text-center">
                            <a class="btn lg border-transparent-white" href="{{ url("https://menlo.church/assets/christmas/i/instagram-story-1-large.jpg") }}" target="_blank" download>Download</a>
                        </div>
                    </div>
                    <div class="col-1 d-none d-xl-block"></div>
                    <div class="mb-75 col-xl-3 col-lg-4 col-sm-6 block">
                        <div class="mb-30 f-14 semibold text-uppercase sp-20 title text-center">Email Invitation</div>
                        <div class="text-center mb-30">
                        <a href="{{ url("https://menlo.church/assets/christmas/i/email-invite-1-large.jpg") }}" target="_blank" download>
                            <img src="{{ url("https://menlo.church/assets/christmas/i/email-thumb.jpg") }}" srcset="{{ url("https://menlo.church/assets/christmas/i/email-thumb@2x.jpg") }} 2x" class="img-fluid radius10" alt="" />
                        </a>
                        </div>
                        <div class="op-7 text-center">
                            <a class="btn lg border-transparent-white" href="{{ url("https://menlo.church/assets/christmas/i/email-invite-1-large.jpg") }}" target="_blank" download>Download</a>		
                        </div>
                        
                    </div>
                    <div class="col-1 d-none d-xl-block"></div>
                    <div class="mb-75 col-xl-3 col-lg-4 col-sm-6 block">
                        <div class="mb-30 f-14 semibold text-uppercase sp-20 title text-center">Email Invitation</div>
                        <div class="text-center mb-30">
                            <a href="{{ url("https://menlo.church/assets/christmas/i/email-invite-2-large.jpg") }}" target="_blank" download>
                                <img src="{{ url("https://menlo.church/assets/christmas/i/email-invite-2-thumb.jpg") }}" srcset="{{ url("https://menlo.church/assets/christmas/i/email-invite-2-thumb@2x.jpg") }} 2x" class="img-fluid radius10" alt="" />
                            </a>
                        </div>
                        <div class="op-7 text-center">
                            <a class="btn lg border-transparent-white" href="{{ url("https://menlo.church/assets/christmas/i/email-invite-2-large.jpg") }}" target="_blank" download>Download</a>		
                        </div>
                    <div class="col-1 d-none d-xl-block"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer 8 -->

        <footer class="pt-45 pb-45 bg-white text-center footer_8">
            <div class="container px-xl-0">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-3 text-xl-left">
                        <a href="{{ siteUrl }}home" class="logo link color-white" target="_blank"><img src="{{ url("https://menlo.church/assets/christmas/i/img_logo_black.png") }}" srcset="{{ url("https://menlo.church/assets/christmas/i/img_logo_black@2x.png") }} 2x" alt="Menlo Church" /></a>
                    </div>
                    <div class="mt-10 mb-10 my-xl-0 col-xl-6 lh-40">
                        <a href="{{ siteUrl }}home" target="_blank" class="btn sm action-1" target="_blank">Enter menlo.church</a>
                    </div>
                    <div class="col-lg-3 text-xl-right socials">
                        <a href="https://www.facebook.com/menlochurch" target="_blank" class="mx-15 w-40 btn sm border-dark color-main px-0"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/menlo.church" target="_blank" class="mr-15 w-40 btn sm border-dark color-main px-0"><i class="fab fa-instagram"></i></a>

                    </div>
                </div>
            </div>
        </footer>
        <!-- forms alerts -->
        <div class="alert alert-success alert-dismissible fixed-top alert-form-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Thanks for your message!
        </div>
        <div class="alert alert-warning alert-dismissible fixed-top alert-form-check-fields" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Please, fill in required fields.
        </div>
        <div class="alert alert-danger alert-dismissible fixed-top alert-form-error" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            An error occurred while sending data :(
        </div>

        <!-- Bootstrap 4.3.1 JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
        <!-- Google maps JS API -->
        <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"></script>-->
        <!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
        <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
        <!-- AOS 2.3.4 jQuery plugin JS (Animations) -->
        <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
        <!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
        <script src="{{ url("https://menlo.church/assets/christmas/js/jquery.maskedinput.min.js") }}"></script>
        <!-- Startup 3 JS (Custom js for all blocks) -->
        <script src="{{ url("https://menlo.church/assets/christmas/js/script.js") }}"></script>

</body>
</html>
{% endminify %} 
{% endcache %}