{% extends "_layouts/_site" %} 
{% block content %} 
 {% set query = craft.request.getParam('q') %}
 <div class="spacer spacer-12"></div>
    <div class="matrix">
        <div class="container container-7 text-center">
            <h2>Browse search results for &ldquo;{{ query }}&rdquo; by category below.</h2>
            <hr class="push-b-6 push-t-6"/><br>
            <button data-modal="#modal-search" class="btn"><span>Search Again</span></button>
        </div>
        <div class="spacer spacer-12"></div>
        <div class="container container-10">
            {% set pages = craft.entries.section('pages').search(query).limit(20) %}
            {% set messages = craft.entries.section('messages').search(query).limit(20) %}
            {% set events = craft.venti.events.search(query).endDate(">=" ~ now).limit(20) %}
            {% set serve = craft.entries.section('serve').search(query).limit(20) %}
            {% set blog = craft.entries.section('blog').search(query).limit(20) %}
            {% set staff = craft.entries.section('people').search(query).limit(20) %}
            {% set firstTab = [] %}
            {% if pages|length %} 
                {% set firstTab = firstTab|merge(['pages']) %}
            {% endif %}
            {% if messages|length %}
                {% set firstTab = firstTab|merge(['messages']) %}
            {% endif %}
            {% if events|length %}
                {% set firstTab = firstTab|merge(['events']) %}
            {% endif %}
            {% if serve|length %}
                {% set firstTab = firstTab|merge(['serve']) %}
            {% endif %}
            {% if blog|length %}
                {% set firstTab = firstTab|merge(['blog']) %}
            {% endif %}
            {% if staff|length %}
                {% set firstTab = firstTab|merge(['staff']) %}
            {% endif %}

            <div class="text-center">
                <div class="tabs_tabs" data-tabs>
                    {% if pages|length %}
                        <a href="#tab-pages" data-tab data-tab-search="pages" class="tabs_tab {% if firstTab[0] == "pages" %}-active{% endif %}">Pages <em class='total'>{{ pages|length }}</em></a>
                    {% endif %}
                    {% if messages|length %}
                        <a href="#tab-messages" data-tab data-tab-search="messages" class="tabs_tab {% if firstTab[0] == "messages" %}-active{% endif %}">Messages <em class='total'>{{ messages|length }}</em></a>
                    {% endif %}
                    {% if events|length %}
                        <a href="#tab-events" data-tab class="tabs_tab {% if firstTab[0] == "events" %}-active{% endif %}">Events <em class='total'>{{ events|length }}</em></a>
                    {% endif %}
                    {% if serve|length %}
                        <a href="#tab-serve" data-tab class="tabs_tab {% if firstTab[0] == "serve" %}-active{% endif %}">Serve <em class='total'>{{ serve|length }}</em></a>
                    {% endif %}
                    {% if blog|length %}
                        <a href="#tab-blog" data-tab class="tabs_tab {% if firstTab[0] == "blog" %}-active{% endif %}">Blog <em class='total'>{{ blog|length }}</em></a>
                    {% endif %}
                    {% if staff|length %}
                        <a href="#tab-staff" data-tab class="tabs_tab {% if firstTab[0] == "staff" %}-active{% endif %}">Staff <em class='total'>{{ staff|length }}</em></a>
                    {% endif %}
                </div>
            </div>
            <div class="row row-center">
                <div class="tabs_content col col-12 col-sm-9 col-md-12 " data-tabs-content>
                    <div id="tab-pages" class='tabs_pane {% if firstTab[0] == "pages" %}-active{% endif %}' data-tabs-pane>
                        <div class="richText">
                            <h4>Pages</h4>
                            <ul class="pad-l-0">
                                {% for item in pages %}
                                    <li>
                                        <a href='{{ item.url }}'>{{ item.title }}</a>
                                        {% if item.pageSubHeading is not empty %}
                                            <p class="pull-t-0"> <small>{{ item.pageSubHeading}} </small></p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="tab-messages" class='tabs_pane {% if firstTab[0] == "messages" %}-active{% endif %}' data-tabs-pane>
                        <div class="richText">
                            <h4>Messages</h4>
                            <ul class="pad-l-0">
                                {% for item in messages %}
                                    <li><a href='#modal/message/{{ item.id }}'>{{ item.title }}</a>
                                        {% if item.messageSummary is not empty %}
                                            <p class="pull-t-0"> <small>{{ item.messageSummary|trimit(140) }} </small></p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="tab-events" class='tabs_pane {% if firstTab[0] == "events" %}-active{% endif %}' data-tabs-pane>
                        <div class="richText">
                            <h4>Events</h4>
                            <ul>
                                {% for item in events %}
                                    <li><a href='#/modal/event/{{item.eid}}'>{{ item.title }}</a>
                                        {% if item.eventOverview is not empty %}
                                            <p class="pull-t-0"> <small>{{ item.eventOverview|trimit(140) }} </small></p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>                        
                    </div>
                    <div id="tab-serve" class='tabs_pane {% if firstTab[0] == "serve" %}-active{% endif %}' data-tabs-pane>
                        <div class="richText">
                            <h4>Serve</h4>
                            <ul class="pad-l-0">
                                {% for item in serve %}
                                    <li><a href='#/modal/serve/{{ item.id }}'>{{ item.title }}</a>
                                        {% if item.serveOverview is not empty %}
                                            <p class="pull-t-0"> <small>{{ item.serveOverview|trimit(140) }} </small></p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="tab-blog" class='tabs_pane {% if firstTab[0] == "blog" %}-active{% endif %}' data-tabs-pane>
                        <div class="richText">
                            <h4>Blog</h4>
                            <ul class="pad-l-0">
                                {% for item in blog %}
                                    <li><a href='{{ item.url }}'>{{ item.title }}</a>
                                        {% if item.postSummary is not empty %}
                                            <p class="pull-t-0"> <small>{{ item.postSummary|trimit(140) }} </small></p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="tab-people" class='tabs_pane {% if firstTab[0] == "staff" %}-active{% endif %}' data-tabs-pane>
                        <div class="richText">
                            <h4>People/Staff</h4>
                            <ul class="pad-l-0">
                                {% for item in staff %}
                                    <li><a href='#/modal/people/{{ item.id }}'>{{ item.title }}</a>
                                        {% if item.bio is not empty %}
                                            <p class="pull-t-0"> <small>{{ item.bio|trimit(140) }} </small></p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer spacer-12"></div>
    </div>
{% endblock %}