{#
/**
 * Layouts plugin for Craft CMS
 *
 * Layouts_LayoutsFieldType HTML
 *
 * @author    Tipping Media LLC
 * @copyright Copyright (c) 2016 Tipping Media LLC
 * @link      http://tippingmedia.com
 * @package   Layouts
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% macro icon(icon, size = 148, baseline = 148, classes = '', baseName) %}
    <svg class='icn icon-{{ size }} {{ classes }}'><use xlink:href='#{{baseName}}-icon-{{ icon }}'></use></svg>
{% endmacro %}

{% macro layoutsField(name, value, layouts, nameId) %}
    {% from _self import icon %}
    {% import "_includes/forms" as forms %}

    {% set height = layouts|length < 7 ? (layouts|length > 3 ? 300 : 170) : null %}

    {% set input %}
        <div class="layouts--elements {% if value.icon is not null %}collapsed{% endif %}">
            <div class="layouts--elements_heading">
                <span class="layout__icon-small">{% if value.icon is not null %}{{  icon(value.icon,24,24,null,nameId) }}{% endif %}</span> {{ "Layouts"|t }}
                <span class='actions'>
                    <span data-icon="expand" class="expand">{{ ' Expand'}} </span>
                    <span data-icon="collapse" class="collapse">{{ ' Collapse'}} </span>
                </span>
            </div>
            <div class="layouts--elements_wrapper" {% if height is not null %}style="height:{{ height }}px"{% endif %}>
                <div class="row">
                    {% if layouts|length %}
                        {% for layout in layouts %}
                            {% set layoutData = {
                                id: layout.id,
                                icon: layout.icon,
                                handle: layout.handle,
                                description: layout.description,
                                sources: layout.getSources,
                                entrytypes: layout.getEntryTypes,
                                limit: layout.getLimit
                            } %}
                            <div class="layout--element col-xs-12 col-sm-6 col-md-6 col-lg-4" data-value="{{ layoutData|json_encode }}">
                                <div data-tooltip="{{ layout.description }}">
                                {{  icon(layout.icon, 120, 120,null, nameId) }}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>{{ "You need to select layouts in the field settings."|t }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="{{ name }}-layout" class="{% if value.icon is null %} hidden {% endif %}">
            <input class="layout__input-handle" name="{{name}}[handle]" type="hidden" value="{{ value.handle }}" />

            <div class="layout__description">
                <div class="layout__icon">{% if value.icon is not null %}{{  icon(value.icon,100,100,null,nameId) }}{% endif %}</div>
                <span>{{ value.description }}</span>
                <a data-icon="remove" class="layout__remove"></a>
            </div>


            <div class="field">
                <div class='heading'>
                    <label>{{ "Select your content for this layout."|t }}</label>
                    <div class="instructions">{{"Each entry could be a column or row depending on the layout you select."}}</div>
                </div>
                <div class="input layout--element-selector">

                    {% if value.entries|length %}
                        {{ forms.elementSelect({
                        	id: name,
                            name: name~"[entries]"|raw,
                            elements: value.entries,
                            elementType: craft.elements.getElementType('Entry'),
                            criteria: {"localeEnabled":null,"locale":craft.locale,"type":value.entryTypes},
                            sources: value.sources,
                            limit: value.limit,
                            viewMode: "list"
                        }) }}
                    {% endif %}

                </div>
            </div>
        </div>
    {% endset %}

    {{ forms.field({
        name: name ,
        class: "layouts-field",
        required: false,
    }, input) }}

{% endmacro %}


{% from _self import layoutsField %}
{% from _self import icon %}

<div class="layouts-field-wrapper" id="{{ name }}-layouts-field">
    <div class="layouts-field-selected">
        {% if layoutValue %}
            {{ layoutsField(name, layoutValue, layouts, nameId) }}
        {% endif %}
    </div>
</div>
{% include 'layouts/_partials/icons' %}
