<style>{% spaceless %}
    /# {{ entry is defined ? entry.type.handle : "no-entry" }} #/
    {% if entry is defined %}
        {% if entry.type.handle in ["homepage","landingSeries"] %}
            {% include '_partials/_critical/_index_critical.min.css' %}
        {% elseif entry.type.handle in ["subPage","subPagePerCampus","message","event","story","serve","person","group"] %}
            {% include '_partials/_critical/_subpage_critical.min.css' %}
        {% elseif entry.type.handle in ["landingMessages","landingStaff","series"] %}
            {% include '_partials/_critical/_subpage_critical.min.css' %}
        {% elseif entry.type.handle in ["landingGroups"] %}
            {% include '_partials/_critical/_groups_critical.min.css' %}    
        {% elseif entry.type.handle in ["landingServe"] %}
            {% include '_partials/_critical/_serve_critical.min.css' %}        
        {% else %}
            {% include '_partials/_critical/_subpage_critical.min.css' %}   
        {% endif %}
    {% else %}
        {% include '_partials/_critical/_campus_critical.min.css' %}    
    {% endif %}
{% endspaceless %}</style>
