{% extends '_layouts/_site' %}

{% block content %}
    {% import '_macros/_icons' as icons %}
    {% import '_macros/_srt' as srt %}
    <section class="hero section section-20 section-contained block bg-text-dark color-white">
        {% if entry.postImage|length %}
            <div class="block_layer block_layer-bgImg rellax" style="background-image: url({{ entry.postImage[0].getUrl('tf1920x1080')}})"></div>
            <div class="block_layer block_layer-overlayRadial"></div>
        {% endif %}
        <div class="linemark linemark-bottom color-white"></div>
        <div class="container">
            <div class="row">
                <div class="col col-12 col-sm-10 col-md-8">
                    {% include '/_partials/_breadcrumbs' %}
                    <h1 class="h1">{{ entry.title|default(entry.title) }}</h1>
                    
                    {% if entry.postSubHeading is not empty %}
                        <p class="push-t-4 linedLinks linedLinks-dark">{{ entry.postSubHeading }}</p>
                    {% endif %}
                </div>
            </div>    
        </div>
    </section>

    <div class="matrix" id="content">
        <section class="section section-20 section-contained bg-offwhite">
            <div class="linemark linemark-top color-border"></div>
            
            <div class="container container-7">
                <div class="row row-middle">
                    <div class="col col-12 col-sm-6">
                        <p class="smalltext color-text-light">{{ entry.postDate|date('M d, Y') }} 
                            {% if entry.postAuthor|length %}
                                <span class="sep"></span> <a href="#/modal/person/{{entry.postAuthor[0].id}}/{{entry.postAuthor[0].locale}}"><strong>{{ entry.postAuthor[0].title }}</strong></a>
                            {% endif %}
                        </p>
                    </div>

                    <div class="col col-12 col-sm-6 text-sm-right">
                        <ul class="socialIcons socialIcons-share">
                            <li><a href="mailto:?subject={{entry.title}}" class="-generic">{{ icons.socialicon('email', 24) }} {{ srt.srt('Email') }}</a></li>
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{entry.url}}&t={{entry.title}}" target="_blank" class="-facebook">{{ icons.socialicon('facebook', 24) }} {{ srt.srt('Facebook') }}</a></li>
                            <li><a href="https://twitter.com/home?status={{entry.url}}{{entry.title}}" target="_blank" class="-twitter">{{ icons.socialicon('twitter', 24) }} {{ srt.srt('Twitter') }}</a></li>
                        </ul>
                    </div>
                </div>
                {% if entry.postSummary is not empty or entry.postContent is not empty%}
                    <div class="richText">
                        {% if entry.postSummary is not empty%}
                            <p class="subtext">{{ entry.postSummary }}</p>
                        {% endif %}
                        {{ entry.postContent|default() }}
                    </div>
                {% endif %}
            </div>
        </section>

        {% for block in entry.postBlocks %}
            {% include '_blocks/_' ~ block.type|lower with { block: block, parentIdx: loop.index0 } only %}
        {% endfor %}
    </div>


{% endblock %}