{% extends '_layouts/_site' %}

{% block content %}
    {% import '_macros/_icons' as icons %}

    {# {% if craft.locale == 'mlo' %}
        {% include '/_partials/_choose-location' %}
    {% else %} #}
        <div id="listpage">
            <list-page></list-page>
        </div>
    {# {% endif %} #}

    <script type="text/x-template" id='list-template'>
        <div>
            <hr v-if="listview">
            <section class="section section-20 pad-b-12 text-center" v-if="listview">
                <div class="linemark linemark-top color-border"></div>

                <div class="container container-8">
                    <h1 class="h2">{{ entry.pageHeading|default('Meet Our Team') }}</h1>
                    <p class="subtext color-text-light linedLinks push-y-4">{{ entry.pageSubHeading }}</p>

                    <div class="buttonGroup">
                        <a href="#" class="button button-red" @click.prevent="searchEntries">Find Someone</a>
                    </div>
                </div>
            </section>

            {% if entry.leadershipSections|length %}
                {% for bloc in entry.leadershipSections %}
                    <hr v-if="listview">
                    <section class="section section-4" v-if="listview" {% if bloc.keyLeadershipSection == 1 %}id="keyleadership"{% endif %}>
                        <div class="container-full">
                            <div class="row grid grid-2">
                            
                                {% set heading %}
                                    <div class="col col-12 col-md-6 display-md-flex">
                                        <div class="teamHeader bg-topo">
                                            <h1 class="h3">{{ bloc.heading }}</h1>
                                            <p>{{ bloc.description }}</p>
                                        </div>
                                    </div>
                                {% endset %}
                                {% if loop.index is not divisible by(2) %}
                                    {{ heading }}
                                {% endif %}
                                {% set team = craft.entries.section('people').relatedTo(bloc.departments).hideFromCampusStaff(0).order("title ASC") %}
                                {% if team|length %}
                                    {% for item in team %}
                                        <div class="col col-6 col-sm-4 col-md-3 col-lg-2">
                                            {% include '/_cards/_card-person' with { item: item } only %}
                                        </div>
                                        {% if loop.parent.loop.index is divisible by(2) %}
                                            {% if team|length > 3 and loop.index == 3 %}
                                                {{ heading }}
                                            {% endif %}
                                            {% if team|length < 3 and loop.last %}
                                                {{ heading }}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </section>
                {% endfor %}
            {% endif %}

            <filtered-section></filtered-section>
            <search-section></search-section>
            <filters></filters>
        </div>
    </script>

    {% include '_cards/_card-person-vue' %}

    <script type="text/x-template" id='list-section'>
        <div>
            <div class="text-center" v-if="showSpinner">
                <svg class="icon icon-24 animate-rotate360" v-show="showSpinner"><use xlink:href="#icon-24-synchronize"></use></svg>
            </div>
            <div class="row row-padded row-center grid grid-4">
                <div :class="classObject"  v-for="post in posts" :key="post.id">
                    <list-card :post='post' :type='post.type'></list-card>
                </div>
            </div>
            <div class="section_footer">
                <a href="#" @click.prevent="loadMorePosts()" class="ctaLink color-text-light" v-if="totalPages !== null && currentPage < totalPages">
                    <span>Show More ${this.heading}</span>
                    <svg class="icon icon-24 animate-rotate360" v-show="showSpinner"><use xlink:href="#icon-24-synchronize"></use></svg>
                </a>
            </div>
        </div>
    </script>

    <script type="text/x-template" id='filtered-section-template'>
        <section class="section section-12 section-contained" v-show="filterview">
            <div class="container">
                <div class="section_header">
                    <h1 class="h2 push-b-4">Here's What We Found</h1>

                    <div class="buttonGroup">
                        <a href="#" class="button button-red" @click="searchEntries">Find Someone</a>
                        <a href="#" class="button" @click="backToList()">Back to teams</a>
                    </div>
                </div>

                <h2 class="midline smalltext color-text-light push-b-4"><span class="pad-l-0">${filterTotal} Results for <strong>${filterLabel}</strong></span></h2>

                <list-section :api="'{{siteUrl}}api/staff/'" :tmp="'person'" :heading="'Staff'" :col="'4'" :type="'filter'"></list-section>

            </div>
        </section>
    </script>

    <script type="text/x-template" id='search-section-template'>
        <section class="section section-12 section-contained" v-show="searchview">
            <div class="container">
                <div class="section_header">
                    <h1 class="h2 push-b-4">Here's What We Found</h1>

                    <div class="buttonGroup">
                        <a href="#" class="button button-red" @click="searchEntries">Find Someone</a>
                        <a href="#" class="button" @click="backToList()">Back to teams</a>
                    </div>
                </div>

                <h2 class="midline smalltext color-text-light push-b-4"><span class="pad-l-0">${filterTotal} Results for <strong>${searchQuery}</strong></span></h2>

                <list-section :api="'{{siteUrl}}/api/staff/'" :tmp="'person'" :heading="'Staff'" :col="'4'" :type="'search'"></list-section>

            </div>
        </section>
    </script>

    <script type="text/x-template" id='filters-template'>
        <div>
            <div :class="classObject" @click="closeModalFromBg">
                {% include '_modals/_modal-team-search.twig' %}
            </div>
            <div class="modal_bg" v-if="isactive" @click="closeModal"></div>
        </div>
    </script>
    <hr>
    {% include '_partials/_footerCallToAction' %}
{% endblock %}