{% extends '_layouts/_site' %}

{% block content %}
    {% import '_macros/_icons' as icons %}
    {% import '_macros/_srt' as srt %}

    {% if craft.locale == 'mlo' %}
        {% include '/_partials/_choose-location' %}
    {% else %}
        <div id="groups-page">
            <groups-page></groups-page>
        </div>
    {% endif %}


    <script type="text/x-template" id='groups-page-template'>
        <div>
            <section class="hero section section-20 section-contained block bg-text-dark color-white" id="masthead" v-show="viewdefault">
                {% set image = entry.pageBgImage.first() %}
                {% if image %}
                    {% set transformedImages = craft.imager.transformImage(image,
                        [
                            { width:1080, ratio: 16/9 },
                        ],
                        {
                            format: 'jpg',
                            allowUpscale: false,
                            mode: 'crop',
                            jpegQuality: 80,
                            position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                            interlace: true
                        }
                    ) %}

                    <div class="block_layer block_layer-bgImg rellax" style="background-image: url({{ transformedImages[0].url }})"></div>
                {% endif %}
                <div class="block_layer block_layer-overlayRadial"></div>

                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-sm-10 col-md-8">
                            {% include '/_partials/_breadcrumbs' %}

                            <h1 class="h1">{{ entry.pageHeading }}</h1>
                            <p class="push-t-4 linedLinks linedLinks-dark">{{ entry.pageSubHeading }}</p>

                            <div class="push-t-4">
                                <div class="buttonGroup buttonGroup-left">
                                    <a href="#" class="button button-white" @click.prevent="scrollToFeatured"><span>Featured Groups</span>{{ icons.icon('arrow-down') }}</a>
                                    {% if entry.commonQuestions is defined and entry.commonQuestions|length %}
                                        <a href="#" class="button button-outline" data-modal="#modal-common-questions">Common Questions</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr v-if="filterType === 'search' || filterType==='category' || filterType ==='finder'">
            <section class="section section-20 pad-b-8 text-center" v-show="viewlist">
                <div class="linemark linemark-top color-border"></div>
                <div class="container container-8">
                    <h1 class="h2">Here’s What We Found</h1>
                    <p class="subtext color-text-light linedLinks push-t-4" v-if="filterType === 'finder'">Looks like there
                        <span v-if="totalGroups > 1" >are</span>
                        <span v-if="totalGroups === 1" >is </span>
                        <strong><a href="#groups"  >
                            ${totalGroups} group<span v-if="totalGroups > 1">s</span>
                        </a></strong>
                         interested in
                         <a href="#" @click.prevent="navigateToStep(1)" >${selectedLabels.groupInterests !== '' ? selectedLabels.groupInterests : 'anything' } </a>
                         for
                         <a href="#" @click.prevent="navigateToStep(2)" > ${selectedLabels.groupCategory !== '' ? selectedLabels.groupCategory : 'all categories' } </a>
                         near
                         <a href="#" @click.prevent="navigateToStep(3)" >${selectedLabels.groupArea !== '' ? selectedLabels.groupArea : 'all areas'} </a>.
                    </p>
                    <p class="subtext color-text-light linedLinks push-t-4" v-if="filterType === 'search'">
                        Looks like there <span v-if="totalGroups > 1 || totalGroups === 0">are</span> <span v-if="totalGroups === 1">is</span> <strong><a href="#groups" @click.prevent='scrollTo'>${totalGroups}</a> group<span v-if="totalGroups > 1 || totalGroups === 0">s</span></strong>
                        for &ldquo;<strong>${searchQuery}</strong>&rdquo;.
                    </p>
                    <p class="subtext color-text-light linedLinks push-t-4" v-if="filterType === 'category'">
                        Looks like there <span v-if="totalGroups > 1 || totalGroups === 0">are</span> <span v-if="totalGroups === 1">is</span> <strong><a href="#groups" @click.prevent='scrollTo'>${totalGroups}</a> group<span v-if="totalGroups > 1">s</span></strong>
                        for <strong>${selectedGroupCategory}</strong>.
                    </p>
                    {# @click.prevent="scrollTo" #}
                    <a href="#groups"  class="button push-t-4">Show Groups</a>
                </div>
            </section>

            <section class="section section-12 section-contained bg-offwhite">
                <div class="container" id="group-content">
                    <div class="row row-middle row-md-reverse grid grid-2 push-b-6 text-center">
                        <div class="col col-12 col-md-5 text-md-right">
                            <a href="#" class="button button-red" @click="searchGroups"><span>Find A Group</span>{{ icons.icon('search') }}</a>
                        </div>

                        <div class="col col-12 col-md-7 text-md-left">
                            <div class="tabs_tabs tabs_tabs-equal" data-tabs v-show="viewdefault">
                                <a href="#tab-featured" class="tabs_tab -active" data-tab>Featured</a>
                                <a href="#tab-all" class="tabs_tab" data-tab>All Groups</a>
                            </div>
                            <div class="tabs_tabs tabs_tabs-equal" v-if="viewlist" @click="setTabView()">
                                <a href="#tab-featured" class="tabs_tab" data-tab>Featured</a>
                                <a href="#tab-all" class="tabs_tab" data-tab>All Groups</a>
                            </div>
                        </div>
                    </div>

                    <div class="tabs_content" data-tabs-content v-show="viewdefault">
                        <div id="tab-featured" class="tabs_pane -active" data-tabs-pane>
                            <div class="row row-padded row-center grid grid-4" id="featured-groups">
                                <div class="col col-12 col-sm-6 col-md-4" v-for="group in featuredGroups" :key='group.id'>
                                    <group-featured :group='group' ></group-featured>
                                </div>
                            </div>

                            <div class="section_footer">
                                <a href="#" class="button" @click.prevent="scrollToCategories">Browse More Groups</a>
                            </div>
                        </div>

                        <div id="tab-all" class="tabs_pane" data-tabs-pane v-show="viewdefault">
                            <div class="subtext linedLinks container container-8 pad-0 push-b-6 text-center" id="group-categories">{{ entry.groupsIntro }}</div>

                            <div class="row row-padded row-center grid grid-4">
                                <div class="col col-12 col-sm-6 col-md-4 display-sm-flex" v-for="category in groupCategories" :key="category.id" >
                                    <group-category :category="category"></group-category>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr v-if="viewlist">
                    <groups-list v-if="viewlist"></groups-list>
                </div>
                <div class="section_footer" v-if="loading"><svg class="icon icon-24 animate-rotate360"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-24-synchronize"></use></svg></div>
            </section>

            <group-search-modal></group-search-modal>
            <group-finder-modal></group-finder-modal>
        </div>
    </script>

    <script type="text/x-template" id='groups-featured-template'>
        <div class="card">
            <a :href="link" class="card_banner block" :data-ga="ga">
                <div class="ratio ratio-1x1"></div>
                <div class="block_layer block_layer-bgImg" :style="bgStyleObject" v-if="group.imageUrl !== ''"></div>
                <div class="block_layer titleCard_content bg-topo-dark" v-else>
                    <svg class="icon icon-48 color-red" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-48-menlo"></use></svg>
                </div>
            </a>

            <div class="card_content">
                <div class="card_contentLabel">
                    <span class="label label-text">
                        ${group.groupCategory[0]}
                    </span>
                </div>

                <h2 class="h6">
                    <a :href="link" :data-ga="ga">${group.title}</a>
                </h2>
                <p>${group.groupMeetingSchedule}</p>
            </div>
        </div>
    </script>

    <script type="text/x-template" id='groups-category-template'>
        <a href="#" @click.prevent="selectGroup" class="titleCard titleCard-cat block bg-text bg-topo color-white">
            <div>
                <div class="ratio ratio-1x1"></div>
            </div>

            <div class="titleCard_content block_layer">
                {{ icons.icon('menlo', 48, 48, 'color-red') }}
                <h2 class="h5">${category.label}</h2>
                <p class="linedLinks linedLinks-dark" v-truncate="category.overview" v-if="category.overview !== ''"></p>
                {{ icons.icon('expand', 24, 24, 'titleCard_expand') }}
            </div>
        </a>
    </script>

    <script type="text/x-template" id='groups-list-template'>
        <div class="container container-8 pad-0 pad-t-6 pad-b-6">
            <div class="grid grid-4" id="groups">
                <div v-for="groupset in groupsByDay">
                    <group-set :groupset="groupset"></group-set>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="group-set-template">
        <div v-if="groupset.groups.length > 0">
            <div class="events_header push-b-1">
                <h2 class="h3">${groupset.dayOfWeek}</h2>
            </div>

            <div class="events">
                <group v-for="group in groupset.groups" :group="group" :key="group.id"></group>
            </div>
        </div>
    </script>

    {% include '/_groups/_group-step' %}

    <script type="text/x-template" id='modal-group-finder'>
        {% include '/_modals/_modal-group-finder' %}
    </script>
    <script type="text/x-template" id='modal-group-search'>
        {% include '/_modals/_modal-group-search' %}
    </script>

    {% include '/_blocks/_quicklinks' %}
    {% include '/_partials/_footerCallToAction' %}
    {% if entry.commonQuestions is defined and entry.commonQuestions|length %}
        {% include '/_modals/_modal-common-questions' with { cc: entry.commonQuestions, heading:entry.commonQuestionsHeading, subHeading:entry.commonQuestionsSubHeading } only %}
    {% endif %}
{% endblock %}
