{% extends '_layouts/_site' %}

{% block content %}
    {% import '_macros/_icons' as icons %}
    {% import '_macros/_srt' as srt %}
    {% import '_macros/_card-video' as m_vid %}
    {% import '_macros/_card-series' as m_series %}

    {% set message = craft.entries.section('messages').order('messageDate DESC').first() %}

    <section class="hero hero-media section section-20 section-contained block bg-text-dark color-white">
        {% set bgColorAccent = currentSeries.accentColor is not empty and currentSeries.showBackgroundImage == 0 ? 'background-color:' ~ currentSeries.accentColor ~ ';' : '' %}
        {% if currentSeries.showBackgroundImage == 1 %}
            {% if message.messageVideo is not empty %}
                <div class="block_layer block_layer-bgImg" style="background-image: url({{ message.messageVideo.getThumbnail(1920)|default() }})"></div>
            {% else %}
                <div class="block_layer block_layer-bgImg" style="background-image: url({{ message.messageImage[0].getUrl('tf1920x1080')|default() }})"></div>
            {% endif %}
        {% else %}
            <div class="block_layer block_layer-bgImg" style="{{ bgColorAccent }}"></div>
        {% endif %}
        <div class="block_layer block_layer-overlayRadial"></div>
    
        <div class="container">
            <div class="row row-middle row-between grid grid-4">
                <div class="col col-12 col-md-6">
                    <div class="row row-middle grid grid-2 push-b-4">
                        <div class="col col-12 col-sm-6">
                            {% if message.messageSpeaker|length %}
                                <div class="smalltext">Latest message by <strong>{{ message.messageSpeaker[0].title }}</strong></div>
                            {% endif %}
                        </div>
                        <div class="col col-12 col-sm-6 text-sm-right">
                            {% include '/_partials/_share' with { text: entry.title, default:true } %}
                        </div>
                    </div>
                    <h1 class="h1">{{ message.title }}</h1>
                    <p class="push-t-4 linedLinks linedLinks-dark">{{ message.messageSummary|default() }}</p>

                    <div class="push-t-4">
                        <div class="buttonGroup buttonGroup-left">
                            <a href="#/modal/message/{{message.id}}/{{message.locale}}" class="button button-white"><span>Watch</span>{{ icons.icon('control-play') }}</a>
                            {% if message.messageStudyGuide|length %}
                                <a href="{{ message.messageStudyGuide[0].url }}" target="_blank" download class="button button-outline">Study Guide</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if message.series|length %}                
                    <div class="hero-media_media col col-12 col-md-5">
                        {% if message.series[0].accentColor is not empty %}
                            <div class="hero-media_color" style="background-color:{{ message.series[0].accentColor }};"></div>
                        {% else %}
                            <div class="hero-media_color bg_text"></div>
                        {% endif %}
                        <div class="thumbCard block ratio ratio-1x1">
                        {% set sImage = message.series[0].seriesImage[0] ?? null %}
                        {% if sImage %}
                            {% set seriesImage = craft.imager.transformImage( sImage, { width: 640, height: 640 } ) %}
                            <div class="block_layer block_layer-bgImg" style="background-image: url({{ seriesImage.url }})"></div>
                        {% endif %}
                        <div class="block_layer block_layer-overlayRadial"></div>
                        <a href="{{ message.series[0].url }}" class="block_layer"></a>
                         {% include '/_partials/_share' with { default: true, url:message.series[0].url, text: message.series[0].title } %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    {# Online Service #}
    <section class="section-4" style="border-bottom: 1px solid rgba(0,0,0,.1);">
        <div class="container container-8">
            <p class="subtext color-text-light linedLinks text-center">Looking for our live online services? <a href="https://menlo.church/online" class="button" target="_blank" style="margin-left:20px;margin-right:20px;">Watch Live</a></p> 
        </div>
    </section>


    <div id="listpage">
        <list-page></list-page>
    </div>

    <script type="text/x-template" id='list-template'>
        <div>
            <section class="section section-12 section-contained bg-offwhite" v-show="listview">
                <div class="container">
                    <div class="row row-middle row-md-reverse grid grid-2 push-b-6 text-center">
                        <div class="col col-12 col-md-5 text-md-right">
                            <a href="#" class="button button-red" @click="searchEntries"><span>Find a Message</span>{{ icons.icon('search') }}</a>
                        </div>

                        <div class="col col-12 col-md-7 text-md-left">
                            <div class="tabs_tabs tabs_tabs-equal" data-tabs>
                                <a href="#tab-series" class="tabs_tab -active" data-tab>Series</a>
                                <a href="#tab-messages" class="tabs_tab" data-tab>Messages</a>
                                <a href="#tab-stories" class="tabs_tab" data-tab>Stories</a>
                            </div>
                        </div>
                    </div>

                    <div class="tabs_content" data-tabs-content>
                        <div id="tab-series" class="tabs_pane -active" data-tabs-pane>
                            <list-section :api="'api/series.json'" :tmp="'series'" :heading="'Series'" :col="'3'" :type="'list'" ></list-section>
                        </div>

                        <div id="tab-messages" class="tabs_pane" data-tabs-pane>
                            <list-section :api="'api/messages.json'" :tmp="'message'" :heading="'Messages'" :col="'2'" :type="'list'" ></list-section>
                        </div>

                        <div id="tab-stories" class="tabs_pane" data-tabs-pane>
                            <list-section :api="'api/stories.json'" :tmp="'message'" :heading="'Stories'" :col="'3'" :type="'list'" ></list-section>
                        </div>
                    </div>
                </div>
            </section>
            <filtered-section></filtered-section>
            <search-section></search-section>
            <filters></filters>
        </div>
    </script>

    <script type="text/x-template" id='list-section'>
        <div>
            <div class="row row-padded row-center grid grid-4">
                <div :class="classObject"  v-for="post in posts" :key="post.id">
                    <list-card :post='post' :type='post.type'></list-card>
                </div>
            </div>
            <div class="section_footer">
                <a href="#" @click.prevent="loadMorePosts()" class="ctaLink color-text-light" v-if="currentPage < totalPages">
                    <span>Show More ${this.heading}</span>
                    <svg class="icon icon-24 animate-rotate360" v-show="showSpinner"><use xlink:href="#icon-24-synchronize"></use></svg>
                </a>
            </div>
        </div>
    </script>

    {% include '_cards/_card-message' %}
    {% include '_cards/_card-series' %}
    {% include '_cards/_card-story' %}

    <script type="text/x-template" id='filters-template'>
        <div>
            <div :class="classObject" @click="closeModalFromBg">
                {% include '_modals/_modal-message-search.twig' %}
            </div>
            <div class="modal_bg" v-if="isactive" @click="closeModal"></div>
        </div>
    </script>



    <script type="text/x-template" id='filtered-section-template'>
        <section class="section section-12 section-contained bg-offwhite" v-show="filterview">
            <div class="container">
                <div class="section_header">
                    <h1 class="h2 push-b-4">Messages</h1>

                    <div class="buttonGroup">
                        <a href="#" class="button button-red" @click.prevent="searchEntries">Search Again</a>
                        <a href="#" class="button" @click.prevent="backToList()">Back to messages</a>
                    </div>
                </div>

                <h2 class="midline smalltext color-text-light push-b-4"><span class="pad-l-0 bg-offwhite">${filterTotal} Results for <strong>${filterLabel}</strong></span></h2>

                <list-section :api="'api/messages/'" :tmp="'message'" :heading="'Messages'" :col="'2'" :type="'filter'"></list-section>

            </div>
        </section>
    </script>

    <script type="text/x-template" id='search-section-template'>
        <section class="section section-12 section-contained bg-offwhite" v-show="searchview">
            <div class="container">
                <div class="section_header">
                    <h1 class="h2 push-b-4">Messages</h1>

                    <div class="buttonGroup">
                        <a href="#" class="button button-red" @click="searchEntries">Search Again</a>
                        <a href="#" class="button" @click="backToList()">Back to messages</a>
                    </div>
                </div>

                <h2 class="midline smalltext color-text-light push-b-4"><span class="pad-l-0 bg-offwhite">${filterTotal} Results for <strong>${searchQuery}</strong></span></h2>

                <list-section :api="'api/messages/'" :tmp="'message'" :heading="'Messages'" :col="'2'" :type="'search'"></list-section>

            </div>
        </section>
    </script>
    
    {% include '/_blocks/_blockpodcast' %}
{% endblock %}