{% extends '_layouts/_site' %}

{% block content %}
    {% import '_macros/_icons' as icons %}
 
    <section class="hero section section-20 section-contained block bg-text-dark color-white" id="masthead">
        {% set image = entry.pageBgImage.first() %}
        {% if image %}
            {% set transformedImages = craft.imager.transformImage(image,
                [
                    { width:1080, ratio: 16/9 },
                ],
                {
                    format: 'jpg',
                    allowUpscale: false,
                    mode: 'crop',
                    jpegQuality: 80,
                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                    interlace: true
                }
            ) %}
        {% endif %}
        <div class="block_layer block_layer-bgImg rellax" style="background-image: url({{ transformedImages[0].url }})"></div>
        <div class="block_layer block_layer-overlayRadial"></div>

        <div class="container">
            <div class="row">
                <div class="col col-12 col-sm-10 col-md-8">
                    {% include '/_partials/_breadcrumbs' %}

                    <h1 class="h1">{{ entry.pageHeading }}</h1>
                    <p class="push-t-4 linedLinks linedLinks-dark">{{ entry.pageSubHeading }}</p>

                    {% if entry.actionList|length %}
                        <div class="push-t-4">
                            <div class="buttonGroup buttonGroup-left">
                                {% for item in entry.actionList %}
                                    {% if item.action is not empty %}
                                        {% set link = item.action %}
                                        {% switch item.buttonStyle %}
                                            {% case "white" %}
                                                <a href="{{ link.url }}" class="button button-white" {{ link.target ? ' target="_blank"' }}><span>{{ link.text }}</span>{{ icons.icon('arrow-right') }}</a>
                                            {% case "outline" %}
                                                <a href="{{ link.url }}" class="button button-outline" {{ link.target ? ' target="_blank"' }}>{{ link.text }}</a>
                                            {% case "none" %}
                                                <a href="{{ link.url }}" class="ctaLink" {{ link.target ? ' target="_blank"' }}>{{ link.text }}</a>
                                        {% endswitch %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {# {% if craft.locale == 'mlo' %}
        {% include '/_partials/_choose-location' %}
    {% else %}
        
    {% endif %} #}
    {% for item in entry.descriptionSection %}
        <section class="section section-12 section-contained" >
            <div class="container container-8 section_header">
                <h1 class="h2">{{ item.heading }}</h1>
                <p class="subtext push-t-4 color-text-light linedLinks">{{ item.description }}</p>
                
                <p class="push-t-4 linedLinks">
                    {{ item.ctaText|default() }} 
                    {% if item.action is not empty %}
                        <a href="{{ item.action.url }}" {{ item.action.target ? ' target="_blank"' }}>{{ item.action.text }}</a>
                    {% endif %}
                </p>
            </div>
        </section>
    {% endfor %}
    

    <div id="listpage">
        <list-page></list-page>
    </div>

    {% set transform = {
        mode: 'crop',
        width: 360,
        height: 360,
        quality: 100,
        position: 'center-center'
    } %}
    <script type="text/x-template" id='list-template'>
        <div>
            <section class="section section-12 section-contained bg-offwhite" v-show="listview">
                <div class="container container-8 section_header">
                    <h1 class="h2">Mission Partnerships</h1>
                </div>
                <div class="container">
                    <div class="row row-middle grid grid-1 push-b-6 text-center">
                        <div class="col col-12 col-md-12 text-center">
                            <div class="tabs_tabs tabs_tabs-equal" data-tabs>
                                <a href="#tab-partnerships" class="tabs_tab -active" data-tab>Partnerships</a>
                            </div>
                        </div>
                    </div>

                    <div class="tabs_content" data-tabs-content id="mission-partnerships">
                        <div id="tab-partnerships" class="tabs_pane -active" data-tabs-pane>
                            {% if entry.partnershipsGroups|length %}
                                {% for item in entry.partnershipsGroups %}
                                    <div class="row row-padded row-center grid grid-4">
                                        <div class="col col-12 col-sm-6 col-md-4 display-sm-flex">
                                            <div class="titleCard bg-text color-white">
                                                {{ icons.icon('menlo', 48, 48, 'color-red') }}
                                                <h2 class="h5">{{ item.heading }}</h2>
                                                <p class="linedLinks linedLinks-dark">{{ item.description }}</p>
                                            </div>
                                        </div>
                                        {% for partnership in item.partnerships %}
                                            {% include '/_cards/_card-partnership' with { item: partnership } %}
                                        {% endfor %}
                                    </div>
                                    {% if not loop.last %}<hr class="push-y-4">{% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </script>

    {% include '/_blocks/_quicklinks' %}
    
{% endblock %}