{% extends '_layouts/_site' %}

{% block content %}
    {% import '_macros/_icons' as icons %}
 
    <section class="section section-20 pad-b-12 text-center">
        <div class="linemark linemark-top color-border"></div>

        <div class="container container-8">
            <h1 class="h2">{{ entry.pageHeading }}</h1>
            <p class="subtext color-text-light linedLinks push-t-4">{{ entry.pageSubHeading|default() }}</p>
        </div>
    </section>

    {# {% if craft.locale == 'mlo' %}
        {% include '/_partials/_choose-location' %}
    {% else %} #}

        <section class="section section-12 section-contained bg-offwhite">
            <div class="container" id="calendarApp">
                <calendar-app></calendar-app>
            </div>
        </section>

        <script type="text/x-template" id='calendar-app-template'>
            <div>
                <div class="row row-middle row-md-reverse grid grid-2 push-b-6 text-center" v-show="listview">
                    <div class="col col-12 col-md-5 text-md-right">
                        <div class="buttonGroup buttonGroup-right">
                            <a href="#" class="button button-red" @click="chooseCalendars"><span>Choose Calendars</span>{{ icons.icon('settings') }}</a>
                            <a href="#" class="button button-square" @click="searchEvents">{{ icons.icon('search') }}</a>
                        </div>
                    </div>

                    <div class="col col-12 col-md-7 text-md-left" >
                        <div class="tabs_tabs tabs_tabs-equal" data-tabs>
                            <a href="#tab-featured" class="tabs_tab -active" data-tab >Featured</a>
                            <a href="#tab-all" class="tabs_tab" data-tab >All Events</a>
                        </div>
                    </div>
                </div>

                <div class="tabs_content" data-tabs-content v-show="listview">
                    <div id="tab-featured" class="tabs_pane -active" data-tabs-pane>
                        <h2 class="midline smalltext color-text-light push-b-6"><span class="pad-l-0 bg-offwhite">Featured @ <strong>${campuses}</strong><span class="sep"></span>${formatedDate}</span></h2>
                        <loader :id="'featured'"></loader>
                        <div class="row row-padded row-center grid grid-4">
                            <featured-event v-for="event in featuredEvents" :event="event" :key="event.eid" ></featured-event>
                        </div>
                    </div>

                    <div id="tab-all" class="tabs_pane" data-tabs-pane>
                        <div class="container container-8 pad-0">
                            <current-month></current-month>
                            <loader :id="'list'"></loader>
                            <month-list></month-list>
                        </div>
                    </div>
                </div>
                <event-search ></event-search>
                <groups-select ></groups-select>
                
            </div>
        </script>

        <script type="text/x-template" id='month-list-template'>
            <div class="events">
                <month-list-event v-for="event in events" :event="event" :key="event.eid"></month-list-event>
            </div>
        </script>

        {% include '/_events/_month-list-event' %}
        {% include '/_events/_event-search' %}
        {% include '/_events/_search-modal' %}
    

{% endblock %}