{% if craft.request.getParam('password') == entry.password %}
    {% extends '_layouts/_site' %}
    {% block content %}
        {% if entry is defined and entry.pageBgImage|length %}
            {% include '_blocks/_masthead' with { block: entry } %}
        {% endif %}

        {% if entry is defined
            and entry.blocks is defined
            and entry.blocks|length %}
            {% include '_partials/_pageblocks' with { blocks: entry.blocks } %}
        {% endif %}

    {% endblock %}
{% else %}
    {% redirect siteUrl %}
{% endif %}
