{% extends '_layouts/_site' %}

{% block content %}

    {% if entry is defined and entry.pageBgImagePerCampus|length %}
        {% include '_blocks/_mastheadpc' with { block: entry } %}
    {% endif %}

    {# {% if craft.locale == 'mlo' %}
        {% include '/_partials/_choose-location' %}
    {% else %} #}
        
        {% if entry is defined
            and entry.blocksPerCampus is defined
            and entry.blocksPerCampus|length %}
            {% include '_partials/_pageblocks' with { blocks: entry.blocksPerCampus } %}
        {% endif %}

    {# {% endif %} #}

{% endblock %}
