{% import '_macros/_icons' as icons %}
{% set tf768 = {
    mode: 'crop',
    width: 768,
    quality: 85,
    position: 'center-center'
} %}
{% set image = entry.campusImage.first() %}
{% if image %}
    {# {% set transformedImages = craft.imager.transformImage(image,
        [
            { width:768, ratio: 4/3 },
        ],
        {
            format: 'jpg',
            allowUpscale: false,
            mode: 'crop',
            jpegQuality: 80,
            position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
            interlace: true
        }
    ) %} #}
{% endif %}
<section class="connect section section-12 section-contained block bg-red bg-topo">
    {% if image %}
        <div class="block_layer block_layer-bgImg" style="background-image: url({{ image.getUrl(tf768) }})"></div>
    {% endif %}
    <div class="container container-wide">
        <div class="connect_card">
            <div class="connect_primary">
                
                <h1 class="h3">Connect With Us</h1>

                {# {% if entry.connectSubHeading is not empty %}
                    <div class="linedLinks">{{ entry.connectSubHeading|default() }}</div>
                {% endif %} #}
                {% if entry.socialLinks|length %}
                    <ul class="socialIcons socialIcons-24 socialIcons-hoverBgBrand">
                        {% include '/_partials/_social-items' with { links: entry.socialLinks[0] } only %}
                    </ul>
                {% endif %}
                
                <a href="#" class="button" data-modal="#modal-contact"><span>Email Us</span> {{ icons.icon('bubble-chat-typing') }}</a>
                
            </div>

            <div class="connect_secondary linedLinks linedLinks-dark">
                <h2 class="h5">Times</h2>
                {% if entry.worshipTimes is not empty %}
                    {{ entry.worshipTimes|raw }}
                {% endif %}
                {% if entry.location|length %}
                    {% set loc = entry.location[0] %}       
                    <h2 class="h5">Location</h2>
                    <p>{{ loc.address}}<br>{{ loc.city }}, {{ loc.state }}<br>
                        
                        <a href="{{ loc.getMapUrl() }}">{{ loc.title }}</a>
                        
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>