{% extends '_layouts/_site' %}

{% set tf1080x720 = {
    mode: 'crop',
    width: 1080,
    height: 720,
    quality: 85,
    position: 'center-center'
} %}

{% set tf640 = {
    mode: 'crop',
    width: 640,
    height: 640,
    quality: 85,
    position: 'center-center'
} %}

{% block content %}
    {% import '_macros/_icons' as icons %}
    {% set campuses = {
        'menlopark': 'mlo_park',
        'mp': 'mlo_park',
        'menlochurch':'mlo',
        'mc':'mlo',
        'saratoga':'mlo_st',
        'st':'mlo_st',
        'mountainview':'mlo_mv',
        'mv':'mlo_mv',
        'southcity':'mlo_sc',
        'sc':'mlo_sc',
        'sanjose':'mlo_sj',
        'sj':'mlo_sj',
        'sanmateo':'mlo_sm',
        'sm':'mlo_sm',
        'menloonline':'mlo_on',
        'on':'mlo_on'
    } %}
    {% set entry = craft.entries.section('campuses').locale('mlo').with(['pageBgImage']).slug(craft.locale).first() %}
    {% if entry.mainFeature|length %}
        {% include '/_campuses/_hero' %}
    {% else %}
        <section class="hero hero-media section section-20 section-contained block bg-text color-white">
            {% set tmpBgImage = entry.pageBgImage[0] ?? null %}
            {% if tmpBgImage %}
                {# {% set bgImage = craft.imager.transformImage( tmpBgImage, { width: 1080, height: 720 } ) %} #}
                <div class="block_layer block_layer-bgImg rellax" style="background-image: url({{ tmpBgImage.getUrl(tf1080x720) }})"></div>
            {% endif %}
            <div class="block_layer block_layer-overlayRadial"></div>

            <div class="container push-lg-b-12">
                <div class="row row-middle row-between grid grid-4">
                    <div class="col col-12 col-md-6">
                        <p class="smalltext push-b-4">Welcome to <strong>{{ entry.title }}</strong></p>
                        <h1 class="h1">{{ entry.title }}</h1>
                        <div class="push-t-4 linedLinks linedLinks-dark">{{ entry.intro|default('') }}</div>

                        <div class="push-t-4">
                            <div class="buttonGroup buttonGroup-left">
                                {% if entry.headerCallToActionButton is not empty %}
                                    {% set link = entry.headerCallToActionButton %}   
                                    <a href="{{ link.url }}" class="button button-outline"><span>{{ link.text }}</span></a>
                                {% endif %}
                                {# {% if entry.location|length %}
                                    <a href="{{ entry.location[0].getMapUrl() }}" class="button button-outline" target="_blank">Get Directions</a>
                                {% endif %} #}
                            </div>
                        </div>
                    </div>

                    {% if currentSeries|length %}                
                        <div class="hero-media_media col col-12 col-md-5">
                            {% if currentSeries.accentColor is not empty %}
                                <div class="hero-media_color" style="background-color:{{ currentSeries.accentColor }};"></div>
                            {% else %}
                                <div class="hero-media_color bg_text"></div>
                            {% endif %}
                            <div class="thumbCard block ratio ratio-1x1">
                            {% set sImage = currentSeries.seriesImage[0] ?? null %}
                            {% if sImage %}
                                {# {% set seriesImage = craft.imager.transformImage( sImage, { width: 640, height: 640 } ) %} #}
                                <div class="block_layer block_layer-bgImg" style="background-image: url({{ sImage.getUrl(tf640) }})"></div>
                            {% endif %}
                            <div class="block_layer block_layer-overlayRadial"></div>
                            <a href="{{ currentSeries.url }}" class="block_layer"></a>
                            {% if currentSeries.seriesCurrent  == 1%}
                                <span class="label label-big label-white">Our Current Series</span>
                            {% endif %}
                            
                            {% include '/_partials/_share' with { default: true, url:currentSeries.url, text: currentSeries.title } %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}

    {% include '/_campuses/_featured' %}
    {% include '/_campuses/_visitoractions' %}
    {% include '/_campuses/_pastor' %}
    {% include '/_campuses/_connect' %} 
{% endblock %}