<section class="section section-12 section-contained bg-offwhite bg-topo-dark">
    <div class="container">
        <div class="section_header">
            <h1 class="h3">Featured @ {{ entry.title }}</h1>
        </div>

        <div class="row row-padded row-center grid grid-6">
            {% include '/_partials/_features' with {features: entry.featuredBlocks } %}
        </div>
    </div>
</section>