{% import '_macros/_icons' as icons %}
{% set tf1080x720 = {
    mode: 'crop',
    width: 1080,
    height: 720,
    quality: 85,
    position: 'center-center'
} %}
{% set tf640 = {
    mode: 'crop',
    width: 640,
    height: 640,
    quality: 85,
    position: 'center-center'
} %}
{% set feature = entry.mainFeature[0].feature[0] %}
{% if feature %}
    {% set accent = entry.mainFeature[0].style is not empty ? entry.mainFeature[0].style.value : 'dark' %}
    {% set accents = {
        'dark': 'bg-text color-white',
        'light': 'bg-offwhite',
        'image': 'bg-text color-white'
    } %}
    <section class="hero hero-media section section-20 section-contained block {{ accents[accent] }}">
        {% set bgColorAccent = currentSeries.accentColor is not empty and currentSeries.showBackgroundImage == 0 ? 'background-color:' ~ currentSeries.accentColor ~ ';' : '' %}
        {% if accent == 'image' %}
            {% set hasImg = feature.widgetImage|length ? true : false %}
            {% if currentSeries.showBackgroundImage == 1 %}
                {% if hasImg %}
                    {% set bimage = feature.widgetImage[0] %}
                    {# {% set bgImage = craft.imager.transformImage(bimage, 
                    [
                        { width: 1080, height: 720 }
                    ],{
                        format: 'jpg',
                        allowUpscale: false,
                        mode: 'crop',
                        jpegQuality: 80,
                        position: pimage.focusPctX ~ '% ' ~ pimage.focusPctY ~ '%',
                        interlace: true
                    }) %} #}
                    <div class="block_layer block_layer-bgImg" style="background-image: url({{ bimage.getUrl(tf1080x720) }})"></div>
                {% endif %}
            {% else %}
                <div class="block_layer block_layer-bgImg" style="{{ bgColorAccent }}"></div>
            {% endif %}
        {% endif %}
        <div class="block_layer block_layer-overlayRadial"></div>

        <div class="container push-lg-b-12">
            <div class="row row-middle row-between grid grid-4">
                <div class="col col-12 col-md-6">
                    <h1 class="h1">{{ feature.title }}</h1>
                    <p class="push-t-4 linedLinks linedLinks-dark">
                        {{ feature.widgetDescription|default() }}
                    </p>

                    {% if feature.widgetLink %}       
                        {% set link = feature.widgetLink %}             
                        <div class="push-t-4">
                            <div class="buttonGroup buttonGroup-left">
                                <a href="{{ link.url }}" class="button button-white" {{ link.target ? ' target="_blank"' }}><span>{{ link.text }}</span>{{ icons.icon('arrow-right') }}</a>
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% if currentSeries|length %}                
                    <div class="hero-media_media col col-12 col-md-5">
                        {% if currentSeries.accentColor is not empty %}
                            <div class="hero-media_color" style="background-color:{{ currentSeries.accentColor }};"></div>
                        {% else %}
                            <div class="hero-media_color bg_text"></div>
                        {% endif %}
                        <div class="thumbCard block ratio ratio-1x1">
                        {% set sImage = currentSeries.seriesImage[0] ?? null %}
                        {% if sImage %}
                            {# {% set seriesImage = craft.imager.transformImage( sImage, { width: 640, height: 640 } ) %} #}
                            <div class="block_layer block_layer-bgImg" style="background-image: url({{ sImage.getUrl(tf640) }})"></div>
                        {% endif %}
                        <div class="block_layer block_layer-overlayRadial"></div>
                        <a href="{{ currentSeries.url }}" class="block_layer"></a>
                        {% if currentSeries.seriesCurrent  == 1 %}
                            <span class="label label-big label-white">Our Current Series</span>
                        {% endif %}
                        
                         {% include '/_partials/_share' with { default: true, url:currentSeries.url, text: currentSeries.title } %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}