{% set tf374 = {
    mode: 'crop',
    width: 374,
    height: 374,
    quality: 85,
    position: 'center-center'
} %}
{% if entry.campusPastor|length %}
    {% set pastor = entry.campusPastor[0] %}
    {% set hasImg = pastor.profileImage|length ? true : false %}
    {% if hasImg %}
        {% set image = pastor.profileImage.first() %}
        {# {% set transformedImages = craft.imager.transformImage(image,
            [
                { width: 374, height: 374 },
            ],
            {
                format: 'jpg',
                allowUpscale: false,
                mode: 'crop',
                jpegQuality: 80,
                position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                interlace: true
            }
        ) %} #}
    {% endif %}
    <section class="section section-12 section-contained bg-offwhite">
        <div class="container">
            <div class="row row-middle row-center row-between-sm row-reverse grid grid-4">
                <div class="col col-8 col-sm-4 col-md-5">
                    <div class="person ratio ratio-1x1 block color-white shadow">
                        {% if hasImg %}
                            <div class="block_layer block_layer-bgImg" style="background-image: url({{ pastor.profileImage[0].getUrl(tf374) }})"></div>
                        {% endif %}
                        <div class="person_fade block_layer"></div>

                        <div class="person_content block_layer">
                            <ul class="person_social">
                                {% if pastor.pSocialLinks|length %}
                                    {% include '_partials/_social-items' with {links: pastor.pSocialLinks[0], email: pastor.pEmailAddress } %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col col-12 col-sm-7 col-md-6">
                    <h1 class="h3">Meet {{ pastor.title }}</h1>
                    <p class="secondarytext color-text-light push-t-2">{{ pastor.professionalTitle }}</p>

                    <div class="richText push-y-4">
                        {{ pastor.bio }}
                    </div>

                    {# <?php menlo_partial('ctaLink'); ?> #}
                </div>
            </div>
        </div>
    </section>
{% endif %}