{% import '_macros/_icons' as icons %}
{% set tf600 = {
    mode: 'crop',
    width: 600,
    quality: 85,
    position: 'center-center'
} %}
{% if entry.visitorActions|length %}
    <section class="calloutFeature textSlider timelineSlider section section-contained bg-text bg-topo color-white">
        <div class="row row-middle">
            <div class="col col-12 col-md-5">
                <div class="calloutFeature_img">
                    {% for item in entry.visitorActions %}
                        {% if item.widgetImage|length %}
                            {% set image = item.widgetImage.first() %}
                            {# {% set transformedImages = craft.imager.transformImage(image,
                                [
                                    { width: 600 },
                                ],
                                {
                                    format: 'jpg',
                                    allowUpscale: false,
                                    mode: 'crop',
                                    jpegQuality: 80,
                                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
                                    interlace: true
                                }
                            ) %} #}
                            <div class="textSlider_img {% if loop.first %}-selected{% endif %}">
                                <img src="{{ image.getUrl(tf600) }}" alt="" />
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="col col-12 col-md-7">
                <div class="calloutFeature_content section section-12">
                    <div class="textSlider">
                        <ol class="textSlider_nav">
                            {% for item in entry.visitorActions %}
                                <li {% if loop.first %}class="-selected" {% endif %}>
                                    <a href="#">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ol>

                        <div class="textSlider_slides">
                            {% for item in entry.visitorActions %}
                                <div class="textSlider_slide">
                                    {% if item.widgetLink is not empty %}
                                        <h2 class="h3">
                                            <a href="{{ item.widgetLink.url }}">{{ item.title }}</a>
                                        </h2>
                                    {% else %}
                                        <h2 class="h3">{{ item.title }}</h2>
                                    {% endif %}
                                    <p class="linedLinks linedLinks-dark">{{ item.widgetDescription }}</p>
                                    {% if item.widgetLink is not empty %}
                                        <a href="{{ item.widgetLink.url }}" {{  item.widgetLink.target ? ' target="_blank"' }} class="ctaLink">
                                            <span>{{  item.widgetLink.text }}</span>
                                            {{ icons.icon('arrow-right', 24, 24, 'icon-arrow') }}
                                        </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
